openapi: 3.2.0
info:
  title: Groups.conversation API
  version: v1.0
servers:
- url: https://graph.microsoft.com/v1.0/
  description: Core
security:
- azureaadv2: []
tags:
- name: Groups conversation
paths:
  /groups/{group-id}/conversations:
    get:
      tags:
      - Groups conversation
      summary: List conversations
      description: Retrieve the list of conversations in this group.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/group-list-conversations?view=graph-rest-1.0
      operationId: group_ListConversation
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.conversationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - Groups conversation
      summary: Create conversation
      description: Use reply thread or reply post to further post to that conversation.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/group-post-conversations?view=graph-rest-1.0
      operationId: group_CreateConversation
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.conversation'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.conversation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /groups/{group-id}/conversations/{conversation-id}:
    get:
      tags:
      - Groups conversation
      summary: Get conversation
      description: Retrieve the properties and relationships of conversation object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/conversation-get?view=graph-rest-1.0
      operationId: group_GetConversation
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.conversation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Groups conversation
      summary: Delete conversation
      description: Delete conversation.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/conversation-delete?view=graph-rest-1.0
      operationId: group_DeleteConversation
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /groups/{group-id}/conversations/{conversation-id}/threads:
    get:
      tags:
      - Groups conversation
      summary: List threads
      description: 'Get all the threads in a group conversation. Note: You can also get all the threads of a group.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/conversation-list-threads?view=graph-rest-1.0
      operationId: group.conversation_ListThread
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.conversationThreadCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - Groups conversation
      summary: Create thread
      description: 'Create a new thread in the specified conversation. A thread and post are created as specified. Use reply thread to further post

        to that thread. Or, if you get the post ID, you can also reply to that post in that thread. Note: You can also start a new conversation by first creating a thread.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/conversation-post-threads?view=graph-rest-1.0
      operationId: group.conversation_CreateThread
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.conversationThread'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.conversationThread'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /groups/{group-id}/conversations/{conversation-id}/threads/{conversationThread-id}:
    get:
      tags:
      - Groups conversation
      summary: Get threads from groups
      description: A collection of all the conversation threads in the conversation. A navigation property. Read-only. Nullable.
      operationId: group.conversation_GetThread
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      - name: conversationThread-id
        in: path
        description: The unique identifier of conversationThread
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversationThread
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.conversationThread'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - Groups conversation
      summary: Update the navigation property threads in groups
      operationId: group.conversation_UpdateThread
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      - name: conversationThread-id
        in: path
        description: The unique identifier of conversationThread
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversationThread
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.conversationThread'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.conversationThread'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Groups conversation
      summary: Delete navigation property threads for groups
      operationId: group.conversation_DeleteThread
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      - name: conversationThread-id
        in: path
        description: The unique identifier of conversationThread
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversationThread
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /groups/{group-id}/conversations/{conversation-id}/threads/{conversationThread-id}/microsoft.graph.reply:
    post:
      tags:
      - Groups conversation
      summary: Invoke action reply
      description: Create an open extension (openTypeExtension object) and add custom properties in a new or existing instance of a resource. You can create an open extension in a resource instance and store custom data to it all in the same operation, except for specific resources. The table in the Permissions section lists the resources that support open extensions.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/opentypeextension-post-opentypeextension?view=graph-rest-1.0
      operationId: group.conversation.thread_reply
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      - name: conversationThread-id
        in: path
        description: The unique identifier of conversationThread
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversationThread
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Post:
                  $ref: '#/components/schemas/microsoft.graph.post'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /groups/{group-id}/conversations/{conversation-id}/threads/{conversationThread-id}/posts:
    get:
      tags:
      - Groups conversation
      summary: Get posts from groups
      operationId: group.conversation.thread_ListPost
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      - name: conversationThread-id
        in: path
        description: The unique identifier of conversationThread
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversationThread
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.postCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /groups/{group-id}/conversations/{conversation-id}/threads/{conversationThread-id}/posts/{post-id}:
    get:
      tags:
      - Groups conversation
      summary: Get posts from groups
      operationId: group.conversation.thread_GetPost
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      - name: conversationThread-id
        in: path
        description: The unique identifier of conversationThread
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversationThread
      - name: post-id
        in: path
        description: The unique identifier of post
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: post
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.post'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /groups/{group-id}/conversations/{conversation-id}/threads/{conversationThread-id}/posts/{post-id}/attachments:
    get:
      tags:
      - Groups conversation
      summary: Get attachments from groups
      description: Read-only. Nullable. Supports $expand.
      operationId: group.conversation.thread.post_ListAttachment
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      - name: conversationThread-id
        in: path
        description: The unique identifier of conversationThread
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversationThread
      - name: post-id
        in: path
        description: The unique identifier of post
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: post
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.attachmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - Groups conversation
      summary: Create new navigation property to attachments for groups
      operationId: group.conversation.thread.post_CreateAttachment
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      - name: conversationThread-id
        in: path
        description: The unique identifier of conversationThread
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversationThread
      - name: post-id
        in: path
        description: The unique identifier of post
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: post
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attachment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /groups/{group-id}/conversations/{conversation-id}/threads/{conversationThread-id}/posts/{post-id}/attachments/{attachment-id}
  : get:
      tags:
      - Groups conversation
      summary: Get attachments from groups
      description: Read-only. Nullable. Supports $expand.
      operationId: group.conversation.thread.post_GetAttachment
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      - name: conversationThread-id
        in: path
        description: The unique identifier of conversationThread
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversationThread
      - name: post-id
        in: path
        description: The unique identifier of post
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: post
      - name: attachment-id
        in: path
        description: The unique identifier of attachment
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: attachment
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Groups conversation
      summary: Delete navigation property attachments for groups
      operationId: group.conversation.thread.post_DeleteAttachment
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      - name: conversationThread-id
        in: path
        description: The unique identifier of conversationThread
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversationThread
      - name: post-id
        in: path
        description: The unique identifier of post
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: post
      - name: attachment-id
        in: path
        description: The unique identifier of attachment
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: attachment
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /groups/{group-id}/conversations/{conversation-id}/threads/{conversationThread-id}/posts/{post-id}/attachments/$count:
    get:
      tags:
      - Groups conversation
      summary: Get the number of the resource
      operationId: group.conversation.thread.post.attachment_GetCount
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      - name: conversationThread-id
        in: path
        description: The unique identifier of conversationThread
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversationThread
      - name: post-id
        in: path
        description: The unique identifier of post
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: post
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  ? /groups/{group-id}/conversations/{conversation-id}/threads/{conversationThread-id}/posts/{post-id}/attachments/microsoft.graph.createUploadSession
  : post:
      tags:
      - Groups conversation
      summary: Invoke action createUploadSession
      description: 'Create an upload session that allows an app to iteratively upload ranges of a file, so as to attach the file to the specified Outlook item. The item can be a message or event. Use this approach to attach a file if the file size is between 3 MB and 150 MB. To attach a file that''s smaller than 3 MB, do a POST operation on the attachments navigation property of the Outlook item; see how to do this for a message or for an event. As part of the response, this action returns an upload URL that you can use in subsequent sequential PUT queries. Request headers for each PUT operation let you specify the exact range of bytes to be uploaded. This allows transfer to be resumed, in case the network connection is dropped during upload. The following are the steps to attach a file to an Outlook item using an upload session: See attach large files to Outlook messages or events for an example.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attachment-createuploadsession?view=graph-rest-1.0
      operationId: group.conversation.thread.post.attachment_createUploadSession
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      - name: conversationThread-id
        in: path
        description: The unique identifier of conversationThread
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversationThread
      - name: post-id
        in: path
        description: The unique identifier of post
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: post
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                AttachmentItem:
                  $ref: '#/components/schemas/microsoft.graph.attachmentItem'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.uploadSession'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /groups/{group-id}/conversations/{conversation-id}/threads/{conversationThread-id}/posts/{post-id}/extensions:
    get:
      tags:
      - Groups conversation
      summary: Get extensions from groups
      description: The collection of open extensions defined for the post. Read-only. Nullable. Supports $expand.
      operationId: group.conversation.thread.post_ListExtension
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      - name: conversationThread-id
        in: path
        description: The unique identifier of conversationThread
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversationThread
      - name: post-id
        in: path
        description: The unique identifier of post
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: post
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.extensionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - Groups conversation
      summary: Create new navigation property to extensions for groups
      operationId: group.conversation.thread.post_CreateExtension
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      - name: conversationThread-id
        in: path
        description: The unique identifier of conversationThread
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversationThread
      - name: post-id
        in: path
        description: The unique identifier of post
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: post
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /groups/{group-id}/conversations/{conversation-id}/threads/{conversationThread-id}/posts/{post-id}/extensions/{extension-id}
  : get:
      tags:
      - Groups conversation
      summary: Get extensions from groups
      description: The collection of open extensions defined for the post. Read-only. Nullable. Supports $expand.
      operationId: group.conversation.thread.post_GetExtension
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      - name: conversationThread-id
        in: path
        description: The unique identifier of conversationThread
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversationThread
      - name: post-id
        in: path
        description: The unique identifier of post
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: post
      - name: extension-id
        in: path
        description: The unique identifier of extension
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: extension
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - Groups conversation
      summary: Update the navigation property extensions in groups
      operationId: group.conversation.thread.post_UpdateExtension
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      - name: conversationThread-id
        in: path
        description: The unique identifier of conversationThread
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversationThread
      - name: post-id
        in: path
        description: The unique identifier of post
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: post
      - name: extension-id
        in: path
        description: The unique identifier of extension
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: extension
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Groups conversation
      summary: Delete navigation property extensions for groups
      operationId: group.conversation.thread.post_DeleteExtension
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      - name: conversationThread-id
        in: path
        description: The unique identifier of conversationThread
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversationThread
      - name: post-id
        in: path
        description: The unique identifier of post
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: post
      - name: extension-id
        in: path
        description: The unique identifier of extension
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: extension
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /groups/{group-id}/conversations/{conversation-id}/threads/{conversationThread-id}/posts/{post-id}/extensions/$count:
    get:
      tags:
      - Groups conversation
      summary: Get the number of the resource
      operationId: group.conversation.thread.post.extension_GetCount
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      - name: conversationThread-id
        in: path
        description: The unique identifier of conversationThread
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversationThread
      - name: post-id
        in: path
        description: The unique identifier of post
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: post
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /groups/{group-id}/conversations/{conversation-id}/threads/{conversationThread-id}/posts/{post-id}/inReplyTo:
    get:
      tags:
      - Groups conversation
      summary: Get inReplyTo from groups
      description: Read-only. Supports $expand.
      operationId: group.conversation.thread.post_GetInReplyTo
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      - name: conversationThread-id
        in: path
        description: The unique identifier of conversationThread
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversationThread
      - name: post-id
        in: path
        description: The unique identifier of post
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: post
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.post'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /groups/{group-id}/conversations/{conversation-id}/threads/{conversationThread-id}/posts/{post-id}/inReplyTo/attachments:
    get:
      tags:
      - Groups conversation
      summary: Get attachments from groups
      description: Read-only. Nullable. Supports $expand.
      operationId: group.conversation.thread.post.inReplyTo_ListAttachment
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      - name: conversationThread-id
        in: path
        description: The unique identifier of conversationThread
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversationThread
      - name: post-id
        in: path
        description: The unique identifier of post
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: post
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.attachmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - Groups conversation
      summary: Create new navigation property to attachments for groups
      operationId: group.conversation.thread.post.inReplyTo_CreateAttachment
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      - name: conversationThread-id
        in: path
        description: The unique identifier of conversationThread
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversationThread
      - name: post-id
        in: path
        description: The unique identifier of post
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: post
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attachment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /groups/{group-id}/conversations/{conversation-id}/threads/{conversationThread-id}/posts/{post-id}/inReplyTo/attachments/{attachment-id}
  : get:
      tags:
      - Groups conversation
      summary: Get attachments from groups
      description: Read-only. Nullable. Supports $expand.
      operationId: group.conversation.thread.post.inReplyTo_GetAttachment
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      - name: conversationThread-id
        in: path
        description: The unique identifier of conversationThread
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversationThread
      - name: post-id
        in: path
        description: The unique identifier of post
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: post
      - name: attachment-id
        in: path
        description: The unique identifier of attachment
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: attachment
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Groups conversation
      summary: Delete navigation property attachments for groups
      operationId: group.conversation.thread.post.inReplyTo_DeleteAttachment
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      - name: conversationThread-id
        in: path
        description: The unique identifier of conversationThread
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversationThread
      - name: post-id
        in: path
        description: The unique identifier of post
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: post
      - name: attachment-id
        in: path
        description: The unique identifier of attachment
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: attachment
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /groups/{group-id}/conversations/{conversation-id}/threads/{conversationThread-id}/posts/{post-id}/inReplyTo/attachments/$count
  : get:
      tags:
      - Groups conversation
      summary: Get the number of the resource
      operationId: group.conversation.thread.post.inReplyTo.attachment_GetCount
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      - name: conversationThread-id
        in: path
        description: The unique identifier of conversationThread
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversationThread
      - name: post-id
        in: path
        description: The unique identifier of post
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: post
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  ? /groups/{group-id}/conversations/{conversation-id}/threads/{conversationThread-id}/posts/{post-id}/inReplyTo/attachments/microsoft.graph.createUploadSession
  : post:
      tags:
      - Groups conversation
      summary: Invoke action createUploadSession
      description: 'Create an upload session that allows an app to iteratively upload ranges of a file, so as to attach the file to the specified Outlook item. The item can be a message or event. Use this approach to attach a file if the file size is between 3 MB and 150 MB. To attach a file that''s smaller than 3 MB, do a POST operation on the attachments navigation property of the Outlook item; see how to do this for a message or for an event. As part of the response, this action returns an upload URL that you can use in subsequent sequential PUT queries. Request headers for each PUT operation let you specify the exact range of bytes to be uploaded. This allows transfer to be resumed, in case the network connection is dropped during upload. The following are the steps to attach a file to an Outlook item using an upload session: See attach large files to Outlook messages or events for an example.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attachment-createuploadsession?view=graph-rest-1.0
      operationId: group.conversation.thread.post.inReplyTo.attachment_createUploadSession
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      - name: conversationThread-id
        in: path
        description: The unique identifier of conversationThread
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversationThread
      - name: post-id
        in: path
        description: The unique identifier of post
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: post
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                AttachmentItem:
                  $ref: '#/components/schemas/microsoft.graph.attachmentItem'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.uploadSession'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /groups/{group-id}/conversations/{conversation-id}/threads/{conversationThread-id}/posts/{post-id}/inReplyTo/extensions:
    get:
      tags:
      - Groups conversation
      summary: Get extensions from groups
      description: The collection of open extensions defined for the post. Read-only. Nullable. Supports $expand.
      operationId: group.conversation.thread.post.inReplyTo_ListExtension
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      - name: conversationThread-id
        in: path
        description: The unique identifier of conversationThread
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversationThread
      - name: post-id
        in: path
        description: The unique identifier of post
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: post
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.extensionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - Groups conversation
      summary: Create new navigation property to extensions for groups
      operationId: group.conversation.thread.post.inReplyTo_CreateExtension
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      - name: conversationThread-id
        in: path
        description: The unique identifier of conversationThread
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversationThread
      - name: post-id
        in: path
        description: The unique identifier of post
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: post
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /groups/{group-id}/conversations/{conversation-id}/threads/{conversationThread-id}/posts/{post-id}/inReplyTo/extensions/{extension-id}
  : get:
      tags:
      - Groups conversation
      summary: Get extensions from groups
      description: The collection of open extensions defined for the post. Read-only. Nullable. Supports $expand.
      operationId: group.conversation.thread.post.inReplyTo_GetExtension
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      - name: conversationThread-id
        in: path
        description: The unique identifier of conversationThread
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversationThread
      - name: post-id
        in: path
        description: The unique identifier of post
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: post
      - name: extension-id
        in: path
        description: The unique identifier of extension
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: extension
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - Groups conversation
      summary: Update the navigation property extensions in groups
      operationId: group.conversation.thread.post.inReplyTo_UpdateExtension
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      - name: conversationThread-id
        in: path
        description: The unique identifier of conversationThread
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversationThread
      - name: post-id
        in: path
        description: The unique identifier of post
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: post
      - name: extension-id
        in: path
        description: The unique identifier of extension
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: extension
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Groups conversation
      summary: Delete navigation property extensions for groups
      operationId: group.conversation.thread.post.inReplyTo_DeleteExtension
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      - name: conversationThread-id
        in: path
        description: The unique identifier of conversationThread
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversationThread
      - name: post-id
        in: path
        description: The unique identifier of post
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: post
      - name: extension-id
        in: path
        description: The unique identifier of extension
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: extension
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /groups/{group-id}/conversations/{conversation-id}/threads/{conversationThread-id}/posts/{post-id}/inReplyTo/extensions/$count
  : get:
      tags:
      - Groups conversation
      summary: Get the number of the resource
      operationId: group.conversation.thread.post.inReplyTo.extension_GetCount
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      - name: conversationThread-id
        in: path
        description: The unique identifier of conversationThread
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversationThread
      - name: post-id
        in: path
        description: The unique identifier of post
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: post
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  ? /groups/{group-id}/conversations/{conversation-id}/threads/{conversationThread-id}/posts/{post-id}/inReplyTo/microsoft.graph.forward
  : post:
      tags:
      - Groups conversation
      summary: Invoke action forward
      description: 'Forward a post to a recipient. You can specify both the parent conversation and thread in the request,

        or, you can specify just the parent thread without the parent conversation.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/post-forward?view=graph-rest-1.0
      operationId: group.conversation.thread.post.inReplyTo_forward
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      - name: conversationThread-id
        in: path
        description: The unique identifier of conversationThread
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversationThread
      - name: post-id
        in: path
        description: The unique identifier of post
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: post
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type:
                  - string
                  - 'null'
                ToRecipients:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.recipient'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  ? /groups/{group-id}/conversations/{conversation-id}/threads/{conversationThread-id}/posts/{post-id}/inReplyTo/microsoft.graph.reply
  : post:
      tags:
      - Groups conversation
      summary: Invoke action reply
      operationId: group.conversation.thread.post.inReplyTo_reply
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      - name: conversationThread-id
        in: path
        description: The unique identifier of conversationThread
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversationThread
      - name: post-id
        in: path
        description: The unique identifier of post
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: post
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Post:
                  $ref: '#/components/schemas/microsoft.graph.post'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /groups/{group-id}/conversations/{conversation-id}/threads/{conversationThread-id}/posts/{post-id}/microsoft.graph.forward:
    post:
      tags:
      - Groups conversation
      summary: Invoke action forward
      description: 'Forward a post to a recipient. You can specify both the parent conversation and thread in the request,

        or, you can specify just the parent thread without the parent conversation.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/post-forward?view=graph-rest-1.0
      operationId: group.conversation.thread.post_forward
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      - name: conversationThread-id
        in: path
        description: The unique identifier of conversationThread
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversationThread
      - name: post-id
        in: path
        description: The unique identifier of post
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: post
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type:
                  - string
                  - 'null'
                ToRecipients:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.recipient'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /groups/{group-id}/conversations/{conversation-id}/threads/{conversationThread-id}/posts/{post-id}/microsoft.graph.reply:
    post:
      tags:
      - Groups conversation
      summary: Invoke action reply
      operationId: group.conversation.thread.post_reply
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      - name: conversationThread-id
        in: path
        description: The unique identifier of conversationThread
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversationThread
      - name: post-id
        in: path
        description: The unique identifier of post
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: post
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Post:
                  $ref: '#/components/schemas/microsoft.graph.post'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /groups/{group-id}/conversations/{conversation-id}/threads/{conversationThread-id}/posts/$count:
    get:
      tags:
      - Groups conversation
      summary: Get the number of the resource
      operationId: group.conversation.thread.post_GetCount
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      - name: conversationThread-id
        in: path
        description: The unique identifier of conversationThread
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversationThread
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /groups/{group-id}/conversations/{conversation-id}/threads/$count:
    get:
      tags:
      - Groups conversation
      summary: Get the number of the resource
      operationId: group.conversation.thread_GetCount
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: conversation-id
        in: path
        description: The unique identifier of conversation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: conversation
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /groups/{group-id}/conversations/$count:
    get:
      tags:
      - Groups conversation
      summary: Get the number of the resource
      operationId: group.conversation_GetCount
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
components:
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
    microsoft.graph.attachmentCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.attachmentCollectionResponse'
    microsoft.graph.conversationThreadCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.conversationThreadCollectionResponse'
    microsoft.graph.extensionCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.extensionCollectionResponse'
    microsoft.graph.postCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.postCollectionResponse'
    microsoft.graph.conversationCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.conversationCollectionResponse'
    ODataCountResponse:
      description: The count of the resource
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ODataCountResponse'
  schemas:
    microsoft.graph.extension:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: extension
        type: object
        additionalProperties:
          type: object
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type:
          - string
          - 'null'
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    microsoft.graph.outlookItem:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: outlookItem
        type: object
        properties:
          categories:
            type: array
            items:
              type:
              - string
              - 'null'
            description: The categories associated with the item
          changeKey:
            type:
            - string
            - 'null'
            description: Identifies the version of the item. Every time the item is changed, changeKey changes as well. This allows Exchange to apply changes to the correct version of the object. Read-only.
          createdDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z
            format: date-time
          lastModifiedDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z
            format: date-time
        additionalProperties:
          type: object
    ODataCountResponse:
      type: integer
      format: int32
    microsoft.graph.bodyType:
      title: bodyType
      enum:
      - text
      - html
      type: string
    microsoft.graph.conversationThread:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: conversationThread
        type: object
        properties:
          ccRecipients:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.recipient'
            description: 'The Cc: recipients for the thread. Requires $select to retrieve.'
          hasAttachments:
            type: boolean
            description: Indicates whether any of the posts within this thread has at least one attachment. Returned by default.
          isLocked:
            type: boolean
            description: Indicates if the thread is locked. Returned by default.
          lastDeliveredDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            description: The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.Returned by default.
            format: date-time
          preview:
            type: string
            description: A short summary from the body of the latest post in this conversation. Returned by default.
          topic:
            type: string
            description: The topic of the conversation. This property can be set when the conversation is created, but it cannot be updated. Returned by default.
          toRecipients:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.recipient'
            description: 'The To: recipients for the thread. Requires $select to retrieve.'
          uniqueSenders:
            type: array
            items:
              type: string
            description: All the users that sent a message to this thread. Returned by default.
          posts:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.post'
            x-ms-navigationProperty: true
        additionalProperties:
          type: object
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
    microsoft.graph.uploadSession:
      title: uploadSession
      type: object
      properties:
        expirationDateTime:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type:
          - string
          - 'null'
          description: The date and time in UTC that the upload session expires. The complete file must be uploaded before this expiration time is reached. Each fragment uploaded during the session extends the expiration time.
          format: date-time
        nextExpectedRanges:
          type: array
          items:
            type:
            - string
            - 'null'
          description: A collection of byte ranges that the server is missing for the file. These ranges are zero indexed and of the format 'start-end' (for example '0-26' to indicate the first 27 bytes of the file). When uploading files as Outlook attachments, instead of a collection of ranges, this property always indicates a single value '{start}', the location in the file where the next upload should begin.
        uploadUrl:
          type:
          - string
          - 'null'
          description: The URL endpoint that accepts PUT requests for byte ranges of the file.
      additionalProperties:
        type: object
    microsoft.graph.post:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.outlookItem'
      - title: post
        type: object
        properties:
          body:
            $ref: '#/components/schemas/microsoft.graph.itemBody'
          conversationId:
            type:
            - string
            - 'null'
            description: Unique ID of the conversation. Read-only.
          conversationThreadId:
            type:
            - string
            - 'null'
            description: Unique ID of the conversation thread. Read-only.
          from:
            $ref: '#/components/schemas/microsoft.graph.recipient'
          hasAttachments:
            type: boolean
            description: Indicates whether the post has at least one attachment. This is a default property.
          newParticipants:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.recipient'
            description: Conversation participants that were added to the thread as part of this post.
          receivedDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            description: Specifies when the post was received. The DateTimeOffset type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z
            format: date-time
          sender:
            $ref: '#/components/schemas/microsoft.graph.recipient'
          attachments:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.attachment'
            description: Read-only. Nullable. Supports $expand.
            x-ms-navigationProperty: true
          extensions:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.extension'
            description: The collection of open extensions defined for the post. Read-only. Nullable. Supports $expand.
            x-ms-navigationProperty: true
          inReplyTo:
            $ref: '#/components/schemas/microsoft.graph.post'
          multiValueExtendedProperties:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
            description: The collection of multi-value extended properties defined for the post. Read-only. Nullable.
            x-ms-navigationProperty: true
          singleValueExtendedProperties:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
            description: The collection of single-value extended properties defined for the post. Read-only. Nullable.
            x-ms-navigationProperty: true
        additionalProperties:
          type: object
    microsoft.graph.attachmentType:
      title: attachmentType
      enum:
      - file
      - item
      - reference
      type: string
    microsoft.graph.postCollectionResponse:
      title: Collection of post
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.post'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.attachment:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: attachment
        type: object
        properties:
          contentType:
            type:
            - string
            - 'null'
            description: The MIME type.
          isInline:
            type: boolean
            description: true if the attachment is an inline attachment; otherwise, false.
          lastModifiedDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z
            format: date-time
          name:
            type:
            - string
            - 'null'
            description: The attachment's file name.
          size:
            maximum: 2147483647
            minimum: -2147483648
            type: number
            description: The length of the attachment in bytes.
            format: int32
        additionalProperties:
          type: object
    microsoft.graph.attachmentItem:
      title: attachmentItem
      type: object
      properties:
        attachmentType:
          $ref: '#/components/schemas/microsoft.graph.attachmentType'
        contentId:
          type:
          - string
          - 'null'
          description: The CID or Content-Id of the attachment for referencing for the in-line attachments using the <img src='cid:contentId'> tag in HTML messages. Optional.
        contentType:
          type:
          - string
          - 'null'
          description: The nature of the data in the attachment. Optional.
        isInline:
          type:
          - boolean
          - 'null'
          description: true if the attachment is an inline attachment; otherwise, false. Optional.
        name:
          type:
          - string
          - 'null'
          description: The display name of the attachment. This can be a descriptive string and doesn't have to be the actual file name. Required.
        size:
          type:
          - number
          - 'null'
          description: The length of the attachment in bytes. Required.
          format: int64
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.singleValueLegacyExtendedProperty:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: singleValueLegacyExtendedProperty
        type: object
        properties:
          value:
            type:
            - string
            - 'null'
            description: A property value.
        additionalProperties:
          type: object
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.recipient:
      title: recipient
      type: object
      properties:
        emailAddress:
          $ref: '#/components/schemas/microsoft.graph.emailAddress'
      additionalProperties:
        type: object
    microsoft.graph.conversation:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: conversation
        type: object
        properties:
          hasAttachments:
            type: boolean
            description: Indicates whether any of the posts within this Conversation has at least one attachment. Supports $filter (eq, ne) and $search.
          lastDeliveredDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            description: The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z
            format: date-time
          preview:
            type: string
            description: A short summary from the body of the latest post in this conversation. Supports $filter (eq, ne, le, ge).
          topic:
            type: string
            description: The topic of the conversation. This property can be set when the conversation is created, but it cannot be updated.
          uniqueSenders:
            type: array
            items:
              type: string
            description: All the users that sent a message to this Conversation.
          threads:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.conversationThread'
            description: A collection of all the conversation threads in the conversation. A navigation property. Read-only. Nullable.
            x-ms-navigationProperty: true
        additionalProperties:
          type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.conversationThreadCollectionResponse:
      title: Collection of conversationThread
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.conversationThread'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.attachmentCollectionResponse:
      title: Collection of attachment
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.attachment'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.multiValueLegacyExtendedProperty:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: multiValueLegacyExtendedProperty
        type: object
        properties:
          value:
            type: array
            items:
              type:
              - string
              - 'null'
            description: A collection of property values.
        additionalProperties:
          type: object
    microsoft.graph.emailAddress:
      title: emailAddress
      type: object
      properties:
        address:
          type:
          - string
          - 'null'
          description: The email address of the person or entity.
[...]
