openapi: 3.2.0
info:
  title: Identity.Governance Identity Governance.access Review Set…
  version: v1.0
servers:
- url: https://graph.microsoft.com/v1.0/
  description: Core
security:
- azureaadv2: []
tags:
- name: identityGovernance.accessReviewSet
paths:
  /identityGovernance/accessReviews:
    get:
      tags:
      - identityGovernance.accessReviewSet
      summary: Get accessReviews from identityGovernance
      operationId: identityGovernance_GetAccessReview
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewSet'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - identityGovernance.accessReviewSet
      summary: Update the navigation property accessReviews in identityGovernance
      operationId: identityGovernance_UpdateAccessReview
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewSet'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewSet'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - identityGovernance.accessReviewSet
      summary: Delete navigation property accessReviews for identityGovernance
      operationId: identityGovernance_DeleteAccessReview
      parameters:
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identityGovernance/accessReviews/definitions:
    get:
      tags:
      - identityGovernance.accessReviewSet
      summary: List definitions
      description: Get a list of the accessReviewScheduleDefinition objects and their properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/accessreviewset-list-definitions?view=graph-rest-1.0
      operationId: identityGovernance.accessReview_ListDefinition
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.accessReviewScheduleDefinitionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - identityGovernance.accessReviewSet
      summary: Create definitions
      description: Create a new accessReviewScheduleDefinition object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/accessreviewset-post-definitions?view=graph-rest-1.0
      operationId: identityGovernance.accessReview_CreateDefinition
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewScheduleDefinition'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewScheduleDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}:
    get:
      tags:
      - identityGovernance.accessReviewSet
      summary: Get accessReviewScheduleDefinition
      description: Read the properties and relationships of an accessReviewScheduleDefinition object. To retrieve the instances of the access review series, use the list accessReviewInstance API.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/accessreviewscheduledefinition-get?view=graph-rest-1.0
      operationId: identityGovernance.accessReview_GetDefinition
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewScheduleDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
      - identityGovernance.accessReviewSet
      summary: Update accessReviewScheduleDefinition
      description: Update an existing accessReviewScheduleDefinition object to change one or more of its properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/accessreviewscheduledefinition-update?view=graph-rest-1.0
      operationId: identityGovernance.accessReview_SetDefinition
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewScheduleDefinition'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewScheduleDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - identityGovernance.accessReviewSet
      summary: Delete accessReviewScheduleDefinition
      description: Deletes an accessReviewScheduleDefinition object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/accessreviewscheduledefinition-delete?view=graph-rest-1.0
      operationId: identityGovernance.accessReview_DeleteDefinition
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances:
    get:
      tags:
      - identityGovernance.accessReviewSet
      summary: List instances
      description: Get a list of the accessReviewInstance objects and their properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/accessreviewscheduledefinition-list-instances?view=graph-rest-1.0
      operationId: identityGovernance.accessReview.definition_ListInstance
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.accessReviewInstanceCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - identityGovernance.accessReviewSet
      summary: Create new navigation property to instances for identityGovernance
      operationId: identityGovernance.accessReview.definition_CreateInstance
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewInstance'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewInstance'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}:
    get:
      tags:
      - identityGovernance.accessReviewSet
      summary: Get accessReviewInstance
      description: Read the properties and relationships of an accessReviewInstance object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/accessreviewinstance-get?view=graph-rest-1.0
      operationId: identityGovernance.accessReview.definition_GetInstance
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewInstance'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - identityGovernance.accessReviewSet
      summary: Update accessReviewInstance
      description: Update the properties of an accessReviewInstance object. Only the reviewers and fallbackReviewers properties can be updated but the scope property is also required in the request body. You can only add reviewers to the fallbackReviewers property but can't remove existing fallbackReviewers. To update an accessReviewInstance, it's status must be InProgress.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/accessreviewinstance-update?view=graph-rest-1.0
      operationId: identityGovernance.accessReview.definition_UpdateInstance
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewInstance'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewInstance'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - identityGovernance.accessReviewSet
      summary: Delete navigation property instances for identityGovernance
      operationId: identityGovernance.accessReview.definition_DeleteInstance
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/contactedReviewers
  : get:
      tags:
      - identityGovernance.accessReviewSet
      summary: List contactedReviewers
      description: Get the reviewers for an access review instance, irrespective of whether or not they have received a notification. The reviewers are represented by an accessReviewReviewer object. A list of zero or more objects are returned, including all of their nested properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/accessreviewinstance-list-contactedreviewers?view=graph-rest-1.0
      operationId: identityGovernance.accessReview.definition.instance_ListContactedReviewer
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.accessReviewReviewerCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - identityGovernance.accessReviewSet
      summary: Create new navigation property to contactedReviewers for identityGovernance
      operationId: identityGovernance.accessReview.definition.instance_CreateContactedReviewer
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewReviewer'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewReviewer'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/contactedReviewers/{accessReviewReviewer-id}
  : get:
      tags:
      - identityGovernance.accessReviewSet
      summary: Get contactedReviewers from identityGovernance
      description: Returns the collection of reviewers who were contacted to complete this review. While the reviewers and fallbackReviewers properties of the accessReviewScheduleDefinition might specify group owners or managers as reviewers, contactedReviewers returns their individual identities. Supports $select. Read-only.
      operationId: identityGovernance.accessReview.definition.instance_GetContactedReviewer
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      - name: accessReviewReviewer-id
        in: path
        description: The unique identifier of accessReviewReviewer
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewReviewer
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewReviewer'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - identityGovernance.accessReviewSet
      summary: Update the navigation property contactedReviewers in identityGovernance
      operationId: identityGovernance.accessReview.definition.instance_UpdateContactedReviewer
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      - name: accessReviewReviewer-id
        in: path
        description: The unique identifier of accessReviewReviewer
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewReviewer
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewReviewer'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewReviewer'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - identityGovernance.accessReviewSet
      summary: Delete navigation property contactedReviewers for identityGovernance
      operationId: identityGovernance.accessReview.definition.instance_DeleteContactedReviewer
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      - name: accessReviewReviewer-id
        in: path
        description: The unique identifier of accessReviewReviewer
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewReviewer
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/contactedReviewers/$count
  : get:
      tags:
      - identityGovernance.accessReviewSet
      summary: Get the number of the resource
      operationId: identityGovernance.accessReview.definition.instance.contactedReviewer_GetCount
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  ? /identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/decisions
  : get:
      tags:
      - identityGovernance.accessReviewSet
      summary: List decisions
      description: Retrieve the accessReviewInstanceDecisionItem objects for a specific accessReviewInstance. A list of zero or more accessReviewInstanceDecisionItem objects are returned, including all of their nested properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/accessreviewinstance-list-decisions?view=graph-rest-1.0
      operationId: identityGovernance.accessReview.definition.instance_ListDecision
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.accessReviewInstanceDecisionItemCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - identityGovernance.accessReviewSet
      summary: Create new navigation property to decisions for identityGovernance
      operationId: identityGovernance.accessReview.definition.instance_CreateDecision
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewInstanceDecisionItem'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewInstanceDecisionItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/decisions/{accessReviewInstanceDecisionItem-id}
  : get:
      tags:
      - identityGovernance.accessReviewSet
      summary: Get accessReviewInstanceDecisionItem
      description: Read the properties and relationships of an accessReviewInstanceDecisionItem object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/accessreviewinstancedecisionitem-get?view=graph-rest-1.0
      operationId: identityGovernance.accessReview.definition.instance_GetDecision
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      - name: accessReviewInstanceDecisionItem-id
        in: path
        description: The unique identifier of accessReviewInstanceDecisionItem
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstanceDecisionItem
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewInstanceDecisionItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - identityGovernance.accessReviewSet
      summary: Update the navigation property decisions in identityGovernance
      operationId: identityGovernance.accessReview.definition.instance_UpdateDecision
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      - name: accessReviewInstanceDecisionItem-id
        in: path
        description: The unique identifier of accessReviewInstanceDecisionItem
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstanceDecisionItem
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewInstanceDecisionItem'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewInstanceDecisionItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - identityGovernance.accessReviewSet
      summary: Delete navigation property decisions for identityGovernance
      operationId: identityGovernance.accessReview.definition.instance_DeleteDecision
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      - name: accessReviewInstanceDecisionItem-id
        in: path
        description: The unique identifier of accessReviewInstanceDecisionItem
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstanceDecisionItem
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/decisions/{accessReviewInstanceDecisionItem-id}/insights
  : get:
      tags:
      - identityGovernance.accessReviewSet
      summary: Get insights from identityGovernance
      description: Insights are recommendations to reviewers on whether to approve or deny a decision. There can be multiple insights associated with an accessReviewInstanceDecisionItem.
      operationId: identityGovernance.accessReview.definition.instance.decision_ListInsight
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      - name: accessReviewInstanceDecisionItem-id
        in: path
        description: The unique identifier of accessReviewInstanceDecisionItem
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstanceDecisionItem
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.governanceInsightCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - identityGovernance.accessReviewSet
      summary: Create new navigation property to insights for identityGovernance
      operationId: identityGovernance.accessReview.definition.instance.decision_CreateInsight
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      - name: accessReviewInstanceDecisionItem-id
        in: path
        description: The unique identifier of accessReviewInstanceDecisionItem
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstanceDecisionItem
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.governanceInsight'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.governanceInsight'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/decisions/{accessReviewInstanceDecisionItem-id}/insights/{governanceInsight-id}
  : get:
      tags:
      - identityGovernance.accessReviewSet
      summary: Get insights from identityGovernance
      description: Insights are recommendations to reviewers on whether to approve or deny a decision. There can be multiple insights associated with an accessReviewInstanceDecisionItem.
      operationId: identityGovernance.accessReview.definition.instance.decision_GetInsight
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      - name: accessReviewInstanceDecisionItem-id
        in: path
        description: The unique identifier of accessReviewInstanceDecisionItem
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstanceDecisionItem
      - name: governanceInsight-id
        in: path
        description: The unique identifier of governanceInsight
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: governanceInsight
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.governanceInsight'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - identityGovernance.accessReviewSet
      summary: Update the navigation property insights in identityGovernance
      operationId: identityGovernance.accessReview.definition.instance.decision_UpdateInsight
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      - name: accessReviewInstanceDecisionItem-id
        in: path
        description: The unique identifier of accessReviewInstanceDecisionItem
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstanceDecisionItem
      - name: governanceInsight-id
        in: path
        description: The unique identifier of governanceInsight
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: governanceInsight
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.governanceInsight'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.governanceInsight'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - identityGovernance.accessReviewSet
      summary: Delete navigation property insights for identityGovernance
      operationId: identityGovernance.accessReview.definition.instance.decision_DeleteInsight
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      - name: accessReviewInstanceDecisionItem-id
        in: path
        description: The unique identifier of accessReviewInstanceDecisionItem
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstanceDecisionItem
      - name: governanceInsight-id
        in: path
        description: The unique identifier of governanceInsight
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: governanceInsight
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/decisions/{accessReviewInstanceDecisionItem-id}/insights/$count
  : get:
      tags:
      - identityGovernance.accessReviewSet
      summary: Get the number of the resource
      operationId: identityGovernance.accessReview.definition.instance.decision.insight_GetCount
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      - name: accessReviewInstanceDecisionItem-id
        in: path
        description: The unique identifier of accessReviewInstanceDecisionItem
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstanceDecisionItem
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  ? /identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/decisions/$count
  : get:
      tags:
      - identityGovernance.accessReviewSet
      summary: Get the number of the resource
      operationId: identityGovernance.accessReview.definition.instance.decision_GetCount
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  ? /identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/decisions/microsoft.graph.filterByCurrentUser(on='{on}')
  : get:
      tags:
      - identityGovernance.accessReviewSet
      summary: Invoke function filterByCurrentUser
      description: Retrieve all decision items for an instance of an access review or a stage of an instance of a multi-stage access review for which the calling user is the reviewer. The decision items are presented as accessReviewInstanceDecisionItem objects on a given accessReviewInstance or accessReviewStage for which the calling user is the reviewer.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/accessreviewinstancedecisionitem-filterbycurrentuser?view=graph-rest-1.0
      operationId: identityGovernance.accessReview.definition.instance.decision_filterGraphBPreCurrentUser
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      - name: true
        in: path
        description: 'Usage: on=''{on}'''
        required: true
        style: simple
        schema:
          $ref: '#/components/schemas/microsoft.graph.accessReviewInstanceDecisionItemFilterByCurrentUserOptions'
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of accessReviewInstanceDecisionItem
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.accessReviewInstanceDecisionItem'
                  '@odata.nextLink':
                    type:
                    - string
                    - 'null'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  ? /identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/microsoft.graph.acceptRecommendations
  : post:
      tags:
      - identityGovernance.accessReviewSet
      summary: Invoke action acceptRecommendations
      description: Allows the acceptance of recommendations on all accessReviewInstanceDecisionItem objects that haven't been reviewed on an accessReviewInstance object for which the calling user is a reviewer.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/accessreviewinstance-acceptrecommendations?view=graph-rest-1.0
      operationId: identityGovernance.accessReview.definition.instance_acceptRecommendation
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  ? /identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/microsoft.graph.applyDecisions
  : post:
      tags:
      - identityGovernance.accessReviewSet
      summary: Invoke action applyDecisions
      description: Apply review decisions on an accessReviewInstance if the decisions were not applied automatically because the autoApplyDecisionsEnabled property is false in the review's accessReviewScheduleSettings. The status of the accessReviewInstance must be Completed to call this method.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/accessreviewinstance-applydecisions?view=graph-rest-1.0
      operationId: identityGovernance.accessReview.definition.instance_applyDecision
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  ? /identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/microsoft.graph.batchRecordDecisions
  : post:
      tags:
      - identityGovernance.accessReviewSet
      summary: Invoke action batchRecordDecisions
      description: Enables reviewers to review all accessReviewInstanceDecisionItem objects in a specific accessReviewInstance in batches by using principalId, resourceId, or neither.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/accessreviewinstance-batchrecorddecisions?view=graph-rest-1.0
      operationId: identityGovernance.accessReview.definition.instance_batchRecordDecision
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                decision:
                  type:
                  - string
                  - 'null'
                justification:
                  type:
                  - string
                  - 'null'
                principalId:
                  type:
                  - string
                  - 'null'
                resourceId:
                  type:
                  - string
                  - 'null'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  ? /identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/microsoft.graph.resetDecisions
  : post:
      tags:
      - identityGovernance.accessReviewSet
      summary: Invoke action resetDecisions
      description: Resets all accessReviewInstanceDecisionItem objects on an accessReviewInstance to notReviewed.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/accessreviewinstance-resetdecisions?view=graph-rest-1.0
      operationId: identityGovernance.accessReview.definition.instance_resetDecision
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  ? /identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/microsoft.graph.sendReminder
  : post:
      tags:
      - identityGovernance.accessReviewSet
      summary: Invoke action sendReminder
      description: Send a reminder to the reviewers of an active accessReviewInstance.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/accessreviewinstance-sendreminder?view=graph-rest-1.0
      operationId: identityGovernance.accessReview.definition.instance_sendReminder
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  ? /identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/microsoft.graph.stop
  : post:
      tags:
      - identityGovernance.accessReviewSet
      summary: Invoke action stop
      description: Stop a currently active accessReviewInstance. After the access review instance stops, the instance status is marked as Completed, the reviewers can no longer give input, and the access review decisions are applied. Stopping an instance will not stop future instances. To prevent a recurring access review from starting future instances, update the schedule definition to change its scheduled end date.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/accessreviewinstance-stop?view=graph-rest-1.0
      operationId: identityGovernance.accessReview.definition.instance_stop
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  ? /identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/stages
  : get:
      tags:
      - identityGovernance.accessReviewSet
      summary: List stages (of an access review)
      description: Retrieve the accessReviewStage objects for a specific accessReviewInstance in a multi-stage access review.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/accessreviewinstance-list-stages?view=graph-rest-1.0
      operationId: identityGovernance.accessReview.definition.instance_ListStage
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.accessReviewStageCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - identityGovernance.accessReviewSet
      summary: Create new navigation property to stages for identityGovernance
      operationId: identityGovernance.accessReview.definition.instance_CreateStage
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewStage'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewStage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/stages/{accessReviewStage-id}
  : get:
      tags:
      - identityGovernance.accessReviewSet
      summary: Get accessReviewStage
      description: Retrieve the properties and relationships of an accessReviewStage object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/accessreviewstage-get?view=graph-rest-1.0
      operationId: identityGovernance.accessReview.definition.instance_GetStage
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      - name: accessReviewStage-id
        in: path
        description: The unique identifier of accessReviewStage
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewStage
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewStage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - identityGovernance.accessReviewSet
      summary: Update accessReviewStage
      description: Update the properties of an accessReviewStage object. Only the reviewers and fallbackReviewers properties can be updated. You can only add reviewers to the fallbackReviewers property but can't remove existing fallbackReviewers. To update an accessReviewStage, its status must be NotStarted, Initializing, or InProgress.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/accessreviewstage-update?view=graph-rest-1.0
      operationId: identityGovernance.accessReview.definition.instance_UpdateStage
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      - name: accessReviewStage-id
        in: path
        description: The unique identifier of accessReviewStage
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewStage
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewStage'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewStage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - identityGovernance.accessReviewSet
      summary: Delete navigation property stages for identityGovernance
      operationId: identityGovernance.accessReview.definition.instance_DeleteStage
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      - name: accessReviewStage-id
        in: path
        description: The unique identifier of accessReviewStage
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewStage
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/stages/{accessReviewStage-id}/decisions
  : get:
      tags:
      - identityGovernance.accessReviewSet
      summary: List decisions (from a multi-stage access review)
      description: Get the accessReviewInstanceDecisionItem objects from an accessReviewStage in a multi-stage access review.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/accessreviewstage-list-decisions?view=graph-rest-1.0
      operationId: identityGovernance.accessReview.definition.instance.stage_ListDecision
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      - name: accessReviewStage-id
        in: path
        description: The unique identifier of accessReviewStage
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewStage
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.accessReviewInstanceDecisionItemCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - identityGovernance.accessReviewSet
      summary: Create new navigation property to decisions for identityGovernance
      operationId: identityGovernance.accessReview.definition.instance.stage_CreateDecision
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      - name: accessReviewStage-id
        in: path
        description: The unique identifier of accessReviewStage
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewStage
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewInstanceDecisionItem'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewInstanceDecisionItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/stages/{accessReviewStage-id}/decisions/{accessReviewInstanceDecisionItem-id}
  : get:
      tags:
      - identityGovernance.accessReviewSet
      summary: Get accessReviewInstanceDecisionItem
      description: Read the properties and relationships of an accessReviewInstanceDecisionItem object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/accessreviewinstancedecisionitem-get?view=graph-rest-1.0
      operationId: identityGovernance.accessReview.definition.instance.stage_GetDecision
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      - name: accessReviewStage-id
        in: path
        description: The unique identifier of accessReviewStage
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewStage
      - name: accessReviewInstanceDecisionItem-id
        in: path
        description: The unique identifier of accessReviewInstanceDecisionItem
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstanceDecisionItem
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewInstanceDecisionItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - identityGovernance.accessReviewSet
      summary: Update accessReviewInstanceDecisionItem
      description: Update access decisions, known as accessReviewInstanceDecisionItems, for which the user is the reviewer.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/accessreviewinstancedecisionitem-update?view=graph-rest-1.0
      operationId: identityGovernance.accessReview.definition.instance.stage_UpdateDecision
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      - name: accessReviewStage-id
        in: path
        description: The unique identifier of accessReviewStage
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewStage
      - name: accessReviewInstanceDecisionItem-id
        in: path
        description: The unique identifier of accessReviewInstanceDecisionItem
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstanceDecisionItem
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewInstanceDecisionItem'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewInstanceDecisionItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - identityGovernance.accessReviewSet
      summary: Delete navigation property decisions for identityGovernance
      operationId: identityGovernance.accessReview.definition.instance.stage_DeleteDecision
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      - name: accessReviewStage-id
        in: path
        description: The unique identifier of accessReviewStage
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewStage
      - name: accessReviewInstanceDecisionItem-id
        in: path
        description: The unique identifier of accessReviewInstanceDecisionItem
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstanceDecisionItem
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/stages/{accessReviewStage-id}/decisions/{accessReviewInstanceDecisionItem-id}/insights
  : get:
      tags:
      - identityGovernance.accessReviewSet
      summary: Get insights from identityGovernance
      description: Insights are recommendations to reviewers on whether to approve or deny a decision. There can be multiple insights associated with an accessReviewInstanceDecisionItem.
      operationId: identityGovernance.accessReview.definition.instance.stage.decision_ListInsight
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      - name: accessReviewStage-id
        in: path
        description: The unique identifier of accessReviewStage
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewStage
      - name: accessReviewInstanceDecisionItem-id
        in: path
        description: The unique identifier of accessReviewInstanceDecisionItem
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstanceDecisionItem
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.governanceInsightCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - identityGovernance.accessReviewSet
      summary: Create new navigation property to insights for identityGovernance
      operationId: identityGovernance.accessReview.definition.instance.stage.decision_CreateInsight
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      - name: accessReviewStage-id
        in: path
        description: The unique identifier of accessReviewStage
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewStage
      - name: accessReviewInstanceDecisionItem-id
        in: path
        description: The unique identifier of accessReviewInstanceDecisionItem
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstanceDecisionItem
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.governanceInsight'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.governanceInsight'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/stages/{accessReviewStage-id}/decisions/{accessReviewInstanceDecisionItem-id}/insights/{governanceInsight-id}
  : get:
      tags:
      - identityGovernance.accessReviewSet
      summary: Get insights from identityGovernance
      description: Insights are recommendations to reviewers on whether to approve or deny a decision. There can be multiple insights associated with an accessReviewInstanceDecisionItem.
      operationId: identityGovernance.accessReview.definition.instance.stage.decision_GetInsight
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      - name: accessReviewStage-id
        in: path
        description: The unique identifier of accessReviewStage
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewStage
      - name: accessReviewInstanceDecisionItem-id
        in: path
        description: The unique identifier of accessReviewInstanceDecisionItem
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstanceDecisionItem
      - name: governanceInsight-id
        in: path
        description: The unique identifier of governanceInsight
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: governanceInsight
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.governanceInsight'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - identityGovernance.accessReviewSet
      summary: Update the navigation property insights in identityGovernance
      operationId: identityGovernance.accessReview.definition.instance.stage.decision_UpdateInsight
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      - name: accessReviewStage-id
        in: path
        description: The unique identifier of accessReviewStage
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewStage
      - name: accessReviewInstanceDecisionItem-id
        in: path
        description: The unique identifier of accessReviewInstanceDecisionItem
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstanceDecisionItem
      - name: governanceInsight-id
        in: path
        description: The unique identifier of governanceInsight
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: governanceInsight
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.governanceInsight'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.governanceInsight'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - identityGovernance.accessReviewSet
      summary: Delete navigation property insights for identityGovernance
      operationId: identityGovernance.accessReview.definition.instance.stage.decision_DeleteInsight
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      - name: accessReviewStage-id
        in: path
        description: The unique identifier of accessReviewStage
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewStage
      - name: accessReviewInstanceDecisionItem-id
        in: path
        description: The unique identifier of accessReviewInstanceDecisionItem
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstanceDecisionItem
      - name: governanceInsight-id
        in: path
        description: The unique identifier of governanceInsight
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: governanceInsight
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/stages/{accessReviewStage-id}/decisions/{accessReviewInstanceDecisionItem-id}/insights/$count
  : get:
      tags:
      - identityGovernance.accessReviewSet
      summary: Get the number of the resource
      operationId: identityGovernance.accessReview.definition.instance.stage.decision.insight_GetCount
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      - name: accessReviewStage-id
        in: path
        description: The unique identifier of accessReviewStage
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewStage
      - name: accessReviewInstanceDecisionItem-id
        in: path
        description: The unique identifier of accessReviewInstanceDecisionItem
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstanceDecisionItem
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  ? /identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/stages/{accessReviewStage-id}/decisions/$count
  : get:
      tags:
      - identityGovernance.accessReviewSet
      summary: Get the number of the resource
      operationId: identityGovernance.accessReview.definition.instance.stage.decision_GetCount
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
      - name: accessReviewStage-id
        in: path
        description: The unique identifier of accessReviewStage
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewStage
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  ? /identityGovernance/accessReviews/definitions/{accessReviewScheduleDefinition-id}/instances/{accessReviewInstance-id}/stages/{accessReviewStage-id}/decisions/microsoft.graph.filterByCurrentUser(on='{on}')
  : get:
      tags:
      - identityGovernance.accessReviewSet
      summary: Invoke function filterByCurrentUser
      description: Retrieve all decision items for an instance of an access review or a stage of an instance of a multi-stage access review for which the calling user is the reviewer. The decision items are presented as accessReviewInstanceDecisionItem objects on a given accessReviewInstance or accessReviewStage for which the calling user is the reviewer.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/accessreviewinstancedecisionitem-filterbycurrentuser?view=graph-rest-1.0
      operationId: identityGovernance.accessReview.definition.instance.stage.decision_filterGraphBPreCurrentUser
      parameters:
      - name: accessReviewScheduleDefinition-id
        in: path
        description: The unique identifier of accessReviewScheduleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewScheduleDefinition
      - name: accessReviewInstance-id
        in: path
        description: The unique identifier of accessReviewInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: accessReviewInstance
[...]
