openapi: 3.2.0
info:
  title: Identity.SignIns Tenant Relationships.multi Tenant…
  version: v1.0
servers:
- url: https://graph.microsoft.com/v1.0/
  description: Core
security:
- azureaadv2: []
tags:
- name: tenantRelationships.multiTenantOrganization
paths:
  /tenantRelationships/multiTenantOrganization:
    get:
      tags:
      - tenantRelationships.multiTenantOrganization
      summary: Get multiTenantOrganization
      description: Get properties of the multitenant organization.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/multitenantorganization-get?view=graph-rest-1.0
      operationId: tenantRelationship_GetMultiTenantOrganization
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiTenantOrganization'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - tenantRelationships.multiTenantOrganization
      summary: Update multiTenantOrganization
      description: Update the properties of a multitenant organization.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/multitenantorganization-update?view=graph-rest-1.0
      operationId: tenantRelationship_UpdateMultiTenantOrganization
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiTenantOrganization'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiTenantOrganization'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /tenantRelationships/multiTenantOrganization/joinRequest:
    get:
      tags:
      - tenantRelationships.multiTenantOrganization
      summary: Get multiTenantOrganizationJoinRequestRecord
      description: Get the status of a tenant joining a multitenant organization.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/multitenantorganizationjoinrequestrecord-get?view=graph-rest-1.0
      operationId: tenantRelationship.multiTenantOrganization_GetJoinRequest
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiTenantOrganizationJoinRequestRecord'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - tenantRelationships.multiTenantOrganization
      summary: Update multiTenantOrganizationJoinRequestRecord
      description: Join a multitenant organization, after the owner of the multitenant organization has added your tenant to the multitenant organization as pending. Before a tenant added to a multitenant organization can participate in the multitenant organization, the administrator of the joining tenant must submit a join request. To allow for asynchronous processing, you must wait up to 2 hours before joining a multitenant organization is completed.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/multitenantorganizationjoinrequestrecord-update?view=graph-rest-1.0
      operationId: tenantRelationship.multiTenantOrganization_UpdateJoinRequest
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiTenantOrganizationJoinRequestRecord'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiTenantOrganizationJoinRequestRecord'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /tenantRelationships/multiTenantOrganization/tenants:
    get:
      tags:
      - tenantRelationships.multiTenantOrganization
      summary: List multiTenantOrganizationMembers
      description: List the tenants and their properties in the multitenant organization.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/multitenantorganization-list-tenants?view=graph-rest-1.0
      operationId: tenantRelationship.multiTenantOrganization_ListTenant
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.multiTenantOrganizationMemberCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - tenantRelationships.multiTenantOrganization
      summary: Add multiTenantOrganizationMember
      description: Add a tenant to a multitenant organization. The administrator of an owner tenant has the permissions to add tenants to the multitenant organization. The added tenant is in the pending state until the administrator of the added tenant joins the multitenant organization by submitting a join request. A tenant can be part of only one multitenant organization.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/multitenantorganization-post-tenants?view=graph-rest-1.0
      operationId: tenantRelationship.multiTenantOrganization_CreateTenant
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiTenantOrganizationMember'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiTenantOrganizationMember'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /tenantRelationships/multiTenantOrganization/tenants/{multiTenantOrganizationMember-id}:
    get:
      tags:
      - tenantRelationships.multiTenantOrganization
      summary: Get multiTenantOrganizationMember
      description: Get a tenant and its properties in the multitenant organization.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/multitenantorganizationmember-get?view=graph-rest-1.0
      operationId: tenantRelationship.multiTenantOrganization_GetTenant
      parameters:
      - name: multiTenantOrganizationMember-id
        in: path
        description: The unique identifier of multiTenantOrganizationMember
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: multiTenantOrganizationMember
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiTenantOrganizationMember'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - tenantRelationships.multiTenantOrganization
      summary: Update multiTenantOrganizationMember
      description: Update the properties of a tenant in a multitenant organization. Only owner tenants can call this API.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/multitenantorganizationmember-update?view=graph-rest-1.0
      operationId: tenantRelationship.multiTenantOrganization_UpdateTenant
      parameters:
      - name: multiTenantOrganizationMember-id
        in: path
        description: The unique identifier of multiTenantOrganizationMember
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: multiTenantOrganizationMember
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiTenantOrganizationMember'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiTenantOrganizationMember'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - tenantRelationships.multiTenantOrganization
      summary: Remove multiTenantOrganizationMember
      description: 'Remove a tenant from a multitenant organization. A tenant can be removed in the following scenarios:'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/multitenantorganization-delete-tenants?view=graph-rest-1.0
      operationId: tenantRelationship.multiTenantOrganization_DeleteTenant
      parameters:
      - name: multiTenantOrganizationMember-id
        in: path
        description: The unique identifier of multiTenantOrganizationMember
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: multiTenantOrganizationMember
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /tenantRelationships/multiTenantOrganization/tenants/$count:
    get:
      tags:
      - tenantRelationships.multiTenantOrganization
      summary: Get the number of the resource
      operationId: tenantRelationship.multiTenantOrganization.tenant_GetCount
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
components:
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
    microsoft.graph.multiTenantOrganizationMemberCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.multiTenantOrganizationMemberCollectionResponse'
    ODataCountResponse:
      description: The count of the resource
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ODataCountResponse'
  schemas:
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type:
          - string
          - 'null'
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    microsoft.graph.multiTenantOrganizationMember:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.directoryObject'
      - title: multiTenantOrganizationMember
        type: object
        properties:
          addedByTenantId:
            pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
            type:
            - string
            - 'null'
            description: Tenant ID of the tenant that added the tenant to the multitenant organization. Read-only.
            format: uuid
          addedDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: Date and time when the tenant was added to the multitenant organization. Read-only.
            format: date-time
          displayName:
            type:
            - string
            - 'null'
            description: Display name of the tenant added to the multitenant organization.
          joinedDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: Date and time when the tenant joined the multitenant organization. Read-only.
            format: date-time
          role:
            $ref: '#/components/schemas/microsoft.graph.multiTenantOrganizationMemberRole'
          state:
            $ref: '#/components/schemas/microsoft.graph.multiTenantOrganizationMemberState'
          tenantId:
            type: string
            description: Tenant ID of the Microsoft Entra tenant added to the multitenant organization. Set at the time tenant is added.Supports $filter. Key.
          transitionDetails:
            $ref: '#/components/schemas/microsoft.graph.multiTenantOrganizationMemberTransitionDetails'
        additionalProperties:
          type: object
    ODataCountResponse:
      type: integer
      format: int32
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
    microsoft.graph.multiTenantOrganizationState:
      title: multiTenantOrganizationState
      enum:
      - active
      - inactive
      - unknownFutureValue
      type: string
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.multiTenantOrganization:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: multiTenantOrganization
        type: object
        properties:
          createdDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: Date when multitenant organization was created. Read-only.
            format: date-time
          description:
            type:
            - string
            - 'null'
            description: Description of the multitenant organization.
          displayName:
            type:
            - string
            - 'null'
            description: Display name of the multitenant organization.
          state:
            $ref: '#/components/schemas/microsoft.graph.multiTenantOrganizationState'
          joinRequest:
            $ref: '#/components/schemas/microsoft.graph.multiTenantOrganizationJoinRequestRecord'
          tenants:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.multiTenantOrganizationMember'
            description: Defines tenants added to a multitenant organization.
            x-ms-navigationProperty: true
        additionalProperties:
          type: object
    microsoft.graph.multiTenantOrganizationJoinRequestTransitionDetails:
      title: multiTenantOrganizationJoinRequestTransitionDetails
      type: object
      properties:
        desiredMemberState:
          $ref: '#/components/schemas/microsoft.graph.multiTenantOrganizationMemberState'
        details:
          type:
          - string
          - 'null'
          description: Details that explain the processing status if any. Read-only.
        status:
          $ref: '#/components/schemas/microsoft.graph.multiTenantOrganizationMemberProcessingStatus'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.multiTenantOrganizationMemberCollectionResponse:
      title: Collection of multiTenantOrganizationMember
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.multiTenantOrganizationMember'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.directoryObject:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: directoryObject
        type: object
        properties:
          deletedDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: Date and time when this object was deleted. Always null when the object hasn't been deleted.
            format: date-time
        additionalProperties:
          type: object
    microsoft.graph.multiTenantOrganizationMemberTransitionDetails:
      title: multiTenantOrganizationMemberTransitionDetails
      type: object
      properties:
        desiredRole:
          $ref: '#/components/schemas/microsoft.graph.multiTenantOrganizationMemberRole'
        desiredState:
          $ref: '#/components/schemas/microsoft.graph.multiTenantOrganizationMemberState'
        details:
          type:
          - string
          - 'null'
          description: Details that explain the processing status if any. Read-only.
        status:
          $ref: '#/components/schemas/microsoft.graph.multiTenantOrganizationMemberProcessingStatus'
      additionalProperties:
        type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.multiTenantOrganizationMemberState:
      title: multiTenantOrganizationMemberState
      enum:
      - pending
      - active
      - removed
      - unknownFutureValue
      type: string
    microsoft.graph.multiTenantOrganizationMemberProcessingStatus:
      title: multiTenantOrganizationMemberProcessingStatus
      enum:
      - notStarted
      - running
      - succeeded
      - failed
      - unknownFutureValue
      type: string
    microsoft.graph.multiTenantOrganizationMemberRole:
      title: multiTenantOrganizationMemberRole
      enum:
      - owner
      - member
      - unknownFutureValue
      type: string
    microsoft.graph.multiTenantOrganizationJoinRequestRecord:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: multiTenantOrganizationJoinRequestRecord
        type: object
        properties:
          addedByTenantId:
            type:
            - string
            - 'null'
            description: Tenant ID of the Microsoft Entra tenant that added a tenant to the multitenant organization. To reset a failed join request, set addedByTenantId to 00000000-0000-0000-0000-000000000000. Required.
          memberState:
            $ref: '#/components/schemas/microsoft.graph.multiTenantOrganizationMemberState'
          role:
            $ref: '#/components/schemas/microsoft.graph.multiTenantOrganizationMemberRole'
          transitionDetails:
            $ref: '#/components/schemas/microsoft.graph.multiTenantOrganizationJoinRequestTransitionDetails'
        additionalProperties:
          type: object
  parameters:
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
    top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: {}
