openapi: 3.2.0
info:
  title: Identity.DirectoryManagement Directory.device Local…
  version: v1.0
servers:
- url: https://graph.microsoft.com/v1.0/
  description: Core
security:
- azureaadv2: []
tags:
- name: directory.deviceLocalCredentialInfo
paths:
  /directory/deviceLocalCredentials:
    get:
      tags:
      - directory.deviceLocalCredentialInfo
      summary: List deviceLocalCredentialInfo
      description: Get a list of the deviceLocalCredentialInfo objects and their properties, excluding the credentials property.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/directory-list-devicelocalcredentials?view=graph-rest-1.0
      operationId: directory_ListDeviceLocalCredential
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.deviceLocalCredentialInfoCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - directory.deviceLocalCredentialInfo
      summary: Create new navigation property to deviceLocalCredentials for directory
      operationId: directory_CreateDeviceLocalCredential
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceLocalCredentialInfo'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceLocalCredentialInfo'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /directory/deviceLocalCredentials/{deviceLocalCredentialInfo-id}:
    get:
      tags:
      - directory.deviceLocalCredentialInfo
      summary: Get deviceLocalCredentialInfo
      description: Retrieve the properties of a deviceLocalCredentialInfo for a specified device object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/devicelocalcredentialinfo-get?view=graph-rest-1.0
      operationId: directory_GetDeviceLocalCredential
      parameters:
      - name: deviceLocalCredentialInfo-id
        in: path
        description: The unique identifier of deviceLocalCredentialInfo
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: deviceLocalCredentialInfo
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceLocalCredentialInfo'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - directory.deviceLocalCredentialInfo
      summary: Update the navigation property deviceLocalCredentials in directory
      operationId: directory_UpdateDeviceLocalCredential
      parameters:
      - name: deviceLocalCredentialInfo-id
        in: path
        description: The unique identifier of deviceLocalCredentialInfo
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: deviceLocalCredentialInfo
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceLocalCredentialInfo'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceLocalCredentialInfo'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - directory.deviceLocalCredentialInfo
      summary: Delete navigation property deviceLocalCredentials for directory
      operationId: directory_DeleteDeviceLocalCredential
      parameters:
      - name: deviceLocalCredentialInfo-id
        in: path
        description: The unique identifier of deviceLocalCredentialInfo
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: deviceLocalCredentialInfo
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /directory/deviceLocalCredentials/$count:
    get:
      tags:
      - directory.deviceLocalCredentialInfo
      summary: Get the number of the resource
      operationId: directory.deviceLocalCredential_GetCount
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
components:
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
    microsoft.graph.deviceLocalCredentialInfoCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.deviceLocalCredentialInfoCollectionResponse'
    ODataCountResponse:
      description: The count of the resource
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ODataCountResponse'
  schemas:
    microsoft.graph.deviceLocalCredential:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: deviceLocalCredential
        type: object
        properties:
          accountName:
            type: string
            description: The name of the local admin account for which LAPS is enabled.
          accountSid:
            type: string
            description: The SID of the local admin account for which LAPS is enabled.
          backupDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            description: When the local administrator account credential for the device object was backed up to Azure Active Directory.
            format: date-time
          passwordBase64:
            type: string
            description: The password for the local administrator account that is backed up to Azure Active Directory and returned as a Base64 encoded value.
        additionalProperties:
          type: object
    microsoft.graph.deviceLocalCredentialInfoCollectionResponse:
      title: Collection of deviceLocalCredentialInfo
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.deviceLocalCredentialInfo'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type:
          - string
          - 'null'
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    ODataCountResponse:
      type: integer
      format: int32
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.deviceLocalCredentialInfo:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: deviceLocalCredentialInfo
        type: object
        properties:
          credentials:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.deviceLocalCredential'
            description: The credentials of the device's local administrator account backed up to Azure Active Directory.
          deviceName:
            type: string
            description: Display name of the device that the local credentials are associated with.
          lastBackupDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            description: When the local administrator account credential was backed up to Azure Active Directory.
            format: date-time
          refreshDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            description: When the local administrator account credential will be refreshed and backed up to Azure Active Directory.
            format: date-time
        additionalProperties:
          type: object
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
  parameters:
    count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
    top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: {}
