openapi: 3.2.0
info:
  title: Identity.SignIns Identity.authentication Event Listener API
  version: v1.0
servers:
- url: https://graph.microsoft.com/v1.0/
  description: Core
security:
- azureaadv2: []
tags:
- name: identity.authenticationEventListener
paths:
  /identity/authenticationEventListeners:
    get:
      tags:
      - identity.authenticationEventListener
      summary: List authenticationEventListeners
      description: 'Get a list of the authenticationEventListener objects and their properties. The following derived types are supported:'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identitycontainer-list-authenticationeventlisteners?view=graph-rest-1.0
      operationId: identity_ListAuthenticationEventListener
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.authenticationEventListenerCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - identity.authenticationEventListener
      summary: Create authenticationEventListener
      description: Create a new authenticationEventListener object. You can create one of the following subtypes that are derived from authenticationEventListener.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identitycontainer-post-authenticationeventlisteners?view=graph-rest-1.0
      operationId: identity_CreateAuthenticationEventListener
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.authenticationEventListener'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationEventListener'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/authenticationEventListeners/{authenticationEventListener-id}:
    get:
      tags:
      - identity.authenticationEventListener
      summary: Get authenticationEventListener
      description: Read the properties and relationships of an authenticationEventListener object. The @odata.type property in the response object indicates the type of the authenticationEventListener object. The following derived types are currently supported.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/authenticationeventlistener-get?view=graph-rest-1.0
      operationId: identity_GetAuthenticationEventListener
      parameters:
      - name: authenticationEventListener-id
        in: path
        description: The unique identifier of authenticationEventListener
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: authenticationEventListener
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationEventListener'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - identity.authenticationEventListener
      summary: Update authenticationEventListener
      description: Update the properties of an authenticationEventListener object. You must specify the @odata.type property and the value of the authenticationEventListener object type to update. The following derived types are currently supported.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/authenticationeventlistener-update?view=graph-rest-1.0
      operationId: identity_UpdateAuthenticationEventListener
      parameters:
      - name: authenticationEventListener-id
        in: path
        description: The unique identifier of authenticationEventListener
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: authenticationEventListener
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.authenticationEventListener'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationEventListener'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - identity.authenticationEventListener
      summary: Delete authenticationEventListener
      description: Delete an authenticationEventListener object. The following derived types are currently supported.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/authenticationeventlistener-delete?view=graph-rest-1.0
      operationId: identity_DeleteAuthenticationEventListener
      parameters:
      - name: authenticationEventListener-id
        in: path
        description: The unique identifier of authenticationEventListener
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: authenticationEventListener
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/authenticationEventListeners/$count:
    get:
      tags:
      - identity.authenticationEventListener
      summary: Get the number of the resource
      operationId: identity.authenticationEventListener_GetCount
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
components:
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
    microsoft.graph.authenticationEventListenerCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.authenticationEventListenerCollectionResponse'
    ODataCountResponse:
      description: The count of the resource
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ODataCountResponse'
  schemas:
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type:
          - string
          - 'null'
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    ODataCountResponse:
      type: integer
      format: int32
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.authenticationConditionApplication:
      title: authenticationConditionApplication
      type: object
      properties:
        appId:
          type: string
          description: The identifier for an application corresponding to a condition which will trigger an authenticationEventListener.
      additionalProperties:
        type: object
    microsoft.graph.authenticationEventListenerCollectionResponse:
      title: Collection of authenticationEventListener
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.authenticationEventListener'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.authenticationConditions:
      title: authenticationConditions
      type: object
      properties:
        applications:
          $ref: '#/components/schemas/microsoft.graph.authenticationConditionsApplications'
      additionalProperties:
        type: object
    microsoft.graph.authenticationEventListener:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: authenticationEventListener
        type: object
        properties:
          authenticationEventsFlowId:
            type:
            - string
            - 'null'
            description: The identifier of the authenticationEventsFlow object.
          conditions:
            $ref: '#/components/schemas/microsoft.graph.authenticationConditions'
          displayName:
            type:
            - string
            - 'null'
            description: The display name of the listener.
        additionalProperties:
          type: object
    microsoft.graph.authenticationConditionsApplications:
      title: authenticationConditionsApplications
      type: object
      properties:
        includeApplications:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.authenticationConditionApplication'
          x-ms-navigationProperty: true
      additionalProperties:
        type: object
  parameters:
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
    top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: {}
