openapi: 3.2.0
info:
  title: Identity.SignIns Policies.feature Rollout Policy API
  version: v1.0
servers:
- url: https://graph.microsoft.com/v1.0/
  description: Core
security:
- azureaadv2: []
tags:
- name: policies.featureRolloutPolicy
paths:
  /policies/featureRolloutPolicies:
    get:
      tags:
      - policies.featureRolloutPolicy
      summary: List featureRolloutPolicies
      description: Retrieve a list of featureRolloutPolicy objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/featurerolloutpolicies-list?view=graph-rest-1.0
      operationId: policy_ListFeatureRolloutPolicy
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.featureRolloutPolicyCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - policies.featureRolloutPolicy
      summary: Create featureRolloutPolicy
      description: Create a new featureRolloutPolicy object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/featurerolloutpolicies-post?view=graph-rest-1.0
      operationId: policy_CreateFeatureRolloutPolicy
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.featureRolloutPolicy'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.featureRolloutPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /policies/featureRolloutPolicies/{featureRolloutPolicy-id}:
    get:
      tags:
      - policies.featureRolloutPolicy
      summary: Get featureRolloutPolicy
      description: Retrieve the properties and relationships of a featureRolloutPolicy object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/featurerolloutpolicy-get?view=graph-rest-1.0
      operationId: policy_GetFeatureRolloutPolicy
      parameters:
      - name: featureRolloutPolicy-id
        in: path
        description: The unique identifier of featureRolloutPolicy
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: featureRolloutPolicy
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.featureRolloutPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - policies.featureRolloutPolicy
      summary: Update featurerolloutpolicy
      description: Update the properties of featureRolloutPolicy object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/featurerolloutpolicy-update?view=graph-rest-1.0
      operationId: policy_UpdateFeatureRolloutPolicy
      parameters:
      - name: featureRolloutPolicy-id
        in: path
        description: The unique identifier of featureRolloutPolicy
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: featureRolloutPolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.featureRolloutPolicy'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.featureRolloutPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - policies.featureRolloutPolicy
      summary: Delete featureRolloutPolicy
      description: Delete a featureRolloutPolicy object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/featurerolloutpolicy-delete?view=graph-rest-1.0
      operationId: policy_DeleteFeatureRolloutPolicy
      parameters:
      - name: featureRolloutPolicy-id
        in: path
        description: The unique identifier of featureRolloutPolicy
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: featureRolloutPolicy
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /policies/featureRolloutPolicies/{featureRolloutPolicy-id}/appliesTo:
    get:
      tags:
      - policies.featureRolloutPolicy
      summary: Get appliesTo from policies
      description: Nullable. Specifies a list of directoryObject resources that feature is enabled for.
      operationId: policy.featureRolloutPolicy_ListAppliesTo
      parameters:
      - name: featureRolloutPolicy-id
        in: path
        description: The unique identifier of featureRolloutPolicy
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: featureRolloutPolicy
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.directoryObjectCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - policies.featureRolloutPolicy
      summary: Assign appliesTo on a featureRolloutPolicy
      description: Add an appliesTo on a featureRolloutPolicy object to specify the directoryObject to which the featureRolloutPolicy should be applied.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/featurerolloutpolicy-post-appliesto?view=graph-rest-1.0
      operationId: policy.featureRolloutPolicy_CreateAppliesTo
      parameters:
      - name: featureRolloutPolicy-id
        in: path
        description: The unique identifier of featureRolloutPolicy
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: featureRolloutPolicy
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryObject'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /policies/featureRolloutPolicies/{featureRolloutPolicy-id}/appliesTo/{directoryObject-id}/$ref:
    delete:
      tags:
      - policies.featureRolloutPolicy
      summary: Remove appliesTo on a featureRolloutPolicy
      description: Remove an appliesTo on a featureRolloutPolicy object to remove the directoryObject from feature rollout.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/featurerolloutpolicy-delete-appliesto?view=graph-rest-1.0
      operationId: policy.featureRolloutPolicy.appliesTo_DeleteDirectoryObjectGraphBPreRef
      parameters:
      - name: featureRolloutPolicy-id
        in: path
        description: The unique identifier of featureRolloutPolicy
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: featureRolloutPolicy
      - name: directoryObject-id
        in: path
        description: The unique identifier of directoryObject
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: directoryObject
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /policies/featureRolloutPolicies/{featureRolloutPolicy-id}/appliesTo/$count:
    get:
      tags:
      - policies.featureRolloutPolicy
      summary: Get the number of the resource
      operationId: policy.featureRolloutPolicy.appliesTo_GetCount
      parameters:
      - name: featureRolloutPolicy-id
        in: path
        description: The unique identifier of featureRolloutPolicy
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: featureRolloutPolicy
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /policies/featureRolloutPolicies/{featureRolloutPolicy-id}/appliesTo/$ref:
    get:
      tags:
      - policies.featureRolloutPolicy
      summary: Get ref of appliesTo from policies
      description: Nullable. Specifies a list of directoryObject resources that feature is enabled for.
      operationId: policy.featureRolloutPolicy_ListAppliesToGraphBPreRef
      parameters:
      - name: featureRolloutPolicy-id
        in: path
        description: The unique identifier of featureRolloutPolicy
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: featureRolloutPolicy
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/StringCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - policies.featureRolloutPolicy
      summary: Assign appliesTo on a featureRolloutPolicy
      description: Add an appliesTo on a featureRolloutPolicy object to specify the directoryObject to which the featureRolloutPolicy should be applied.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/featurerolloutpolicy-post-appliesto?view=graph-rest-1.0
      operationId: policy.featureRolloutPolicy_CreateAppliesToGraphBPreRef
      parameters:
      - name: featureRolloutPolicy-id
        in: path
        description: The unique identifier of featureRolloutPolicy
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: featureRolloutPolicy
      requestBody:
        $ref: '#/components/requestBodies/refPostBody'
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - policies.featureRolloutPolicy
      summary: Remove appliesTo on a featureRolloutPolicy
      description: Remove an appliesTo on a featureRolloutPolicy object to remove the directoryObject from feature rollout.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/featurerolloutpolicy-delete-appliesto?view=graph-rest-1.0
      operationId: policy.featureRolloutPolicy_DeleteAppliesToGraphBPreRef
      parameters:
      - name: featureRolloutPolicy-id
        in: path
        description: The unique identifier of featureRolloutPolicy
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: featureRolloutPolicy
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      - name: '@id'
        in: query
        description: The delete Uri
        required: true
        style: form
        explode: false
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /policies/featureRolloutPolicies/$count:
    get:
      tags:
      - policies.featureRolloutPolicy
      summary: Get the number of the resource
      operationId: policy.featureRolloutPolicy_GetCount
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
components:
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
    microsoft.graph.directoryObjectCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.directoryObjectCollectionResponse'
    microsoft.graph.featureRolloutPolicyCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.featureRolloutPolicyCollectionResponse'
    StringCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StringCollectionResponse'
    ODataCountResponse:
      description: The count of the resource
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ODataCountResponse'
  schemas:
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type:
          - string
          - 'null'
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    ODataCountResponse:
      type: integer
      format: int32
    StringCollectionResponse:
      title: Collection of string
      type: object
      properties:
        value:
          type: array
          items:
            type: string
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
    microsoft.graph.featureRolloutPolicyCollectionResponse:
      title: Collection of featureRolloutPolicy
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.featureRolloutPolicy'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.stagedFeatureName:
      title: stagedFeatureName
      enum:
      - passthroughAuthentication
      - seamlessSso
      - passwordHashSync
      - emailAsAlternateId
      - unknownFutureValue
      - certificateBasedAuthentication
      - multiFactorAuthentication
      type: string
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.directoryObject:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: directoryObject
        type: object
        properties:
          deletedDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: Date and time when this object was deleted. Always null when the object hasn't been deleted.
            format: date-time
        additionalProperties:
          type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.featureRolloutPolicy:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: featureRolloutPolicy
        type: object
        properties:
          description:
            type:
            - string
            - 'null'
            description: A description for this feature rollout policy.
          displayName:
            type: string
            description: The display name for this  feature rollout policy.
          feature:
            $ref: '#/components/schemas/microsoft.graph.stagedFeatureName'
          isAppliedToOrganization:
            type: boolean
            description: Indicates whether this feature rollout policy should be applied to the entire organization.
          isEnabled:
            type: boolean
            description: Indicates whether the feature rollout is enabled.
          appliesTo:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.directoryObject'
            description: Nullable. Specifies a list of directoryObject resources that feature is enabled for.
            x-ms-navigationProperty: true
        additionalProperties:
          type: object
    microsoft.graph.directoryObjectCollectionResponse:
      title: Collection of directoryObject
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.directoryObject'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    ReferenceCreate:
      type: object
      properties:
        '@odata.id':
          type: string
      additionalProperties:
        type: object
  parameters:
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
    top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
  requestBodies:
    refPostBody:
      description: New navigation property ref value
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ReferenceCreate'
      required: true
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: {}
