openapi: 3.1.0
info:
  title: Microsoft Graph API (Azure AD) Applications Me API
  version: v1.0
  description: 'Microsoft Graph is the primary REST API for accessing Azure Active Directory

    (Microsoft Entra ID) and other Microsoft 365 services. Requests are sent to

    `https://graph.microsoft.com/v1.0/{resource}` and authenticated with OAuth 2.0

    bearer tokens issued by Microsoft Entra ID.

    '
  contact:
    name: Microsoft Graph
    url: https://docs.microsoft.com/en-us/graph/api/overview
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph v1.0 endpoint
- url: https://graph.microsoft.com/beta
  description: Microsoft Graph beta endpoint
tags:
- name: Me
  description: Operations on the signed-in user
paths:
  /me:
    get:
      summary: Get the signed-in user
      operationId: getMe
      tags:
      - Me
      responses:
        '200':
          description: The signed-in user profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      security:
      - oauth2:
        - User.Read
  /me/photo/$value:
    get:
      summary: Get the signed-in user's profile photo
      operationId: getMyPhoto
      tags:
      - Me
      responses:
        '200':
          description: Photo bytes
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
      security:
      - oauth2:
        - User.Read
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
        userPrincipalName:
          type: string
        displayName:
          type: string
        givenName:
          type: string
        surname:
          type: string
        mail:
          type: string
        jobTitle:
          type: string
        accountEnabled:
          type: boolean
  securitySchemes:
    oauth2:
      type: oauth2
      description: Microsoft Entra ID OAuth 2.0
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            User.Read: Read the signed-in user's profile
            User.Read.All: Read all users
            User.ReadWrite.All: Read and write all users
            Group.Read.All: Read all groups
            Group.ReadWrite.All: Read and write all groups
            Application.Read.All: Read applications
            Directory.Read.All: Read directory data
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            https://graph.microsoft.com/.default: Application permissions configured for the app
