openapi: 3.2.0
info:
  title: Identity.SignIns Policies.token Issuance Policy API
  version: v1.0
servers:
- url: https://graph.microsoft.com/v1.0/
  description: Core
security:
- azureaadv2: []
tags:
- name: policies.tokenIssuancePolicy
paths:
  /policies/tokenIssuancePolicies:
    get:
      tags:
      - policies.tokenIssuancePolicy
      summary: List tokenIssuancePolicy
      description: Get a list of tokenIssuancePolicy objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/tokenissuancepolicy-list?view=graph-rest-1.0
      operationId: policy_ListTokenIssuancePolicy
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.tokenIssuancePolicyCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - policies.tokenIssuancePolicy
      summary: Create tokenIssuancePolicy
      description: Create a new tokenIssuancePolicy object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/tokenissuancepolicy-post-tokenissuancepolicy?view=graph-rest-1.0
      operationId: policy_CreateTokenIssuancePolicy
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.tokenIssuancePolicy'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.tokenIssuancePolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /policies/tokenIssuancePolicies/{tokenIssuancePolicy-id}:
    get:
      tags:
      - policies.tokenIssuancePolicy
      summary: Get tokenIssuancePolicies from policies
      description: The policy that specifies the characteristics of SAML tokens issued by Microsoft Entra ID.
      operationId: policy_GetTokenIssuancePolicy
      parameters:
      - name: tokenIssuancePolicy-id
        in: path
        description: The unique identifier of tokenIssuancePolicy
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: tokenIssuancePolicy
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.tokenIssuancePolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - policies.tokenIssuancePolicy
      summary: Update tokenIssuancePolicy
      description: Update the properties of a tokenIssuancePolicy object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/tokenissuancepolicy-update?view=graph-rest-1.0
      operationId: policy_UpdateTokenIssuancePolicy
      parameters:
      - name: tokenIssuancePolicy-id
        in: path
        description: The unique identifier of tokenIssuancePolicy
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: tokenIssuancePolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.tokenIssuancePolicy'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.tokenIssuancePolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - policies.tokenIssuancePolicy
      summary: Delete tokenIssuancePolicy
      description: Delete a tokenIssuancePolicy object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/tokenissuancepolicy-delete?view=graph-rest-1.0
      operationId: policy_DeleteTokenIssuancePolicy
      parameters:
      - name: tokenIssuancePolicy-id
        in: path
        description: The unique identifier of tokenIssuancePolicy
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: tokenIssuancePolicy
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /policies/tokenIssuancePolicies/{tokenIssuancePolicy-id}/appliesTo:
    get:
      tags:
      - policies.tokenIssuancePolicy
      summary: List appliesTo
      description: Get a list of directoryObject objects that a tokenIssuancePolicy object has been applied to. The tokenIssuancePolicy can only be applied to application.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/tokenissuancepolicy-list-appliesto?view=graph-rest-1.0
      operationId: policy.tokenIssuancePolicy_ListAppliesTo
      parameters:
      - name: tokenIssuancePolicy-id
        in: path
        description: The unique identifier of tokenIssuancePolicy
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: tokenIssuancePolicy
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.directoryObjectCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /policies/tokenIssuancePolicies/{tokenIssuancePolicy-id}/appliesTo/{directoryObject-id}:
    get:
      tags:
      - policies.tokenIssuancePolicy
      summary: Get appliesTo from policies
      operationId: policy.tokenIssuancePolicy_GetAppliesTo
      parameters:
      - name: tokenIssuancePolicy-id
        in: path
        description: The unique identifier of tokenIssuancePolicy
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: tokenIssuancePolicy
      - name: directoryObject-id
        in: path
        description: The unique identifier of directoryObject
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: directoryObject
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /policies/tokenIssuancePolicies/{tokenIssuancePolicy-id}/appliesTo/$count:
    get:
      tags:
      - policies.tokenIssuancePolicy
      summary: Get the number of the resource
      operationId: policy.tokenIssuancePolicy.appliesTo_GetCount
      parameters:
      - name: tokenIssuancePolicy-id
        in: path
        description: The unique identifier of tokenIssuancePolicy
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: tokenIssuancePolicy
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /policies/tokenIssuancePolicies/$count:
    get:
      tags:
      - policies.tokenIssuancePolicy
      summary: Get the number of the resource
      operationId: policy.tokenIssuancePolicy_GetCount
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
components:
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
    microsoft.graph.tokenIssuancePolicyCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.tokenIssuancePolicyCollectionResponse'
    microsoft.graph.directoryObjectCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.directoryObjectCollectionResponse'
    ODataCountResponse:
      description: The count of the resource
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ODataCountResponse'
  schemas:
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type:
          - string
          - 'null'
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    ODataCountResponse:
      type: integer
      format: int32
    microsoft.graph.tokenIssuancePolicy:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.stsPolicy'
      - title: tokenIssuancePolicy
        type: object
        additionalProperties:
          type: object
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
    microsoft.graph.tokenIssuancePolicyCollectionResponse:
      title: Collection of tokenIssuancePolicy
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.tokenIssuancePolicy'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.directoryObject:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: directoryObject
        type: object
        properties:
          deletedDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: Date and time when this object was deleted. Always null when the object hasn't been deleted.
            format: date-time
        additionalProperties:
          type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.directoryObjectCollectionResponse:
      title: Collection of directoryObject
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.directoryObject'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.policyBase:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.directoryObject'
      - title: policyBase
        type: object
        properties:
          description:
            type:
            - string
            - 'null'
            description: Description for this policy. Required.
          displayName:
            type:
            - string
            - 'null'
            description: Display name for this policy. Required.
        additionalProperties:
          type: object
    microsoft.graph.stsPolicy:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.policyBase'
      - title: stsPolicy
        type: object
        properties:
          definition:
            type: array
            items:
              type: string
            description: A string collection containing a JSON string that defines the rules and settings for a policy. The syntax for the definition differs for each derived policy type. Required.
          isOrganizationDefault:
            type:
            - boolean
            - 'null'
            description: If set to true, activates this policy. There can be many policies for the same policy type, but only one can be activated as the organization default. Optional, default value is false.
          appliesTo:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.directoryObject'
            x-ms-navigationProperty: true
        additionalProperties:
          type: object
  parameters:
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
    top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: {}
