openapi: 3.2.0
info:
  title: Applications.extension Property API
  version: v1.0
servers:
- url: https://graph.microsoft.com/v1.0/
  description: Core
security:
- azureaadv2: []
tags:
- name: applications.extensionProperty
paths:
  /applications/{application-id}/extensionProperties:
    get:
      tags:
      - applications.extensionProperty
      summary: List extensionProperties (directory extensions)
      description: Retrieve the list of directory extension definitions, represented by extensionProperty objects on an application.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/application-list-extensionproperty?view=graph-rest-1.0
      operationId: application_ListExtensionProperty
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.extensionPropertyCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - applications.extensionProperty
      summary: Create extensionProperty (directory extension)
      description: Create a new directory extension definition, represented by an extensionProperty object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/application-post-extensionproperty?view=graph-rest-1.0
      operationId: application_CreateExtensionProperty
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extensionProperty'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extensionProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /applications/{application-id}/extensionProperties/{extensionProperty-id}:
    get:
      tags:
      - applications.extensionProperty
      summary: Get extensionProperty (directory extension)
      description: Read a directory extension definition represented by an extensionProperty object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/extensionproperty-get?view=graph-rest-1.0
      operationId: application_GetExtensionProperty
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: extensionProperty-id
        in: path
        description: The unique identifier of extensionProperty
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: extensionProperty
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extensionProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - applications.extensionProperty
      summary: Update the navigation property extensionProperties in applications
      operationId: application_UpdateExtensionProperty
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: extensionProperty-id
        in: path
        description: The unique identifier of extensionProperty
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: extensionProperty
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extensionProperty'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extensionProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - applications.extensionProperty
      summary: Delete extensionProperty (directory extension)
      description: Delete a directory extension definition represented by an extensionProperty object. You can delete only directory extensions that aren't synced from on-premises active directory (AD).
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/extensionproperty-delete?view=graph-rest-1.0
      operationId: application_DeleteExtensionProperty
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: extensionProperty-id
        in: path
        description: The unique identifier of extensionProperty
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: extensionProperty
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /applications/{application-id}/extensionProperties/$count:
    get:
      tags:
      - applications.extensionProperty
      summary: Get the number of the resource
      operationId: application.extensionProperty_GetCount
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
components:
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
    microsoft.graph.extensionPropertyCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.extensionPropertyCollectionResponse'
    ODataCountResponse:
      description: The count of the resource
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ODataCountResponse'
  schemas:
    microsoft.graph.extensionProperty:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.directoryObject'
      - title: extensionProperty
        type: object
        properties:
          appDisplayName:
            type:
            - string
            - 'null'
            description: Display name of the application object on which this extension property is defined. Read-only.
          dataType:
            type: string
            description: Specifies the data type of the value the extension property can hold. Following values are supported. Binary - 256 bytes maximumBooleanDateTime - Must be specified in ISO 8601 format. Will be stored in UTC.Integer - 32-bit value.LargeInteger - 64-bit value.String - 256 characters maximumNot nullable. For multivalued directory extensions, these limits apply per value in the collection.
          isMultiValued:
            type: boolean
            description: 'Defines the directory extension as a multi-valued property. When true, the directory extension property can store a collection of objects of the dataType; for example, a collection of string types such as ''extensionb7b1c57b532f40b8b5ed4b7a7ba67401jobGroupTracker'': [''String 1'', ''String 2'']. The default value is false. Supports $filter (eq).'
          isSyncedFromOnPremises:
            type:
            - boolean
            - 'null'
            description: Indicates if this extension property was synced from on-premises active directory using Microsoft Entra Connect. Read-only.
          name:
            type: string
            description: Name of the extension property. Not nullable. Supports $filter (eq).
          targetObjects:
            type: array
            items:
              type: string
            description: Following values are supported. Not nullable. UserGroupAdministrativeUnitApplicationDeviceOrganization
        additionalProperties:
          type: object
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type:
          - string
          - 'null'
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    microsoft.graph.directoryObject:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: directoryObject
        type: object
        properties:
          deletedDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: Date and time when this object was deleted. Always null when the object hasn't been deleted.
            format: date-time
        additionalProperties:
          type: object
    ODataCountResponse:
      type: integer
      format: int32
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
    microsoft.graph.extensionPropertyCollectionResponse:
      title: Collection of extensionProperty
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.extensionProperty'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
  parameters:
    count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
    top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: {}
