openapi: 3.2.0
info:
  title: Identity.DirectoryManagement Directory Role…
  version: v1.0
servers:
- url: https://graph.microsoft.com/v1.0/
  description: Core
security:
- azureaadv2: []
tags:
- name: directoryRoleTemplates.directoryRoleTemplate
paths:
  /directoryRoleTemplates:
    get:
      tags:
      - directoryRoleTemplates.directoryRoleTemplate
      summary: List directoryRoleTemplates
      description: Retrieve a list of directoryRoleTemplate objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/directoryroletemplate-list?view=graph-rest-1.0
      operationId: directoryRoleTemplate_ListDirectoryRoleTemplate
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.directoryRoleTemplateCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - directoryRoleTemplates.directoryRoleTemplate
      summary: Add new entity to directoryRoleTemplates
      operationId: directoryRoleTemplate_CreateDirectoryRoleTemplate
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryRoleTemplate'
        required: true
      responses:
        2XX:
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryRoleTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /directoryRoleTemplates/{directoryRoleTemplate-id}:
    get:
      tags:
      - directoryRoleTemplates.directoryRoleTemplate
      summary: Get directoryRoleTemplate
      description: Retrieve the properties and relationships of a directoryroletemplate object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/directoryroletemplate-get?view=graph-rest-1.0
      operationId: directoryRoleTemplate_GetDirectoryRoleTemplate
      parameters:
      - name: directoryRoleTemplate-id
        in: path
        description: The unique identifier of directoryRoleTemplate
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: directoryRoleTemplate
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryRoleTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - directoryRoleTemplates.directoryRoleTemplate
      summary: Update entity in directoryRoleTemplates
      operationId: directoryRoleTemplate_UpdateDirectoryRoleTemplate
      parameters:
      - name: directoryRoleTemplate-id
        in: path
        description: The unique identifier of directoryRoleTemplate
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: directoryRoleTemplate
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryRoleTemplate'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryRoleTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - directoryRoleTemplates.directoryRoleTemplate
      summary: Delete entity from directoryRoleTemplates
      operationId: directoryRoleTemplate_DeleteDirectoryRoleTemplate
      parameters:
      - name: directoryRoleTemplate-id
        in: path
        description: The unique identifier of directoryRoleTemplate
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: directoryRoleTemplate
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /directoryRoleTemplates/$count:
    get:
      tags:
      - directoryRoleTemplates.directoryRoleTemplate
      summary: Get the number of the resource
      operationId: directoryRoleTemplate_GetCount
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
components:
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
    ODataCountResponse:
      description: The count of the resource
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ODataCountResponse'
    microsoft.graph.directoryRoleTemplateCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.directoryRoleTemplateCollectionResponse'
  schemas:
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type:
          - string
          - 'null'
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    microsoft.graph.directoryRoleTemplateCollectionResponse:
      title: Collection of directoryRoleTemplate
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.directoryRoleTemplate'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.directoryObject:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: directoryObject
        type: object
        properties:
          deletedDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: Date and time when this object was deleted. Always null when the object hasn't been deleted.
            format: date-time
        additionalProperties:
          type: object
    ODataCountResponse:
      type: integer
      format: int32
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.directoryRoleTemplate:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.directoryObject'
      - title: directoryRoleTemplate
        type: object
        properties:
          description:
            type:
            - string
            - 'null'
            description: The description to set for the directory role. Read-only.
          displayName:
            type:
            - string
            - 'null'
            description: The display name to set for the directory role. Read-only.
        additionalProperties:
          type: object
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
  parameters:
    count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
    top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: {}
