openapi: 3.2.0
info:
  title: Identity.SignIns Information Protection.bitlocker API
  version: v1.0
servers:
- url: https://graph.microsoft.com/v1.0/
  description: Core
security:
- azureaadv2: []
tags:
- name: informationProtection.bitlocker
paths:
  /informationProtection/bitlocker:
    get:
      tags:
      - informationProtection.bitlocker
      summary: Get bitlocker from informationProtection
      operationId: informationProtection_GetBitlocker
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bitlocker'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /informationProtection/bitlocker/recoveryKeys:
    get:
      tags:
      - informationProtection.bitlocker
      summary: List recoveryKeys
      description: Get a list of the bitlockerRecoveryKey objects and their properties. This operation doesn't return the key property. For information about how to read the key property, see Get bitlockerRecoveryKey. You can use this API to programmatically iterate through the list of recovery keys in the tenant and identify devices with BitLocker enabled. For more information, see the sample PowerShell code in BitLocker recovery process.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bitlocker-list-recoverykeys?view=graph-rest-1.0
      operationId: informationProtection.bitlocker_ListRecoveryKey
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.bitlockerRecoveryKeyCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /informationProtection/bitlocker/recoveryKeys/{bitlockerRecoveryKey-id}:
    get:
      tags:
      - informationProtection.bitlocker
      summary: Get bitlockerRecoveryKey
      description: Retrieve the properties and relationships of a bitlockerRecoveryKey object. By default, this operation doesn't return the key property that represents the actual recovery key. To include the key property in the response, use the $select OData query parameter. Including the $select query parameter triggers a Microsoft Entra audit of the operation and generates an audit log. For more information on audit logs for bitlocker recovery keys, see the KeyManagement category filter of Microsoft Entra audit logs.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/bitlockerrecoverykey-get?view=graph-rest-1.0
      operationId: informationProtection.bitlocker_GetRecoveryKey
      parameters:
      - name: bitlockerRecoveryKey-id
        in: path
        description: The unique identifier of bitlockerRecoveryKey
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: bitlockerRecoveryKey
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bitlockerRecoveryKey'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /informationProtection/bitlocker/recoveryKeys/$count:
    get:
      tags:
      - informationProtection.bitlocker
      summary: Get the number of the resource
      operationId: informationProtection.bitlocker.recoveryKey_GetCount
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
components:
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
    microsoft.graph.bitlockerRecoveryKeyCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.bitlockerRecoveryKeyCollectionResponse'
    ODataCountResponse:
      description: The count of the resource
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ODataCountResponse'
  schemas:
    microsoft.graph.bitlockerRecoveryKeyCollectionResponse:
      title: Collection of bitlockerRecoveryKey
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.bitlockerRecoveryKey'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type:
          - string
          - 'null'
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    ODataCountResponse:
      type: integer
      format: int32
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.bitlockerRecoveryKey:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: bitlockerRecoveryKey
        type: object
        properties:
          createdDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            description: The date and time when the key was originally backed up to Microsoft Entra ID. Not nullable.
            format: date-time
          deviceId:
            type:
            - string
            - 'null'
            description: Identifier of the device the BitLocker key is originally backed up from. Supports $filter (eq).
          key:
            type: string
            description: The BitLocker recovery key. Requires $select to retrieve. Not nullable.
          volumeType:
            $ref: '#/components/schemas/microsoft.graph.volumeType'
        additionalProperties:
          type: object
    microsoft.graph.volumeType:
      title: volumeType
      enum:
      - operatingSystemVolume
      - fixedDataVolume
      - removableDataVolume
      - unknownFutureValue
      type: string
    microsoft.graph.bitlocker:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: bitlocker
        type: object
        properties:
          recoveryKeys:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.bitlockerRecoveryKey'
            description: The recovery keys associated with the bitlocker entity.
            x-ms-navigationProperty: true
        additionalProperties:
          type: object
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
  parameters:
    count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
    top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: {}
