openapi: 3.2.0
info:
  title: Users.item Insights API
  version: v1.0
servers:
- url: https://graph.microsoft.com/v1.0/
  description: Core
security:
- azureaadv2: []
tags:
- name: users.itemInsights
paths:
  /users/{user-id}/insights:
    get:
      tags:
      - users.itemInsights
      summary: Get insights from users
      description: Represents relationships between a user and items such as OneDrive for work or school documents, calculated using advanced analytics and machine learning techniques. Read-only. Nullable.
      operationId: user_GetInsight
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.itemInsights'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - users.itemInsights
      summary: Update the navigation property insights in users
      operationId: user_UpdateInsight
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.itemInsights'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.itemInsights'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - users.itemInsights
      summary: Delete navigation property insights for users
      operationId: user_DeleteInsight
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/insights/shared:
    get:
      tags:
      - users.itemInsights
      summary: Get shared from users
      description: Calculated relationship that identifies documents shared with or by the user. This includes URLs, file attachments, and reference attachments to OneDrive for work or school and SharePoint files found in Outlook messages and meetings. This also includes URLs and reference attachments to Teams conversations. Ordered by recency of share.
      operationId: user.insight_ListShared
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.sharedInsightCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2028-01-01'
        date: '2026-01-28'
        version: 2026-01/Removal
        description: This API is deprecated and will stop returning data after January, 2028.
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - users.itemInsights
      summary: Create new navigation property to shared for users
      operationId: user.insight_CreateShared
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sharedInsight'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sharedInsight'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2028-01-01'
        date: '2026-01-28'
        version: 2026-01/Removal
        description: This API is deprecated and will stop returning data after January, 2028.
      x-ms-docs-operation-type: operation
  /users/{user-id}/insights/shared/{sharedInsight-id}:
    get:
      tags:
      - users.itemInsights
      summary: Get shared from users
      description: Calculated relationship that identifies documents shared with or by the user. This includes URLs, file attachments, and reference attachments to OneDrive for work or school and SharePoint files found in Outlook messages and meetings. This also includes URLs and reference attachments to Teams conversations. Ordered by recency of share.
      operationId: user.insight_GetShared
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: sharedInsight-id
        in: path
        description: The unique identifier of sharedInsight
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: sharedInsight
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sharedInsight'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2028-01-01'
        date: '2026-01-28'
        version: 2026-01/Removal
        description: This API is deprecated and will stop returning data after January, 2028.
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - users.itemInsights
      summary: Update the navigation property shared in users
      operationId: user.insight_UpdateShared
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: sharedInsight-id
        in: path
        description: The unique identifier of sharedInsight
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: sharedInsight
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sharedInsight'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sharedInsight'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2028-01-01'
        date: '2026-01-28'
        version: 2026-01/Removal
        description: This API is deprecated and will stop returning data after January, 2028.
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - users.itemInsights
      summary: Delete navigation property shared for users
      operationId: user.insight_DeleteShared
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: sharedInsight-id
        in: path
        description: The unique identifier of sharedInsight
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: sharedInsight
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2028-01-01'
        date: '2026-01-28'
        version: 2026-01/Removal
        description: This API is deprecated and will stop returning data after January, 2028.
      x-ms-docs-operation-type: operation
  /users/{user-id}/insights/shared/{sharedInsight-id}/lastSharedMethod:
    get:
      tags:
      - users.itemInsights
      summary: Get lastSharedMethod from users
      operationId: user.insight.shared_GetLastSharedMethod
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: sharedInsight-id
        in: path
        description: The unique identifier of sharedInsight
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: sharedInsight
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.entity'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2028-01-01'
        date: '2026-01-28'
        version: 2026-01/Removal
        description: This API is deprecated and will stop returning data after January, 2028.
      x-ms-docs-operation-type: operation
  /users/{user-id}/insights/shared/{sharedInsight-id}/resource:
    get:
      tags:
      - users.itemInsights
      summary: Get resource from users
      description: Used for navigating to the item that was shared. For file attachments, the type is fileAttachment. For linked attachments, the type is driveItem.
      operationId: user.insight.shared_GetResource
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: sharedInsight-id
        in: path
        description: The unique identifier of sharedInsight
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: sharedInsight
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.entity'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2028-01-01'
        date: '2026-01-28'
        version: 2026-01/Removal
        description: This API is deprecated and will stop returning data after January, 2028.
      x-ms-docs-operation-type: operation
  /users/{user-id}/insights/shared/$count:
    get:
      tags:
      - users.itemInsights
      summary: Get the number of the resource
      operationId: user.insight.shared_GetCount
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2028-01-01'
        date: '2026-01-28'
        version: 2026-01/Removal
        description: This API is deprecated and will stop returning data after January, 2028.
  /users/{user-id}/insights/trending:
    get:
      tags:
      - users.itemInsights
      summary: Get trending from users
      description: Calculated relationship that identifies documents trending around a user. Trending documents are calculated based on activity of the user's closest network of people and include files stored in OneDrive for work or school and SharePoint. Trending insights help the user to discover potentially useful content that the user has access to, but has never viewed before.
      operationId: user.insight_ListTrending
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.trendingCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - users.itemInsights
      summary: Create new navigation property to trending for users
      operationId: user.insight_CreateTrending
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.trending'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.trending'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/insights/trending/{trending-id}:
    get:
      tags:
      - users.itemInsights
      summary: Get trending from users
      description: Calculated relationship that identifies documents trending around a user. Trending documents are calculated based on activity of the user's closest network of people and include files stored in OneDrive for work or school and SharePoint. Trending insights help the user to discover potentially useful content that the user has access to, but has never viewed before.
      operationId: user.insight_GetTrending
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: trending-id
        in: path
        description: The unique identifier of trending
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: trending
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.trending'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - users.itemInsights
      summary: Update the navigation property trending in users
      operationId: user.insight_UpdateTrending
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: trending-id
        in: path
        description: The unique identifier of trending
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: trending
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.trending'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.trending'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - users.itemInsights
      summary: Delete navigation property trending for users
      operationId: user.insight_DeleteTrending
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: trending-id
        in: path
        description: The unique identifier of trending
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: trending
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/insights/trending/{trending-id}/resource:
    get:
      tags:
      - users.itemInsights
      summary: Get resource from users
      description: Used for navigating to the trending document.
      operationId: user.insight.trending_GetResource
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: trending-id
        in: path
        description: The unique identifier of trending
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: trending
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.entity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/insights/trending/$count:
    get:
      tags:
      - users.itemInsights
      summary: Get the number of the resource
      operationId: user.insight.trending_GetCount
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /users/{user-id}/insights/used:
    get:
      tags:
      - users.itemInsights
      summary: Get used from users
      description: Calculated relationship that identifies the latest documents viewed or modified by a user, including OneDrive for work or school and SharePoint documents, ranked by recency of use.
      operationId: user.insight_ListUsed
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.usedInsightCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2028-01-01'
        date: '2026-01-28'
        version: 2026-01/Removal
        description: This API is deprecated and will stop returning data after January, 2028.
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - users.itemInsights
      summary: Create new navigation property to used for users
      operationId: user.insight_CreateUsed
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.usedInsight'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.usedInsight'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2028-01-01'
        date: '2026-01-28'
        version: 2026-01/Removal
        description: This API is deprecated and will stop returning data after January, 2028.
      x-ms-docs-operation-type: operation
  /users/{user-id}/insights/used/{usedInsight-id}:
    get:
      tags:
      - users.itemInsights
      summary: Get used from users
      description: Calculated relationship that identifies the latest documents viewed or modified by a user, including OneDrive for work or school and SharePoint documents, ranked by recency of use.
      operationId: user.insight_GetUsed
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: usedInsight-id
        in: path
        description: The unique identifier of usedInsight
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: usedInsight
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.usedInsight'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2028-01-01'
        date: '2026-01-28'
        version: 2026-01/Removal
        description: This API is deprecated and will stop returning data after January, 2028.
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - users.itemInsights
      summary: Update the navigation property used in users
      operationId: user.insight_UpdateUsed
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: usedInsight-id
        in: path
        description: The unique identifier of usedInsight
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: usedInsight
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.usedInsight'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.usedInsight'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2028-01-01'
        date: '2026-01-28'
        version: 2026-01/Removal
        description: This API is deprecated and will stop returning data after January, 2028.
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - users.itemInsights
      summary: Delete navigation property used for users
      operationId: user.insight_DeleteUsed
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: usedInsight-id
        in: path
        description: The unique identifier of usedInsight
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: usedInsight
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2028-01-01'
        date: '2026-01-28'
        version: 2026-01/Removal
        description: This API is deprecated and will stop returning data after January, 2028.
      x-ms-docs-operation-type: operation
  /users/{user-id}/insights/used/{usedInsight-id}/resource:
    get:
      tags:
      - users.itemInsights
      summary: Get resource from users
      description: Used for navigating to the item that was used. For file attachments, the type is fileAttachment. For linked attachments, the type is driveItem.
      operationId: user.insight.used_GetResource
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: usedInsight-id
        in: path
        description: The unique identifier of usedInsight
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: usedInsight
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.entity'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2028-01-01'
        date: '2026-01-28'
        version: 2026-01/Removal
        description: This API is deprecated and will stop returning data after January, 2028.
      x-ms-docs-operation-type: operation
  /users/{user-id}/insights/used/$count:
    get:
      tags:
      - users.itemInsights
      summary: Get the number of the resource
      operationId: user.insight.used_GetCount
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2028-01-01'
        date: '2026-01-28'
        version: 2026-01/Removal
        description: This API is deprecated and will stop returning data after January, 2028.
components:
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
    microsoft.graph.trendingCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.trendingCollectionResponse'
    microsoft.graph.sharedInsightCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.sharedInsightCollectionResponse'
    ODataCountResponse:
      description: The count of the resource
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ODataCountResponse'
    microsoft.graph.usedInsightCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.usedInsightCollectionResponse'
  schemas:
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type:
          - string
          - 'null'
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    ODataCountResponse:
      type: integer
      format: int32
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
    microsoft.graph.usageDetails:
      title: usageDetails
      type: object
      properties:
        lastAccessedDateTime:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type:
          - string
          - 'null'
          description: The date and time the resource was last accessed by the user. The timestamp represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z. Read-only.
          format: date-time
        lastModifiedDateTime:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type:
          - string
          - 'null'
          description: The date and time the resource was last modified by the user. The timestamp represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z. Read-only.
          format: date-time
      additionalProperties:
        type: object
    microsoft.graph.usedInsightCollectionResponse:
      title: Collection of usedInsight
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.usedInsight'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.trendingCollectionResponse:
      title: Collection of trending
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.trending'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.trending:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: trending
        type: object
        properties:
          lastModifiedDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z
            format: date-time
          resourceReference:
            $ref: '#/components/schemas/microsoft.graph.resourceReference'
          resourceVisualization:
            $ref: '#/components/schemas/microsoft.graph.resourceVisualization'
          weight:
            type:
            - number
            - 'null'
            description: Value indicating how much the document is currently trending. The larger the number, the more the document is currently trending around the user (the more relevant it is). Returned documents are sorted by this value.
            format: double
          resource:
            $ref: '#/components/schemas/microsoft.graph.entity'
        additionalProperties:
          type: object
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.sharedInsightCollectionResponse:
      title: Collection of sharedInsight
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.sharedInsight'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.officeGraphInsights:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: officeGraphInsights
        type: object
        properties:
          shared:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.sharedInsight'
            description: Calculated relationship that identifies documents shared with or by the user. This includes URLs, file attachments, and reference attachments to OneDrive for work or school and SharePoint files found in Outlook messages and meetings. This also includes URLs and reference attachments to Teams conversations. Ordered by recency of share.
            x-ms-navigationProperty: true
          trending:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.trending'
            description: Calculated relationship that identifies documents trending around a user. Trending documents are calculated based on activity of the user's closest network of people and include files stored in OneDrive for work or school and SharePoint. Trending insights help the user to discover potentially useful content that the user has access to, but has never viewed before.
            x-ms-navigationProperty: true
          used:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.usedInsight'
            description: Calculated relationship that identifies the latest documents viewed or modified by a user, including OneDrive for work or school and SharePoint documents, ranked by recency of use.
            x-ms-navigationProperty: true
        additionalProperties:
          type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.itemInsights:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.officeGraphInsights'
      - title: itemInsights
        type: object
        additionalProperties:
          type: object
    microsoft.graph.resourceVisualization:
      title: resourceVisualization
      type: object
      properties:
        containerDisplayName:
          type:
          - string
          - 'null'
          description: A string describing where the item is stored. For example, the name of a SharePoint site or the user name identifying the owner of the OneDrive storing the item.
        containerType:
          type:
          - string
          - 'null'
          description: Can be used for filtering by the type of container in which the file is stored. Such as Site or OneDriveBusiness.
        containerWebUrl:
          type:
          - string
          - 'null'
          description: A path leading to the folder in which the item is stored.
        mediaType:
          type:
          - string
          - 'null'
          description: The item's media type. Can be used for filtering for a specific type of file based on supported IANA Media Mime Types. Not all Media Mime Types are supported.
        previewImageUrl:
          type:
          - string
          - 'null'
          description: A URL leading to the preview image for the item.
        previewText:
          type:
          - string
          - 'null'
          description: A preview text for the item.
        title:
          type:
          - string
          - 'null'
          description: The item's title text.
        type:
          type:
          - string
          - 'null'
          description: The item's media type. Can be used for filtering for a specific file based on a specific type. See the section Type property values for supported types.
      additionalProperties:
        type: object
    microsoft.graph.insightIdentity:
      title: insightIdentity
      type: object
      properties:
        address:
          type:
          - string
          - 'null'
          description: The email address of the user who shared the item.
        displayName:
          type:
          - string
          - 'null'
          description: The display name of the user who shared the item.
        id:
          type:
          - string
          - 'null'
          description: The ID of the user who shared the item.
      additionalProperties:
        type: object
    microsoft.graph.resourceReference:
      title: resourceReference
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
          description: The item's unique identifier.
        type:
          type:
          - string
          - 'null'
          description: A string value that can be used to classify the item, such as 'microsoft.graph.driveItem'
        webUrl:
          type:
          - string
          - 'null'
          description: A URL leading to the referenced item.
      additionalProperties:
        type: object
    microsoft.graph.usedInsight:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: usedInsight
        type: object
        properties:
          lastUsed:
            $ref: '#/components/schemas/microsoft.graph.usageDetails'
          resourceReference:
            $ref: '#/components/schemas/microsoft.graph.resourceReference'
          resourceVisualization:
            $ref: '#/components/schemas/microsoft.graph.resourceVisualization'
          resource:
            $ref: '#/components/schemas/microsoft.graph.entity'
        additionalProperties:
          type: object
    microsoft.graph.sharedInsight:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: sharedInsight
        type: object
        properties:
          lastShared:
            $ref: '#/components/schemas/microsoft.graph.sharingDetail'
          resourceReference:
            $ref: '#/components/schemas/microsoft.graph.resourceReference'
          resourceVisualization:
            $ref: '#/components/schemas/microsoft.graph.resourceVisualization'
          sharingHistory:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.sharingDetail'
          lastSharedMethod:
            $ref: '#/components/schemas/microsoft.graph.entity'
          resource:
            $ref: '#/components/schemas/microsoft.graph.entity'
        additionalProperties:
          type: object
    microsoft.graph.sharingDetail:
      title: sharingDetail
      type: object
      properties:
        sharedBy:
          $ref: '#/components/schemas/microsoft.graph.insightIdentity'
        sharedDateTime:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type:
          - string
          - 'null'
          description: The date and time the file was last shared. The timestamp represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z. Read-only.
          format: date-time
        sharingReference:
          $ref: '#/components/schemas/microsoft.graph.resourceReference'
        sharingSubject:
          type:
          - string
          - 'null'
          description: The subject with which the document was shared.
        sharingType:
          type:
          - string
          - 'null'
          description: Determines the way the document was shared. Can be by a 1Link1, 1Attachment1, 1Group1, 1Site1.
      additionalProperties:
        type: object
  parameters:
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
    top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: {}
