openapi: 3.2.0
info:
  title: Identity.SignIns Users.authentication API
  version: v1.0
servers:
- url: https://graph.microsoft.com/v1.0/
  description: Core
security:
- azureaadv2: []
tags:
- name: Users authentication
paths:
  /users/{user-id}/authentication:
    get:
      tags:
      - Users authentication
      summary: Get authentication from users
      description: The authentication methods that are supported for the user.
      operationId: user_GetAuthentication
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authentication'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - Users authentication
      summary: Update the navigation property authentication in users
      operationId: user_UpdateAuthentication
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.authentication'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authentication'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Users authentication
      summary: Delete navigation property authentication for users
      operationId: user_DeleteAuthentication
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/authentication/emailMethods:
    get:
      tags:
      - Users authentication
      summary: Get emailMethods from users
      description: The email address registered to a user for authentication.
      operationId: user.authentication_ListEmailMethod
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.emailAuthenticationMethodCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - Users authentication
      summary: Create emailMethod
      description: Set a user's emailAuthenticationMethod object. Email authentication is a self-service password reset method. A user may only have one email authentication method. Self-service operations aren't supported.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/authentication-post-emailmethods?view=graph-rest-1.0
      operationId: user.authentication_CreateEmailMethod
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.emailAuthenticationMethod'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.emailAuthenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/authentication/emailMethods/{emailAuthenticationMethod-id}:
    get:
      tags:
      - Users authentication
      summary: Get emailMethods from users
      description: The email address registered to a user for authentication.
      operationId: user.authentication_GetEmailMethod
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: emailAuthenticationMethod-id
        in: path
        description: The unique identifier of emailAuthenticationMethod
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: emailAuthenticationMethod
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.emailAuthenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - Users authentication
      summary: Update emailAuthenticationMethod
      description: Update a user's email address represented by an emailAuthenticationMethod object. Self-service operations aren't supported.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/emailauthenticationmethod-update?view=graph-rest-1.0
      operationId: user.authentication_UpdateEmailMethod
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: emailAuthenticationMethod-id
        in: path
        description: The unique identifier of emailAuthenticationMethod
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: emailAuthenticationMethod
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.emailAuthenticationMethod'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.emailAuthenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Users authentication
      summary: Delete emailAuthenticationMethod
      description: Deletes a user's emailAuthenticationMethod object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/emailauthenticationmethod-delete?view=graph-rest-1.0
      operationId: user.authentication_DeleteEmailMethod
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: emailAuthenticationMethod-id
        in: path
        description: The unique identifier of emailAuthenticationMethod
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: emailAuthenticationMethod
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/authentication/emailMethods/$count:
    get:
      tags:
      - Users authentication
      summary: Get the number of the resource
      operationId: user.authentication.emailMethod_GetCount
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /users/{user-id}/authentication/externalAuthenticationMethods:
    get:
      tags:
      - Users authentication
      summary: Get externalAuthenticationMethods from users
      description: Represents the external MFA registered to a user for authentication using an external identity provider.
      operationId: user.authentication_ListExternalAuthenticationMethod
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.externalAuthenticationMethodCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - Users authentication
      summary: Create externalAuthenticationMethod
      description: Create a new externalAuthenticationMethod object. This API doesn't support self-service operations.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/authentication-post-externalauthenticationmethods?view=graph-rest-1.0
      operationId: user.authentication_CreateExternalAuthenticationMethod
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalAuthenticationMethod'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalAuthenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/authentication/externalAuthenticationMethods/{externalAuthenticationMethod-id}:
    get:
      tags:
      - Users authentication
      summary: Get externalAuthenticationMethods from users
      description: Represents the external MFA registered to a user for authentication using an external identity provider.
      operationId: user.authentication_GetExternalAuthenticationMethod
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: externalAuthenticationMethod-id
        in: path
        description: The unique identifier of externalAuthenticationMethod
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: externalAuthenticationMethod
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalAuthenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - Users authentication
      summary: Update the navigation property externalAuthenticationMethods in users
      operationId: user.authentication_UpdateExternalAuthenticationMethod
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: externalAuthenticationMethod-id
        in: path
        description: The unique identifier of externalAuthenticationMethod
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: externalAuthenticationMethod
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalAuthenticationMethod'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalAuthenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Users authentication
      summary: Delete externalAuthenticationMethod
      description: Delete an externalAuthenticationMethod object. This API doesn't support self-service operations.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/authentication-delete-externalauthenticationmethods?view=graph-rest-1.0
      operationId: user.authentication_DeleteExternalAuthenticationMethod
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: externalAuthenticationMethod-id
        in: path
        description: The unique identifier of externalAuthenticationMethod
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: externalAuthenticationMethod
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/authentication/externalAuthenticationMethods/$count:
    get:
      tags:
      - Users authentication
      summary: Get the number of the resource
      operationId: user.authentication.externalAuthenticationMethod_GetCount
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /users/{user-id}/authentication/fido2Methods:
    get:
      tags:
      - Users authentication
      summary: Get fido2Methods from users
      description: Represents the FIDO2 security keys registered to a user for authentication.
      operationId: user.authentication_ListFido2Method
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.fido2AuthenticationMethodCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /users/{user-id}/authentication/fido2Methods/{fido2AuthenticationMethod-id}:
    get:
      tags:
      - Users authentication
      summary: Get fido2Methods from users
      description: Represents the FIDO2 security keys registered to a user for authentication.
      operationId: user.authentication_GetFido2Method
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: fido2AuthenticationMethod-id
        in: path
        description: The unique identifier of fido2AuthenticationMethod
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: fido2AuthenticationMethod
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.fido2AuthenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Users authentication
      summary: Delete fido2AuthenticationMethod
      description: Deletes a user's FIDO2 security key authentication method object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/fido2authenticationmethod-delete?view=graph-rest-1.0
      operationId: user.authentication_DeleteFido2Method
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: fido2AuthenticationMethod-id
        in: path
        description: The unique identifier of fido2AuthenticationMethod
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: fido2AuthenticationMethod
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/authentication/fido2Methods/$count:
    get:
      tags:
      - Users authentication
      summary: Get the number of the resource
      operationId: user.authentication.fido2Method_GetCount
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /users/{user-id}/authentication/fido2Methods/microsoft.graph.creationOptions():
    get:
      tags:
      - Users authentication
      summary: Invoke function creationOptions
      description: Retrieve creation options required to generate and register a Microsoft Entra ID-compatible passkey. This function returns WebAuthn credential creation options that include a challenge, relying party information, and user information, which are used by the client to create a new FIDO2 credential. The challenge property and credential IDs in excludeCredentials are Base64URL-encoded without padding. All binary data in the response follows Base64URL encoding as defined in RFC 4648 Section 5.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/fido2authenticationmethod-creationoptions?view=graph-rest-1.0
      operationId: user.authentication.fido2Method_creationOption
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.webauthnCredentialCreationOptions'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /users/{user-id}/authentication/methods:
    get:
      tags:
      - Users authentication
      summary: Get methods from users
      description: Represents all authentication methods registered to a user.
      operationId: user.authentication_ListMethod
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.authenticationMethodCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - Users authentication
      summary: Create new navigation property to methods for users
      operationId: user.authentication_CreateMethod
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.authenticationMethod'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/authentication/methods/{authenticationMethod-id}:
    get:
      tags:
      - Users authentication
      summary: Get methods from users
      description: Represents all authentication methods registered to a user.
      operationId: user.authentication_GetMethod
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: authenticationMethod-id
        in: path
        description: The unique identifier of authenticationMethod
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: authenticationMethod
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - Users authentication
      summary: Update the navigation property methods in users
      operationId: user.authentication_UpdateMethod
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: authenticationMethod-id
        in: path
        description: The unique identifier of authenticationMethod
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: authenticationMethod
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.authenticationMethod'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.authenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/authentication/methods/{authenticationMethod-id}/microsoft.graph.resetPassword:
    post:
      tags:
      - Users authentication
      summary: Invoke action resetPassword
      description: Reset a user's password, represented by a password authentication method object. This can only be done by an administrator with appropriate permissions and can't be performed on a user's own account. To reset a user's password in Azure AD B2C, use the Update user API operation and update the passwordProfile > forceChangePasswordNextSignIn object. This flow writes the new password to Microsoft Entra ID and pushes it to on-premises Active Directory if configured using password writeback. The admin can either provide a new password or have the system generate one. The user is prompted to change their password on their next sign in. This reset is a long-running operation and returns a Location header with a link where the caller can periodically check for the status of the reset operation.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/authenticationmethod-resetpassword?view=graph-rest-1.0
      operationId: user.authentication.method_resetPassword
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: authenticationMethod-id
        in: path
        description: The unique identifier of authenticationMethod
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: authenticationMethod
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                newPassword:
                  type:
                  - string
                  - 'null'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.passwordResetResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /users/{user-id}/authentication/methods/$count:
    get:
      tags:
      - Users authentication
      summary: Get the number of the resource
      operationId: user.authentication.method_GetCount
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /users/{user-id}/authentication/microsoftAuthenticatorMethods:
    get:
      tags:
      - Users authentication
      summary: List microsoftAuthenticatorAuthenticationMethods
      description: Get a list of the microsoftAuthenticatorAuthenticationMethod objects and their properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/microsoftauthenticatorauthenticationmethod-list?view=graph-rest-1.0
      operationId: user.authentication_ListMicrosoftAuthenticatorMethod
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.microsoftAuthenticatorAuthenticationMethodCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /users/{user-id}/authentication/microsoftAuthenticatorMethods/{microsoftAuthenticatorAuthenticationMethod-id}:
    get:
      tags:
      - Users authentication
      summary: Get microsoftAuthenticatorAuthenticationMethod
      description: Read the properties and relationships of a microsoftAuthenticatorAuthenticationMethod object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/microsoftauthenticatorauthenticationmethod-get?view=graph-rest-1.0
      operationId: user.authentication_GetMicrosoftAuthenticatorMethod
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: microsoftAuthenticatorAuthenticationMethod-id
        in: path
        description: The unique identifier of microsoftAuthenticatorAuthenticationMethod
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: microsoftAuthenticatorAuthenticationMethod
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.microsoftAuthenticatorAuthenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Users authentication
      summary: Delete microsoftAuthenticatorAuthenticationMethod
      description: Delete a microsoftAuthenticatorAuthenticationMethod object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/microsoftauthenticatorauthenticationmethod-delete?view=graph-rest-1.0
      operationId: user.authentication_DeleteMicrosoftAuthenticatorMethod
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: microsoftAuthenticatorAuthenticationMethod-id
        in: path
        description: The unique identifier of microsoftAuthenticatorAuthenticationMethod
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: microsoftAuthenticatorAuthenticationMethod
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/authentication/microsoftAuthenticatorMethods/{microsoftAuthenticatorAuthenticationMethod-id}/device:
    get:
      tags:
      - Users authentication
      summary: Get device from users
      description: The registered device on which Microsoft Authenticator resides. This property is null if the device isn't registered for passwordless Phone Sign-In.
      operationId: user.authentication.microsoftAuthenticatorMethod_GetDevice
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: microsoftAuthenticatorAuthenticationMethod-id
        in: path
        description: The unique identifier of microsoftAuthenticatorAuthenticationMethod
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: microsoftAuthenticatorAuthenticationMethod
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.device'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/authentication/microsoftAuthenticatorMethods/$count:
    get:
      tags:
      - Users authentication
      summary: Get the number of the resource
      operationId: user.authentication.microsoftAuthenticatorMethod_GetCount
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /users/{user-id}/authentication/operations:
    get:
      tags:
      - Users authentication
      summary: Get longRunningOperation
      description: Read the properties and relationships of a longRunningOperation object. This API allows you to retrieve the details and status of the following long-running Microsoft Graph API operations. The possible states of the long-running operation are notStarted, running, succeeded, failed, unknownFutureValue where succeeded and failed are terminal states.
      operationId: user.authentication_ListOperation
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.longRunningOperationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - Users authentication
      summary: Create new navigation property to operations for users
      operationId: user.authentication_CreateOperation
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.longRunningOperation'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.longRunningOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/authentication/operations/{longRunningOperation-id}:
    get:
      tags:
      - Users authentication
      summary: Get longRunningOperation
      description: Read the properties and relationships of a longRunningOperation object. This API allows you to retrieve the details and status of the following long-running Microsoft Graph API operations. The possible states of the long-running operation are notStarted, running, succeeded, failed, unknownFutureValue where succeeded and failed are terminal states.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/longrunningoperation-get?view=graph-rest-1.0
      operationId: user.authentication_GetOperation
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: longRunningOperation-id
        in: path
        description: The unique identifier of longRunningOperation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: longRunningOperation
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.longRunningOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - Users authentication
      summary: Update the navigation property operations in users
      operationId: user.authentication_UpdateOperation
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: longRunningOperation-id
        in: path
        description: The unique identifier of longRunningOperation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: longRunningOperation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.longRunningOperation'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.longRunningOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Users authentication
      summary: Delete navigation property operations for users
      operationId: user.authentication_DeleteOperation
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: longRunningOperation-id
        in: path
        description: The unique identifier of longRunningOperation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: longRunningOperation
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/authentication/operations/$count:
    get:
      tags:
      - Users authentication
      summary: Get the number of the resource
      operationId: user.authentication.operation_GetCount
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /users/{user-id}/authentication/passwordMethods:
    get:
      tags:
      - Users authentication
      summary: Get passwordMethods from users
      description: Represents the password registered to a user for authentication. For security, the password itself is never returned in the object, but action can be taken to reset a password.
      operationId: user.authentication_ListPasswordMethod
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.passwordAuthenticationMethodCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - Users authentication
      summary: Create new navigation property to passwordMethods for users
      operationId: user.authentication_CreatePasswordMethod
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.passwordAuthenticationMethod'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.passwordAuthenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/authentication/passwordMethods/{passwordAuthenticationMethod-id}:
    get:
      tags:
      - Users authentication
      summary: Get passwordMethods from users
      description: Represents the password registered to a user for authentication. For security, the password itself is never returned in the object, but action can be taken to reset a password.
      operationId: user.authentication_GetPasswordMethod
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: passwordAuthenticationMethod-id
        in: path
        description: The unique identifier of passwordAuthenticationMethod
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: passwordAuthenticationMethod
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.passwordAuthenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/authentication/passwordMethods/$count:
    get:
      tags:
      - Users authentication
      summary: Get the number of the resource
      operationId: user.authentication.passwordMethod_GetCount
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /users/{user-id}/authentication/phoneMethods:
    get:
      tags:
      - Users authentication
      summary: Get phoneMethods from users
      description: The phone numbers registered to a user for authentication.
      operationId: user.authentication_ListPhoneMethod
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.phoneAuthenticationMethodCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - Users authentication
      summary: Create phoneMethod
      description: Add a new phone authentication method for a user. A user may only have one phone of each type, captured in the phoneType property. This means, for example, adding a mobile phone to a user with a pre-existing mobile phone fails. Additionally, a user must always have a mobile phone before adding an alternateMobile phone. Adding a phone number makes it available for use in both Azure multi-factor authentication (MFA) and self-service password reset (SSPR), if enabled. Additionally, if a user is enabled by policy to use SMS sign-in and a mobile number is added, the system attempts to register the number for use in that system.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/authentication-post-phonemethods?view=graph-rest-1.0
      operationId: user.authentication_CreatePhoneMethod
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.phoneAuthenticationMethod'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.phoneAuthenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/authentication/phoneMethods/{phoneAuthenticationMethod-id}:
    get:
      tags:
      - Users authentication
      summary: Get phoneMethods from users
      description: The phone numbers registered to a user for authentication.
      operationId: user.authentication_GetPhoneMethod
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: phoneAuthenticationMethod-id
        in: path
        description: The unique identifier of phoneAuthenticationMethod
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: phoneAuthenticationMethod
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.phoneAuthenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - Users authentication
      summary: Update phoneAuthenticationMethod
      description: Update a user's phone number associated with a phone authentication method object. You can't change a phone's type. To change a phone's type, add a new number of the desired type and then delete the object with the original type. If a user is enabled by policy to use SMS to sign in and the mobile number is changed, the system will attempt to register the number for use in that system. Self-service operations aren't supported.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/phoneauthenticationmethod-update?view=graph-rest-1.0
      operationId: user.authentication_UpdatePhoneMethod
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: phoneAuthenticationMethod-id
        in: path
        description: The unique identifier of phoneAuthenticationMethod
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: phoneAuthenticationMethod
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.phoneAuthenticationMethod'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.phoneAuthenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Users authentication
      summary: Delete navigation property phoneMethods for users
      operationId: user.authentication_DeletePhoneMethod
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: phoneAuthenticationMethod-id
        in: path
        description: The unique identifier of phoneAuthenticationMethod
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: phoneAuthenticationMethod
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/authentication/phoneMethods/{phoneAuthenticationMethod-id}/microsoft.graph.disableSmsSignIn:
    post:
      tags:
      - Users authentication
      summary: Invoke action disableSmsSignIn
      description: Disable SMS sign-in for an existing mobile phone number registered to a user. The number will no longer be available for SMS sign-in, which can prevent your user from signing in.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/phoneauthenticationmethod-disablesmssignin?view=graph-rest-1.0
      operationId: user.authentication.phoneMethod_disableSmsSignIn
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: phoneAuthenticationMethod-id
        in: path
        description: The unique identifier of phoneAuthenticationMethod
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: phoneAuthenticationMethod
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /users/{user-id}/authentication/phoneMethods/{phoneAuthenticationMethod-id}/microsoft.graph.enableSmsSignIn:
    post:
      tags:
      - Users authentication
      summary: Invoke action enableSmsSignIn
      description: 'Enable SMS sign-in for an existing mobile phone number registered to a user. To be successfully enabled:'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/phoneauthenticationmethod-enablesmssignin?view=graph-rest-1.0
      operationId: user.authentication.phoneMethod_enableSmsSignIn
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: phoneAuthenticationMethod-id
        in: path
        description: The unique identifier of phoneAuthenticationMethod
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: phoneAuthenticationMethod
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /users/{user-id}/authentication/phoneMethods/$count:
    get:
      tags:
      - Users authentication
      summary: Get the number of the resource
      operationId: user.authentication.phoneMethod_GetCount
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /users/{user-id}/authentication/platformCredentialMethods:
    get:
      tags:
      - Users authentication
      summary: Get platformCredentialMethods from users
      description: Represents a platform credential instance registered to a user on Mac OS.
      operationId: user.authentication_ListPlatformCredentialMethod
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.platformCredentialAuthenticationMethodCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /users/{user-id}/authentication/platformCredentialMethods/{platformCredentialAuthenticationMethod-id}:
    get:
      tags:
      - Users authentication
      summary: Get platformCredentialMethods from users
      description: Represents a platform credential instance registered to a user on Mac OS.
      operationId: user.authentication_GetPlatformCredentialMethod
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: platformCredentialAuthenticationMethod-id
        in: path
        description: The unique identifier of platformCredentialAuthenticationMethod
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: platformCredentialAuthenticationMethod
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.platformCredentialAuthenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Users authentication
      summary: Delete platformCredentialAuthenticationMethod
      description: Delete a platformCredentialAuthenticationMethod object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/platformcredentialauthenticationmethod-delete?view=graph-rest-1.0
      operationId: user.authentication_DeletePlatformCredentialMethod
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: platformCredentialAuthenticationMethod-id
        in: path
        description: The unique identifier of platformCredentialAuthenticationMethod
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: platformCredentialAuthenticationMethod
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/authentication/platformCredentialMethods/{platformCredentialAuthenticationMethod-id}/device:
    get:
      tags:
      - Users authentication
      summary: Get device from users
      description: The registered device on which this Platform Credential resides. Supports $expand. When you get a user's Platform Credential registration information, this property is returned only on a single GET and when you specify ?$expand. For example, GET /users/admin@contoso.com/authentication/platformCredentialAuthenticationMethod/_jpuR-TGZtk6aQCLF3BQjA2?$expand=device.
      operationId: user.authentication.platformCredentialMethod_GetDevice
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: platformCredentialAuthenticationMethod-id
        in: path
        description: The unique identifier of platformCredentialAuthenticationMethod
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: platformCredentialAuthenticationMethod
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.device'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/authentication/platformCredentialMethods/$count:
    get:
      tags:
      - Users authentication
      summary: Get the number of the resource
      operationId: user.authentication.platformCredentialMethod_GetCount
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /users/{user-id}/authentication/softwareOathMethods:
    get:
      tags:
      - Users authentication
      summary: Get softwareOathMethods from users
      description: The software OATH time-based one-time password (TOTP) applications registered to a user for authentication.
      operationId: user.authentication_ListSoftwareOathMethod
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.softwareOathAuthenticationMethodCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /users/{user-id}/authentication/softwareOathMethods/{softwareOathAuthenticationMethod-id}:
    get:
      tags:
      - Users authentication
      summary: Get softwareOathMethods from users
      description: The software OATH time-based one-time password (TOTP) applications registered to a user for authentication.
      operationId: user.authentication_GetSoftwareOathMethod
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: softwareOathAuthenticationMethod-id
        in: path
        description: The unique identifier of softwareOathAuthenticationMethod
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: softwareOathAuthenticationMethod
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.softwareOathAuthenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Users authentication
      summary: Delete softwareOathAuthenticationMethod
      description: Delete a user's Software OATH token authentication method object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/softwareoathauthenticationmethod-delete?view=graph-rest-1.0
      operationId: user.authentication_DeleteSoftwareOathMethod
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: softwareOathAuthenticationMethod-id
        in: path
        description: The unique identifier of softwareOathAuthenticationMethod
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: softwareOathAuthenticationMethod
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/authentication/softwareOathMethods/$count:
    get:
      tags:
      - Users authentication
      summary: Get the number of the resource
      operationId: user.authentication.softwareOathMethod_GetCount
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /users/{user-id}/authentication/temporaryAccessPassMethods:
    get:
      tags:
      - Users authentication
      summary: List temporaryAccessPassMethods
      description: Retrieve a list of a user's temporaryAccessPassAuthenticationMethod objects and their properties. This API will only return a single object in the collection as a user can have only one Temporary Access Pass method.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/authentication-list-temporaryaccesspassmethods?view=graph-rest-1.0
      operationId: user.authentication_ListTemporaryAccessPassMethod
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.temporaryAccessPassAuthenticationMethodCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - Users authentication
      summary: Create temporaryAccessPassMethod
      description: Create a new temporaryAccessPassAuthenticationMethod object on a user. A user can only have one Temporary Access Pass that's usable within its specified lifetime. If the user requires a new Temporary Access Pass while the current Temporary Access Pass is valid, the admin can create a new Temporary Access Pass for the user, the previous Temporary Access Pass will be deleted, and a new Temporary Access Pass will be created.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/authentication-post-temporaryaccesspassmethods?view=graph-rest-1.0
      operationId: user.authentication_CreateTemporaryAccessPassMethod
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.temporaryAccessPassAuthenticationMethod'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.temporaryAccessPassAuthenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/authentication/temporaryAccessPassMethods/{temporaryAccessPassAuthenticationMethod-id}:
    get:
      tags:
      - Users authentication
      summary: Get temporaryAccessPassAuthenticationMethod
      description: Retrieve a user's single temporaryAccessPassAuthenticationMethod object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/temporaryaccesspassauthenticationmethod-get?view=graph-rest-1.0
      operationId: user.authentication_GetTemporaryAccessPassMethod
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: temporaryAccessPassAuthenticationMethod-id
        in: path
        description: The unique identifier of temporaryAccessPassAuthenticationMethod
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: temporaryAccessPassAuthenticationMethod
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.temporaryAccessPassAuthenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Users authentication
      summary: Delete temporaryAccessPassAuthenticationMethod
      description: Delete a users's temporaryAccessPassAuthenticationMethod object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/temporaryaccesspassauthenticationmethod-delete?view=graph-rest-1.0
      operationId: user.authentication_DeleteTemporaryAccessPassMethod
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: temporaryAccessPassAuthenticationMethod-id
        in: path
        description: The unique identifier of temporaryAccessPassAuthenticationMethod
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: temporaryAccessPassAuthenticationMethod
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/authentication/temporaryAccessPassMethods/$count:
    get:
      tags:
      - Users authentication
      summary: Get the number of the resource
      operationId: user.authentication.temporaryAccessPassMethod_GetCount
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /users/{user-id}/authentication/windowsHelloForBusinessMethods:
    get:
      tags:
      - Users authentication
      summary: List windowsHelloForBusinessAuthenticationMethods
      description: Get a list of the windowsHelloForBusinessAuthenticationMethod objects and their properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/windowshelloforbusinessauthenticationmethod-list?view=graph-rest-1.0
      operationId: user.authentication_ListWindowsHelloGraphFPreBusinessMethod
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.windowsHelloForBusinessAuthenticationMethodCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /users/{user-id}/authentication/windowsHelloForBusinessMethods/{windowsHelloForBusinessAuthenticationMethod-id}:
    get:
      tags:
      - Users authentication
      summary: Get windowsHelloForBusinessAuthenticationMethod
      description: Read the properties and relationships of a windowsHelloForBusinessAuthenticationMethod object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/windowshelloforbusinessauthenticationmethod-get?view=graph-rest-1.0
      operationId: user.authentication_GetWindowsHelloGraphFPreBusinessMethod
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: windowsHelloForBusinessAuthenticationMethod-id
        in: path
        description: The unique identifier of windowsHelloForBusinessAuthenticationMethod
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: windowsHelloForBusinessAuthenticationMethod
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.windowsHelloForBusinessAuthenticationMethod'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Users authentication
      summary: Delete windowsHelloForBusinessAuthenticationMethod
      description: Deletes a windowsHelloForBusinessAuthenticationMethod object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/windowshelloforbusinessauthenticationmethod-delete?view=graph-rest-1.0
      operationId: user.authentication_DeleteWindowsHelloGraphFPreBusinessMethod
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: windowsHelloForBusinessAuthenticationMethod-id
        in: path
        description: The unique identifier of windowsHelloForBusinessAuthenticationMethod
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: windowsHelloForBusinessAuthenticationMethod
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/authentication/windowsHelloForBusinessMethods/{windowsHelloForBusinessAuthenticationMethod-id}/device:
    get:
      tags:
      - Users authentication
      summary: Get device from users
      description: The registered device on which this Windows Hello for Business key resides. Supports $expand. When you get a user's Windows Hello for Business registration information, this property is returned only on a single GET and when you specify ?$expand. For example, GET /users/admin@contoso.com/authentication/windowsHelloForBusinessMethods/_jpuR-TGZtk6aQCLF3BQjA2?$expand=device.
      operationId: user.authentication.windowsHelloGraphFPreBusinessMethod_GetDevice
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: windowsHelloForBusinessAuthenticationMethod-id
        in: path
        description: The unique identifier of windowsHelloForBusinessAuthenticationMethod
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: windowsHelloForBusinessAuthenticationMethod
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.device'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/authentication/windowsHelloForBusinessMethods/$count:
    get:
      tags:
      - Users authentication
      summary: Get the number of the resource
      operationId: user.authentication.windowsHelloGraphFPreBusinessMethod_GetCount
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
components:
  schemas:
    microsoft.graph.platformCredentialAuthenticationMethodCollectionResponse:
      title: Collection of platformCredentialAuthenticationMethod
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.platformCredentialAuthenticationMethod'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.phoneAuthenticationMethod:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.authenticationMethod'
      - title: phoneAuthenticationMethod
        type: object
        properties:
          phoneNumber:
            type:
            - string
            - 'null'
            description: The phone number to text or call for authentication. Phone numbers use the format +{country code} {number}x{extension}, with extension optional. For example, +1 5555551234 or +1 5555551234x123 are valid. Numbers are rejected when creating or updating if they don't match the required format.
          phoneType:
            $ref: '#/components/schemas/microsoft.graph.authenticationPhoneType'
          smsSignInState:
            $ref: '#/components/schemas/microsoft.graph.authenticationMethodSignInState'
        additionalProperties:
          type: object
    microsoft.graph.extension:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: extension
        type: object
        additionalProperties:
          type: object
    microsoft.graph.fido2AuthenticationMethod:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.authenticationMethod'
      - title: fido2AuthenticationMethod
        type: object
        properties:
          aaGuid:
            type:
            - string
            - 'null'
            description: Authenticator Attestation GUID, an identifier that indicates the type (such as make and model) of the authenticator.
          attestationCertificates:
            type: array
            items:
              type:
              - string
              - 'null'
            description: The attestation certificate or certificates attached to this passkey.
          attestationLevel:
            $ref: '#/components/schemas/microsoft.graph.attestationLevel'
          displayName:
            type:
            - string
            - 'null'
            description: The display name of the key as given by the user.
          model:
            type:
            - string
            - 'null'
            description: The manufacturer-assigned model of the FIDO2 passkey.
          passkeyType:
            $ref: '#/components/schemas/microsoft.graph.passkeyType'
          publicKeyCredential:
            $ref: '#/components/schemas/microsoft.graph.webauthnPublicKeyCredential'
        additionalProperties:
          type: object
    microsoft.graph.alternativeSecurityId:
      title: alternativeSecurityId
      type: object
      properties:
        identityProvider:
          type:
          - string
          - 'null'
          description: For internal use only.
        key:
          type:
          - string
          - 'null'
          description: For internal use only.
          format: base64url
        type:
          maximum: 2147483647
          minimum: -2147483648
          type:
          - number
          - 'null'
          description: For internal use only.
          format: int32
      additionalProperties:
        type: object
    microsoft.graph.microsoftAuthenticatorAuthenticationMethod:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.authenticationMethod'
[...]
