openapi: 3.2.0
info:
  title: Identity.Governance Identity Governance.lifecycle Workflows…
  version: v1.0
servers:
- url: https://graph.microsoft.com/v1.0/
  description: Core
security:
- azureaadv2: []
tags:
- name: identityGovernance.lifecycleWorkflowsContainer
paths:
  /identityGovernance/lifecycleWorkflows:
    get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get lifecycleWorkflows from identityGovernance
      operationId: identityGovernance_GetLifecycleWorkflow
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityGovernance.lifecycleWorkflowsContainer'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Update the navigation property lifecycleWorkflows in identityGovernance
      operationId: identityGovernance_UpdateLifecycleWorkflow
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityGovernance.lifecycleWorkflowsContainer'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityGovernance.lifecycleWorkflowsContainer'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Delete navigation property lifecycleWorkflows for identityGovernance
      operationId: identityGovernance_DeleteLifecycleWorkflow
      parameters:
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identityGovernance/lifecycleWorkflows/customTaskExtensions:
    get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: List customTaskExtensions
      description: Get a list of the customTaskExtension objects and their properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identitygovernance-lifecycleworkflowscontainer-list-customtaskextensions?view=graph-rest-1.0
      operationId: identityGovernance.lifecycleWorkflow_ListCustomTaskExtension
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.identityGovernance.customTaskExtensionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Create customTaskExtensions
      description: Create a new customTaskExtension object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identitygovernance-lifecycleworkflowscontainer-post-customtaskextensions?view=graph-rest-1.0
      operationId: identityGovernance.lifecycleWorkflow_CreateCustomTaskExtension
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityGovernance.customTaskExtension'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityGovernance.customTaskExtension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identityGovernance/lifecycleWorkflows/customTaskExtensions/{customTaskExtension-id}:
    get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get customTaskExtension
      description: Read the properties and relationships of a customTaskExtension object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identitygovernance-customtaskextension-get?view=graph-rest-1.0
      operationId: identityGovernance.lifecycleWorkflow_GetCustomTaskExtension
      parameters:
      - name: customTaskExtension-id
        in: path
        description: The unique identifier of customTaskExtension
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: customTaskExtension
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityGovernance.customTaskExtension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Update customTaskExtension
      description: Update the properties of a customTaskExtension object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identitygovernance-customtaskextension-update?view=graph-rest-1.0
      operationId: identityGovernance.lifecycleWorkflow_UpdateCustomTaskExtension
      parameters:
      - name: customTaskExtension-id
        in: path
        description: The unique identifier of customTaskExtension
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: customTaskExtension
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityGovernance.customTaskExtension'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityGovernance.customTaskExtension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Delete customTaskExtension
      description: Delete a customTaskExtension object. A custom task extension can only be deleted if it is not referenced in any task objects in a lifecycle workflow.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identitygovernance-customtaskextension-delete?view=graph-rest-1.0
      operationId: identityGovernance.lifecycleWorkflow_DeleteCustomTaskExtension
      parameters:
      - name: customTaskExtension-id
        in: path
        description: The unique identifier of customTaskExtension
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: customTaskExtension
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identityGovernance/lifecycleWorkflows/customTaskExtensions/{customTaskExtension-id}/createdBy:
    get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get createdBy from identityGovernance
      description: The unique identifier of the Microsoft Entra user that created the custom task extension.Supports $filter(eq, ne) and $expand.
      operationId: identityGovernance.lifecycleWorkflow.customTaskExtension_GetCreatedGraphBPre
      parameters:
      - name: customTaskExtension-id
        in: path
        description: The unique identifier of customTaskExtension
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: customTaskExtension
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.user'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identityGovernance/lifecycleWorkflows/customTaskExtensions/{customTaskExtension-id}/createdBy/mailboxSettings:
    get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get mailboxSettings property value
      description: Settings for the primary mailbox of the signed-in user. You can get or update settings for sending automatic replies to incoming messages, locale, and time zone. Requires $select to retrieve.
      operationId: identityGovernance.lifecycleWorkflow.customTaskExtension.createdBy_GetMailboxSetting
      parameters:
      - name: customTaskExtension-id
        in: path
        description: The unique identifier of customTaskExtension
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: customTaskExtension
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Entity result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxSettings'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Update property mailboxSettings value
      operationId: identityGovernance.lifecycleWorkflow.customTaskExtension.createdBy_UpdateMailboxSetting
      parameters:
      - name: customTaskExtension-id
        in: path
        description: The unique identifier of customTaskExtension
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: customTaskExtension
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mailboxSettings'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxSettings'
        default:
          $ref: '#/components/responses/error'
  /identityGovernance/lifecycleWorkflows/customTaskExtensions/{customTaskExtension-id}/createdBy/serviceProvisioningErrors:
    get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get serviceProvisioningErrors property value
      description: Errors published by a federated service describing a nontransient, service-specific error regarding the properties or link from a user object. Supports $filter (eq, not, for isResolved and serviceInstance).
      operationId: identityGovernance.lifecycleWorkflow.customTaskExtension.createdBy_ListServiceProvisioningError
      parameters:
      - name: customTaskExtension-id
        in: path
        description: The unique identifier of customTaskExtension
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: customTaskExtension
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.serviceProvisioningErrorCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  ? /identityGovernance/lifecycleWorkflows/customTaskExtensions/{customTaskExtension-id}/createdBy/serviceProvisioningErrors/$count
  : get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get the number of the resource
      operationId: identityGovernance.lifecycleWorkflow.customTaskExtension.createdBy.ServiceProvisioningError_GetCount
      parameters:
      - name: customTaskExtension-id
        in: path
        description: The unique identifier of customTaskExtension
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: customTaskExtension
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /identityGovernance/lifecycleWorkflows/customTaskExtensions/{customTaskExtension-id}/lastModifiedBy:
    get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get lastModifiedBy from identityGovernance
      description: The unique identifier of the Microsoft Entra user that modified the custom task extension last.Supports $filter(eq, ne) and $expand.
      operationId: identityGovernance.lifecycleWorkflow.customTaskExtension_GetLastModifiedGraphBPre
      parameters:
      - name: customTaskExtension-id
        in: path
        description: The unique identifier of customTaskExtension
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: customTaskExtension
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.user'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identityGovernance/lifecycleWorkflows/customTaskExtensions/{customTaskExtension-id}/lastModifiedBy/mailboxSettings:
    get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get mailboxSettings property value
      description: Settings for the primary mailbox of the signed-in user. You can get or update settings for sending automatic replies to incoming messages, locale, and time zone. Requires $select to retrieve.
      operationId: identityGovernance.lifecycleWorkflow.customTaskExtension.lastModifiedBy_GetMailboxSetting
      parameters:
      - name: customTaskExtension-id
        in: path
        description: The unique identifier of customTaskExtension
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: customTaskExtension
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Entity result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxSettings'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Update property mailboxSettings value
      operationId: identityGovernance.lifecycleWorkflow.customTaskExtension.lastModifiedBy_UpdateMailboxSetting
      parameters:
      - name: customTaskExtension-id
        in: path
        description: The unique identifier of customTaskExtension
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: customTaskExtension
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mailboxSettings'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxSettings'
        default:
          $ref: '#/components/responses/error'
  ? /identityGovernance/lifecycleWorkflows/customTaskExtensions/{customTaskExtension-id}/lastModifiedBy/serviceProvisioningErrors
  : get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get serviceProvisioningErrors property value
      description: Errors published by a federated service describing a nontransient, service-specific error regarding the properties or link from a user object. Supports $filter (eq, not, for isResolved and serviceInstance).
      operationId: identityGovernance.lifecycleWorkflow.customTaskExtension.lastModifiedBy_ListServiceProvisioningError
      parameters:
      - name: customTaskExtension-id
        in: path
        description: The unique identifier of customTaskExtension
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: customTaskExtension
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.serviceProvisioningErrorCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  ? /identityGovernance/lifecycleWorkflows/customTaskExtensions/{customTaskExtension-id}/lastModifiedBy/serviceProvisioningErrors/$count
  : get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get the number of the resource
      operationId: identityGovernance.lifecycleWorkflow.customTaskExtension.lastModifiedBy.ServiceProvisioningError_GetCount
      parameters:
      - name: customTaskExtension-id
        in: path
        description: The unique identifier of customTaskExtension
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: customTaskExtension
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /identityGovernance/lifecycleWorkflows/customTaskExtensions/$count:
    get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get the number of the resource
      operationId: identityGovernance.lifecycleWorkflow.customTaskExtension_GetCount
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /identityGovernance/lifecycleWorkflows/deletedItems:
    get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get deletedItems from identityGovernance
      description: Deleted workflows in your lifecycle workflows instance.
      operationId: identityGovernance.lifecycleWorkflow_GetDeletedItem
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deletedItemContainer'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Delete navigation property deletedItems for identityGovernance
      operationId: identityGovernance.lifecycleWorkflow_DeleteDeletedItem
      parameters:
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identityGovernance/lifecycleWorkflows/deletedItems/workflows:
    get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: List deletedItems (deleted lifecycle workflows)
      description: Get a list of deleted workflow objects and their properties from the deletedItemContainer.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identitygovernance-lifecycleworkflowscontainer-list-deleteditems?view=graph-rest-1.0
      operationId: identityGovernance.lifecycleWorkflow.deletedItem_ListWorkflow
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.identityGovernance.workflowCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}:
    get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get deletedItemContainer (a deleted lifecycle workflow)
      description: Retrieve a deleted workflow object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identitygovernance-deleteditemcontainer-get?view=graph-rest-1.0
      operationId: identityGovernance.lifecycleWorkflow.deletedItem_GetWorkflow
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityGovernance.workflow'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Delete deletedItemContainer (permanently delete a deleted lifecycle workflow)
      description: Delete a workflow object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identitygovernance-deleteditemcontainer-delete?view=graph-rest-1.0
      operationId: identityGovernance.lifecycleWorkflow.deletedItem_DeleteWorkflow
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}/administrationScopeTargets:
    get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get administrationScopeTargets from identityGovernance
      description: The administrative units in the scope of the workflow. Optional. Supports $expand.
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow_ListAdministrationScopeTarget
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.directoryObjectCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  ? /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}/administrationScopeTargets/{directoryObject-id}
  : get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get administrationScopeTargets from identityGovernance
      description: The administrative units in the scope of the workflow. Optional. Supports $expand.
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow_GetAdministrationScopeTarget
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      - name: directoryObject-id
        in: path
        description: The unique identifier of directoryObject
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: directoryObject
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}/administrationScopeTargets/$count:
    get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get the number of the resource
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow.administrationScopeTarget_GetCount
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}/createdBy:
    get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get createdBy from identityGovernance
      description: The user who created the workflow.
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow_GetCreatedGraphBPre
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.user'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}/createdBy/mailboxSettings:
    get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get mailboxSettings property value
      description: Settings for the primary mailbox of the signed-in user. You can get or update settings for sending automatic replies to incoming messages, locale, and time zone. Requires $select to retrieve.
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow.createdBy_GetMailboxSetting
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Entity result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxSettings'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Update property mailboxSettings value
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow.createdBy_UpdateMailboxSetting
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mailboxSettings'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxSettings'
        default:
          $ref: '#/components/responses/error'
  /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}/createdBy/serviceProvisioningErrors:
    get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get serviceProvisioningErrors property value
      description: Errors published by a federated service describing a nontransient, service-specific error regarding the properties or link from a user object. Supports $filter (eq, not, for isResolved and serviceInstance).
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow.createdBy_ListServiceProvisioningError
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.serviceProvisioningErrorCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}/createdBy/serviceProvisioningErrors/$count:
    get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get the number of the resource
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow.createdBy.ServiceProvisioningError_GetCount
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}/executionScope:
    get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get executionScope from identityGovernance
      description: The list of users that meet the workflowExecutionConditions of a workflow.
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow_ListExecutionScope
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.identityGovernance.userProcessingResultCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}/executionScope/{userProcessingResult-id}:
    get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get executionScope from identityGovernance
      description: The list of users that meet the workflowExecutionConditions of a workflow.
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow_GetExecutionScope
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      - name: userProcessingResult-id
        in: path
        description: The unique identifier of userProcessingResult
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userProcessingResult
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityGovernance.userProcessingResult'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}/executionScope/$count:
    get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get the number of the resource
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow.executionScope_GetCount
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}/lastModifiedBy:
    get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get lastModifiedBy from identityGovernance
      description: The unique identifier of the Microsoft Entra identity that last modified the workflow.
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow_GetLastModifiedGraphBPre
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.user'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}/lastModifiedBy/mailboxSettings:
    get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get mailboxSettings property value
      description: Settings for the primary mailbox of the signed-in user. You can get or update settings for sending automatic replies to incoming messages, locale, and time zone. Requires $select to retrieve.
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow.lastModifiedBy_GetMailboxSetting
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Entity result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxSettings'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Update property mailboxSettings value
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow.lastModifiedBy_UpdateMailboxSetting
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mailboxSettings'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxSettings'
        default:
          $ref: '#/components/responses/error'
  /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}/lastModifiedBy/serviceProvisioningErrors:
    get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get serviceProvisioningErrors property value
      description: Errors published by a federated service describing a nontransient, service-specific error regarding the properties or link from a user object. Supports $filter (eq, not, for isResolved and serviceInstance).
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow.lastModifiedBy_ListServiceProvisioningError
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.serviceProvisioningErrorCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  ? /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}/lastModifiedBy/serviceProvisioningErrors/$count
  : get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get the number of the resource
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow.lastModifiedBy.ServiceProvisioningError_GetCount
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}/microsoft.graph.identityGovernance.activate:
    post:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Invoke action activate
      description: Run a workflow object on-demand. You can run any workflow on-demand, including scheduled workflows. Workflows created from the 'Real-time employee termination' template are run on-demand only. When you run a workflow on demand, the tasks are executed regardless of whether the user state matches the scope and trigger execution conditions.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identitygovernance-workflow-activate?view=graph-rest-1.0
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow_activate
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                subjects:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.user'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  ? /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}/microsoft.graph.identityGovernance.activateWithScope
  : post:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Invoke action activateWithScope
      description: Run a workflow object on-demand with a specific scope. You can run any workflow on-demand, including scheduled workflows. Workflows created from the 'Real-time employee termination' template are run on-demand only. When you run a workflow on demand, the tasks are executed regardless of whether the user state matches the scope and trigger execution conditions.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identitygovernance-workflow-activatewithscope?view=graph-rest-1.0
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow_activateGraphWPreScope
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                scope:
                  $ref: '#/components/schemas/microsoft.graph.identityGovernance.activationScope'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  ? /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}/microsoft.graph.identityGovernance.cancelProcessing
  : post:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Invoke action cancelProcessing
      description: Cancel one or more workflow runs that are currently in queued or inProgress status. Currently limited to canceling one run per request.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identitygovernance-workflow-cancelprocessing?view=graph-rest-1.0
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow_cancelProcessing
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                scope:
                  $ref: '#/components/schemas/microsoft.graph.identityGovernance.cancelScope'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  ? /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}/microsoft.graph.identityGovernance.clearQuarantine
  : post:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Invoke action clearQuarantine
      description: Release a quarantined workflow so that it resumes processing. A workflow is automatically quarantined when a run exceeds the threshold conditions defined in its quarantineConfiguration. After an administrator reviews the cause of the quarantine, calling this action clears the quarantine state and allows the workflow to run again.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identitygovernance-workflow-clearquarantine?view=graph-rest-1.0
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow_clearQuarantine
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityGovernance.workflow'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  ? /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}/microsoft.graph.identityGovernance.createNewVersion
  : post:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Invoke action createNewVersion
      description: Create a new version of the workflow object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identitygovernance-workflow-createnewversion?view=graph-rest-1.0
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow_createNewVersion
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                workflow:
                  $ref: '#/components/schemas/microsoft.graph.identityGovernance.workflow'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityGovernance.workflow'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  ? /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}/microsoft.graph.identityGovernance.previewTaskFailures
  : post:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Invoke action previewTaskFailures
      description: Validate the tasks configured in a workflow to check for configuration errors. This action identifies any tasks that would fail during execution, allowing you to fix issues before running the workflow. Returns an empty collection if no task failures are detected.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identitygovernance-workflow-previewtaskfailures?view=graph-rest-1.0
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow_previewTaskFailure
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.identityGovernance.previewFailedTask'
                  '@odata.nextLink':
                    type:
                    - string
                    - 'null'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  ? /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}/microsoft.graph.identityGovernance.previewWorkflow
  : post:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Invoke action previewWorkflow
      description: Run a workflow in preview mode for selected directory objects without affecting production users. This action triggers workflow processing in preview mode, and results can be retrieved by using the List userProcessingResults operation with $filter=workflowExecutionType eq 'previewMode'.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identitygovernance-workflow-previewworkflow?view=graph-rest-1.0
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow_previewWorkflow
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                subjects:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.directoryObject'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}/microsoft.graph.identityGovernance.restore:
    post:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Invoke action restore
      description: Restore a deleted workflow object. You can only restore a workflow that was deleted within the last 30 days before Microsoft Entra ID automatically permanently deletes it.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identitygovernance-workflow-restore?view=graph-rest-1.0
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow_restore
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityGovernance.workflow'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}/previewScope:
    get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get previewScope from identityGovernance
      description: The preview scope for the workflow.
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow_ListPreviewScope
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.directoryObjectCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}/previewScope/{directoryObject-id}:
    get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get previewScope from identityGovernance
      description: The preview scope for the workflow.
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow_GetPreviewScope
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      - name: directoryObject-id
        in: path
        description: The unique identifier of directoryObject
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: directoryObject
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}/previewScope/$count:
    get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get the number of the resource
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow.previewScope_GetCount
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}/runs:
    get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get runs from identityGovernance
      description: Workflow runs.
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow_ListRun
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.identityGovernance.runCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}/runs/{run-id}:
    get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get runs from identityGovernance
      description: Workflow runs.
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow_GetRun
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      - name: run-id
        in: path
        description: The unique identifier of run
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: run
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityGovernance.run'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}/runs/{run-id}/reprocessedRuns:
    get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get reprocessedRuns from identityGovernance
      description: The related reprocessed workflow run.
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow.run_ListReprocessedRun
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      - name: run-id
        in: path
        description: The unique identifier of run
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: run
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.identityGovernance.runCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}/runs/{run-id}/reprocessedRuns/{run-id1}:
    get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get reprocessedRuns from identityGovernance
      description: The related reprocessed workflow run.
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow.run_GetReprocessedRun
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      - name: run-id
        in: path
        description: The unique identifier of run
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: run
      - name: run-id1
        in: path
        description: The unique identifier of run
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: run
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityGovernance.run'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}/runs/{run-id}/reprocessedRuns/$count:
    get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get the number of the resource
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow.run.reprocessedRun_GetCount
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      - name: run-id
        in: path
        description: The unique identifier of run
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: run
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}/runs/{run-id}/taskProcessingResults:
    get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get taskProcessingResults from identityGovernance
      description: The related taskProcessingResults.
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow.run_ListTaskProcessingResult
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      - name: run-id
        in: path
        description: The unique identifier of run
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: run
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.identityGovernance.taskProcessingResultCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  ? /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}/runs/{run-id}/taskProcessingResults/{taskProcessingResult-id}
  : get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get taskProcessingResults from identityGovernance
      description: The related taskProcessingResults.
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow.run_GetTaskProcessingResult
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      - name: run-id
        in: path
        description: The unique identifier of run
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: run
      - name: taskProcessingResult-id
        in: path
        description: The unique identifier of taskProcessingResult
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: taskProcessingResult
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityGovernance.taskProcessingResult'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}/runs/{run-id}/taskProcessingResults/{taskProcessingResult-id}/microsoft.graph.identityGovernance.resume
  : post:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Invoke action resume
      description: Resume a taskProcessingResult that's inProgress. In the default case, an Azure Logic Apps system-assigned managed identity calls this API. For more information, see Lifecycle Workflows extensibility approach.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identitygovernance-taskprocessingresult-resume?view=graph-rest-1.0
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow.run.taskProcessingResult_resume
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      - name: run-id
        in: path
        description: The unique identifier of run
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: run
      - name: taskProcessingResult-id
        in: path
        description: The unique identifier of taskProcessingResult
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: taskProcessingResult
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                source:
                  type:
                  - string
                  - 'null'
                type:
                  type:
                  - string
                  - 'null'
                data:
                  $ref: '#/components/schemas/microsoft.graph.identityGovernance.customTaskExtensionCallbackData'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  ? /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}/runs/{run-id}/taskProcessingResults/{taskProcessingResult-id}/subject
  : get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get subject from identityGovernance
      description: The unique identifier of the Microsoft Entra user targeted for the task execution.Supports $filter(eq, ne) and $expand.
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow.run.taskProcessingResult_GetSubject
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      - name: run-id
        in: path
        description: The unique identifier of run
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: run
      - name: taskProcessingResult-id
        in: path
        description: The unique identifier of taskProcessingResult
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: taskProcessingResult
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.user'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}/runs/{run-id}/taskProcessingResults/{taskProcessingResult-id}/subject/mailboxSettings
  : get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get mailboxSettings property value
      description: Settings for the primary mailbox of the signed-in user. You can get or update settings for sending automatic replies to incoming messages, locale, and time zone. Requires $select to retrieve.
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow.run.taskProcessingResult.subject_GetMailboxSetting
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      - name: run-id
        in: path
        description: The unique identifier of run
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: run
      - name: taskProcessingResult-id
        in: path
        description: The unique identifier of taskProcessingResult
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: taskProcessingResult
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Entity result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxSettings'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Update property mailboxSettings value
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow.run.taskProcessingResult.subject_UpdateMailboxSetting
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      - name: run-id
        in: path
        description: The unique identifier of run
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: run
      - name: taskProcessingResult-id
        in: path
        description: The unique identifier of taskProcessingResult
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: taskProcessingResult
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mailboxSettings'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxSettings'
        default:
          $ref: '#/components/responses/error'
  ? /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}/runs/{run-id}/taskProcessingResults/{taskProcessingResult-id}/subject/serviceProvisioningErrors
  : get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get serviceProvisioningErrors property value
      description: Errors published by a federated service describing a nontransient, service-specific error regarding the properties or link from a user object. Supports $filter (eq, not, for isResolved and serviceInstance).
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow.run.taskProcessingResult.subject_ListServiceProvisioningError
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      - name: run-id
        in: path
        description: The unique identifier of run
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: run
      - name: taskProcessingResult-id
        in: path
        description: The unique identifier of taskProcessingResult
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: taskProcessingResult
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.serviceProvisioningErrorCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  ? /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}/runs/{run-id}/taskProcessingResults/{taskProcessingResult-id}/subject/serviceProvisioningErrors/$count
  : get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get the number of the resource
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow.run.taskProcessingResult.subject.ServiceProvisioningError_GetCount
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      - name: run-id
        in: path
        description: The unique identifier of run
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: run
      - name: taskProcessingResult-id
        in: path
        description: The unique identifier of taskProcessingResult
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: taskProcessingResult
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  ? /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}/runs/{run-id}/taskProcessingResults/{taskProcessingResult-id}/task
  : get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get task from identityGovernance
      description: The related workflow task
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow.run.taskProcessingResult_GetTask
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      - name: run-id
        in: path
        description: The unique identifier of run
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: run
      - name: taskProcessingResult-id
        in: path
        description: The unique identifier of taskProcessingResult
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: taskProcessingResult
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityGovernance.task'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}/runs/{run-id}/taskProcessingResults/$count:
    get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get the number of the resource
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow.run.taskProcessingResult_GetCount
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      - name: run-id
        in: path
        description: The unique identifier of run
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: run
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /identityGovernance/lifecycleWorkflows/deletedItems/workflows/{workflow-id}/runs/{run-id}/userProcessingResults:
    get:
      tags:
      - identityGovernance.lifecycleWorkflowsContainer
      summary: Get userProcessingResults from identityGovernance
      description: The associated individual user execution.
      operationId: identityGovernance.lifecycleWorkflow.deletedItem.workflow.run_ListUserProcessingResult
      parameters:
      - name: workflow-id
        in: path
        description: The unique identifier of workflow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workflow
      - name: run-id
        in: path
        description: The unique identifier of run
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: run
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
[...]
