openapi: 3.2.0
info:
  title: Identity.SignIns Data Policy Operations.data Policy…
  version: v1.0
servers:
- url: https://graph.microsoft.com/v1.0/
  description: Core
security:
- azureaadv2: []
tags:
- name: dataPolicyOperations.dataPolicyOperation
paths:
  /dataPolicyOperations:
    get:
      tags:
      - dataPolicyOperations.dataPolicyOperation
      summary: Get dataPolicyOperation
      description: Retrieve the properties of a dataPolicyOperation object.
      operationId: dataPolicyOperation_ListDataPolicyOperation
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.dataPolicyOperationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - dataPolicyOperations.dataPolicyOperation
      summary: Add new entity to dataPolicyOperations
      operationId: dataPolicyOperation_CreateDataPolicyOperation
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.dataPolicyOperation'
        required: true
      responses:
        2XX:
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.dataPolicyOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /dataPolicyOperations/{dataPolicyOperation-id}:
    get:
      tags:
      - dataPolicyOperations.dataPolicyOperation
      summary: Get dataPolicyOperation
      description: Retrieve the properties of a dataPolicyOperation object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/datapolicyoperation-get?view=graph-rest-1.0
      operationId: dataPolicyOperation_GetDataPolicyOperation
      parameters:
      - name: dataPolicyOperation-id
        in: path
        description: The unique identifier of dataPolicyOperation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: dataPolicyOperation
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.dataPolicyOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - dataPolicyOperations.dataPolicyOperation
      summary: Update entity in dataPolicyOperations
      operationId: dataPolicyOperation_UpdateDataPolicyOperation
      parameters:
      - name: dataPolicyOperation-id
        in: path
        description: The unique identifier of dataPolicyOperation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: dataPolicyOperation
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.dataPolicyOperation'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.dataPolicyOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - dataPolicyOperations.dataPolicyOperation
      summary: Delete entity from dataPolicyOperations
      operationId: dataPolicyOperation_DeleteDataPolicyOperation
      parameters:
      - name: dataPolicyOperation-id
        in: path
        description: The unique identifier of dataPolicyOperation
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: dataPolicyOperation
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /dataPolicyOperations/$count:
    get:
      tags:
      - dataPolicyOperations.dataPolicyOperation
      summary: Get the number of the resource
      operationId: dataPolicyOperation_GetCount
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
components:
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
    microsoft.graph.dataPolicyOperationCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.dataPolicyOperationCollectionResponse'
    ODataCountResponse:
      description: The count of the resource
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ODataCountResponse'
  schemas:
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type:
          - string
          - 'null'
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    ODataCountResponse:
      type: integer
      format: int32
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.dataPolicyOperationCollectionResponse:
      title: Collection of dataPolicyOperation
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.dataPolicyOperation'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.dataPolicyOperation:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: dataPolicyOperation
        type: object
        properties:
          completedDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: Represents when the request for this data policy operation was completed, in UTC time, using the ISO 8601 format. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z. Null until the operation completes.
            format: date-time
          progress:
            type:
            - number
            - 'null'
            description: Specifies the progress of an operation.
            format: double
          status:
            $ref: '#/components/schemas/microsoft.graph.dataPolicyOperationStatus'
          storageLocation:
            type:
            - string
            - 'null'
            description: The URL location to where data is being exported for export requests.
          submittedDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            description: Represents when the request for this data operation was submitted, in UTC time, using the ISO 8601 format. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z
            format: date-time
          userId:
            type: string
            description: The id for the user on whom the operation is performed.
        additionalProperties:
          type: object
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.dataPolicyOperationStatus:
      title: dataPolicyOperationStatus
      enum:
      - notStarted
      - running
      - complete
      - failed
      - unknownFutureValue
      type: string
  parameters:
    count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
    top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: {}
