openapi: 3.2.0
info:
  title: Applications.synchronization API
  version: v1.0
servers:
- url: https://graph.microsoft.com/v1.0/
  description: Core
security:
- azureaadv2: []
tags:
- name: Applications synchronization
paths:
  /applications/{application-id}/synchronization:
    get:
      tags:
      - Applications synchronization
      summary: Get synchronization from applications
      description: Represents the capability for Microsoft Entra identity synchronization through the Microsoft Graph API.
      operationId: application_GetSynchronization
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronization'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
      - Applications synchronization
      summary: Update the navigation property synchronization in applications
      operationId: application_SetSynchronization
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.synchronization'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronization'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Applications synchronization
      summary: Delete navigation property synchronization for applications
      operationId: application_DeleteSynchronization
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /applications/{application-id}/synchronization/jobs:
    get:
      tags:
      - Applications synchronization
      summary: Get jobs from applications
      description: Performs synchronization by periodically running in the background, polling for changes in one directory, and pushing them to another directory.
      operationId: application.synchronization_ListJob
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.synchronizationJobCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - Applications synchronization
      summary: Create new navigation property to jobs for applications
      operationId: application.synchronization_CreateJob
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.synchronizationJob'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronizationJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /applications/{application-id}/synchronization/jobs/{synchronizationJob-id}:
    get:
      tags:
      - Applications synchronization
      summary: Get jobs from applications
      description: Performs synchronization by periodically running in the background, polling for changes in one directory, and pushing them to another directory.
      operationId: application.synchronization_GetJob
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationJob-id
        in: path
        description: The unique identifier of synchronizationJob
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationJob
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronizationJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - Applications synchronization
      summary: Update the navigation property jobs in applications
      operationId: application.synchronization_UpdateJob
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationJob-id
        in: path
        description: The unique identifier of synchronizationJob
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationJob
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.synchronizationJob'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronizationJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Applications synchronization
      summary: Delete navigation property jobs for applications
      operationId: application.synchronization_DeleteJob
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationJob-id
        in: path
        description: The unique identifier of synchronizationJob
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationJob
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/bulkUpload:
    get:
      tags:
      - Applications synchronization
      summary: Get bulkUpload from applications
      description: The bulk upload operation for the job.
      operationId: application.synchronization.job_GetBulkUpload
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationJob-id
        in: path
        description: The unique identifier of synchronizationJob
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationJob
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bulkUpload'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - Applications synchronization
      summary: Update the navigation property bulkUpload in applications
      operationId: application.synchronization.job_UpdateBulkUpload
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationJob-id
        in: path
        description: The unique identifier of synchronizationJob
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationJob
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bulkUpload'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bulkUpload'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Applications synchronization
      summary: Delete navigation property bulkUpload for applications
      operationId: application.synchronization.job_DeleteBulkUpload
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationJob-id
        in: path
        description: The unique identifier of synchronizationJob
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationJob
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/bulkUpload/$value:
    get:
      tags:
      - Applications synchronization
      summary: Get media content for the navigation property bulkUpload from applications
      description: The bulk upload operation for the job.
      operationId: application.synchronization.job_GetBulkUploadContent
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationJob-id
        in: path
        description: The unique identifier of synchronizationJob
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationJob
      responses:
        2XX:
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
    put:
      tags:
      - Applications synchronization
      summary: Update media content for the navigation property bulkUpload in applications
      description: The bulk upload operation for the job.
      operationId: application.synchronization.job_SetBulkUploadContent
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationJob-id
        in: path
        description: The unique identifier of synchronizationJob
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationJob
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
      - Applications synchronization
      summary: Delete media content for the navigation property bulkUpload in applications
      description: The bulk upload operation for the job.
      operationId: application.synchronization.job_DeleteBulkUploadContent
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationJob-id
        in: path
        description: The unique identifier of synchronizationJob
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationJob
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
  /applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/microsoft.graph.pause:
    post:
      tags:
      - Applications synchronization
      summary: Invoke action pause
      description: Temporarily stop a running synchronizationJob. All the progress, including job state, is persisted, and the job will continue from where it left off when a start call is made.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/synchronization-synchronizationjob-pause?view=graph-rest-1.0
      operationId: application.synchronization.job_pause
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationJob-id
        in: path
        description: The unique identifier of synchronizationJob
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationJob
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/microsoft.graph.provisionOnDemand:
    post:
      tags:
      - Applications synchronization
      summary: Invoke action provisionOnDemand
      description: Select a user and provision the account on-demand for a synchronizationJob. The rate limit for this API is 5 requests per 10 seconds.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/synchronization-synchronizationjob-provisionondemand?view=graph-rest-1.0
      operationId: application.synchronization.job_provisionOnDemand
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationJob-id
        in: path
        description: The unique identifier of synchronizationJob
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationJob
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                parameters:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.synchronizationJobApplicationParameters'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.stringKeyStringValuePair'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/microsoft.graph.restart:
    post:
      tags:
      - Applications synchronization
      summary: Invoke action restart
      description: Restart a stopped synchronizationJob, forcing it to reprocess all the objects in the directory. Optionally clears existing the synchronization state and previous errors.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/synchronization-synchronizationjob-restart?view=graph-rest-1.0
      operationId: application.synchronization.job_restart
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationJob-id
        in: path
        description: The unique identifier of synchronizationJob
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationJob
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                criteria:
                  $ref: '#/components/schemas/microsoft.graph.synchronizationJobRestartCriteria'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/microsoft.graph.start:
    post:
      tags:
      - Applications synchronization
      summary: Invoke action start
      description: Start an existing synchronizationJob. If the job is in a paused state, it continues processing changes from the point where it was paused. If the job is in quarantine, the quarantine status is cleared. Don't create scripts to call the start job continuously while it's running because that can cause the service to stop running. Use the start job only when the job is currently paused or in quarantine.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/synchronization-synchronizationjob-start?view=graph-rest-1.0
      operationId: application.synchronization.job_start
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationJob-id
        in: path
        description: The unique identifier of synchronizationJob
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationJob
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/microsoft.graph.validateCredentials:
    post:
      tags:
      - Applications synchronization
      summary: Invoke action validateCredentials
      description: Validate that the credentials are valid in the tenant for a synchronizationJob.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/synchronization-synchronizationjob-validatecredentials?view=graph-rest-1.0
      operationId: application.synchronization.job_validateCredential
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationJob-id
        in: path
        description: The unique identifier of synchronizationJob
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationJob
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                applicationIdentifier:
                  type:
                  - string
                  - 'null'
                templateId:
                  type:
                  - string
                  - 'null'
                useSavedCredentials:
                  type:
                  - boolean
                  - 'null'
                  default: false
                credentials:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.synchronizationSecretKeyStringValuePair'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/schema:
    get:
      tags:
      - Applications synchronization
      summary: Get schema from applications
      description: The synchronization schema configured for the job.
      operationId: application.synchronization.job_GetSchema
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationJob-id
        in: path
        description: The unique identifier of synchronizationJob
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationJob
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronizationSchema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - Applications synchronization
      summary: Update the navigation property schema in applications
      operationId: application.synchronization.job_UpdateSchema
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationJob-id
        in: path
        description: The unique identifier of synchronizationJob
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationJob
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.synchronizationSchema'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronizationSchema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Applications synchronization
      summary: Delete navigation property schema for applications
      operationId: application.synchronization.job_DeleteSchema
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationJob-id
        in: path
        description: The unique identifier of synchronizationJob
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationJob
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/schema/directories:
    get:
      tags:
      - Applications synchronization
      summary: Get directories from applications
      description: Contains the collection of directories and all of their objects.
      operationId: application.synchronization.job.schema_ListDirectory
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationJob-id
        in: path
        description: The unique identifier of synchronizationJob
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationJob
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.directoryDefinitionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - Applications synchronization
      summary: Create new navigation property to directories for applications
      operationId: application.synchronization.job.schema_CreateDirectory
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationJob-id
        in: path
        description: The unique identifier of synchronizationJob
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationJob
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/schema/directories/{directoryDefinition-id}:
    get:
      tags:
      - Applications synchronization
      summary: Get directories from applications
      description: Contains the collection of directories and all of their objects.
      operationId: application.synchronization.job.schema_GetDirectory
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationJob-id
        in: path
        description: The unique identifier of synchronizationJob
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationJob
      - name: directoryDefinition-id
        in: path
        description: The unique identifier of directoryDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: directoryDefinition
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - Applications synchronization
      summary: Update the navigation property directories in applications
      operationId: application.synchronization.job.schema_UpdateDirectory
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationJob-id
        in: path
        description: The unique identifier of synchronizationJob
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationJob
      - name: directoryDefinition-id
        in: path
        description: The unique identifier of directoryDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: directoryDefinition
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Applications synchronization
      summary: Delete navigation property directories for applications
      operationId: application.synchronization.job.schema_DeleteDirectory
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationJob-id
        in: path
        description: The unique identifier of synchronizationJob
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationJob
      - name: directoryDefinition-id
        in: path
        description: The unique identifier of directoryDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: directoryDefinition
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/schema/directories/{directoryDefinition-id}/microsoft.graph.discover
  : post:
      tags:
      - Applications synchronization
      summary: Invoke action discover
      description: Discover the latest schema definition for provisioning to an application for the directoryDefinition.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/synchronization-directorydefinition-discover?view=graph-rest-1.0
      operationId: application.synchronization.job.schema.directory_discover
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationJob-id
        in: path
        description: The unique identifier of synchronizationJob
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationJob
      - name: directoryDefinition-id
        in: path
        description: The unique identifier of directoryDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: directoryDefinition
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/schema/directories/$count:
    get:
      tags:
      - Applications synchronization
      summary: Get the number of the resource
      operationId: application.synchronization.job.schema.directory_GetCount
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationJob-id
        in: path
        description: The unique identifier of synchronizationJob
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationJob
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/schema/microsoft.graph.filterOperators():
    get:
      tags:
      - Applications synchronization
      summary: Invoke function filterOperators
      description: List all operators supported in the scoping filters for a synchronizationSchema.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/synchronization-synchronizationschema-filteroperators?view=graph-rest-1.0
      operationId: application.synchronization.job.schema_filterOperator
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationJob-id
        in: path
        description: The unique identifier of synchronizationJob
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationJob
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of filterOperatorSchema
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.filterOperatorSchema'
                  '@odata.nextLink':
                    type:
                    - string
                    - 'null'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/schema/microsoft.graph.functions():
    get:
      tags:
      - Applications synchronization
      summary: Invoke function functions
      description: List all the functions currently supported in the attributeMappingSource for a synchronizationSchema.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/synchronization-synchronizationschema-functions?view=graph-rest-1.0
      operationId: application.synchronization.job.schema_function
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationJob-id
        in: path
        description: The unique identifier of synchronizationJob
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationJob
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of attributeMappingFunctionSchema
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.attributeMappingFunctionSchema'
                  '@odata.nextLink':
                    type:
                    - string
                    - 'null'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /applications/{application-id}/synchronization/jobs/{synchronizationJob-id}/schema/microsoft.graph.parseExpression:
    post:
      tags:
      - Applications synchronization
      summary: Invoke action parseExpression
      description: Parse a given string expression into an attributeMappingSource object for a synchronizationSchema. For more information about expressions, see Writing Expressions for Attribute Mappings in Microsoft Entra ID.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/synchronization-synchronizationschema-parseexpression?view=graph-rest-1.0
      operationId: application.synchronization.job.schema_parseExpression
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationJob-id
        in: path
        description: The unique identifier of synchronizationJob
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationJob
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                expression:
                  type:
                  - string
                  - 'null'
                testInputObject:
                  $ref: '#/components/schemas/microsoft.graph.expressionInputObject'
                targetAttributeDefinition:
                  $ref: '#/components/schemas/microsoft.graph.attributeDefinition'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.parseExpressionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /applications/{application-id}/synchronization/jobs/$count:
    get:
      tags:
      - Applications synchronization
      summary: Get the number of the resource
      operationId: application.synchronization.job_GetCount
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /applications/{application-id}/synchronization/jobs/microsoft.graph.validateCredentials:
    post:
      tags:
      - Applications synchronization
      summary: Invoke action validateCredentials
      operationId: application.synchronization.job_validateCredential
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                applicationIdentifier:
                  type:
                  - string
                  - 'null'
                templateId:
                  type:
                  - string
                  - 'null'
                useSavedCredentials:
                  type:
                  - boolean
                  - 'null'
                  default: false
                credentials:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.synchronizationSecretKeyStringValuePair'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /applications/{application-id}/synchronization/microsoft.graph.acquireAccessToken:
    post:
      tags:
      - Applications synchronization
      summary: Invoke action acquireAccessToken
      description: Acquire an OAuth access token from the synchronization resource to authorize the Microsoft Entra provisioning service to provision users into an application.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/synchronization-synchronization-acquireaccesstoken?view=graph-rest-1.0
      operationId: application.synchronization_acquireAccessToken
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                credentials:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.synchronizationSecretKeyStringValuePair'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /applications/{application-id}/synchronization/secrets:
    put:
      tags:
      - Applications synchronization
      summary: Update property secrets value
      operationId: application.synchronization_SetSecret
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.synchronizationSecretKeyStringValuePair'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.synchronizationSecretKeyStringValuePair'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
  /applications/{application-id}/synchronization/secrets/$count:
    get:
      tags:
      - Applications synchronization
      summary: Get the number of the resource
      operationId: application.synchronization.Secret_GetCount
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /applications/{application-id}/synchronization/templates:
    get:
      tags:
      - Applications synchronization
      summary: Get templates from applications
      description: Preconfigured synchronization settings for a particular application.
      operationId: application.synchronization_ListTemplate
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.synchronizationTemplateCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - Applications synchronization
      summary: Create new navigation property to templates for applications
      operationId: application.synchronization_CreateTemplate
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.synchronizationTemplate'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronizationTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /applications/{application-id}/synchronization/templates/{synchronizationTemplate-id}:
    get:
      tags:
      - Applications synchronization
      summary: Get templates from applications
      description: Preconfigured synchronization settings for a particular application.
      operationId: application.synchronization_GetTemplate
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationTemplate-id
        in: path
        description: The unique identifier of synchronizationTemplate
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationTemplate
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronizationTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - Applications synchronization
      summary: Update synchronizationTemplate
      description: Update (override) the synchronizationTemplate associated with a given application.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/synchronization-synchronizationtemplate-update?view=graph-rest-1.0
      operationId: application.synchronization_UpdateTemplate
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationTemplate-id
        in: path
        description: The unique identifier of synchronizationTemplate
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationTemplate
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.synchronizationTemplate'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronizationTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Applications synchronization
      summary: Delete navigation property templates for applications
      operationId: application.synchronization_DeleteTemplate
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationTemplate-id
        in: path
        description: The unique identifier of synchronizationTemplate
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationTemplate
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /applications/{application-id}/synchronization/templates/{synchronizationTemplate-id}/schema:
    get:
      tags:
      - Applications synchronization
      summary: Get schema from applications
      description: Default synchronization schema for the jobs based on this template.
      operationId: application.synchronization.template_GetSchema
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationTemplate-id
        in: path
        description: The unique identifier of synchronizationTemplate
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationTemplate
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronizationSchema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - Applications synchronization
      summary: Update the navigation property schema in applications
      operationId: application.synchronization.template_UpdateSchema
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationTemplate-id
        in: path
        description: The unique identifier of synchronizationTemplate
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationTemplate
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.synchronizationSchema'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.synchronizationSchema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Applications synchronization
      summary: Delete navigation property schema for applications
      operationId: application.synchronization.template_DeleteSchema
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationTemplate-id
        in: path
        description: The unique identifier of synchronizationTemplate
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationTemplate
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /applications/{application-id}/synchronization/templates/{synchronizationTemplate-id}/schema/directories:
    get:
      tags:
      - Applications synchronization
      summary: Get directories from applications
      description: Contains the collection of directories and all of their objects.
      operationId: application.synchronization.template.schema_ListDirectory
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationTemplate-id
        in: path
        description: The unique identifier of synchronizationTemplate
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationTemplate
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.directoryDefinitionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - Applications synchronization
      summary: Create new navigation property to directories for applications
      operationId: application.synchronization.template.schema_CreateDirectory
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationTemplate-id
        in: path
        description: The unique identifier of synchronizationTemplate
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationTemplate
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /applications/{application-id}/synchronization/templates/{synchronizationTemplate-id}/schema/directories/{directoryDefinition-id}
  : get:
      tags:
      - Applications synchronization
      summary: Get directories from applications
      description: Contains the collection of directories and all of their objects.
      operationId: application.synchronization.template.schema_GetDirectory
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationTemplate-id
        in: path
        description: The unique identifier of synchronizationTemplate
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationTemplate
      - name: directoryDefinition-id
        in: path
        description: The unique identifier of directoryDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: directoryDefinition
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - Applications synchronization
      summary: Update the navigation property directories in applications
      operationId: application.synchronization.template.schema_UpdateDirectory
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationTemplate-id
        in: path
        description: The unique identifier of synchronizationTemplate
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationTemplate
      - name: directoryDefinition-id
        in: path
        description: The unique identifier of directoryDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: directoryDefinition
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Applications synchronization
      summary: Delete navigation property directories for applications
      operationId: application.synchronization.template.schema_DeleteDirectory
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationTemplate-id
        in: path
        description: The unique identifier of synchronizationTemplate
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationTemplate
      - name: directoryDefinition-id
        in: path
        description: The unique identifier of directoryDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: directoryDefinition
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /applications/{application-id}/synchronization/templates/{synchronizationTemplate-id}/schema/directories/{directoryDefinition-id}/microsoft.graph.discover
  : post:
      tags:
      - Applications synchronization
      summary: Invoke action discover
      description: Discover the latest schema definition for provisioning to an application for the directoryDefinition.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/synchronization-directorydefinition-discover?view=graph-rest-1.0
      operationId: application.synchronization.template.schema.directory_discover
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationTemplate-id
        in: path
        description: The unique identifier of synchronizationTemplate
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationTemplate
      - name: directoryDefinition-id
        in: path
        description: The unique identifier of directoryDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: directoryDefinition
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /applications/{application-id}/synchronization/templates/{synchronizationTemplate-id}/schema/directories/$count:
    get:
      tags:
      - Applications synchronization
      summary: Get the number of the resource
      operationId: application.synchronization.template.schema.directory_GetCount
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationTemplate-id
        in: path
        description: The unique identifier of synchronizationTemplate
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationTemplate
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  ? /applications/{application-id}/synchronization/templates/{synchronizationTemplate-id}/schema/microsoft.graph.filterOperators()
  : get:
      tags:
      - Applications synchronization
      summary: Invoke function filterOperators
      description: List all operators supported in the scoping filters for a synchronizationSchema.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/synchronization-synchronizationschema-filteroperators?view=graph-rest-1.0
      operationId: application.synchronization.template.schema_filterOperator
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationTemplate-id
        in: path
        description: The unique identifier of synchronizationTemplate
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationTemplate
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of filterOperatorSchema
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.filterOperatorSchema'
                  '@odata.nextLink':
                    type:
                    - string
                    - 'null'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /applications/{application-id}/synchronization/templates/{synchronizationTemplate-id}/schema/microsoft.graph.functions():
    get:
      tags:
      - Applications synchronization
      summary: Invoke function functions
      description: List all the functions currently supported in the attributeMappingSource for a synchronizationSchema.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/synchronization-synchronizationschema-functions?view=graph-rest-1.0
      operationId: application.synchronization.template.schema_function
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationTemplate-id
        in: path
        description: The unique identifier of synchronizationTemplate
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationTemplate
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of attributeMappingFunctionSchema
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.attributeMappingFunctionSchema'
                  '@odata.nextLink':
                    type:
                    - string
                    - 'null'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  ? /applications/{application-id}/synchronization/templates/{synchronizationTemplate-id}/schema/microsoft.graph.parseExpression
  : post:
      tags:
      - Applications synchronization
      summary: Invoke action parseExpression
      description: Parse a given string expression into an attributeMappingSource object for a synchronizationSchema. For more information about expressions, see Writing Expressions for Attribute Mappings in Microsoft Entra ID.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/synchronization-synchronizationschema-parseexpression?view=graph-rest-1.0
      operationId: application.synchronization.template.schema_parseExpression
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - name: synchronizationTemplate-id
        in: path
        description: The unique identifier of synchronizationTemplate
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: synchronizationTemplate
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                expression:
                  type:
                  - string
                  - 'null'
                testInputObject:
                  $ref: '#/components/schemas/microsoft.graph.expressionInputObject'
                targetAttributeDefinition:
                  $ref: '#/components/schemas/microsoft.graph.attributeDefinition'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.parseExpressionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /applications/{application-id}/synchronization/templates/$count:
    get:
      tags:
      - Applications synchronization
      summary: Get the number of the resource
      operationId: application.synchronization.template_GetCount
      parameters:
      - name: application-id
        in: path
        description: The unique identifier of application
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: application
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
components:
  schemas:
    microsoft.graph.attributeDefinition:
      title: attributeDefinition
      type: object
      properties:
        anchor:
          type: boolean
          description: true if the attribute should be used as the anchor for the object. Anchor attributes must have a unique value identifying an object, and must be immutable. Default is false. One, and only one, of the object's attributes must be designated as the anchor to support synchronization.
        apiExpressions:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.stringKeyStringValuePair'
        caseExact:
          type: boolean
          description: true if value of this attribute should be treated as case-sensitive. This setting affects how the synchronization engine detects changes for the attribute.
        defaultValue:
          type:
          - string
          - 'null'
          description: The default value of the attribute.
        flowNullValues:
          type: boolean
          description: '''true'' to allow null values for attributes.'
        metadata:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.attributeDefinitionMetadataEntry'
          description: Metadata for the given object.
        multivalued:
          type: boolean
          description: true if an attribute can have multiple values. Default is false.
        mutability:
          $ref: '#/components/schemas/microsoft.graph.mutability'
        name:
          type:
          - string
          - 'null'
          description: Name of the attribute. Must be unique within the object definition. Not nullable.
        referencedObjects:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.referencedObject'
          description: For attributes with reference type, lists referenced objects (for example, the manager attribute would list User as the referenced object).
        required:
          type: boolean
          description: true if attribute is required. Object can not be created if any of the required attributes are missing. If during synchronization, the required attribute has no value, the default value will be used. If default the value was not set, synchronization will record an error.
        type:
          $ref: '#/components/schemas/microsoft.graph.attributeType'
      additionalProperties:
        type: object
    microsoft.graph.attributeType:
      title: attributeType
      enum:
      - String
      - Integer
      - Reference
      - Binary
      - Boolean
      - DateTime
      type: string
    microsoft.graph.synchronizationLinkedObjects:
      title: synchronizationLinkedObjects
      type: object
      properties:
        manager:
          $ref: '#/components/schemas/microsoft.graph.synchronizationJobSubject'
        members:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.synchronizationJobSubject'
          description: All group members that you would like to provision.
        owners:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.synchronizationJobSubject'
      additionalProperties:
        type: object
    microsoft.graph.synchronization:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: synchronization
        type: object
        properties:
          secrets:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.synchronizationSecretKeyStringValuePair'
            description: Represents a collection of credentials to access provisioned cloud applications.
          jobs:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.synchronizationJob'
            description: Performs synchronization by periodically running in the background, polling for changes in one directory, and pushing them to another directory.
            x-ms-navigationProperty: true
          templates:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.synchronizationTemplate'
            description: Preconfigured synchronization settings for a particular application.
            x-ms-navigationProperty: true
        additionalProperties:
          type: object
    microsoft.graph.filterOperatorSchema:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: filterOperatorSchema
        type: object
        properties:
          arity:
            $ref: '#/components/schemas/microsoft.graph.scopeOperatorType'
          multivaluedComparisonType:
            $ref: '#/components/schemas/microsoft.graph.scopeOperatorMultiValuedComparisonType'
          supportedAttributeTypes:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.attributeType'
            description: 'Attribute types supported by the operator. The possible values are: Boolean, Binary, Reference, Integer, String.'
        additionalProperties:
          type: object
    microsoft.graph.synchronizationMetadata:
      title: synchronizationMetadata
      enum:
      - GalleryApplicationIdentifier
      - GalleryApplicationKey
      - IsOAuthEnabled
      - IsSynchronizationAgentAssignmentRequired
      - IsSynchronizationAgentRequired
      - IsSynchronizationInPreview
      - OAuthSettings
      - SynchronizationLearnMoreIbizaFwLink
      - ConfigurationFields
      type: string
    microsoft.graph.objectMappingMetadata:
      title: objectMappingMetadata
      enum:
      - EscrowBehavior
      - DisableMonitoringForChanges
      - OriginalJoiningProperty
      - Disposition
      - IsCustomerDefined
      - ExcludeFromReporting
      - Unsynchronized
      type: string
    microsoft.graph.attributeMappingFunctionSchema:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: attributeMappingFunctionSchema
        type: object
        properties:
          parameters:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.attributeMappingParameterSchema'
            description: Collection of function parameters.
        additionalProperties:
          type: object
    microsoft.graph.directoryDefinitionCollectionResponse:
      title: Collection of directoryDefinition
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.attributeDefinitionMetadata:
      title: attributeDefinitionMetadata
      enum:
      - BaseAttributeName
      - ComplexObjectDefinition
      - IsContainer
      - IsCustomerDefined
      - IsDomainQualified
      - LinkPropertyNames
      - LinkTypeName
      - MaximumLength
      - ReferencedProperty
      type: string
    microsoft.graph.attributeFlowBehavior:
      title: attributeFlowBehavior
      enum:
      - FlowWhenChanged
      - FlowAlways
      type: string
    microsoft.graph.synchronizationError:
      title: synchronizationError
      type: object
      properties:
        code:
          type:
          - string
          - 'null'
          description: The error code. For example, AzureDirectoryB2BManagementPolicyCheckFailure.
        message:
          type:
          - string
          - 'null'
          description: The error message. For example, Policy permitting auto-redemption of invitations not configured.
        tenantActionable:
          type: boolean
          description: The action to take to resolve the error. For example, false.
      additionalProperties:
        type: object
    microsoft.graph.synchronizationJobRestartCriteria:
      title: synchronizationJobRestartCriteria
      type: object
      properties:
        resetScope:
          $ref: '#/components/schemas/microsoft.graph.synchronizationJobRestartScope'
      additionalProperties:
        type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.synchronizationJobApplicationParameters:
      title: synchronizationJobApplicationParameters
      type: object
      properties:
        ruleId:
          type:
          - string
          - 'null'
          description: The identifier of the synchronizationRule to be applied. This rule ID is defined in the schema for a given synchronization job or template.
        subjects:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.synchronizationJobSubject'
          description: The identifiers of one or more objects to which a synchronizationJob is to be applied.
      additionalProperties:
        type: object
    microsoft.graph.synchronizationRule:
      title: synchronizationRule
      type: object
      properties:
        containerFilter:
          $ref: '#/components/schemas/microsoft.graph.containerFilter'
        editable:
          type: boolean
          description: true if the synchronization rule can be customized; false if this rule is read-only and shouldn't be changed.
        groupFilter:
          $ref: '#/components/schemas/microsoft.graph.groupFilter'
        id:
          type:
          - string
          - 'null'
          description: Synchronization rule identifier. Must be one of the identifiers recognized by the synchronization engine. Supported rule identifiers can be found in the synchronization template returned by the API.
        metadata:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.stringKeyStringValuePair'
          description: Additional extension properties. Unless instructed explicitly by the support team, metadata values shouldn't be changed.
        name:
          type:
          - string
          - 'null'
          description: Human-readable name of the synchronization rule. Not nullable.
        objectMappings:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.objectMapping'
          description: Collection of object mappings supported by the rule. Tells the synchronization engine which objects should be synchronized.
        priority:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: Priority relative to other rules in the synchronizationSchema. Rules with the lowest priority number will be processed first.
          format: int32
        sourceDirectoryName:
          type:
          - string
          - 'null'
          description: Name of the source directory. Must match one of the directory definitions in synchronizationSchema.
        targetDirectoryName:
          type:
          - string
          - 'null'
          description: Name of the target directory. Must match one of the directory definitions in synchronizationSchema.
      additionalProperties:
        type: object
    microsoft.graph.attributeMapping:
      title: attributeMapping
      type: object
      properties:
        defaultValue:
          type:
          - string
          - 'null'
          description: Default value to be used in case the source property was evaluated to null. Optional.
        exportMissingReferences:
          type: boolean
          description: For internal use only.
        flowBehavior:
          $ref: '#/components/schemas/microsoft.graph.attributeFlowBehavior'
        flowType:
          $ref: '#/components/schemas/microsoft.graph.attributeFlowType'
        matchingPriority:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: If higher than 0, this attribute will be used to perform an initial match of the objects between source and target directories. The synchronization engine will try to find the matching object using attribute with lowest value of matching priority first. If not found, the attribute with the next matching priority will be used, and so on a until match is found or no more matching attributes are left. Only attributes that are expected to have unique values, such as email, should be used as matching attributes.
          format: int32
        source:
          $ref: '#/components/schemas/microsoft.graph.attributeMappingSource'
        targetAttributeName:
          type:
          - string
          - 'null'
          description: Name of the attribute on the target object.
      additionalProperties:
        type: object
    microsoft.graph.synchronizationMetadataEntry:
      title: synchronizationMetadataEntry
      type: object
      properties:
        key:
          $ref: '#/components/schemas/microsoft.graph.synchronizationMetadata'
        value:
          type:
          - string
          - 'null'
          description: Value of the metadata property.
      additionalProperties:
        type: object
    microsoft.graph.objectDefinition:
      title: objectDefinition
      type: object
      properties:
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.attributeDefinition'
          description: Defines attributes of the object.
        metadata:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.objectDefinitionMetadataEntry'
          description: Metadata for the given object.
        name:
          type:
          - string
          - 'null'
          description: Name of the object. Must be unique within a directory definition. Not nullable.
        supportedApis:
          type: array
          items:
            type:
            - string
            - 'null'
          description: The API that the provisioning service queries to retrieve data for synchronization.
      additionalProperties:
        type: object
    microsoft.graph.quarantineReason:
      title: quarantineReason
      enum:
      - EncounteredBaseEscrowThreshold
      - EncounteredTotalEscrowThreshold
      - EncounteredEscrowProportionThreshold
      - EncounteredQuarantineException
      - Unknown
      - QuarantinedOnDemand
      - TooManyDeletes
      - IngestionInterrupted
      type: string
    microsoft.graph.synchronizationSecretKeyStringValuePair:
      title: synchronizationSecretKeyStringValuePair
      type: object
      properties:
        key:
          $ref: '#/components/schemas/microsoft.graph.synchronizationSecret'
        value:
          type:
          - string
          - 'null'
          description: The value of the secret.
      additionalProperties:
        type: object
    microsoft.graph.attributeMappingSourceType:
      title: attributeMappingSourceType
      enum:
      - Attribute
      - Constant
      - Function
      type: string
[...]
