openapi: 3.2.0
info:
  title: Identity.Governance Role Management.rbac Application API
  version: v1.0
servers:
- url: https://graph.microsoft.com/v1.0/
  description: Core
security:
- azureaadv2: []
tags:
- name: roleManagement.rbacApplication
paths:
  /roleManagement/directory:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: Get directory from roleManagement
      operationId: roleManagement_GetDirectory
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.rbacApplication'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - roleManagement.rbacApplication
      summary: Update the navigation property directory in roleManagement
      operationId: roleManagement_UpdateDirectory
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.rbacApplication'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.rbacApplication'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - roleManagement.rbacApplication
      summary: Delete navigation property directory for roleManagement
      operationId: roleManagement_DeleteDirectory
      parameters:
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/resourceNamespaces:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: Get resourceNamespaces from roleManagement
      operationId: roleManagement.directory_ListResourceNamespace
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.unifiedRbacResourceNamespaceCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - roleManagement.rbacApplication
      summary: Create new navigation property to resourceNamespaces for roleManagement
      operationId: roleManagement.directory_CreateResourceNamespace
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.unifiedRbacResourceNamespace'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRbacResourceNamespace'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/resourceNamespaces/{unifiedRbacResourceNamespace-id}:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: Get resourceNamespaces from roleManagement
      operationId: roleManagement.directory_GetResourceNamespace
      parameters:
      - name: unifiedRbacResourceNamespace-id
        in: path
        description: The unique identifier of unifiedRbacResourceNamespace
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRbacResourceNamespace
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRbacResourceNamespace'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - roleManagement.rbacApplication
      summary: Update the navigation property resourceNamespaces in roleManagement
      operationId: roleManagement.directory_UpdateResourceNamespace
      parameters:
      - name: unifiedRbacResourceNamespace-id
        in: path
        description: The unique identifier of unifiedRbacResourceNamespace
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRbacResourceNamespace
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.unifiedRbacResourceNamespace'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRbacResourceNamespace'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - roleManagement.rbacApplication
      summary: Delete navigation property resourceNamespaces for roleManagement
      operationId: roleManagement.directory_DeleteResourceNamespace
      parameters:
      - name: unifiedRbacResourceNamespace-id
        in: path
        description: The unique identifier of unifiedRbacResourceNamespace
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRbacResourceNamespace
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/resourceNamespaces/{unifiedRbacResourceNamespace-id}/resourceActions:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: Get resourceActions from roleManagement
      operationId: roleManagement.directory.resourceNamespace_ListResourceAction
      parameters:
      - name: unifiedRbacResourceNamespace-id
        in: path
        description: The unique identifier of unifiedRbacResourceNamespace
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRbacResourceNamespace
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.unifiedRbacResourceActionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - roleManagement.rbacApplication
      summary: Create new navigation property to resourceActions for roleManagement
      operationId: roleManagement.directory.resourceNamespace_CreateResourceAction
      parameters:
      - name: unifiedRbacResourceNamespace-id
        in: path
        description: The unique identifier of unifiedRbacResourceNamespace
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRbacResourceNamespace
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.unifiedRbacResourceAction'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRbacResourceAction'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /roleManagement/directory/resourceNamespaces/{unifiedRbacResourceNamespace-id}/resourceActions/{unifiedRbacResourceAction-id}
  : get:
      tags:
      - roleManagement.rbacApplication
      summary: Get resourceActions from roleManagement
      operationId: roleManagement.directory.resourceNamespace_GetResourceAction
      parameters:
      - name: unifiedRbacResourceNamespace-id
        in: path
        description: The unique identifier of unifiedRbacResourceNamespace
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRbacResourceNamespace
      - name: unifiedRbacResourceAction-id
        in: path
        description: The unique identifier of unifiedRbacResourceAction
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRbacResourceAction
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRbacResourceAction'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - roleManagement.rbacApplication
      summary: Update the navigation property resourceActions in roleManagement
      operationId: roleManagement.directory.resourceNamespace_UpdateResourceAction
      parameters:
      - name: unifiedRbacResourceNamespace-id
        in: path
        description: The unique identifier of unifiedRbacResourceNamespace
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRbacResourceNamespace
      - name: unifiedRbacResourceAction-id
        in: path
        description: The unique identifier of unifiedRbacResourceAction
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRbacResourceAction
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.unifiedRbacResourceAction'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRbacResourceAction'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - roleManagement.rbacApplication
      summary: Delete navigation property resourceActions for roleManagement
      operationId: roleManagement.directory.resourceNamespace_DeleteResourceAction
      parameters:
      - name: unifiedRbacResourceNamespace-id
        in: path
        description: The unique identifier of unifiedRbacResourceNamespace
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRbacResourceNamespace
      - name: unifiedRbacResourceAction-id
        in: path
        description: The unique identifier of unifiedRbacResourceAction
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRbacResourceAction
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/resourceNamespaces/{unifiedRbacResourceNamespace-id}/resourceActions/$count:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: Get the number of the resource
      operationId: roleManagement.directory.resourceNamespace.resourceAction_GetCount
      parameters:
      - name: unifiedRbacResourceNamespace-id
        in: path
        description: The unique identifier of unifiedRbacResourceNamespace
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRbacResourceNamespace
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /roleManagement/directory/resourceNamespaces/$count:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: Get the number of the resource
      operationId: roleManagement.directory.resourceNamespace_GetCount
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /roleManagement/directory/roleAssignments:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: List unifiedRoleAssignments
      description: 'Get a list of unifiedRoleAssignment objects for the RBAC provider. The following RBAC providers are currently supported:

        - directory (Microsoft Entra ID)

        - entitlement management (Microsoft Entra entitlement management)'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/rbacapplication-list-roleassignments?view=graph-rest-1.0
      operationId: roleManagement.directory_ListRoleAssignment
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.unifiedRoleAssignmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - roleManagement.rbacApplication
      summary: Create unifiedRoleAssignment
      description: Create a new unifiedRoleAssignment object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/rbacapplication-post-roleassignments?view=graph-rest-1.0
      operationId: roleManagement.directory_CreateRoleAssignment
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/roleAssignments/{unifiedRoleAssignment-id}:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: Get unifiedRoleAssignment
      description: Retrieve the properties and relationships of a unifiedRoleAssignment object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/unifiedroleassignment-get?view=graph-rest-1.0
      operationId: roleManagement.directory_GetRoleAssignment
      parameters:
      - name: unifiedRoleAssignment-id
        in: path
        description: The unique identifier of unifiedRoleAssignment
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleAssignment
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - roleManagement.rbacApplication
      summary: Update the navigation property roleAssignments in roleManagement
      operationId: roleManagement.directory_UpdateRoleAssignment
      parameters:
      - name: unifiedRoleAssignment-id
        in: path
        description: The unique identifier of unifiedRoleAssignment
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleAssignment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignment'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - roleManagement.rbacApplication
      summary: Delete unifiedRoleAssignment
      description: Delete a unifiedRoleAssignment object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/unifiedroleassignment-delete?view=graph-rest-1.0
      operationId: roleManagement.directory_DeleteRoleAssignment
      parameters:
      - name: unifiedRoleAssignment-id
        in: path
        description: The unique identifier of unifiedRoleAssignment
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleAssignment
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/roleAssignments/{unifiedRoleAssignment-id}/appScope:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: Get appScope from roleManagement
      description: Read-only property with details of the app specific scope when the assignment scope is app specific. Containment entity. Supports $expand for the entitlement provider only.
      operationId: roleManagement.directory.roleAssignment_GetAppScope
      parameters:
      - name: unifiedRoleAssignment-id
        in: path
        description: The unique identifier of unifiedRoleAssignment
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleAssignment
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appScope'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - roleManagement.rbacApplication
      summary: Update the navigation property appScope in roleManagement
      operationId: roleManagement.directory.roleAssignment_UpdateAppScope
      parameters:
      - name: unifiedRoleAssignment-id
        in: path
        description: The unique identifier of unifiedRoleAssignment
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleAssignment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appScope'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appScope'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - roleManagement.rbacApplication
      summary: Delete navigation property appScope for roleManagement
      operationId: roleManagement.directory.roleAssignment_DeleteAppScope
      parameters:
      - name: unifiedRoleAssignment-id
        in: path
        description: The unique identifier of unifiedRoleAssignment
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleAssignment
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/roleAssignments/{unifiedRoleAssignment-id}/directoryScope:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: Get directoryScope from roleManagement
      description: The directory object that is the scope of the assignment. Read-only. Supports $expand for the directory provider.
      operationId: roleManagement.directory.roleAssignment_GetDirectoryScope
      parameters:
      - name: unifiedRoleAssignment-id
        in: path
        description: The unique identifier of unifiedRoleAssignment
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleAssignment
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/roleAssignments/{unifiedRoleAssignment-id}/principal:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: Get principal from roleManagement
      description: Referencing the assigned principal. Read-only. Supports $expand except for the Exchange provider.
      operationId: roleManagement.directory.roleAssignment_GetPrincipal
      parameters:
      - name: unifiedRoleAssignment-id
        in: path
        description: The unique identifier of unifiedRoleAssignment
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleAssignment
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/roleAssignments/{unifiedRoleAssignment-id}/roleDefinition:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: Get roleDefinition from roleManagement
      description: The roleDefinition the assignment is for. Supports $expand.
      operationId: roleManagement.directory.roleAssignment_GetRoleDefinition
      parameters:
      - name: unifiedRoleAssignment-id
        in: path
        description: The unique identifier of unifiedRoleAssignment
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleAssignment
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/roleAssignments/$count:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: Get the number of the resource
      operationId: roleManagement.directory.roleAssignment_GetCount
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /roleManagement/directory/roleAssignmentScheduleInstances:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: List roleAssignmentScheduleInstances
      description: Get the instances of active role assignments in your tenant. The active assignments include those made through assignments and activation requests, and directly through the role assignments API.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/rbacapplication-list-roleassignmentscheduleinstances?view=graph-rest-1.0
      operationId: roleManagement.directory_ListRoleAssignmentScheduleInstance
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.unifiedRoleAssignmentScheduleInstanceCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - roleManagement.rbacApplication
      summary: Create new navigation property to roleAssignmentScheduleInstances for…
      operationId: roleManagement.directory_CreateRoleAssignmentScheduleInstance
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignmentScheduleInstance'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignmentScheduleInstance'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/roleAssignmentScheduleInstances/{unifiedRoleAssignmentScheduleInstance-id}:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: Get unifiedRoleAssignmentScheduleInstance
      description: Get the instance of an active role assignment.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/unifiedroleassignmentscheduleinstance-get?view=graph-rest-1.0
      operationId: roleManagement.directory_GetRoleAssignmentScheduleInstance
      parameters:
      - name: unifiedRoleAssignmentScheduleInstance-id
        in: path
        description: The unique identifier of unifiedRoleAssignmentScheduleInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleAssignmentScheduleInstance
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignmentScheduleInstance'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - roleManagement.rbacApplication
      summary: Update the navigation property roleAssignmentScheduleInstances in roleManagement
      operationId: roleManagement.directory_UpdateRoleAssignmentScheduleInstance
      parameters:
      - name: unifiedRoleAssignmentScheduleInstance-id
        in: path
        description: The unique identifier of unifiedRoleAssignmentScheduleInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleAssignmentScheduleInstance
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignmentScheduleInstance'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignmentScheduleInstance'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - roleManagement.rbacApplication
      summary: Delete navigation property roleAssignmentScheduleInstances for roleManagement
      operationId: roleManagement.directory_DeleteRoleAssignmentScheduleInstance
      parameters:
      - name: unifiedRoleAssignmentScheduleInstance-id
        in: path
        description: The unique identifier of unifiedRoleAssignmentScheduleInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleAssignmentScheduleInstance
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/roleAssignmentScheduleInstances/{unifiedRoleAssignmentScheduleInstance-id}/activatedUsing:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: Get activatedUsing from roleManagement
      description: If the request is from an eligible administrator to activate a role, this parameter shows the related eligible assignment for that activation. Otherwise, it's null. Supports $expand and $select nested in $expand.
      operationId: roleManagement.directory.roleAssignmentScheduleInstance_GetActivatedUsing
      parameters:
      - name: unifiedRoleAssignmentScheduleInstance-id
        in: path
        description: The unique identifier of unifiedRoleAssignmentScheduleInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleAssignmentScheduleInstance
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleEligibilityScheduleInstance'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/roleAssignmentScheduleInstances/{unifiedRoleAssignmentScheduleInstance-id}/appScope:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: Get appScope from roleManagement
      description: Read-only property with details of the app-specific scope when the assignment or role eligibility is scoped to an app. Nullable.
      operationId: roleManagement.directory.roleAssignmentScheduleInstance_GetAppScope
      parameters:
      - name: unifiedRoleAssignmentScheduleInstance-id
        in: path
        description: The unique identifier of unifiedRoleAssignmentScheduleInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleAssignmentScheduleInstance
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appScope'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/roleAssignmentScheduleInstances/{unifiedRoleAssignmentScheduleInstance-id}/directoryScope:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: Get directoryScope from roleManagement
      description: The directory object that is the scope of the assignment or role eligibility. Read-only.
      operationId: roleManagement.directory.roleAssignmentScheduleInstance_GetDirectoryScope
      parameters:
      - name: unifiedRoleAssignmentScheduleInstance-id
        in: path
        description: The unique identifier of unifiedRoleAssignmentScheduleInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleAssignmentScheduleInstance
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/roleAssignmentScheduleInstances/{unifiedRoleAssignmentScheduleInstance-id}/principal:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: Get principal from roleManagement
      description: The principal that's getting a role assignment or role eligibility through the request.
      operationId: roleManagement.directory.roleAssignmentScheduleInstance_GetPrincipal
      parameters:
      - name: unifiedRoleAssignmentScheduleInstance-id
        in: path
        description: The unique identifier of unifiedRoleAssignmentScheduleInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleAssignmentScheduleInstance
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/roleAssignmentScheduleInstances/{unifiedRoleAssignmentScheduleInstance-id}/roleDefinition:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: Get roleDefinition from roleManagement
      description: Detailed information for the roleDefinition object that is referenced through the roleDefinitionId property.
      operationId: roleManagement.directory.roleAssignmentScheduleInstance_GetRoleDefinition
      parameters:
      - name: unifiedRoleAssignmentScheduleInstance-id
        in: path
        description: The unique identifier of unifiedRoleAssignmentScheduleInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleAssignmentScheduleInstance
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/roleAssignmentScheduleInstances/$count:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: Get the number of the resource
      operationId: roleManagement.directory.roleAssignmentScheduleInstance_GetCount
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /roleManagement/directory/roleAssignmentScheduleInstances/microsoft.graph.filterByCurrentUser(on='{on}'):
    get:
      tags:
      - roleManagement.rbacApplication
      summary: Invoke function filterByCurrentUser
      description: Get the instances of active role assignments for the calling principal.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/unifiedroleassignmentscheduleinstance-filterbycurrentuser?view=graph-rest-1.0
      operationId: roleManagement.directory.roleAssignmentScheduleInstance_filterGraphBPreCurrentUser
      parameters:
      - name: true
        in: path
        description: 'Usage: on=''{on}'''
        required: true
        style: simple
        schema:
          $ref: '#/components/schemas/microsoft.graph.roleAssignmentScheduleInstanceFilterByCurrentUserOptions'
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of unifiedRoleAssignmentScheduleInstance
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignmentScheduleInstance'
                  '@odata.nextLink':
                    type:
                    - string
                    - 'null'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /roleManagement/directory/roleAssignmentScheduleRequests:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: List roleAssignmentScheduleRequests
      description: Retrieve the requests for active role assignments to principals. The active assignments include those made through assignments and activation requests, and directly through the role assignments API. The role assignments can be permanently active with or without an expiry date, or temporarily active after user activation of eligible assignments.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/rbacapplication-list-roleassignmentschedulerequests?view=graph-rest-1.0
      operationId: roleManagement.directory_ListRoleAssignmentScheduleRequest
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.unifiedRoleAssignmentScheduleRequestCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - roleManagement.rbacApplication
      summary: Create roleAssignmentScheduleRequests
      description: 'In PIM, carry out the following operations through the unifiedRoleAssignmentScheduleRequest object: To call this API to update, renew, and extend assignments for yourself, you must have multifactor authentication (MFA) enforced, and running the query in a session in which they were challenged for MFA. See Enable per-user Microsoft Entra multifactor authentication to secure sign-in events.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/rbacapplication-post-roleassignmentschedulerequests?view=graph-rest-1.0
      operationId: roleManagement.directory_CreateRoleAssignmentScheduleRequest
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignmentScheduleRequest'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignmentScheduleRequest'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/roleAssignmentScheduleRequests/{unifiedRoleAssignmentScheduleRequest-id}:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: Get unifiedRoleAssignmentScheduleRequest
      description: In PIM, read the details of a request for an active and persistent role assignment made through the unifiedRoleAssignmentScheduleRequest object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/unifiedroleassignmentschedulerequest-get?view=graph-rest-1.0
      operationId: roleManagement.directory_GetRoleAssignmentScheduleRequest
      parameters:
      - name: unifiedRoleAssignmentScheduleRequest-id
        in: path
        description: The unique identifier of unifiedRoleAssignmentScheduleRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleAssignmentScheduleRequest
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignmentScheduleRequest'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - roleManagement.rbacApplication
      summary: Update the navigation property roleAssignmentScheduleRequests in roleManagement
      operationId: roleManagement.directory_UpdateRoleAssignmentScheduleRequest
      parameters:
      - name: unifiedRoleAssignmentScheduleRequest-id
        in: path
        description: The unique identifier of unifiedRoleAssignmentScheduleRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleAssignmentScheduleRequest
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignmentScheduleRequest'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignmentScheduleRequest'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - roleManagement.rbacApplication
      summary: Delete navigation property roleAssignmentScheduleRequests for roleManagement
      operationId: roleManagement.directory_DeleteRoleAssignmentScheduleRequest
      parameters:
      - name: unifiedRoleAssignmentScheduleRequest-id
        in: path
        description: The unique identifier of unifiedRoleAssignmentScheduleRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleAssignmentScheduleRequest
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/roleAssignmentScheduleRequests/{unifiedRoleAssignmentScheduleRequest-id}/activatedUsing:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: Get activatedUsing from roleManagement
      description: If the request is from an eligible administrator to activate a role, this parameter will show the related eligible assignment for that activation. Otherwise, it's null. Supports $expand and $select nested in $expand.
      operationId: roleManagement.directory.roleAssignmentScheduleRequest_GetActivatedUsing
      parameters:
      - name: unifiedRoleAssignmentScheduleRequest-id
        in: path
        description: The unique identifier of unifiedRoleAssignmentScheduleRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleAssignmentScheduleRequest
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleEligibilitySchedule'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/roleAssignmentScheduleRequests/{unifiedRoleAssignmentScheduleRequest-id}/appScope:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: Get appScope from roleManagement
      description: Read-only property with details of the app-specific scope when the assignment is scoped to an app. Nullable. Supports $expand.
      operationId: roleManagement.directory.roleAssignmentScheduleRequest_GetAppScope
      parameters:
      - name: unifiedRoleAssignmentScheduleRequest-id
        in: path
        description: The unique identifier of unifiedRoleAssignmentScheduleRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleAssignmentScheduleRequest
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appScope'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/roleAssignmentScheduleRequests/{unifiedRoleAssignmentScheduleRequest-id}/directoryScope:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: Get directoryScope from roleManagement
      description: The directory object that is the scope of the assignment. Read-only. Supports $expand.
      operationId: roleManagement.directory.roleAssignmentScheduleRequest_GetDirectoryScope
      parameters:
      - name: unifiedRoleAssignmentScheduleRequest-id
        in: path
        description: The unique identifier of unifiedRoleAssignmentScheduleRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleAssignmentScheduleRequest
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/roleAssignmentScheduleRequests/{unifiedRoleAssignmentScheduleRequest-id}/microsoft.graph.cancel:
    post:
      tags:
      - roleManagement.rbacApplication
      summary: Invoke action cancel
      description: Immediately cancel a unifiedRoleAssignmentScheduleRequest object that is in a Granted status, and have the system automatically delete the canceled request after 30 days. After calling this action, the status of the canceled unifiedRoleAssignmentScheduleRequest changes to Canceled.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/unifiedroleassignmentschedulerequest-cancel?view=graph-rest-1.0
      operationId: roleManagement.directory.roleAssignmentScheduleRequest_cancel
      parameters:
      - name: unifiedRoleAssignmentScheduleRequest-id
        in: path
        description: The unique identifier of unifiedRoleAssignmentScheduleRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleAssignmentScheduleRequest
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /roleManagement/directory/roleAssignmentScheduleRequests/{unifiedRoleAssignmentScheduleRequest-id}/principal:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: Get principal from roleManagement
      description: The principal that's getting a role assignment through the request. Supports $expand and $select nested in $expand for id only.
      operationId: roleManagement.directory.roleAssignmentScheduleRequest_GetPrincipal
      parameters:
      - name: unifiedRoleAssignmentScheduleRequest-id
        in: path
        description: The unique identifier of unifiedRoleAssignmentScheduleRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleAssignmentScheduleRequest
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/roleAssignmentScheduleRequests/{unifiedRoleAssignmentScheduleRequest-id}/roleDefinition:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: Get roleDefinition from roleManagement
      description: Detailed information for the unifiedRoleDefinition object that is referenced through the roleDefinitionId property. Supports $expand and $select nested in $expand.
      operationId: roleManagement.directory.roleAssignmentScheduleRequest_GetRoleDefinition
      parameters:
      - name: unifiedRoleAssignmentScheduleRequest-id
        in: path
        description: The unique identifier of unifiedRoleAssignmentScheduleRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleAssignmentScheduleRequest
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/roleAssignmentScheduleRequests/{unifiedRoleAssignmentScheduleRequest-id}/targetSchedule:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: Get targetSchedule from roleManagement
      description: The schedule for an eligible role assignment that is referenced through the targetScheduleId property. Supports $expand and $select nested in $expand.
      operationId: roleManagement.directory.roleAssignmentScheduleRequest_GetTargetSchedule
      parameters:
      - name: unifiedRoleAssignmentScheduleRequest-id
        in: path
        description: The unique identifier of unifiedRoleAssignmentScheduleRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleAssignmentScheduleRequest
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignmentSchedule'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/roleAssignmentScheduleRequests/$count:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: Get the number of the resource
      operationId: roleManagement.directory.roleAssignmentScheduleRequest_GetCount
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /roleManagement/directory/roleAssignmentScheduleRequests/microsoft.graph.filterByCurrentUser(on='{on}'):
    get:
      tags:
      - roleManagement.rbacApplication
      summary: Invoke function filterByCurrentUser
      description: In PIM, retrieve the requests for active role assignments for a particular principal. The principal can be the creator or approver of the unifiedRoleAssignmentScheduleRequest object, or they can be the target of the assignment.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/unifiedroleassignmentschedulerequest-filterbycurrentuser?view=graph-rest-1.0
      operationId: roleManagement.directory.roleAssignmentScheduleRequest_filterGraphBPreCurrentUser
      parameters:
      - name: true
        in: path
        description: 'Usage: on=''{on}'''
        required: true
        style: simple
        schema:
          $ref: '#/components/schemas/microsoft.graph.roleAssignmentScheduleRequestFilterByCurrentUserOptions'
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of unifiedRoleAssignmentScheduleRequest
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignmentScheduleRequest'
                  '@odata.nextLink':
                    type:
                    - string
                    - 'null'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /roleManagement/directory/roleAssignmentSchedules:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: List roleAssignmentSchedules
      description: Get the schedules for active role assignment operations.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/rbacapplication-list-roleassignmentschedules?view=graph-rest-1.0
      operationId: roleManagement.directory_ListRoleAssignmentSchedule
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.unifiedRoleAssignmentScheduleCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - roleManagement.rbacApplication
      summary: Create new navigation property to roleAssignmentSchedules for roleManagement
      operationId: roleManagement.directory_CreateRoleAssignmentSchedule
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignmentSchedule'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignmentSchedule'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/roleAssignmentSchedules/{unifiedRoleAssignmentSchedule-id}:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: Get unifiedRoleAssignmentSchedule
      description: Retrieve the schedule for an active role assignment operation.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/unifiedroleassignmentschedule-get?view=graph-rest-1.0
      operationId: roleManagement.directory_GetRoleAssignmentSchedule
      parameters:
      - name: unifiedRoleAssignmentSchedule-id
        in: path
        description: The unique identifier of unifiedRoleAssignmentSchedule
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleAssignmentSchedule
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignmentSchedule'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - roleManagement.rbacApplication
      summary: Update the navigation property roleAssignmentSchedules in roleManagement
      operationId: roleManagement.directory_UpdateRoleAssignmentSchedule
      parameters:
      - name: unifiedRoleAssignmentSchedule-id
        in: path
        description: The unique identifier of unifiedRoleAssignmentSchedule
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleAssignmentSchedule
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignmentSchedule'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignmentSchedule'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - roleManagement.rbacApplication
      summary: Delete navigation property roleAssignmentSchedules for roleManagement
      operationId: roleManagement.directory_DeleteRoleAssignmentSchedule
      parameters:
      - name: unifiedRoleAssignmentSchedule-id
        in: path
        description: The unique identifier of unifiedRoleAssignmentSchedule
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleAssignmentSchedule
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/roleAssignmentSchedules/{unifiedRoleAssignmentSchedule-id}/activatedUsing:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: Get activatedUsing from roleManagement
      description: If the request is from an eligible administrator to activate a role, this parameter shows the related eligible assignment for that activation. Otherwise, it's null. Supports $expand.
      operationId: roleManagement.directory.roleAssignmentSchedule_GetActivatedUsing
      parameters:
      - name: unifiedRoleAssignmentSchedule-id
        in: path
        description: The unique identifier of unifiedRoleAssignmentSchedule
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleAssignmentSchedule
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleEligibilitySchedule'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/roleAssignmentSchedules/{unifiedRoleAssignmentSchedule-id}/appScope:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: Get appScope from roleManagement
      description: Read-only property with details of the app-specific scope when the role eligibility or assignment is scoped to an app. Nullable.
      operationId: roleManagement.directory.roleAssignmentSchedule_GetAppScope
      parameters:
      - name: unifiedRoleAssignmentSchedule-id
        in: path
        description: The unique identifier of unifiedRoleAssignmentSchedule
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleAssignmentSchedule
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appScope'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/roleAssignmentSchedules/{unifiedRoleAssignmentSchedule-id}/directoryScope:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: Get directoryScope from roleManagement
      description: The directory object that is the scope of the role eligibility or assignment. Read-only.
      operationId: roleManagement.directory.roleAssignmentSchedule_GetDirectoryScope
      parameters:
      - name: unifiedRoleAssignmentSchedule-id
        in: path
        description: The unique identifier of unifiedRoleAssignmentSchedule
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleAssignmentSchedule
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/roleAssignmentSchedules/{unifiedRoleAssignmentSchedule-id}/principal:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: Get principal from roleManagement
      description: The principal that's getting a role assignment or that's eligible for a role through the request.
      operationId: roleManagement.directory.roleAssignmentSchedule_GetPrincipal
      parameters:
      - name: unifiedRoleAssignmentSchedule-id
        in: path
        description: The unique identifier of unifiedRoleAssignmentSchedule
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleAssignmentSchedule
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/roleAssignmentSchedules/{unifiedRoleAssignmentSchedule-id}/roleDefinition:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: Get roleDefinition from roleManagement
      description: Detailed information for the roleDefinition object that is referenced through the roleDefinitionId property.
      operationId: roleManagement.directory.roleAssignmentSchedule_GetRoleDefinition
      parameters:
      - name: unifiedRoleAssignmentSchedule-id
        in: path
        description: The unique identifier of unifiedRoleAssignmentSchedule
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleAssignmentSchedule
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/roleAssignmentSchedules/$count:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: Get the number of the resource
      operationId: roleManagement.directory.roleAssignmentSchedule_GetCount
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /roleManagement/directory/roleAssignmentSchedules/microsoft.graph.filterByCurrentUser(on='{on}'):
    get:
      tags:
      - roleManagement.rbacApplication
      summary: Invoke function filterByCurrentUser
      description: Retrieve the schedules for active role assignment operations for which the signed-in user is the principal.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/unifiedroleassignmentschedule-filterbycurrentuser?view=graph-rest-1.0
      operationId: roleManagement.directory.roleAssignmentSchedule_filterGraphBPreCurrentUser
      parameters:
      - name: true
        in: path
        description: 'Usage: on=''{on}'''
        required: true
        style: simple
        schema:
          $ref: '#/components/schemas/microsoft.graph.roleAssignmentScheduleFilterByCurrentUserOptions'
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of unifiedRoleAssignmentSchedule
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.unifiedRoleAssignmentSchedule'
                  '@odata.nextLink':
                    type:
                    - string
                    - 'null'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /roleManagement/directory/roleDefinitions:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: List roleDefinitions
      description: 'Get a list of unifiedRoleDefinition objects for the provider. The following RBAC providers are currently supported:

        - directory (Microsoft Entra ID)

        - entitlement management (Microsoft Entra Entitlement Management)'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/rbacapplication-list-roledefinitions?view=graph-rest-1.0
      operationId: roleManagement.directory_ListRoleDefinition
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.unifiedRoleDefinitionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - roleManagement.rbacApplication
      summary: Create roleDefinitions
      description: Create a new custom unifiedRoleDefinition object. This feature requires a Microsoft Entra ID P1 or P2 license.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/rbacapplication-post-roledefinitions?view=graph-rest-1.0
      operationId: roleManagement.directory_CreateRoleDefinition
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/roleDefinitions/{unifiedRoleDefinition-id}:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: Get unifiedRoleDefinition
      description: 'Read the properties and relationships of a unifiedRoleDefinition object. The following role-based access control (RBAC) providers are currently supported:'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/unifiedroledefinition-get?view=graph-rest-1.0
      operationId: roleManagement.directory_GetRoleDefinition
      parameters:
      - name: unifiedRoleDefinition-id
        in: path
        description: The unique identifier of unifiedRoleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleDefinition
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - roleManagement.rbacApplication
      summary: Update unifiedRoleDefinition
      description: Update the properties of a unifiedRoleDefinition object. You cannot update built-in roles. This feature requires a Microsoft Entra ID P1 or P2 license.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/unifiedroledefinition-update?view=graph-rest-1.0
      operationId: roleManagement.directory_UpdateRoleDefinition
      parameters:
      - name: unifiedRoleDefinition-id
        in: path
        description: The unique identifier of unifiedRoleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleDefinition
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - roleManagement.rbacApplication
      summary: Delete unifiedRoleDefinition
      description: Delete a unifiedRoleDefinition object. You can't delete built-in roles. This feature requires a Microsoft Entra ID P1 or P2 license.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/unifiedroledefinition-delete?view=graph-rest-1.0
      operationId: roleManagement.directory_DeleteRoleDefinition
      parameters:
      - name: unifiedRoleDefinition-id
        in: path
        description: The unique identifier of unifiedRoleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleDefinition
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/roleDefinitions/{unifiedRoleDefinition-id}/inheritsPermissionsFrom:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: Get inheritsPermissionsFrom from roleManagement
      description: Read-only collection of role definitions that the given role definition inherits from. Only Microsoft Entra built-in roles (isBuiltIn is true) support this attribute. Supports $expand.
      operationId: roleManagement.directory.roleDefinition_ListInheritsPermissionsFrom
      parameters:
      - name: unifiedRoleDefinition-id
        in: path
        description: The unique identifier of unifiedRoleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleDefinition
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.unifiedRoleDefinitionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - roleManagement.rbacApplication
      summary: Create new navigation property to inheritsPermissionsFrom for roleManagement
      operationId: roleManagement.directory.roleDefinition_CreateInheritsPermissionsFrom
      parameters:
      - name: unifiedRoleDefinition-id
        in: path
        description: The unique identifier of unifiedRoleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleDefinition
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /roleManagement/directory/roleDefinitions/{unifiedRoleDefinition-id}/inheritsPermissionsFrom/{unifiedRoleDefinition-id1}:
    get:
      tags:
      - roleManagement.rbacApplication
      summary: Get inheritsPermissionsFrom from roleManagement
      description: Read-only collection of role definitions that the given role definition inherits from. Only Microsoft Entra built-in roles (isBuiltIn is true) support this attribute. Supports $expand.
      operationId: roleManagement.directory.roleDefinition_GetInheritsPermissionsFrom
      parameters:
      - name: unifiedRoleDefinition-id
        in: path
        description: The unique identifier of unifiedRoleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleDefinition
      - name: unifiedRoleDefinition-id1
        in: path
        description: The unique identifier of unifiedRoleDefinition
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: unifiedRoleDefinition
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedRoleDefinition'
        default:
          $ref: '#/components/responses/error'
[...]
