openapi: 3.2.0
info:
  title: Identity.SignIns Policies.activity Based Timeout Policy API
  version: v1.0
servers:
- url: https://graph.microsoft.com/v1.0/
  description: Core
security:
- azureaadv2: []
tags:
- name: policies.activityBasedTimeoutPolicy
paths:
  /policies/activityBasedTimeoutPolicies:
    get:
      tags:
      - policies.activityBasedTimeoutPolicy
      summary: List activityBasedTimeoutPolicies
      description: Get a list of activityBasedTimeoutPolicy objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/activitybasedtimeoutpolicy-list?view=graph-rest-1.0
      operationId: policy_ListActivityBasedTimeoutPolicy
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.activityBasedTimeoutPolicyCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - policies.activityBasedTimeoutPolicy
      summary: Create activityBasedTimeoutPolicy
      description: Create a new activityBasedTimeoutPolicy object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/activitybasedtimeoutpolicy-post-activitybasedtimeoutpolicies?view=graph-rest-1.0
      operationId: policy_CreateActivityBasedTimeoutPolicy
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.activityBasedTimeoutPolicy'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.activityBasedTimeoutPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /policies/activityBasedTimeoutPolicies/{activityBasedTimeoutPolicy-id}:
    get:
      tags:
      - policies.activityBasedTimeoutPolicy
      summary: Get activityBasedTimeoutPolicy
      description: Get the properties of an activityBasedTimeoutPolicy object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/activitybasedtimeoutpolicy-get?view=graph-rest-1.0
      operationId: policy_GetActivityBasedTimeoutPolicy
      parameters:
      - name: activityBasedTimeoutPolicy-id
        in: path
        description: The unique identifier of activityBasedTimeoutPolicy
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: activityBasedTimeoutPolicy
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.activityBasedTimeoutPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - policies.activityBasedTimeoutPolicy
      summary: Update activitybasedtimeoutpolicy
      description: Update the properties of an activityBasedTimeoutPolicy object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/activitybasedtimeoutpolicy-update?view=graph-rest-1.0
      operationId: policy_UpdateActivityBasedTimeoutPolicy
      parameters:
      - name: activityBasedTimeoutPolicy-id
        in: path
        description: The unique identifier of activityBasedTimeoutPolicy
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: activityBasedTimeoutPolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.activityBasedTimeoutPolicy'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.activityBasedTimeoutPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - policies.activityBasedTimeoutPolicy
      summary: Delete activityBasedTimeoutPolicy
      description: Delete an activityBasedTimeoutPolicy object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/activitybasedtimeoutpolicy-delete?view=graph-rest-1.0
      operationId: policy_DeleteActivityBasedTimeoutPolicy
      parameters:
      - name: activityBasedTimeoutPolicy-id
        in: path
        description: The unique identifier of activityBasedTimeoutPolicy
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: activityBasedTimeoutPolicy
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /policies/activityBasedTimeoutPolicies/{activityBasedTimeoutPolicy-id}/appliesTo:
    get:
      tags:
      - policies.activityBasedTimeoutPolicy
      summary: Get appliesTo from policies
      operationId: policy.activityBasedTimeoutPolicy_ListAppliesTo
      parameters:
      - name: activityBasedTimeoutPolicy-id
        in: path
        description: The unique identifier of activityBasedTimeoutPolicy
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: activityBasedTimeoutPolicy
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.directoryObjectCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /policies/activityBasedTimeoutPolicies/{activityBasedTimeoutPolicy-id}/appliesTo/{directoryObject-id}:
    get:
      tags:
      - policies.activityBasedTimeoutPolicy
      summary: Get appliesTo from policies
      operationId: policy.activityBasedTimeoutPolicy_GetAppliesTo
      parameters:
      - name: activityBasedTimeoutPolicy-id
        in: path
        description: The unique identifier of activityBasedTimeoutPolicy
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: activityBasedTimeoutPolicy
      - name: directoryObject-id
        in: path
        description: The unique identifier of directoryObject
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: directoryObject
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryObject'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /policies/activityBasedTimeoutPolicies/{activityBasedTimeoutPolicy-id}/appliesTo/$count:
    get:
      tags:
      - policies.activityBasedTimeoutPolicy
      summary: Get the number of the resource
      operationId: policy.activityBasedTimeoutPolicy.appliesTo_GetCount
      parameters:
      - name: activityBasedTimeoutPolicy-id
        in: path
        description: The unique identifier of activityBasedTimeoutPolicy
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: activityBasedTimeoutPolicy
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /policies/activityBasedTimeoutPolicies/$count:
    get:
      tags:
      - policies.activityBasedTimeoutPolicy
      summary: Get the number of the resource
      operationId: policy.activityBasedTimeoutPolicy_GetCount
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
components:
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
    microsoft.graph.directoryObjectCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.directoryObjectCollectionResponse'
    microsoft.graph.activityBasedTimeoutPolicyCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.activityBasedTimeoutPolicyCollectionResponse'
    ODataCountResponse:
      description: The count of the resource
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ODataCountResponse'
  schemas:
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type:
          - string
          - 'null'
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    ODataCountResponse:
      type: integer
      format: int32
    microsoft.graph.activityBasedTimeoutPolicyCollectionResponse:
      title: Collection of activityBasedTimeoutPolicy
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.activityBasedTimeoutPolicy'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.directoryObject:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: directoryObject
        type: object
        properties:
          deletedDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: Date and time when this object was deleted. Always null when the object hasn't been deleted.
            format: date-time
        additionalProperties:
          type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.activityBasedTimeoutPolicy:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.stsPolicy'
      - title: activityBasedTimeoutPolicy
        type: object
        additionalProperties:
          type: object
    microsoft.graph.directoryObjectCollectionResponse:
      title: Collection of directoryObject
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.directoryObject'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.policyBase:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.directoryObject'
      - title: policyBase
        type: object
        properties:
          description:
            type:
            - string
            - 'null'
            description: Description for this policy. Required.
          displayName:
            type:
            - string
            - 'null'
            description: Display name for this policy. Required.
        additionalProperties:
          type: object
    microsoft.graph.stsPolicy:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.policyBase'
      - title: stsPolicy
        type: object
        properties:
          definition:
            type: array
            items:
              type: string
            description: A string collection containing a JSON string that defines the rules and settings for a policy. The syntax for the definition differs for each derived policy type. Required.
          isOrganizationDefault:
            type:
            - boolean
            - 'null'
            description: If set to true, activates this policy. There can be many policies for the same policy type, but only one can be activated as the organization default. Optional, default value is false.
          appliesTo:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.directoryObject'
            x-ms-navigationProperty: true
        additionalProperties:
          type: object
  parameters:
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
    top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: {}
