openapi: 3.2.0
info:
  title: Applications Service Principals.service Principal.Functions…
  version: v1.0
servers:
- url: https://graph.microsoft.com/v1.0/
  description: Core
security:
- azureaadv2: []
tags:
- name: servicePrincipals.servicePrincipal.Functions
paths:
  /servicePrincipals/microsoft.graph.delta():
    get:
      tags:
      - servicePrincipals.servicePrincipal.Functions
      summary: Invoke function delta
      description: Get newly created, updated, or deleted service principals without having to perform a full read of the entire resource collection. For more information, see Use delta query to track changes in Microsoft Graph data for details.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/serviceprincipal-delta?view=graph-rest-1.0
      operationId: servicePrincipal_delta
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of servicePrincipal
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.servicePrincipal'
                  '@odata.nextLink':
                    type:
                    - string
                    - 'null'
                  '@odata.deltaLink':
                    type:
                    - string
                    - 'null'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
components:
  schemas:
    microsoft.graph.claimsMappingPolicy:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.stsPolicy'
      - title: claimsMappingPolicy
        type: object
        additionalProperties:
          type: object
    microsoft.graph.attributeDefinition:
      title: attributeDefinition
      type: object
      properties:
        anchor:
          type: boolean
          description: true if the attribute should be used as the anchor for the object. Anchor attributes must have a unique value identifying an object, and must be immutable. Default is false. One, and only one, of the object's attributes must be designated as the anchor to support synchronization.
        apiExpressions:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.stringKeyStringValuePair'
        caseExact:
          type: boolean
          description: true if value of this attribute should be treated as case-sensitive. This setting affects how the synchronization engine detects changes for the attribute.
        defaultValue:
          type:
          - string
          - 'null'
          description: The default value of the attribute.
        flowNullValues:
          type: boolean
          description: '''true'' to allow null values for attributes.'
        metadata:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.attributeDefinitionMetadataEntry'
          description: Metadata for the given object.
        multivalued:
          type: boolean
          description: true if an attribute can have multiple values. Default is false.
        mutability:
          $ref: '#/components/schemas/microsoft.graph.mutability'
        name:
          type:
          - string
          - 'null'
          description: Name of the attribute. Must be unique within the object definition. Not nullable.
        referencedObjects:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.referencedObject'
          description: For attributes with reference type, lists referenced objects (for example, the manager attribute would list User as the referenced object).
        required:
          type: boolean
          description: true if attribute is required. Object can not be created if any of the required attributes are missing. If during synchronization, the required attribute has no value, the default value will be used. If default the value was not set, synchronization will record an error.
        type:
          $ref: '#/components/schemas/microsoft.graph.attributeType'
      additionalProperties:
        type: object
    microsoft.graph.attributeType:
      title: attributeType
      enum:
      - String
      - Integer
      - Reference
      - Binary
      - Boolean
      - DateTime
      type: string
    microsoft.graph.synchronization:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: synchronization
        type: object
        properties:
          secrets:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.synchronizationSecretKeyStringValuePair'
            description: Represents a collection of credentials to access provisioned cloud applications.
          jobs:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.synchronizationJob'
            description: Performs synchronization by periodically running in the background, polling for changes in one directory, and pushing them to another directory.
            x-ms-navigationProperty: true
          templates:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.synchronizationTemplate'
            description: Preconfigured synchronization settings for a particular application.
            x-ms-navigationProperty: true
        additionalProperties:
          type: object
    microsoft.graph.tokenIssuancePolicy:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.stsPolicy'
      - title: tokenIssuancePolicy
        type: object
        additionalProperties:
          type: object
    microsoft.graph.synchronizationMetadata:
      title: synchronizationMetadata
      enum:
      - GalleryApplicationIdentifier
      - GalleryApplicationKey
      - IsOAuthEnabled
      - IsSynchronizationAgentAssignmentRequired
      - IsSynchronizationAgentRequired
      - IsSynchronizationInPreview
      - OAuthSettings
      - SynchronizationLearnMoreIbizaFwLink
      - ConfigurationFields
      type: string
    microsoft.graph.objectMappingMetadata:
      title: objectMappingMetadata
      enum:
      - EscrowBehavior
      - DisableMonitoringForChanges
      - OriginalJoiningProperty
      - Disposition
      - IsCustomerDefined
      - ExcludeFromReporting
      - Unsynchronized
      type: string
    microsoft.graph.endpoint:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.directoryObject'
      - title: endpoint
        type: object
        properties:
          capability:
            type: string
          providerId:
            type:
            - string
            - 'null'
          providerName:
            type:
            - string
            - 'null'
          providerResourceId:
            type:
            - string
            - 'null'
          uri:
            type: string
        additionalProperties:
          type: object
    microsoft.graph.attributeDefinitionMetadata:
      title: attributeDefinitionMetadata
      enum:
      - BaseAttributeName
      - ComplexObjectDefinition
      - IsContainer
      - IsCustomerDefined
      - IsDomainQualified
      - LinkPropertyNames
      - LinkTypeName
      - MaximumLength
      - ReferencedProperty
      type: string
    microsoft.graph.passwordCredentialConfiguration:
      title: passwordCredentialConfiguration
      type: object
      properties:
        excludeActors:
          $ref: '#/components/schemas/microsoft.graph.appManagementPolicyActorExemptions'
        maxLifetime:
          pattern: ^-?P([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+([.][0-9]+)?S)?)?$
          type:
          - string
          - 'null'
          description: String value that indicates the maximum lifetime for password expiration, defined as an ISO 8601 duration. For example, P4DT12H30M5S represents four days, 12 hours, 30 minutes, and five seconds. This property is required when restrictionType is set to passwordLifetime.
          format: duration
        restrictForAppsCreatedAfterDateTime:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type:
          - string
          - 'null'
          description: Specifies the date from which the policy restriction applies to newly created applications. For existing applications, the enforcement date can be retroactively applied.
          format: date-time
        restrictionType:
          $ref: '#/components/schemas/microsoft.graph.appCredentialRestrictionType'
        state:
          $ref: '#/components/schemas/microsoft.graph.appManagementRestrictionState'
      additionalProperties:
        type: object
    microsoft.graph.attributeFlowBehavior:
      title: attributeFlowBehavior
      enum:
      - FlowWhenChanged
      - FlowAlways
      type: string
    microsoft.graph.tokenLifetimePolicy:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.stsPolicy'
      - title: tokenLifetimePolicy
        type: object
        additionalProperties:
          type: object
    microsoft.graph.synchronizationError:
      title: synchronizationError
      type: object
      properties:
        code:
          type:
          - string
          - 'null'
          description: The error code. For example, AzureDirectoryB2BManagementPolicyCheckFailure.
        message:
          type:
          - string
          - 'null'
          description: The error message. For example, Policy permitting auto-redemption of invitations not configured.
        tenantActionable:
          type: boolean
          description: The action to take to resolve the error. For example, false.
      additionalProperties:
        type: object
    microsoft.graph.resourceSpecificPermission:
      title: resourceSpecificPermission
      type: object
      properties:
        description:
          type:
          - string
          - 'null'
          description: Describes the level of access that the resource-specific permission represents.
        displayName:
          type:
          - string
          - 'null'
          description: The display name for the resource-specific permission.
        id:
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
          type: string
          description: The unique identifier for the resource-specific application permission.
          format: uuid
        isEnabled:
          type: boolean
          description: Indicates whether the permission is enabled.
        value:
          type:
          - string
          - 'null'
          description: The value of the permission.
      additionalProperties:
        type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.federatedIdentityCredential:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: federatedIdentityCredential
        type: object
        properties:
          audiences:
            type: array
            items:
              type: string
            description: The audience that can appear in the external token. This field is mandatory and should be set to api://AzureADTokenExchange for Microsoft Entra ID. It says what Microsoft identity platform should accept in the aud claim in the incoming token. This value represents Microsoft Entra ID in your external identity provider and has no fixed value across identity providers - you might need to create a new application registration in your identity provider to serve as the audience of this token. This field can only accept a single value and has a limit of 600 characters. Required.
          description:
            type:
            - string
            - 'null'
            description: The unvalidated description of the federated identity credential, provided by the user. It has a limit of 600 characters. Optional.
          issuer:
            type: string
            description: The URL of the external identity provider, which must match the issuer claim of the external token being exchanged. The combination of the values of issuer and subject must be unique within the app. It has a limit of 600 characters. Required.
          name:
            type: string
            description: The unique identifier for the federated identity credential, which has a limit of 120 characters and must be URL friendly. The string is immutable after it's created. Alternate key. Required. Not nullable. Supports $filter (eq).
          subject:
            type:
            - string
            - 'null'
            description: Required. The identifier of the external software workload within the external identity provider. Like the audience value, it has no fixed format; each identity provider uses their own - sometimes a GUID, sometimes a colon delimited identifier, sometimes arbitrary strings. The value here must match the sub claim within the token presented to Microsoft Entra ID. The combination of issuer and subject must be unique within the app. It has a limit of 600 characters. Supports $filter (eq).
        additionalProperties:
          type: object
    microsoft.graph.keyCredentialConfiguration:
      title: keyCredentialConfiguration
      type: object
      properties:
        excludeActors:
          $ref: '#/components/schemas/microsoft.graph.appManagementPolicyActorExemptions'
        maxLifetime:
          pattern: ^-?P([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+([.][0-9]+)?S)?)?$
          type:
          - string
          - 'null'
          description: String value that indicates the maximum lifetime for key expiration, defined as an ISO 8601 duration. For example, P4DT12H30M5S represents four days, 12 hours, 30 minutes, and five seconds. This property is required when restrictionType is set to asymmetricKeyLifetime.
          format: duration
        restrictForAppsCreatedAfterDateTime:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type:
          - string
          - 'null'
          description: Specifies the date from which the policy restriction applies to newly created applications. For existing applications, the enforcement date can be retroactively applied.
          format: date-time
        restrictionType:
          $ref: '#/components/schemas/microsoft.graph.appKeyCredentialRestrictionType'
        state:
          $ref: '#/components/schemas/microsoft.graph.appManagementRestrictionState'
      additionalProperties:
        type: object
    microsoft.graph.synchronizationRule:
      title: synchronizationRule
      type: object
      properties:
        containerFilter:
          $ref: '#/components/schemas/microsoft.graph.containerFilter'
        editable:
          type: boolean
          description: true if the synchronization rule can be customized; false if this rule is read-only and shouldn't be changed.
        groupFilter:
          $ref: '#/components/schemas/microsoft.graph.groupFilter'
        id:
          type:
          - string
          - 'null'
          description: Synchronization rule identifier. Must be one of the identifiers recognized by the synchronization engine. Supported rule identifiers can be found in the synchronization template returned by the API.
        metadata:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.stringKeyStringValuePair'
          description: Additional extension properties. Unless instructed explicitly by the support team, metadata values shouldn't be changed.
        name:
          type:
          - string
          - 'null'
          description: Human-readable name of the synchronization rule. Not nullable.
        objectMappings:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.objectMapping'
          description: Collection of object mappings supported by the rule. Tells the synchronization engine which objects should be synchronized.
        priority:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: Priority relative to other rules in the synchronizationSchema. Rules with the lowest priority number will be processed first.
          format: int32
        sourceDirectoryName:
          type:
          - string
          - 'null'
          description: Name of the source directory. Must match one of the directory definitions in synchronizationSchema.
        targetDirectoryName:
          type:
          - string
          - 'null'
          description: Name of the target directory. Must match one of the directory definitions in synchronizationSchema.
      additionalProperties:
        type: object
    microsoft.graph.attributeMapping:
      title: attributeMapping
      type: object
      properties:
        defaultValue:
          type:
          - string
          - 'null'
          description: Default value to be used in case the source property was evaluated to null. Optional.
        exportMissingReferences:
          type: boolean
          description: For internal use only.
        flowBehavior:
          $ref: '#/components/schemas/microsoft.graph.attributeFlowBehavior'
        flowType:
          $ref: '#/components/schemas/microsoft.graph.attributeFlowType'
        matchingPriority:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: If higher than 0, this attribute will be used to perform an initial match of the objects between source and target directories. The synchronization engine will try to find the matching object using attribute with lowest value of matching priority first. If not found, the attribute with the next matching priority will be used, and so on a until match is found or no more matching attributes are left. Only attributes that are expected to have unique values, such as email, should be used as matching attributes.
          format: int32
        source:
          $ref: '#/components/schemas/microsoft.graph.attributeMappingSource'
        targetAttributeName:
          type:
          - string
          - 'null'
          description: Name of the attribute on the target object.
      additionalProperties:
        type: object
    microsoft.graph.synchronizationMetadataEntry:
      title: synchronizationMetadataEntry
      type: object
      properties:
        key:
          $ref: '#/components/schemas/microsoft.graph.synchronizationMetadata'
        value:
          type:
          - string
          - 'null'
          description: Value of the metadata property.
      additionalProperties:
        type: object
    microsoft.graph.objectDefinition:
      title: objectDefinition
      type: object
      properties:
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.attributeDefinition'
          description: Defines attributes of the object.
        metadata:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.objectDefinitionMetadataEntry'
          description: Metadata for the given object.
        name:
          type:
          - string
          - 'null'
          description: Name of the object. Must be unique within a directory definition. Not nullable.
        supportedApis:
          type: array
          items:
            type:
            - string
            - 'null'
          description: The API that the provisioning service queries to retrieve data for synchronization.
      additionalProperties:
        type: object
    microsoft.graph.quarantineReason:
      title: quarantineReason
      enum:
      - EncounteredBaseEscrowThreshold
      - EncounteredTotalEscrowThreshold
      - EncounteredEscrowProportionThreshold
      - EncounteredQuarantineException
      - Unknown
      - QuarantinedOnDemand
      - TooManyDeletes
      - IngestionInterrupted
      type: string
    microsoft.graph.permissionClassificationType:
      title: permissionClassificationType
      enum:
      - low
      - medium
      - high
      - unknownFutureValue
      type: string
    microsoft.graph.synchronizationSecretKeyStringValuePair:
      title: synchronizationSecretKeyStringValuePair
      type: object
      properties:
        key:
          $ref: '#/components/schemas/microsoft.graph.synchronizationSecret'
        value:
          type:
          - string
          - 'null'
          description: The value of the secret.
      additionalProperties:
        type: object
    microsoft.graph.appManagementConfiguration:
      title: appManagementConfiguration
      type: object
      properties:
        keyCredentials:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.keyCredentialConfiguration'
          description: Collection of keyCredential restrictions settings to be applied to an application or service principal.
        passwordCredentials:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.passwordCredentialConfiguration'
          description: Collection of password restrictions settings to be applied to an application or service principal.
      additionalProperties:
        type: object
    microsoft.graph.attributeMappingSourceType:
      title: attributeMappingSourceType
      enum:
      - Attribute
      - Constant
      - Function
      type: string
    microsoft.graph.attributeMappingSource:
      title: attributeMappingSource
      type: object
      properties:
        expression:
          type:
          - string
          - 'null'
          description: Equivalent expression representation of this attributeMappingSource object.
        name:
          type:
          - string
          - 'null'
          description: Name parameter of the mapping source. Depending on the type property value, this can be the name of the function, the name of the source attribute, or a constant value to be used.
        parameters:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.stringKeyAttributeMappingSourceValuePair'
          description: If this object represents a function, lists function parameters. Parameters consist of attributeMappingSource objects themselves, allowing for complex expressions. If type isn't Function, this property is null/empty array.
        type:
          $ref: '#/components/schemas/microsoft.graph.attributeMappingSourceType'
      additionalProperties:
        type: object
    microsoft.graph.stringKeyLongValuePair:
      title: stringKeyLongValuePair
      type: object
      properties:
        key:
          type:
          - string
          - 'null'
          description: The mapping of the user type from the source system to the target system. For example:User to User - For Microsoft Entra ID to Microsoft Entra ID synchronization worker to user - For Workday to Microsoft Entra synchronization.
        value:
          type: number
          description: Total number of synchronized objects.
          format: int64
      additionalProperties:
        type: object
    microsoft.graph.referencedObject:
      title: referencedObject
      type: object
      properties:
        referencedObjectName:
          type:
          - string
          - 'null'
          description: Name of the referenced object. Must match one of the objects in the directory definition.
        referencedProperty:
          type:
          - string
          - 'null'
          description: Currently not supported. Name of the property in the referenced object, the value for which is used as the reference.
      additionalProperties:
        type: object
    microsoft.graph.identifierUriRestriction:
      title: identifierUriRestriction
      type: object
      properties:
        excludeActors:
          $ref: '#/components/schemas/microsoft.graph.appManagementPolicyActorExemptions'
        excludeAppsReceivingV2Tokens:
          type:
          - boolean
          - 'null'
          description: If true, the restriction isn't enforced for applications that are configured to receive V2 tokens in Microsoft Entra ID; else, the restriction is enforced for those applications.
        excludeSaml:
          type:
          - boolean
          - 'null'
          description: If true, the restriction isn't enforced for SAML applications in Microsoft Entra ID; else, the restriction is enforced for those applications.
        isStateSetByMicrosoft:
          type: boolean
          description: If true, Microsoft sets the identifierUriRestriction state. If false, the tenant modifies the identifierUriRestriction state. Read-only.
          readOnly: true
        restrictForAppsCreatedAfterDateTime:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type:
          - string
          - 'null'
          description: Specifies the date from which the policy restriction applies to newly created applications. For existing applications, the enforcement date can be retroactively applied.
          format: date-time
        state:
          $ref: '#/components/schemas/microsoft.graph.appManagementRestrictionState'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.servicePrincipal:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.directoryObject'
      - title: servicePrincipal
        type: object
        properties:
          accountEnabled:
            type:
            - boolean
            - 'null'
            description: true if the service principal account is enabled; otherwise, false. If set to false, then no users are able to sign in to this app, even if they're assigned to it. Supports $filter (eq, ne, not, in).
          addIns:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.addIn'
            description: Defines custom behavior that a consuming service can use to call an app in specific contexts. For example, applications that can render file streams may set the addIns property for its 'FileHandler' functionality. This lets services like Microsoft 365 call the application in the context of a document the user is working on.
          alternativeNames:
            type: array
            items:
              type: string
            description: Used to retrieve service principals by subscription, identify resource group and full resource IDs for managed identities. Supports $filter (eq, not, ge, le, startsWith).
          appDescription:
            type:
            - string
            - 'null'
            description: The description exposed by the associated application.
          appDisplayName:
            type:
            - string
            - 'null'
            description: The display name exposed by the associated application. Maximum length is 256 characters.
          appId:
            type:
            - string
            - 'null'
            description: The unique identifier for the associated application (its appId property). Alternate key. Supports $filter (eq, ne, not, in, startsWith).
          applicationTemplateId:
            type:
            - string
            - 'null'
            description: Unique identifier of the applicationTemplate. Supports $filter (eq, not, ne). Read-only. null if the service principal wasn't created from an application template.
          appOwnerOrganizationId:
            pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
            type:
            - string
            - 'null'
            description: Contains the tenant ID where the application is registered. This is applicable only to service principals backed by applications. Supports $filter (eq, ne, NOT, ge, le).
            format: uuid
          appRoleAssignmentRequired:
            type: boolean
            description: Specifies whether users or other service principals need to be granted an app role assignment for this service principal before users can sign in or apps can get tokens. The default value is false. Not nullable. Supports $filter (eq, ne, NOT).
          appRoles:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.appRole'
            description: The roles exposed by the application that's linked to this service principal. For more information, see the appRoles property definition on the application entity. Not nullable.
          createdByAppId:
            type:
            - string
            - 'null'
            description: The appId of the application that created this service principal. Set internally by Microsoft Entra ID. Read-only.
          customSecurityAttributes:
            $ref: '#/components/schemas/microsoft.graph.customSecurityAttributeValue'
          description:
            type:
            - string
            - 'null'
            description: Free text field to provide an internal end-user facing description of the service principal. End-user portals such MyApps displays the application description in this field. The maximum allowed size is 1,024 characters. Supports $filter (eq, ne, not, ge, le, startsWith) and $search.
          disabledByMicrosoftStatus:
            type:
            - string
            - 'null'
            description: 'Specifies whether Microsoft has disabled the registered application. The possible values are: null (default value), NotDisabled, and DisabledDueToViolationOfServicesAgreement (reasons include suspicious, abusive, or malicious activity, or a violation of the Microsoft Services Agreement).  Supports $filter (eq, ne, not).'
          displayName:
            type:
            - string
            - 'null'
            description: The display name for the service principal. Supports $filter (eq, ne, not, ge, le, in, startsWith, and eq on null values), $search, and $orderby.
          homepage:
            type:
            - string
            - 'null'
            description: Home page or landing page of the application.
          info:
            $ref: '#/components/schemas/microsoft.graph.informationalUrl'
          isDisabled:
            type:
            - boolean
            - 'null'
          keyCredentials:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.keyCredential'
            description: The collection of key credentials associated with the service principal. Not nullable. Supports $filter (eq, not, ge, le).
          loginUrl:
            type:
            - string
            - 'null'
            description: Specifies the URL where the service provider redirects the user to Microsoft Entra ID to authenticate. Microsoft Entra ID uses the URL to launch the application from Microsoft 365 or the Microsoft Entra My Apps. When blank, Microsoft Entra ID performs IdP-initiated sign-on for applications configured with SAML-based single sign-on. The user launches the application from Microsoft 365, the Microsoft Entra My Apps, or the Microsoft Entra SSO URL.
          logoutUrl:
            type:
            - string
            - 'null'
            description: Specifies the URL that the Microsoft's authorization service uses to sign out a user using OpenID Connect front-channel, back-channel, or SAML sign out protocols.
          notes:
            type:
            - string
            - 'null'
            description: Free text field to capture information about the service principal, typically used for operational purposes. Maximum allowed size is 1,024 characters.
          notificationEmailAddresses:
            type: array
            items:
              type: string
            description: Specifies the list of email addresses where Microsoft Entra ID sends a notification when the active certificate is near the expiration date. This is only for the certificates used to sign the SAML token issued for Microsoft Entra Gallery applications.
          oauth2PermissionScopes:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.permissionScope'
            description: The delegated permissions exposed by the application. For more information, see the oauth2PermissionScopes property on the application entity's api property. Not nullable.
          passwordCredentials:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.passwordCredential'
            description: The collection of password credentials associated with the application. Not nullable.
          preferredSingleSignOnMode:
            type:
            - string
            - 'null'
            description: 'Specifies the single sign-on mode configured for this application. Microsoft Entra ID uses the preferred single sign-on mode to launch the application from Microsoft 365 or the My Apps portal. The supported values are password, saml, notSupported, and oidc. Note: This field might be null for older SAML apps and for OIDC applications where it isn''t set automatically.'
          preferredTokenSigningKeyThumbprint:
            type:
            - string
            - 'null'
            description: This property can be used on SAML applications (apps that have preferredSingleSignOnMode set to saml) to control which certificate is used to sign the SAML responses. For applications that aren't SAML, don't write or otherwise rely on this property.
          replyUrls:
            type: array
            items:
              type: string
            description: The URLs that user tokens are sent to for sign in with the associated application, or the redirect URIs that OAuth 2.0 authorization codes and access tokens are sent to for the associated application. Not nullable.
          resourceSpecificApplicationPermissions:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.resourceSpecificPermission'
            description: The resource-specific application permissions exposed by this application. Currently, resource-specific permissions are only supported for Teams apps accessing to specific chats and teams using Microsoft Graph. Read-only.
          samlSingleSignOnSettings:
            $ref: '#/components/schemas/microsoft.graph.samlSingleSignOnSettings'
          servicePrincipalNames:
            type: array
            items:
              type: string
            description: Contains the list of identifiersUris, copied over from the associated application. Additional values can be added to hybrid applications. These values can be used to identify the permissions exposed by this app within Microsoft Entra ID. For example,Client apps can specify a resource URI that is based on the values of this property to acquire an access token, which is the URI returned in the 'aud' claim.The any operator is required for filter expressions on multi-valued properties. Not nullable.  Supports $filter (eq, not, ge, le, startsWith).
          servicePrincipalType:
            type:
            - string
            - 'null'
            description: 'Identifies whether the service principal represents an application, a managed identity, or a legacy application. This property is set by Microsoft Entra ID internally. The servicePrincipalType property can be set to three different values: Application - A service principal that represents an application or service. The appId property identifies the associated app registration, and matches the appId of an application, possibly from a different tenant. If the associated app registration is missing, tokens aren''t issued for the service principal.ManagedIdentity - A service principal that represents a managed identity. Service principals representing managed identities can be granted access and permissions, but can''t be updated or modified directly.Legacy - A service principal that represents an app created before app registrations, or through legacy experiences. A legacy service principal can have credentials, service principal names, reply URLs, and other properties that are editable by an authorized user, but doesn''t have an associated app registration. The appId value doesn''t associate the service principal with an app registration. The service principal can only be used in the tenant where it was created.ServiceIdentity - A service principal that represents an agent identity.SocialIdp - For internal use.'
          signInAudience:
            type:
            - string
            - 'null'
            description: 'Specifies the Microsoft accounts that are supported for the current application. Read-only. Supported values are:AzureADMyOrg: Users with a Microsoft work or school account in my organization''s Microsoft Entra tenant (single-tenant).AzureADMultipleOrgs: Users with a Microsoft work or school account in any organization''s Microsoft Entra tenant (multitenant).AzureADandPersonalMicrosoftAccount: Users with a personal Microsoft account, or a work or school account in any organization''s Microsoft Entra tenant.PersonalMicrosoftAccount: Users with a personal Microsoft account only.'
          tags:
            type: array
            items:
              type: string
            description: Custom strings that can be used to categorize and identify the service principal. Not nullable. The value is the union of strings set here and on the associated application entity's tags property.Supports $filter (eq, not, ge, le, startsWith).
          tokenEncryptionKeyId:
            pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
            type:
            - string
            - 'null'
            description: Specifies the keyId of a public key from the keyCredentials collection. When configured, Microsoft Entra ID issues tokens for this application encrypted using the key specified by this property. The application code that receives the encrypted token must use the matching private key to decrypt the token before it can be used for the signed-in user.
            format: uuid
          verifiedPublisher:
            $ref: '#/components/schemas/microsoft.graph.verifiedPublisher'
          appManagementPolicies:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.appManagementPolicy'
            description: The appManagementPolicy applied to this application.
            x-ms-navigationProperty: true
          appRoleAssignedTo:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
            description: App role assignments for this app or service, granted to users, groups, and other service principals. Supports $expand.
            x-ms-navigationProperty: true
          appRoleAssignments:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.appRoleAssignment'
            description: App role assignment for another app or service, granted to this service principal. Supports $expand.
            x-ms-navigationProperty: true
          claimsMappingPolicies:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.claimsMappingPolicy'
            description: The claimsMappingPolicies assigned to this service principal. Supports $expand.
            x-ms-navigationProperty: true
          createdObjects:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.directoryObject'
            description: Directory objects created by this service principal. Read-only. Nullable.
            x-ms-navigationProperty: true
          delegatedPermissionClassifications:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.delegatedPermissionClassification'
            x-ms-navigationProperty: true
          endpoints:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.endpoint'
            x-ms-navigationProperty: true
          federatedIdentityCredentials:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.federatedIdentityCredential'
            description: Federated identities for a specific type of service principal - managed identity. Supports $expand and $filter (/$count eq 0, /$count ne 0).
            x-ms-navigationProperty: true
          homeRealmDiscoveryPolicies:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.homeRealmDiscoveryPolicy'
            description: The homeRealmDiscoveryPolicies assigned to this service principal. Supports $expand.
            x-ms-navigationProperty: true
          memberOf:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.directoryObject'
            description: 'Roles that this service principal is a member of. HTTP Methods: GET Read-only. Nullable. Supports $expand.'
            x-ms-navigationProperty: true
          oauth2PermissionGrants:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.oAuth2PermissionGrant'
            description: Delegated permission grants authorizing this service principal to access an API on behalf of a signed-in user. Read-only. Nullable.
            x-ms-navigationProperty: true
          ownedObjects:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.directoryObject'
            description: Directory objects that this service principal owns. Read-only. Nullable. Supports $expand, $select nested in $expand, and $filter (/$count eq 0, /$count ne 0, /$count eq 1, /$count ne 1).
            x-ms-navigationProperty: true
          owners:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.directoryObject'
            description: Directory objects that are owners of this servicePrincipal. The owners are a set of nonadmin users or servicePrincipals who are allowed to modify this object. Supports $expand, $filter (/$count eq 0, /$count ne 0, /$count eq 1, /$count ne 1), and $select nested in $expand.
            x-ms-navigationProperty: true
          remoteDesktopSecurityConfiguration:
            $ref: '#/components/schemas/microsoft.graph.remoteDesktopSecurityConfiguration'
          synchronization:
            $ref: '#/components/schemas/microsoft.graph.synchronization'
          tokenIssuancePolicies:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.tokenIssuancePolicy'
            description: The tokenIssuancePolicies assigned to this service principal.
            x-ms-navigationProperty: true
          tokenLifetimePolicies:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.tokenLifetimePolicy'
            description: The tokenLifetimePolicies assigned to this service principal.
            x-ms-navigationProperty: true
          transitiveMemberOf:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.directoryObject'
            x-ms-navigationProperty: true
        additionalProperties:
          type: object
    microsoft.graph.objectDefinitionMetadata:
      title: objectDefinitionMetadata
      enum:
      - PropertyNameAccountEnabled
      - PropertyNameSoftDeleted
      - IsSoftDeletionSupported
      - IsSynchronizeAllSupported
      - ConnectorDataStorageRequired
      - Extensions
      - BaseObjectName
      type: string
    microsoft.graph.appManagementPolicy:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.policyBase'
      - title: appManagementPolicy
        type: object
        properties:
          isEnabled:
            type: boolean
            description: Denotes whether the policy is enabled.
          restrictions:
            $ref: '#/components/schemas/microsoft.graph.customAppManagementConfiguration'
          appliesTo:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.directoryObject'
            description: Collection of applications and service principals to which the policy is applied.
            x-ms-navigationProperty: true
        additionalProperties:
          type: object
    microsoft.graph.bulkUpload:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: bulkUpload
        type: object
        additionalProperties:
          type: object
    microsoft.graph.synchronizationSchedule:
      title: synchronizationSchedule
      type: object
      properties:
        expiration:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type:
          - string
          - 'null'
          description: Date and time when this job expires. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.
          format: date-time
        interval:
          pattern: ^-?P([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+([.][0-9]+)?S)?)?$
          type: string
          description: The interval between synchronization iterations. The value is represented in ISO 8601  format for durations. For example, P1M represents a period of one month and PT1M represents a period of one minute.
          format: duration
        state:
          $ref: '#/components/schemas/microsoft.graph.synchronizationScheduleState'
      additionalProperties:
        type: object
    microsoft.graph.appRoleAssignment:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.directoryObject'
      - title: appRoleAssignment
        type: object
        properties:
          appRoleId:
            pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
            type: string
            description: The identifier (id) for the app role that's assigned to the principal. This app role must be exposed in the appRoles property on the resource application's service principal (resourceId). If the resource application hasn't declared any app roles, a default app role ID of 00000000-0000-0000-0000-000000000000 can be specified to signal that the principal is assigned to the resource app without any specific app roles. Required on create.
            format: uuid
          createdDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: The time when the app role assignment was created. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z. Read-only.
            format: date-time
          principalDisplayName:
            type:
            - string
            - 'null'
            description: The display name of the user, group, or service principal that was granted the app role assignment. Maximum length is 256 characters. Read-only. Supports $filter (eq and startswith).
          principalId:
            pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
            type:
            - string
            - 'null'
            description: The unique identifier (id) for the user, security group, or service principal being granted the app role. Security groups with dynamic memberships are supported. Required on create.
            format: uuid
          principalType:
            type:
            - string
            - 'null'
            description: The type of the assigned principal. This can either be User, Group, or ServicePrincipal. Read-only.
          resourceDisplayName:
            type:
            - string
            - 'null'
            description: The display name of the resource app's service principal to which the assignment is made. Maximum length is 256 characters.
          resourceId:
            pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
            type:
            - string
            - 'null'
            description: The unique identifier (id) for the resource service principal for which the assignment is made. Required on create. Supports $filter (eq only).
            format: uuid
        additionalProperties:
          type: object
    microsoft.graph.objectMapping:
      title: objectMapping
      type: object
      properties:
        attributeMappings:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.attributeMapping'
          description: Attribute mappings define which attributes to map from the source object into the target object and how they should flow. A number of functions are available to support the transformation of the original source values.
        enabled:
          type: boolean
          description: When true, this object mapping will be processed during synchronization. When false, this object mapping will be skipped.
        flowTypes:
          $ref: '#/components/schemas/microsoft.graph.objectFlowTypes'
        metadata:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.objectMappingMetadataEntry'
          description: Additional extension properties. Unless mentioned explicitly, metadata values should not be changed.
        name:
          type:
          - string
          - 'null'
          description: Human-friendly name of the object mapping.
        scope:
          $ref: '#/components/schemas/microsoft.graph.filter'
        sourceObjectName:
          type:
          - string
          - 'null'
          description: Name of the object in the source directory. Must match the object name from the source directory definition.
        targetObjectName:
          type:
          - string
          - 'null'
          description: Name of the object in target directory. Must match the object name from the target directory definition.
      additionalProperties:
        type: object
    microsoft.graph.appKeyCredentialRestrictionType:
      title: appKeyCredentialRestrictionType
      enum:
      - asymmetricKeyLifetime
      - unknownFutureValue
      type: string
    microsoft.graph.policyBase:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.directoryObject'
      - title: policyBase
        type: object
        properties:
          description:
            type:
            - string
            - 'null'
            description: Description for this policy. Required.
          displayName:
            type:
            - string
            - 'null'
            description: Display name for this policy. Required.
        additionalProperties:
          type: object
    microsoft.graph.filterClause:
      title: filterClause
      type: object
      properties:
        operatorName:
          type:
          - string
          - 'null'
          description: Name of the operator to be applied to the source and target operands. Must be one of the supported operators. Supported operators can be discovered.
        sourceOperandName:
          type:
          - string
          - 'null'
          description: Name of source operand (the operand being tested). The source operand name must match one of the attribute names on the source object.
        targetOperand:
          $ref: '#/components/schemas/microsoft.graph.filterOperand'
      additionalProperties:
        type: object
    microsoft.graph.mutability:
      title: mutability
      enum:
      - ReadWrite
      - ReadOnly
      - Immutable
      - WriteOnly
      type: string
    microsoft.graph.stringKeyStringValuePair:
      title: stringKeyStringValuePair
      type: object
      properties:
        key:
          type:
          - string
          - 'null'
          description: Key.
        value:
          type:
          - string
          - 'null'
          description: Value.
      additionalProperties:
        type: object
    microsoft.graph.stsPolicy:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.policyBase'
      - title: stsPolicy
        type: object
        properties:
          definition:
            type: array
            items:
              type: string
            description: A string collection containing a JSON string that defines the rules and settings for a policy. The syntax for the definition differs for each derived policy type. Required.
          isOrganizationDefault:
            type:
            - boolean
            - 'null'
            description: If set to true, activates this policy. There can be many policies for the same policy type, but only one can be activated as the organization default. Optional, default value is false.
          appliesTo:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.directoryObject'
            x-ms-navigationProperty: true
        additionalProperties:
          type: object
    microsoft.graph.synchronizationStatusCode:
      title: synchronizationStatusCode
      enum:
      - NotConfigured
      - NotRun
      - Active
      - Paused
      - Quarantine
      type: string
    microsoft.graph.customSecurityAttributeValue:
      title: customSecurityAttributeValue
      type: object
      additionalProperties:
        type: object
    microsoft.graph.keyValuePair:
      title: keyValuePair
      type: object
      properties:
        name:
          type: string
          description: Name for this key-value pair
        value:
          type:
          - string
          - 'null'
          description: Value for this key-value pair
      additionalProperties:
        type: object
    microsoft.graph.appCredentialRestrictionType:
      title: appCredentialRestrictionType
      enum:
      - passwordAddition
      - passwordLifetime
      - symmetricKeyAddition
      - symmetricKeyLifetime
      - customPasswordAddition
      - unknownFutureValue
      type: string
    microsoft.graph.attributeFlowType:
      title: attributeFlowType
      enum:
      - Always
      - ObjectAddOnly
      - MultiValueAddOnly
      - ValueAddOnly
      - AttributeAddOnly
      type: string
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type:
          - string
          - 'null'
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    microsoft.graph.filterGroup:
      title: filterGroup
      type: object
      properties:
        clauses:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.filterClause'
          description: Filter clauses (conditions) of this group. All clauses in a group must be satisfied in order for the filter group to evaluate to true.
        name:
          type:
          - string
          - 'null'
          description: Human-readable name of the filter group.
      additionalProperties:
        type: object
    microsoft.graph.approvedClientApp:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: approvedClientApp
        type: object
        properties:
          displayName:
            type:
            - string
            - 'null'
            description: The display name of the approved client application.
        additionalProperties:
          type: object
    microsoft.graph.appManagementPolicyActorExemptions:
      title: appManagementPolicyActorExemptions
      type: object
      properties:
        customSecurityAttributes:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.customSecurityAttributeExemption'
          description: The collection of customSecurityAttributeExemption to exempt from the policy enforcement. Limit of 5.
      additionalProperties:
        type: object
    microsoft.graph.keyCredential:
      title: keyCredential
      type: object
      properties:
        customKeyIdentifier:
          type:
          - string
          - 'null'
          description: A 40-character binary type that can be used to identify the credential. Optional. When not provided in the payload, defaults to the thumbprint of the certificate.
          format: base64url
        displayName:
          type:
          - string
          - 'null'
          description: The friendly name for the key, with a maximum length of 90 characters. Longer values are accepted but shortened. Optional.
        endDateTime:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type:
          - string
          - 'null'
          description: The date and time at which the credential expires. The DateTimeOffset type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.
          format: date-time
        key:
          type:
          - string
          - 'null'
          description: The certificate's raw data in byte array converted to Base64 string. Requires $select to retrieve; only available for single object requests (GET /applications/{applicationId}?$select=keyCredentials or GET /servicePrincipals/{servicePrincipalId}?$select=keyCredentials); otherwise, it's always null.  From a .cer certificate, you can read the key using the Convert.ToBase64String() method. For more information, see Get the certificate key.
          format: base64url
        keyId:
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
          type:
          - string
          - 'null'
          description: The unique identifier (GUID) for the key.
          format: uuid
        startDateTime:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type:
          - string
          - 'null'
          description: The date and time at which the credential becomes valid.The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.
          format: date-time
        type:
          type:
          - string
          - 'null'
          description: The type of key credential; for example, Symmetric, AsymmetricX509Cert.
        usage:
          type:
          - string
          - 'null'
          description: A string that describes the purpose for which the key can be used; for example, Verify.
      additionalProperties:
        type: object
    microsoft.graph.permissionScope:
      title: permissionScope
      type: object
      properties:
        adminConsentDescription:
          type:
          - string
          - 'null'
          description: A description of the delegated permissions, intended to be read by an administrator granting the permission on behalf of all users. This text appears in tenant-wide admin consent experiences.
        adminConsentDisplayName:
          type:
          - string
          - 'null'
          description: The permission's title, intended to be read by an administrator granting the permission on behalf of all users.
        id:
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
          type: string
          description: Unique delegated permission identifier inside the collection of delegated permissions defined for a resource application.
          format: uuid
        isEnabled:
          type: boolean
          description: When you create or update a permission, this property must be set to true (which is the default). To delete a permission, this property must first be set to false.  At that point, in a subsequent call, the permission may be removed.
        origin:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
          description: 'The possible values are: User and Admin. Specifies whether this delegated permission should be considered safe for non-admin users to consent to on behalf of themselves, or whether an administrator consent should always be required. While Microsoft Graph defines the default consent requirement for each permission, the tenant administrator may override the behavior in their organization (by allowing, restricting, or limiting user consent to this delegated permission). For more information, see Configure how users consent to applications.'
        userConsentDescription:
          type:
          - string
          - 'null'
          description: A description of the delegated permissions, intended to be read by a user granting the permission on their own behalf. This text appears in consent experiences where the user is consenting only on behalf of themselves.
        userConsentDisplayName:
          type:
          - string
          - 'null'
          description: A title for the permission, intended to be read by a user granting the permission on their own behalf. This text appears in consent experiences where the user is consenting only on behalf of themselves.
        value:
          type:
          - string
          - 'null'
          description: 'Specifies the value to include in the scp (scope) claim in access tokens. Must not exceed 120 characters in length. Allowed characters are : ! # $ % & '' ( ) * + , - . / : ;  =  ? @ [ ] ^ + _  {  } ~, and characters in the ranges 0-9, A-Z and a-z. Any other character, including the space character, aren''t allowed. May not begin with ..'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.customAppManagementConfiguration:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.appManagementConfiguration'
      - title: customAppManagementConfiguration
        type: object
        properties:
          applicationRestrictions:
            $ref: '#/components/schemas/microsoft.graph.customAppManagementApplicationConfiguration'
        additionalProperties:
          type: object
    microsoft.graph.directoryObject:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: directoryObject
        type: object
        properties:
          deletedDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: Date and time when this object was deleted. Always null when the object hasn't been deleted.
            format: date-time
        additionalProperties:
          type: object
    microsoft.graph.attributeDefinitionMetadataEntry:
      title: attributeDefinitionMetadataEntry
      type: object
      properties:
        key:
          $ref: '#/components/schemas/microsoft.graph.attributeDefinitionMetadata'
        value:
          type:
          - string
          - 'null'
          description: Value of the metadata property.
      additionalProperties:
        type: object
    microsoft.graph.informationalUrl:
      title: informationalUrl
      type: object
      properties:
        logoUrl:
          type:
          - string
          - 'null'
          description: CDN URL to the application's logo, Read-only.
        marketingUrl:
          type:
          - string
          - 'null'
          description: Link to the application's marketing page. For example, https://www.contoso.com/app/marketing
        privacyStatementUrl:
          type:
          - string
          - 'null'
          description: Link to the application's privacy statement. For example, https://www.contoso.com/app/privacy
        supportUrl:
          type:
          - string
          - 'null'
          description: Link to the application's support page. For example, https://www.contoso.com/app/support
        termsOfServiceUrl:
          type:
          - string
          - 'null'
          description: Link to the application's terms of service statement. For example, https://www.contoso.com/app/termsofservice
      additionalProperties:
        type: object
    microsoft.graph.synchronizationStatus:
      title: synchronizationStatus
      type: object
      properties:
        code:
          $ref: '#/components/schemas/microsoft.graph.synchronizationStatusCode'
        countSuccessiveCompleteFailures:
          type: number
          description: Number of consecutive times this job failed.
          format: int64
        escrowsPruned:
          type: boolean
          description: true if the job's escrows (object-level errors) were pruned during initial synchronization. Escrows can be pruned if during the initial synchronization, you reach the threshold of errors that would normally put the job in quarantine. Instead of going into quarantine, the synchronization process clears the job's errors and continues until the initial synchronization is completed. When the initial synchronization is completed, the job will pause and wait for the customer to clean up the errors.
        lastExecution:
          $ref: '#/components/schemas/microsoft.graph.synchronizationTaskExecution'
        lastSuccessfulExecution:
          $ref: '#/components/schemas/microsoft.graph.synchronizationTaskExecution'
        lastSuccessfulExecutionWithExports:
          $ref: '#/components/schemas/microsoft.graph.synchronizationTaskExecution'
        progress:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.synchronizationProgress'
          description: Details of the progress of a job toward completion.
        quarantine:
          $ref: '#/components/schemas/microsoft.graph.synchronizationQuarantine'
        steadyStateFirstAchievedTime:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type: string
          description: The time when steady state (no more changes to the process) was first achieved. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.
          format: date-time
        steadyStateLastAchievedTime:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type: string
          description: The time when steady state (no more changes to the process) was last achieved. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.
          format: date-time
        synchronizedEntryCountByType:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.stringKeyLongValuePair'
          description: Count of synchronized objects, listed by object type.
        troubleshootingUrl:
          type:
          - string
          - 'null'
          description: In the event of an error, the URL with the troubleshooting steps for the issue.
      additionalProperties:
        type: object
    microsoft.graph.passwordCredential:
      title: passwordCredential
      type: object
      properties:
        customKeyIdentifier:
          type:
          - string
          - 'null'
          description: Do not use.
          format: base64url
        displayName:
          type:
          - string
          - 'null'
          description: Friendly name for the password. Optional.
        endDateTime:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type:
          - string
          - 'null'
          description: The date and time at which the password expires represented using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z. Optional.
          format: date-time
        hint:
          type:
          - string
          - 'null'
          description: Contains the first three characters of the password. Read-only.
        keyId:
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
          type:
          - string
          - 'null'
          description: The unique identifier for the password.
          format: uuid
        secretText:
          type:
          - string
          - 'null'
          description: Read-only; Contains the strong passwords generated by Microsoft Entra ID that are 16-64 characters in length. The generated password value is only returned during the initial POST request to addPassword. There is no way to retrieve this password in the future.
        startDateTime:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type:
          - string
          - 'null'
          description: The date and time at which the password becomes valid. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z. Optional.
          format: date-time
      additionalProperties:
        type: object
    microsoft.graph.filter:
      title: filter
      type: object
      properties:
        categoryFilterGroups:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.filterGroup'
          description: '*Experimental* Filter group set used to decide whether given object belongs and should be processed as part of this object mapping. An object is considered in scope if ANY of the groups in the collection is evaluated to true.'
        groups:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.filterGroup'
          description: Filter group set used to decide whether given object is in scope for provisioning. This is the filter which should be used in most cases. If an object used to satisfy this filter at a given moment, and then the object or the filter was changed so that filter isn't satisfied any longer, such object will get deprovisioned'. An object is considered in scope if ANY of the groups in the collection is evaluated to true.
        inputFilterGroups:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.filterGroup'
          description: '*Experimental* Filter group set used to filter out objects at the early stage of reading them from the directory. If an object doesn''t satisfy this filter, then it will not be processed further. Important to understand is that if an object used to satisfy this filter at a given moment, and then the object or the filter was changed so that filter is no longer satisfied, such object will NOT get deprovisioned. An object is considered in scope if ANY of the groups in the collection is evaluated to true.'
      additionalProperties:
        type: object
    microsoft.graph.directoryDefinition:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: directoryDefinition
        type: object
        properties:
          discoverabilities:
            $ref: '#/components/schemas/microsoft.graph.directoryDefinitionDiscoverabilities'
          discoveryDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: Represents the discovery date and time using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.
            format: date-time
          name:
            type:
            - string
            - 'null'
            description: Name of the directory. Must be unique within the synchronization schema. Not nullable.
          objects:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.objectDefinition'
            description: Collection of objects supported by the directory.
          readOnly:
            type: boolean
            description: Whether this object is read-only.
          version:
            type:
            - string
            - 'null'
            description: Read only value that indicates version discovered. null if discovery hasn't yet occurred.
        additionalProperties:
          type: object
    microsoft.graph.synchronizationJob:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: synchronizationJob
        type: object
        properties:
          schedule:
            $ref: '#/components/schemas/microsoft.graph.synchronizationSchedule'
          status:
            $ref: '#/components/schemas/microsoft.graph.synchronizationStatus'
          synchronizationJobSettings:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.keyValuePair'
            description: Settings associated with the job. Some settings are inherited from the template.
          templateId:
            type:
            - string
            - 'null'
            description: Identifier of the synchronization template this job is based on.
          bulkUpload:
            $ref: '#/components/schemas/microsoft.graph.bulkUpload'
          schema:
            $ref: '#/components/schemas/microsoft.graph.synchronizationSchema'
        additionalProperties:
          type: object
    microsoft.graph.synchronizationScheduleState:
      title: synchronizationScheduleState
      enum:
      - Active
      - Disabled
      - Paused
      type: string
    microsoft.graph.targetDeviceGroup:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: targetDeviceGroup
        type: object
        properties:
          displayName:
            type:
            - string
            - 'null'
            description: Display name for the target device group.
        additionalProperties:
          type: object
    microsoft.graph.directoryDefinitionDiscoverabilities:
      title: directoryDefinitionDiscoverabilities
      enum:
      - None
      - AttributeNames
      - AttributeDataTypes
      - AttributeReadOnly
      - ReferenceAttributes
      - UnknownFutureValue
      type: string
      x-ms-enum-flags:
        isFlags: true
    microsoft.graph.customSecurityAttributeComparisonOperator:
      title: customSecurityAttributeComparisonOperator
      enum:
      - equals
      - unknownFutureValue
      type: string
    microsoft.graph.appRole:
      title: appRole
      type: object
      properties:
        allowedMemberTypes:
          type: array
          items:
            type: string
          description: Specifies whether this app role can be assigned to users and groups (by setting to ['User']), to other application's (by setting to ['Application'], or both (by setting to ['User', 'Application']). App roles supporting assignment to other applications' service principals are also known as application permissions. The 'Application' value is only supported for app roles defined on application entities.
        description:
          type:
          - string
          - 'null'
          description: The description for the app role. This is displayed when the app role is being assigned and, if the app role functions as an application permission, during  consent experiences.
        displayName:
          type:
          - string
          - 'null'
          description: Display name for the permission that appears in the app role assignment and consent experiences.
        id:
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
          type: string
          description: Unique role identifier inside the appRoles collection. When creating a new app role, a new GUID identifier must be provided.
          format: uuid
        isEnabled:
          type: boolean
          description: When creating or updating an app role, this must be set to true (which is the default). To delete a role, this must first be set to false.  At that point, in a subsequent call, this role may be removed.
        origin:
          type:
          - string
          - 'null'
          description: Specifies if the app role is defined on the application object or on the servicePrincipal entity. Must not be included in any POST or PATCH requests. Read-only.
        value:
          type:
          - string
          - 'null'
          description: 'Specifies the value to include in the roles claim in ID tokens and access tokens authenticating an assigned user or service principal. Must not exceed 120 characters in length. Allowed characters are : ! # $ % & '' ( ) * + , - . / : ;  =  ? @ [ ] ^ + _  {  } ~, and characters in the ranges 0-9, A-Z and a-z. Any other character, including the space character, aren''t allowed. May not begin with ..'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
    microsoft.graph.synchronizationProgress:
      title: synchronizationProgress
      type: object
      properties:
        completedUnits:
          type: number
          description: The numerator of a progress ratio; the number of units of changes already processed.
          format: int64
        progressObservationDateTime:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type: string
          description: The time of a progress observation as an offset in minutes from UTC.
          format: date-time
        totalUnits:
          type: number
          description: The denominator of a progress ratio; a number of units of changes to be processed to accomplish synchronization.
          format: int64
        units:
          type:
          - string
          - 'null'
          description: An optional description of the units.
      additionalProperties:
        type: object
    microsoft.graph.containerFilter:
      title: containerFilter
      type: object
      properties:
        includedContainers:
          type: array
          items:
            type:
            - string
            - 'null'
      additionalProperties:
        type: object
    microsoft.graph.synchronizationTaskExecution:
      title: synchronizationTaskExecution
      type: object
      properties:
        activityIdentifier:
          type:
          - string
          - 'null'
          description: Identifier of the job run.
        countEntitled:
          type: number
          description: Count of processed entries that were assigned for this application.
          format: int64
        countEntitledForProvisioning:
          type: number
          description: Count of processed entries that were assigned for provisioning.
          format: int64
        countEscrowed:
          type: number
          description: Count of entries that were escrowed (errors).
          format: int64
        countEscrowedRaw:
          type: number
          description: Count of entries that were escrowed, including system-generated escrows.
          format: int64
        countExported:
          type: number
          description: Count of exported entries.
          format: int64
        countExports:
          type: number
          description: Count of entries that were expected to be exported.
          format: int64
        countImported:
          type: number
          description: Count of imported entries.
          format: int64
        countImportedDeltas:
          type: number
          description: Count of imported delta-changes.
          format: int64
        countImportedReferenceDeltas:
          type: number
          description: Count of imported delta-changes pertaining to reference changes.
          format: int64
        error:
          $ref: '#/components/schemas/microsoft.graph.synchronizationError'
        state:
          $ref: '#/components/schemas/microsoft.graph.synchronizationTaskExecutionResult'
        timeBegan:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type: string
          description: Time when this job run began. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.
          format: date-time
        timeEnded:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type: string
          description: Time when this job run ended. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.
          format: date-time
      additionalProperties:
        type: object
    microsoft.graph.customSecurityAttributeExemption:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: customSecurityAttributeExemption
        type: object
        properties:
          id:
            type: string
          operator:
            $ref: '#/components/schemas/microsoft.graph.customSecurityAttributeComparisonOperator'
        additionalProperties:
          type: object
    microsoft.graph.appManagementRestrictionState:
      title: appManagementRestrictionState
      enum:
      - enabled
      - disabled
      - unknownFutureValue
      type: string
    microsoft.graph.synchronizationTemplate:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: synchronizationTemplate
        type: object
        properties:
          applicationId:
            pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
            type: string
            description: Identifier of the application this template belongs to.
            format: uuid
          default:
            type: boolean
            description: true if this template is recommended to be the default for the application.
          description:
            type:
            - string
            - 'null'
            description: Description of the template.
          discoverable:
            type: boolean
            description: true if this template should appear in the collection of templates available for the application instance (service principal).
          factoryTag:
            type:
            - string
            - 'null'
            description: One of the well-known factory tags supported by the synchronization engine. The factoryTag tells the synchronization engine which implementation to use when processing jobs based on this template.
          metadata:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.synchronizationMetadataEntry'
            description: Additional extension properties. Unless mentioned explicitly, metadata values should not be changed.
          schema:
            $ref: '#/components/schemas/microsoft.graph.synchronizationSchema'
        additionalProperties:
          type: object
    microsoft.graph.addIn:
      title: addIn
      type: object
      properties:
        id:
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
          type:
          - string
          - 'null'
          description: The unique identifier for the addIn object.
          format: uuid
        properties:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.keyValue'
          description: The collection of key-value pairs that define parameters that the consuming service can use or call. You must specify this property when performing a POST or a PATCH operation on the addIns collection. Required.
        type:
          type: string
          description: The unique name for the functionality exposed by the app.
      additionalProperties:
        type: object
    microsoft.graph.verifiedPublisher:
      title: verifiedPublisher
      type: object
      properties:
        addedDateTime:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type:
          - string
          - 'null'
          description: The timestamp when the verified publisher was first added or most recently updated.
          format: date-time
        displayName:
          type:
          - string
          - 'null'
          description: The verified publisher name from the app publisher's Partner Center account.
        verifiedPublisherId:
          type:
          - string
          - 'null'
          description: The ID of the verified publisher from the app publisher's Partner Center account.
      additionalProperties:
        type: object
    microsoft.graph.synchronizationTaskExecutionResult:
      title: synchronizationTaskExecutionResult
      enum:
      - Succeeded
      - Failed
      - EntryLevelErrors
      type: string
    microsoft.graph.remoteDesktopSecurityConfiguration:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: remoteDesktopSecurityConfiguration
        type: object
        properties:
          isRemoteDesktopProtocolEnabled:
            type: boolean
            description: Determines if Microsoft Entra ID RDS authentication protocol for RDP is enabled.
          approvedClientApps:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.approvedClientApp'
            description: The collection of approved client apps that are associated with the RDS configuration. Supports $expand.
            x-ms-navigationProperty: true
          targetDeviceGroups:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.targetDeviceGroup'
            description: The collection of target device groups that are associated with the RDS security configuration that will be enabled for SSO when a client connects to the target device over RDP using the new Microsoft Entra ID RDS authentication protocol.
            x-ms-navigationProperty: true
        additionalProperties:
          type: object
    microsoft.graph.customAppManagementApplicationConfiguration:
      title: customAppManagementApplicationConfiguration
      type: object
      properties:
        identifierUris:
          $ref: '#/components/schemas/microsoft.graph.identifierUriConfiguration'
      additionalProperties:
        type: object
    microsoft.graph.identifierUriConfiguration:
      title: identifierUriConfiguration
      type: object
      properties:
        nonDefaultUriAddition:
          $ref: '#/components/schemas/microsoft.graph.identifierUriRestriction'
        uriAdditionWithoutUniqueTenantIdentifier:
          $ref: '#/components/schemas/microsoft.graph.identifierUriRestriction'
      additionalProperties:
        type: object
    microsoft.graph.samlSingleSignOnSettings:
      title: samlSingleSignOnSettings
      type: object
      properties:
        relayState:
          type:
          - string
          - 'null'
          description: The relative URI the service provider would redirect to after completion of the single sign-on flow.
      additionalProperties:
        type: object
    microsoft.graph.keyValue:
      title: keyValue
      type: object
      properties:
        key:
          type:
          - string
          - 'null'
          description: Key for the key-value pair.
        value:
          type:
          - string
          - 'null'
          description: Value for the key-value pair.
      additionalProperties:
        type: object
    microsoft.graph.synchronizationQuarantine:
      title: synchronizationQuarantine
      type: object
      properties:
        currentBegan:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type: string
          description: Date and time when the quarantine was last evaluated and imposed. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.
          format: date-time
        error:
          $ref: '#/components/schemas/microsoft.graph.synchronizationError'
        nextAttempt:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type: string
          description: Date and time when the next attempt to re-evaluate the quarantine will be made. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.
          format: date-time
        reason:
          $ref: '#/components/schemas/microsoft.graph.quarantineReason'
        seriesBegan:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type: string
          description: Date and time when the quarantine was first imposed in this series (a series starts when a quarantine is first imposed, and is reset as soon as the quarantine is lifted). The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.
          format: date-time
        seriesCount:
          type: number
          description: Number of times in this series the quarantine was re-evaluated and left in effect (a series starts when quarantine is first imposed, and is reset as soon as quarantine is lifted).
          format: int64
      additionalProperties:
        type: object
    microsoft.graph.groupFilter:
      title: groupFilter
      type: object
      properties:
        includedGroups:
          type: array
          items:
            type:
            - string
            - 'null'
      additionalProperties:
        type: object
    microsoft.graph.oAuth2PermissionGrant:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: oAuth2PermissionGrant
        type: object
        properties:
          clientId:
            type: string
            description: The object id (not appId) of the client service principal for the application that's authorized to act on behalf of a signed-in user when accessing an API. Required. Supports $filter (eq only).
          consentType:
            type:
            - string
            - 'null'
            description: Indicates if authorization is granted for the client application to impersonate all users or only a specific user. AllPrincipals indicates authorization to impersonate all users. Principal indicates authorization to impersonate a specific user. Consent on behalf of all users can be granted by an administrator. Nonadmin users might be authorized to consent on behalf of themselves in some cases, for some delegated permissions. Required. Supports $filter (eq only).
          principalId:
            type:
            - string
            - 'null'
            description: The id of the user on behalf of whom the client is authorized to access the resource, when consentType is Principal. If consentType is AllPrincipals this value is null. Required when consentType is Principal. Supports $filter (eq only).
          resourceId:
            type: string
            description: The id of the resource service principal to which access is authorized. This identifies the API that the client is authorized to attempt to call on behalf of a signed-in user. Supports $filter (eq only).
          scope:
            type:
            - string
            - 'null'
            description: A space-separated list of the claim values for delegated permissions that should be included in access tokens for the resource application (the API). For example, openid User.Read GroupMember.Read.All. Each claim value should match the value field of one of the delegated permissions defined by the API, listed in the oauth2PermissionScopes property of the resource service principal. Must not exceed 3,850 characters in length.
        additionalProperties:
          type: object
    microsoft.graph.synchronizationSecret:
      title: synchronizationSecret
      enum:
      - None
      - UserName
      - Password
      - SecretToken
      - AppKey
      - BaseAddress
      - ClientIdentifier
      - ClientSecret
      - SingleSignOnType
      - Sandbox
      - Url
      - Domain
      - ConsumerKey
      - ConsumerSecret
      - TokenKey
      - TokenExpiration
      - Oauth2AccessToken
      - Oauth2AccessTokenCreationTime
      - Oauth2RefreshToken
      - SyncAll
      - InstanceName
      - Oauth2ClientId
      - Oauth2ClientSecret
      - CompanyId
      - UpdateKeyOnSoftDelete
      - SynchronizationSchedule
      - SystemOfRecord
      - SandboxName
      - EnforceDomain
      - SyncNotificationSettings
      - SkipOutOfScopeDeletions
      - Oauth2AuthorizationCode
      - Oauth2RedirectUri
      - ApplicationTemplateIdentifier
      - Oauth2TokenExchangeUri
      - Oauth2AuthorizationUri
      - AuthenticationType
      - Server
      - PerformInboundEntitlementGrants
      - HardDeletesEnabled
      - SyncAgentCompatibilityKey
      - SyncAgentADContainer
      - ValidateDomain
      - TestReferences
      - ConnectionString
      type: string
    microsoft.graph.objectMappingMetadataEntry:
      title: objectMappingMetadataEntry
      type: object
      properties:
        key:
          $ref: '#/components/schemas/microsoft.graph.objectMappingMetadata'
        value:
          type:
          - string
          - 'null'
          description: Value of the metadata property.
      additionalProperties:
        type: object
    microsoft.graph.objectDefinitionMetadataEntry:
      title: objectDefinitionMetadataEntry
      type: object
      properties:
        key:
          $ref: '#/components/schemas/microsoft.graph.objectDefinitionMetadata'
        value:
          type:
          - string
          - 'null'
          description: Value of the metadata property.
      additionalProperties:
        type: object
    microsoft.graph.synchronizationSchema:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: synchronizationSchema
        type: object
        properties:
          synchronizationRules:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.synchronizationRule'
            description: A collection of synchronization rules configured for the synchronizationJob or synchronizationTemplate.
          version:
            type:
            - string
            - 'null'
            description: The version of the schema, updated automatically with every schema change.
          directories:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.directoryDefinition'
            description: Contains the collection of directories and all of their objects.
            x-ms-navigationProperty: true
        additionalProperties:
          type: object
    microsoft.graph.delegatedPermissionClassification:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: delegatedPermissionClassification
        type: object
        properties:
          classification:
            $ref: '#/components/schemas/microsoft.graph.permissionClassificationType'
          permissionId:
            type:
[...]
