openapi: 3.2.0
info:
  title: Identity.DirectoryManagement Directory.remote Tenant Group…
  version: v1.0
servers:
- url: https://graph.microsoft.com/v1.0/
  description: Core
security:
- azureaadv2: []
tags:
- name: directory.remoteTenantGroup
paths:
  /directory/remoteTenantGroups:
    get:
      tags:
      - directory.remoteTenantGroup
      summary: List remoteTenantGroup objects
      description: Get a list of the remoteTenantGroup objects and their properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/directory-list-remotetenantgroups?view=graph-rest-1.0
      operationId: directory_ListRemoteTenantGroup
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.remoteTenantGroupCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2028-12-07'
        date: '2025-12-02'
        version: 2025-03/PrivatePreview:remoteTenantGroupsAPI
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - directory.remoteTenantGroup
      summary: Create new navigation property to remoteTenantGroups for directory
      operationId: directory_CreateRemoteTenantGroup
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.remoteTenantGroup'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.remoteTenantGroup'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2028-12-07'
        date: '2025-12-02'
        version: 2025-03/PrivatePreview:remoteTenantGroupsAPI
      x-ms-docs-operation-type: operation
  /directory/remoteTenantGroups/{remoteTenantGroup-id}:
    get:
      tags:
      - directory.remoteTenantGroup
      summary: Get remoteTenantGroup
      description: Read the properties and relationships of a remoteTenantGroup object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/remotetenantgroup-get?view=graph-rest-1.0
      operationId: directory_GetRemoteTenantGroup
      parameters:
      - name: remoteTenantGroup-id
        in: path
        description: The unique identifier of remoteTenantGroup
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: remoteTenantGroup
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.remoteTenantGroup'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2028-12-07'
        date: '2025-12-02'
        version: 2025-03/PrivatePreview:remoteTenantGroupsAPI
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - directory.remoteTenantGroup
      summary: Update the navigation property remoteTenantGroups in directory
      operationId: directory_UpdateRemoteTenantGroup
      parameters:
      - name: remoteTenantGroup-id
        in: path
        description: The unique identifier of remoteTenantGroup
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: remoteTenantGroup
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.remoteTenantGroup'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.remoteTenantGroup'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2028-12-07'
        date: '2025-12-02'
        version: 2025-03/PrivatePreview:remoteTenantGroupsAPI
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - directory.remoteTenantGroup
      summary: Delete navigation property remoteTenantGroups for directory
      operationId: directory_DeleteRemoteTenantGroup
      parameters:
      - name: remoteTenantGroup-id
        in: path
        description: The unique identifier of remoteTenantGroup
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: remoteTenantGroup
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2028-12-07'
        date: '2025-12-02'
        version: 2025-03/PrivatePreview:remoteTenantGroupsAPI
      x-ms-docs-operation-type: operation
  /directory/remoteTenantGroups/$count:
    get:
      tags:
      - directory.remoteTenantGroup
      summary: Get the number of the resource
      operationId: directory.remoteTenantGroup_GetCount
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2028-12-07'
        date: '2025-12-02'
        version: 2025-03/PrivatePreview:remoteTenantGroupsAPI
components:
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
    microsoft.graph.remoteTenantGroupCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.remoteTenantGroupCollectionResponse'
    ODataCountResponse:
      description: The count of the resource
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ODataCountResponse'
  schemas:
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type:
          - string
          - 'null'
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    ODataCountResponse:
      type: integer
      format: int32
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.remoteTenantGroupCollectionResponse:
      title: Collection of remoteTenantGroup
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.remoteTenantGroup'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.directoryObject:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: directoryObject
        type: object
        properties:
          deletedDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: Date and time when this object was deleted. Always null when the object hasn't been deleted.
            format: date-time
        additionalProperties:
          type: object
    microsoft.graph.remoteTenantGroup:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.directoryObject'
      - title: remoteTenantGroup
        type: object
        properties:
          remoteGroupDisplayName:
            type:
            - string
            - 'null'
            description: Display name of the group in the remote tenant.
          remoteGroupId:
            pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
            type:
            - string
            - 'null'
            description: Unique identifier of the group in the remote tenant.
            format: uuid
          remoteTenantDisplayName:
            type:
            - string
            - 'null'
            description: Display name of the remote tenant.
          remoteTenantId:
            pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
            type:
            - string
            - 'null'
            description: Unique identifier of the remote tenant.
            format: uuid
          remoteTenantPrimaryDomain:
            type:
            - string
            - 'null'
            description: Primary domain name of the remote tenant.
        additionalProperties:
          type: object
  parameters:
    count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
    top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: {}
