openapi: 3.2.0
info:
  title: Identity.DirectoryManagement Directory.company Subscription…
  version: v1.0
servers:
- url: https://graph.microsoft.com/v1.0/
  description: Core
security:
- azureaadv2: []
tags:
- name: directory.companySubscription
paths:
  /directory/subscriptions:
    get:
      tags:
      - directory.companySubscription
      summary: List subscriptions
      description: Get the list of commercial subscriptions that an organization acquired.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/directory-list-subscriptions?view=graph-rest-1.0
      operationId: directory_ListSubscription
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.companySubscriptionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - directory.companySubscription
      summary: Create new navigation property to subscriptions for directory
      operationId: directory_CreateSubscription
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.companySubscription'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.companySubscription'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /directory/subscriptions/{companySubscription-id}:
    get:
      tags:
      - directory.companySubscription
      summary: Get companySubscription
      description: Get a specific commercial subscription that an organization acquired.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/companysubscription-get?view=graph-rest-1.0
      operationId: directory_GetSubscription
      parameters:
      - name: companySubscription-id
        in: path
        description: The unique identifier of companySubscription
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: companySubscription
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.companySubscription'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - directory.companySubscription
      summary: Update the navigation property subscriptions in directory
      operationId: directory_UpdateSubscription
      parameters:
      - name: companySubscription-id
        in: path
        description: The unique identifier of companySubscription
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: companySubscription
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.companySubscription'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.companySubscription'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - directory.companySubscription
      summary: Delete navigation property subscriptions for directory
      operationId: directory_DeleteSubscription
      parameters:
      - name: companySubscription-id
        in: path
        description: The unique identifier of companySubscription
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: companySubscription
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /directory/subscriptions(commerceSubscriptionId='{commerceSubscriptionId}'):
    get:
      tags:
      - directory.companySubscription
      summary: Get companySubscription
      description: Get a specific commercial subscription that an organization acquired.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/companysubscription-get?view=graph-rest-1.0
      operationId: directory.subscription_GetGraphBPreCommerceSubscriptionId
      parameters:
      - name: commerceSubscriptionId
        in: path
        description: Alternate key of companySubscription
        required: true
        style: simple
        schema:
          type:
          - string
          - 'null'
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.companySubscription'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - directory.companySubscription
      summary: Update the navigation property subscriptions in directory
      operationId: directory.subscription_UpdateGraphBPreCommerceSubscriptionId
      parameters:
      - name: commerceSubscriptionId
        in: path
        description: Alternate key of companySubscription
        required: true
        style: simple
        schema:
          type:
          - string
          - 'null'
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.companySubscription'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.companySubscription'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - directory.companySubscription
      summary: Delete navigation property subscriptions for directory
      operationId: directory.subscription_DeleteGraphBPreCommerceSubscriptionId
      parameters:
      - name: commerceSubscriptionId
        in: path
        description: Alternate key of companySubscription
        required: true
        style: simple
        schema:
          type:
          - string
          - 'null'
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /directory/subscriptions/$count:
    get:
      tags:
      - directory.companySubscription
      summary: Get the number of the resource
      operationId: directory.subscription_GetCount
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
components:
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
    microsoft.graph.companySubscriptionCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.companySubscriptionCollectionResponse'
    ODataCountResponse:
      description: The count of the resource
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ODataCountResponse'
  schemas:
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type:
          - string
          - 'null'
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    microsoft.graph.servicePlanInfo:
      title: servicePlanInfo
      type: object
      properties:
        appliesTo:
          type:
          - string
          - 'null'
          description: The object the service plan can be assigned to. The possible values are:User - service plan can be assigned to individual users.Company - service plan can be assigned to the entire tenant.
        provisioningStatus:
          type:
          - string
          - 'null'
          description: The provisioning status of the service plan. The possible values are:Success - Service is fully provisioned.Disabled - Service is disabled.Error - The service plan isn't provisioned and is in an error state.PendingInput - The service isn't provisioned and is awaiting service confirmation.PendingActivation - The service is provisioned but requires explicit activation by an administrator (for example, Intune_O365 service plan)PendingProvisioning - Microsoft has added a new service to the product SKU and it isn't activated in the tenant.
        servicePlanId:
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
          type:
          - string
          - 'null'
          description: The unique identifier of the service plan.
          format: uuid
        servicePlanName:
          type:
          - string
          - 'null'
          description: The name of the service plan.
      additionalProperties:
        type: object
    ODataCountResponse:
      type: integer
      format: int32
    microsoft.graph.companySubscription:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: companySubscription
        type: object
        properties:
          commerceSubscriptionId:
            type:
            - string
            - 'null'
            description: The ID of this subscription in the commerce system. Alternate key.
          createdDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: The date and time when this subscription was created. The DateTimeOffset type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.
            format: date-time
          isTrial:
            type:
            - boolean
            - 'null'
            description: Whether the subscription is a free trial or purchased.
          nextLifecycleDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: The date and time when the subscription will move to the next state (as defined by the status property) if not renewed by the tenant. The DateTimeOffset type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.
            format: date-time
          ownerId:
            type:
            - string
            - 'null'
            description: The object ID of the account admin.
          ownerTenantId:
            type:
            - string
            - 'null'
            description: The unique identifier for the Microsoft partner tenant that created the subscription on a customer tenant.
          ownerType:
            type:
            - string
            - 'null'
            description: Indicates the entity that ownerId belongs to, for example, 'User'.
          serviceStatus:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.servicePlanInfo'
            description: The provisioning status of each service included in this subscription.
          skuId:
            type:
            - string
            - 'null'
            description: The object ID of the SKU associated with this subscription.
          skuPartNumber:
            type:
            - string
            - 'null'
            description: The SKU associated with this subscription.
          status:
            type:
            - string
            - 'null'
            description: 'The status of this subscription. The possible values are: Enabled, Deleted, Suspended, Warning, LockedOut.'
          totalLicenses:
            maximum: 2147483647
            minimum: -2147483648
            type:
            - number
            - 'null'
            description: The number of licenses included in this subscription.
            format: int32
        additionalProperties:
          type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.companySubscriptionCollectionResponse:
      title: Collection of companySubscription
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.companySubscription'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
  parameters:
    count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
    top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: {}
