openapi: 3.2.0
info:
  title: Users.mailbox Settings API
  version: v1.0
servers:
- url: https://graph.microsoft.com/v1.0/
  description: Core
security:
- azureaadv2: []
tags:
- name: users.mailboxSettings
paths:
  /users/{user-id}/mailboxSettings:
    get:
      tags:
      - users.mailboxSettings
      summary: Get mailboxSettings property value
      description: Settings for the primary mailbox of the signed-in user. You can get or update settings for sending automatic replies to incoming messages, locale, and time zone. Requires $select to retrieve.
      operationId: user_GetMailboxSetting
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Entity result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxSettings'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
      - users.mailboxSettings
      summary: Update property mailboxSettings value
      operationId: user_UpdateMailboxSetting
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.mailboxSettings'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.mailboxSettings'
        default:
          $ref: '#/components/responses/error'
components:
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
  schemas:
    microsoft.graph.externalAudienceScope:
      title: externalAudienceScope
      enum:
      - none
      - contactsOnly
      - all
      type: string
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type:
          - string
          - 'null'
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    microsoft.graph.dayOfWeek:
      title: dayOfWeek
      enum:
      - sunday
      - monday
      - tuesday
      - wednesday
      - thursday
      - friday
      - saturday
      type: string
    microsoft.graph.delegateMeetingMessageDeliveryOptions:
      title: delegateMeetingMessageDeliveryOptions
      enum:
      - sendToDelegateAndInformationToPrincipal
      - sendToDelegateAndPrincipal
      - sendToDelegateOnly
      type: string
    microsoft.graph.automaticRepliesSetting:
      title: automaticRepliesSetting
      type: object
      properties:
        externalAudience:
          $ref: '#/components/schemas/microsoft.graph.externalAudienceScope'
        externalReplyMessage:
          type:
          - string
          - 'null'
          description: The automatic reply to send to the specified external audience, if Status is AlwaysEnabled or Scheduled.
        internalReplyMessage:
          type:
          - string
          - 'null'
          description: The automatic reply to send to the audience internal to the signed-in user's organization, if Status is AlwaysEnabled or Scheduled.
        scheduledEndDateTime:
          $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
        scheduledStartDateTime:
          $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
        status:
          $ref: '#/components/schemas/microsoft.graph.automaticRepliesStatus'
      additionalProperties:
        type: object
    microsoft.graph.dateTimeTimeZone:
      title: dateTimeTimeZone
      type: object
      properties:
        dateTime:
          type: string
          description: A single point of time in a combined date and time representation ({date}T{time}; for example, 2017-08-29T04:00:00.0000000).
        timeZone:
          type:
          - string
          - 'null'
          description: Represents a time zone, for example, 'Pacific Standard Time'. See below for more possible values.
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.mailboxSettings:
      title: mailboxSettings
      type: object
      properties:
        archiveFolder:
          type:
          - string
          - 'null'
          description: Folder ID of an archive folder for the user.
        automaticRepliesSetting:
          $ref: '#/components/schemas/microsoft.graph.automaticRepliesSetting'
        dateFormat:
          type:
          - string
          - 'null'
          description: The date format for the user's mailbox.
        delegateMeetingMessageDeliveryOptions:
          $ref: '#/components/schemas/microsoft.graph.delegateMeetingMessageDeliveryOptions'
        language:
          $ref: '#/components/schemas/microsoft.graph.localeInfo'
        timeFormat:
          type:
          - string
          - 'null'
          description: The time format for the user's mailbox.
        timeZone:
          type:
          - string
          - 'null'
          description: The default time zone for the user's mailbox.
        userPurpose:
          $ref: '#/components/schemas/microsoft.graph.userPurpose'
        workingHours:
          $ref: '#/components/schemas/microsoft.graph.workingHours'
      additionalProperties:
        type: object
    microsoft.graph.workingHours:
      title: workingHours
      type: object
      properties:
        daysOfWeek:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.dayOfWeek'
          description: The days of the week on which the user works.
        endTime:
          pattern: ^([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?$
          type:
          - string
          - 'null'
          description: The time of the day that the user stops working.
          format: time
        startTime:
          pattern: ^([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?$
          type:
          - string
          - 'null'
          description: The time of the day that the user starts working.
          format: time
        timeZone:
          $ref: '#/components/schemas/microsoft.graph.timeZoneBase'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
    microsoft.graph.automaticRepliesStatus:
      title: automaticRepliesStatus
      enum:
      - disabled
      - alwaysEnabled
      - scheduled
      type: string
    microsoft.graph.localeInfo:
      title: localeInfo
      type: object
      properties:
        displayName:
          type:
          - string
          - 'null'
          description: A name representing the user's locale in natural language, for example, 'English (United States)'.
        locale:
          type:
          - string
          - 'null'
          description: A locale representation for the user, which includes the user's preferred language and country/region. For example, 'en-us'. The language component follows 2-letter codes as defined in ISO 639-1, and the country component follows 2-letter codes as defined in ISO 3166-1 alpha-2.
      additionalProperties:
        type: object
    microsoft.graph.userPurpose:
      title: userPurpose
      enum:
      - user
      - linked
      - shared
      - room
      - equipment
      - others
      - unknownFutureValue
      type: string
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.timeZoneBase:
      title: timeZoneBase
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
          description: The name of a time zone. It can be a standard time zone name such as 'Hawaii-Aleutian Standard Time', or 'Customized Time Zone' for a custom time zone.
      additionalProperties:
        type: object
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: {}
