openapi: 3.2.0
info:
  title: Identity.DirectoryManagement Organization.organizational…
  version: v1.0
servers:
- url: https://graph.microsoft.com/v1.0/
  description: Core
security:
- azureaadv2: []
tags:
- name: organization.organizationalBranding
paths:
  /organization/{organization-id}/branding:
    get:
      tags:
      - organization.organizationalBranding
      summary: Get organizationalBranding
      description: Retrieve the default organizational branding object, if the Accept-Language header is set to 0 or default. If no default organizational branding object exists, this method returns a 404 Not Found error. If the Accept-Language header is set to an existing locale identified by the value of its id, this method retrieves the branding for the specified locale. This method retrieves only non-Stream properties, for example, usernameHintText and signInPageText. To retrieve Stream types of the default branding, for example, bannerLogo and backgroundImage, use the GET organizationalBrandingLocalization method.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/organizationalbranding-get?view=graph-rest-1.0
      operationId: organization_GetBranding
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.organizationalBranding'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - organization.organizationalBranding
      summary: Update organizationalBranding
      description: Update the properties of the default branding object specified by the organizationalBranding resource.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/organizationalbranding-update?view=graph-rest-1.0
      operationId: organization_UpdateBranding
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.organizationalBranding'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.organizationalBranding'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - organization.organizationalBranding
      summary: Delete organizationalBranding
      description: Delete the default organizational branding object. To delete the organizationalBranding object, all images (Stream types) must first be removed from the object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/organizationalbranding-delete?view=graph-rest-1.0
      operationId: organization_DeleteBranding
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /organization/{organization-id}/branding/backgroundImage:
    get:
      tags:
      - organization.organizationalBranding
      summary: Get backgroundImage for the navigation property branding from organization
      description: Image that appears as the background of the sign-in page. The allowed types are PNG or JPEG not smaller than 300 KB and not larger than 1920 × 1080 pixels. A smaller image reduces bandwidth requirements and make the page load faster.
      operationId: organization_GetBrandingBackgroundImage
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      responses:
        2XX:
          description: Retrieved media content
          content:
            image/bmp:
              schema:
                type: string
                format: binary
            image/jpg:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/gif:
              schema:
                type: string
                format: binary
            image/vnd.microsoft.icon:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
            image/tiff:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
    put:
      tags:
      - organization.organizationalBranding
      summary: Update backgroundImage for the navigation property branding in organization
      description: Image that appears as the background of the sign-in page. The allowed types are PNG or JPEG not smaller than 300 KB and not larger than 1920 × 1080 pixels. A smaller image reduces bandwidth requirements and make the page load faster.
      operationId: organization_SetBrandingBackgroundImage
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      requestBody:
        description: New media content.
        content:
          image/bmp:
            schema:
              type: string
              format: binary
          image/jpg:
            schema:
              type: string
              format: binary
          image/jpeg:
            schema:
              type: string
              format: binary
          image/gif:
            schema:
              type: string
              format: binary
          image/vnd.microsoft.icon:
            schema:
              type: string
              format: binary
          image/png:
            schema:
              type: string
              format: binary
          image/tiff:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
      - organization.organizationalBranding
      summary: Delete backgroundImage for the navigation property branding in organization
      description: Image that appears as the background of the sign-in page. The allowed types are PNG or JPEG not smaller than 300 KB and not larger than 1920 × 1080 pixels. A smaller image reduces bandwidth requirements and make the page load faster.
      operationId: organization_DeleteBrandingBackgroundImage
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
  /organization/{organization-id}/branding/bannerLogo:
    get:
      tags:
      - organization.organizationalBranding
      summary: Get bannerLogo for the navigation property branding from organization
      description: A banner version of your company logo that appears on the sign-in page. The allowed types are PNG or JPEG not larger than 36 × 245 pixels. We recommend using a transparent image with no padding around the logo.
      operationId: organization_GetBrandingBannerLogo
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      responses:
        2XX:
          description: Retrieved media content
          content:
            image/bmp:
              schema:
                type: string
                format: binary
            image/jpg:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/gif:
              schema:
                type: string
                format: binary
            image/vnd.microsoft.icon:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
            image/tiff:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
    put:
      tags:
      - organization.organizationalBranding
      summary: Update bannerLogo for the navigation property branding in organization
      description: A banner version of your company logo that appears on the sign-in page. The allowed types are PNG or JPEG not larger than 36 × 245 pixels. We recommend using a transparent image with no padding around the logo.
      operationId: organization_SetBrandingBannerLogo
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      requestBody:
        description: New media content.
        content:
          image/bmp:
            schema:
              type: string
              format: binary
          image/jpg:
            schema:
              type: string
              format: binary
          image/jpeg:
            schema:
              type: string
              format: binary
          image/gif:
            schema:
              type: string
              format: binary
          image/vnd.microsoft.icon:
            schema:
              type: string
              format: binary
          image/png:
            schema:
              type: string
              format: binary
          image/tiff:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
      - organization.organizationalBranding
      summary: Delete bannerLogo for the navigation property branding in organization
      description: A banner version of your company logo that appears on the sign-in page. The allowed types are PNG or JPEG not larger than 36 × 245 pixels. We recommend using a transparent image with no padding around the logo.
      operationId: organization_DeleteBrandingBannerLogo
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
  /organization/{organization-id}/branding/customCSS:
    get:
      tags:
      - organization.organizationalBranding
      summary: Get customCSS for the navigation property branding from organization
      description: CSS styling that appears on the sign-in page. The allowed format is .css format only and not larger than 25 KB.
      operationId: organization_GetBrandingCustomCSS
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      responses:
        2XX:
          description: Retrieved media content
          content:
            image/bmp:
              schema:
                type: string
                format: binary
            image/jpg:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/gif:
              schema:
                type: string
                format: binary
            image/vnd.microsoft.icon:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
            image/tiff:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
    put:
      tags:
      - organization.organizationalBranding
      summary: Update customCSS for the navigation property branding in organization
      description: CSS styling that appears on the sign-in page. The allowed format is .css format only and not larger than 25 KB.
      operationId: organization_SetBrandingCustomCSS
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      requestBody:
        description: New media content.
        content:
          image/bmp:
            schema:
              type: string
              format: binary
          image/jpg:
            schema:
              type: string
              format: binary
          image/jpeg:
            schema:
              type: string
              format: binary
          image/gif:
            schema:
              type: string
              format: binary
          image/vnd.microsoft.icon:
            schema:
              type: string
              format: binary
          image/png:
            schema:
              type: string
              format: binary
          image/tiff:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
      - organization.organizationalBranding
      summary: Delete customCSS for the navigation property branding in organization
      description: CSS styling that appears on the sign-in page. The allowed format is .css format only and not larger than 25 KB.
      operationId: organization_DeleteBrandingCustomCSS
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
  /organization/{organization-id}/branding/favicon:
    get:
      tags:
      - organization.organizationalBranding
      summary: Get favicon for the navigation property branding from organization
      description: A custom icon (favicon) to replace a default Microsoft product favicon on a Microsoft Entra tenant.
      operationId: organization_GetBrandingFavicon
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      responses:
        2XX:
          description: Retrieved media content
          content:
            image/bmp:
              schema:
                type: string
                format: binary
            image/jpg:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/gif:
              schema:
                type: string
                format: binary
            image/vnd.microsoft.icon:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
            image/tiff:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
    put:
      tags:
      - organization.organizationalBranding
      summary: Update favicon for the navigation property branding in organization
      description: A custom icon (favicon) to replace a default Microsoft product favicon on a Microsoft Entra tenant.
      operationId: organization_SetBrandingFavicon
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      requestBody:
        description: New media content.
        content:
          image/bmp:
            schema:
              type: string
              format: binary
          image/jpg:
            schema:
              type: string
              format: binary
          image/jpeg:
            schema:
              type: string
              format: binary
          image/gif:
            schema:
              type: string
              format: binary
          image/vnd.microsoft.icon:
            schema:
              type: string
              format: binary
          image/png:
            schema:
              type: string
              format: binary
          image/tiff:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
      - organization.organizationalBranding
      summary: Delete favicon for the navigation property branding in organization
      description: A custom icon (favicon) to replace a default Microsoft product favicon on a Microsoft Entra tenant.
      operationId: organization_DeleteBrandingFavicon
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
  /organization/{organization-id}/branding/headerLogo:
    get:
      tags:
      - organization.organizationalBranding
      summary: Get headerLogo for the navigation property branding from organization
      description: A company logo that appears in the header of the sign-in page. The allowed types are PNG or JPEG not larger than 36 × 245 pixels. We recommend using a transparent image with no padding around the logo.
      operationId: organization_GetBrandingHeaderLogo
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      responses:
        2XX:
          description: Retrieved media content
          content:
            image/bmp:
              schema:
                type: string
                format: binary
            image/jpg:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/gif:
              schema:
                type: string
                format: binary
            image/vnd.microsoft.icon:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
            image/tiff:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
    put:
      tags:
      - organization.organizationalBranding
      summary: Update headerLogo for the navigation property branding in organization
      description: A company logo that appears in the header of the sign-in page. The allowed types are PNG or JPEG not larger than 36 × 245 pixels. We recommend using a transparent image with no padding around the logo.
      operationId: organization_SetBrandingHeaderLogo
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      requestBody:
        description: New media content.
        content:
          image/bmp:
            schema:
              type: string
              format: binary
          image/jpg:
            schema:
              type: string
              format: binary
          image/jpeg:
            schema:
              type: string
              format: binary
          image/gif:
            schema:
              type: string
              format: binary
          image/vnd.microsoft.icon:
            schema:
              type: string
              format: binary
          image/png:
            schema:
              type: string
              format: binary
          image/tiff:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
      - organization.organizationalBranding
      summary: Delete headerLogo for the navigation property branding in organization
      description: A company logo that appears in the header of the sign-in page. The allowed types are PNG or JPEG not larger than 36 × 245 pixels. We recommend using a transparent image with no padding around the logo.
      operationId: organization_DeleteBrandingHeaderLogo
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
  /organization/{organization-id}/branding/localizations:
    get:
      tags:
      - organization.organizationalBranding
      summary: List localizations
      description: Retrieve all localization branding objects, including the default branding.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/organizationalbranding-list-localizations?view=graph-rest-1.0
      operationId: organization.branding_ListLocalization
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.organizationalBrandingLocalizationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - organization.organizationalBranding
      summary: Create organizationalBrandingLocalization
      description: Create a new organizationalBrandingLocalization object. This creates a localized branding and at the same time, the default branding if it doesn't exist. The default branding is created only once. It's loaded when a localized branding isn't configured for the user's browser language. To retrieve the default branding, see Get branding.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/organizationalbranding-post-localizations?view=graph-rest-1.0
      operationId: organization.branding_CreateLocalization
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.organizationalBrandingLocalization'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.organizationalBrandingLocalization'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /organization/{organization-id}/branding/localizations/{organizationalBrandingLocalization-id}:
    get:
      tags:
      - organization.organizationalBranding
      summary: Get organizationalBrandingLocalization
      description: Read the properties and relationships of an organizationalBrandingLocalization object. To retrieve a localization branding object, specify the value of id in the URL.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/organizationalbrandinglocalization-get?view=graph-rest-1.0
      operationId: organization.branding_GetLocalization
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      - name: organizationalBrandingLocalization-id
        in: path
        description: The unique identifier of organizationalBrandingLocalization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organizationalBrandingLocalization
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.organizationalBrandingLocalization'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - organization.organizationalBranding
      summary: Update organizationalBrandingLocalization
      description: Update the properties of an organizationalBrandingLocalization object for a specific localization.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/organizationalbrandinglocalization-update?view=graph-rest-1.0
      operationId: organization.branding_UpdateLocalization
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      - name: organizationalBrandingLocalization-id
        in: path
        description: The unique identifier of organizationalBrandingLocalization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organizationalBrandingLocalization
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.organizationalBrandingLocalization'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.organizationalBrandingLocalization'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - organization.organizationalBranding
      summary: Delete organizationalBrandingLocalization
      description: Delete a localized branding object. To delete the organizationalBrandingLocalization object, all images (Stream types) must first be removed from the object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/organizationalbrandinglocalization-delete?view=graph-rest-1.0
      operationId: organization.branding_DeleteLocalization
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      - name: organizationalBrandingLocalization-id
        in: path
        description: The unique identifier of organizationalBrandingLocalization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organizationalBrandingLocalization
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /organization/{organization-id}/branding/localizations/{organizationalBrandingLocalization-id}/backgroundImage:
    get:
      tags:
      - organization.organizationalBranding
      summary: Get backgroundImage for the navigation property localizations from organization
      description: Image that appears as the background of the sign-in page. The allowed types are PNG or JPEG not smaller than 300 KB and not larger than 1920 × 1080 pixels. A smaller image reduces bandwidth requirements and make the page load faster.
      operationId: organization.branding_GetLocalizationsBackgroundImage
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      - name: organizationalBrandingLocalization-id
        in: path
        description: The unique identifier of organizationalBrandingLocalization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organizationalBrandingLocalization
      responses:
        2XX:
          description: Retrieved media content
          content:
            image/bmp:
              schema:
                type: string
                format: binary
            image/jpg:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/gif:
              schema:
                type: string
                format: binary
            image/vnd.microsoft.icon:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
            image/tiff:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
    put:
      tags:
      - organization.organizationalBranding
      summary: Update backgroundImage for the navigation property localizations in organization
      description: Image that appears as the background of the sign-in page. The allowed types are PNG or JPEG not smaller than 300 KB and not larger than 1920 × 1080 pixels. A smaller image reduces bandwidth requirements and make the page load faster.
      operationId: organization.branding_SetLocalizationsBackgroundImage
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      - name: organizationalBrandingLocalization-id
        in: path
        description: The unique identifier of organizationalBrandingLocalization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organizationalBrandingLocalization
      requestBody:
        description: New media content.
        content:
          image/bmp:
            schema:
              type: string
              format: binary
          image/jpg:
            schema:
              type: string
              format: binary
          image/jpeg:
            schema:
              type: string
              format: binary
          image/gif:
            schema:
              type: string
              format: binary
          image/vnd.microsoft.icon:
            schema:
              type: string
              format: binary
          image/png:
            schema:
              type: string
              format: binary
          image/tiff:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
      - organization.organizationalBranding
      summary: Delete backgroundImage for the navigation property localizations in organization
      description: Image that appears as the background of the sign-in page. The allowed types are PNG or JPEG not smaller than 300 KB and not larger than 1920 × 1080 pixels. A smaller image reduces bandwidth requirements and make the page load faster.
      operationId: organization.branding_DeleteLocalizationsBackgroundImage
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      - name: organizationalBrandingLocalization-id
        in: path
        description: The unique identifier of organizationalBrandingLocalization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organizationalBrandingLocalization
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
  /organization/{organization-id}/branding/localizations/{organizationalBrandingLocalization-id}/bannerLogo:
    get:
      tags:
      - organization.organizationalBranding
      summary: Get organizationalBranding
      description: Retrieve the default organizational branding object, if the Accept-Language header is set to 0 or default. If no default organizational branding object exists, this method returns a 404 Not Found error. If the Accept-Language header is set to an existing locale identified by the value of its id, this method retrieves the branding for the specified locale. This method retrieves only non-Stream properties, for example, usernameHintText and signInPageText. To retrieve Stream types of the default branding, for example, bannerLogo and backgroundImage, use the GET organizationalBrandingLocalization method.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/organizationalbranding-get?view=graph-rest-1.0
      operationId: organization.branding_GetLocalizationsBannerLogo
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      - name: organizationalBrandingLocalization-id
        in: path
        description: The unique identifier of organizationalBrandingLocalization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organizationalBrandingLocalization
      responses:
        2XX:
          description: Retrieved media content
          content:
            image/bmp:
              schema:
                type: string
                format: binary
            image/jpg:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/gif:
              schema:
                type: string
                format: binary
            image/vnd.microsoft.icon:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
            image/tiff:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
    put:
      tags:
      - organization.organizationalBranding
      summary: Update organizationalBrandingLocalization
      description: Update the properties of an organizationalBrandingLocalization object for a specific localization.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/organizationalbrandinglocalization-update?view=graph-rest-1.0
      operationId: organization.branding_SetLocalizationsBannerLogo
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      - name: organizationalBrandingLocalization-id
        in: path
        description: The unique identifier of organizationalBrandingLocalization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organizationalBrandingLocalization
      requestBody:
        description: New media content.
        content:
          image/bmp:
            schema:
              type: string
              format: binary
          image/jpg:
            schema:
              type: string
              format: binary
          image/jpeg:
            schema:
              type: string
              format: binary
          image/gif:
            schema:
              type: string
              format: binary
          image/vnd.microsoft.icon:
            schema:
              type: string
              format: binary
          image/png:
            schema:
              type: string
              format: binary
          image/tiff:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
      - organization.organizationalBranding
      summary: Delete bannerLogo for the navigation property localizations in organization
      description: A banner version of your company logo that appears on the sign-in page. The allowed types are PNG or JPEG not larger than 36 × 245 pixels. We recommend using a transparent image with no padding around the logo.
      operationId: organization.branding_DeleteLocalizationsBannerLogo
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      - name: organizationalBrandingLocalization-id
        in: path
        description: The unique identifier of organizationalBrandingLocalization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organizationalBrandingLocalization
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
  /organization/{organization-id}/branding/localizations/{organizationalBrandingLocalization-id}/customCSS:
    get:
      tags:
      - organization.organizationalBranding
      summary: Get customCSS for the navigation property localizations from organization
      description: CSS styling that appears on the sign-in page. The allowed format is .css format only and not larger than 25 KB.
      operationId: organization.branding_GetLocalizationsCustomCSS
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      - name: organizationalBrandingLocalization-id
        in: path
        description: The unique identifier of organizationalBrandingLocalization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organizationalBrandingLocalization
      responses:
        2XX:
          description: Retrieved media content
          content:
            image/bmp:
              schema:
                type: string
                format: binary
            image/jpg:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/gif:
              schema:
                type: string
                format: binary
            image/vnd.microsoft.icon:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
            image/tiff:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
    put:
      tags:
      - organization.organizationalBranding
      summary: Update customCSS for the navigation property localizations in organization
      description: CSS styling that appears on the sign-in page. The allowed format is .css format only and not larger than 25 KB.
      operationId: organization.branding_SetLocalizationsCustomCSS
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      - name: organizationalBrandingLocalization-id
        in: path
        description: The unique identifier of organizationalBrandingLocalization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organizationalBrandingLocalization
      requestBody:
        description: New media content.
        content:
          image/bmp:
            schema:
              type: string
              format: binary
          image/jpg:
            schema:
              type: string
              format: binary
          image/jpeg:
            schema:
              type: string
              format: binary
          image/gif:
            schema:
              type: string
              format: binary
          image/vnd.microsoft.icon:
            schema:
              type: string
              format: binary
          image/png:
            schema:
              type: string
              format: binary
          image/tiff:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
      - organization.organizationalBranding
      summary: Delete customCSS for the navigation property localizations in organization
      description: CSS styling that appears on the sign-in page. The allowed format is .css format only and not larger than 25 KB.
      operationId: organization.branding_DeleteLocalizationsCustomCSS
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      - name: organizationalBrandingLocalization-id
        in: path
        description: The unique identifier of organizationalBrandingLocalization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organizationalBrandingLocalization
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
  /organization/{organization-id}/branding/localizations/{organizationalBrandingLocalization-id}/favicon:
    get:
      tags:
      - organization.organizationalBranding
      summary: Get favicon for the navigation property localizations from organization
      description: A custom icon (favicon) to replace a default Microsoft product favicon on a Microsoft Entra tenant.
      operationId: organization.branding_GetLocalizationsFavicon
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      - name: organizationalBrandingLocalization-id
        in: path
        description: The unique identifier of organizationalBrandingLocalization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organizationalBrandingLocalization
      responses:
        2XX:
          description: Retrieved media content
          content:
            image/bmp:
              schema:
                type: string
                format: binary
            image/jpg:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/gif:
              schema:
                type: string
                format: binary
            image/vnd.microsoft.icon:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
            image/tiff:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
    put:
      tags:
      - organization.organizationalBranding
      summary: Update favicon for the navigation property localizations in organization
      description: A custom icon (favicon) to replace a default Microsoft product favicon on a Microsoft Entra tenant.
      operationId: organization.branding_SetLocalizationsFavicon
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      - name: organizationalBrandingLocalization-id
        in: path
        description: The unique identifier of organizationalBrandingLocalization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organizationalBrandingLocalization
      requestBody:
        description: New media content.
        content:
          image/bmp:
            schema:
              type: string
              format: binary
          image/jpg:
            schema:
              type: string
              format: binary
          image/jpeg:
            schema:
              type: string
              format: binary
          image/gif:
            schema:
              type: string
              format: binary
          image/vnd.microsoft.icon:
            schema:
              type: string
              format: binary
          image/png:
            schema:
              type: string
              format: binary
          image/tiff:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
      - organization.organizationalBranding
      summary: Delete favicon for the navigation property localizations in organization
      description: A custom icon (favicon) to replace a default Microsoft product favicon on a Microsoft Entra tenant.
      operationId: organization.branding_DeleteLocalizationsFavicon
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      - name: organizationalBrandingLocalization-id
        in: path
        description: The unique identifier of organizationalBrandingLocalization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organizationalBrandingLocalization
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
  /organization/{organization-id}/branding/localizations/{organizationalBrandingLocalization-id}/headerLogo:
    get:
      tags:
      - organization.organizationalBranding
      summary: Get headerLogo for the navigation property localizations from organization
      description: A company logo that appears in the header of the sign-in page. The allowed types are PNG or JPEG not larger than 36 × 245 pixels. We recommend using a transparent image with no padding around the logo.
      operationId: organization.branding_GetLocalizationsHeaderLogo
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      - name: organizationalBrandingLocalization-id
        in: path
        description: The unique identifier of organizationalBrandingLocalization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organizationalBrandingLocalization
      responses:
        2XX:
          description: Retrieved media content
          content:
            image/bmp:
              schema:
                type: string
                format: binary
            image/jpg:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/gif:
              schema:
                type: string
                format: binary
            image/vnd.microsoft.icon:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
            image/tiff:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
    put:
      tags:
      - organization.organizationalBranding
      summary: Update headerLogo for the navigation property localizations in organization
      description: A company logo that appears in the header of the sign-in page. The allowed types are PNG or JPEG not larger than 36 × 245 pixels. We recommend using a transparent image with no padding around the logo.
      operationId: organization.branding_SetLocalizationsHeaderLogo
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      - name: organizationalBrandingLocalization-id
        in: path
        description: The unique identifier of organizationalBrandingLocalization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organizationalBrandingLocalization
      requestBody:
        description: New media content.
        content:
          image/bmp:
            schema:
              type: string
              format: binary
          image/jpg:
            schema:
              type: string
              format: binary
          image/jpeg:
            schema:
              type: string
              format: binary
          image/gif:
            schema:
              type: string
              format: binary
          image/vnd.microsoft.icon:
            schema:
              type: string
              format: binary
          image/png:
            schema:
              type: string
              format: binary
          image/tiff:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
      - organization.organizationalBranding
      summary: Delete headerLogo for the navigation property localizations in organization
      description: A company logo that appears in the header of the sign-in page. The allowed types are PNG or JPEG not larger than 36 × 245 pixels. We recommend using a transparent image with no padding around the logo.
      operationId: organization.branding_DeleteLocalizationsHeaderLogo
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      - name: organizationalBrandingLocalization-id
        in: path
        description: The unique identifier of organizationalBrandingLocalization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organizationalBrandingLocalization
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
  /organization/{organization-id}/branding/localizations/{organizationalBrandingLocalization-id}/squareLogo:
    get:
      tags:
      - organization.organizationalBranding
      summary: Get squareLogo for the navigation property localizations from organization
      description: A square version of your company logo that appears in Windows 10 out-of-box experiences (OOBE) and when Windows Autopilot is enabled for deployment. Allowed types are PNG or JPEG not larger than 240 x 240 pixels and not more than 10 KB in size. We recommend using a transparent image with no padding around the logo.
      operationId: organization.branding_GetLocalizationsSquareLogo
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      - name: organizationalBrandingLocalization-id
        in: path
        description: The unique identifier of organizationalBrandingLocalization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organizationalBrandingLocalization
      responses:
        2XX:
          description: Retrieved media content
          content:
            image/bmp:
              schema:
                type: string
                format: binary
            image/jpg:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/gif:
              schema:
                type: string
                format: binary
            image/vnd.microsoft.icon:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
            image/tiff:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
    put:
      tags:
      - organization.organizationalBranding
      summary: Update squareLogo for the navigation property localizations in organization
      description: A square version of your company logo that appears in Windows 10 out-of-box experiences (OOBE) and when Windows Autopilot is enabled for deployment. Allowed types are PNG or JPEG not larger than 240 x 240 pixels and not more than 10 KB in size. We recommend using a transparent image with no padding around the logo.
      operationId: organization.branding_SetLocalizationsSquareLogo
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      - name: organizationalBrandingLocalization-id
        in: path
        description: The unique identifier of organizationalBrandingLocalization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organizationalBrandingLocalization
      requestBody:
        description: New media content.
        content:
          image/bmp:
            schema:
              type: string
              format: binary
          image/jpg:
            schema:
              type: string
              format: binary
          image/jpeg:
            schema:
              type: string
              format: binary
          image/gif:
            schema:
              type: string
              format: binary
          image/vnd.microsoft.icon:
            schema:
              type: string
              format: binary
          image/png:
            schema:
              type: string
              format: binary
          image/tiff:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
      - organization.organizationalBranding
      summary: Delete squareLogo for the navigation property localizations in organization
      description: A square version of your company logo that appears in Windows 10 out-of-box experiences (OOBE) and when Windows Autopilot is enabled for deployment. Allowed types are PNG or JPEG not larger than 240 x 240 pixels and not more than 10 KB in size. We recommend using a transparent image with no padding around the logo.
      operationId: organization.branding_DeleteLocalizationsSquareLogo
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      - name: organizationalBrandingLocalization-id
        in: path
        description: The unique identifier of organizationalBrandingLocalization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organizationalBrandingLocalization
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
  /organization/{organization-id}/branding/localizations/{organizationalBrandingLocalization-id}/squareLogoDark:
    get:
      tags:
      - organization.organizationalBranding
      summary: Get squareLogoDark for the navigation property localizations from organization
      description: A square dark version of your company logo that appears in Windows 10 out-of-box experiences (OOBE) and when Windows Autopilot is enabled for deployment. Allowed types are PNG or JPEG not larger than 240 x 240 pixels and not more than 10 KB in size. We recommend using a transparent image with no padding around the logo.
      operationId: organization.branding_GetLocalizationsSquareLogoDark
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      - name: organizationalBrandingLocalization-id
        in: path
        description: The unique identifier of organizationalBrandingLocalization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organizationalBrandingLocalization
      responses:
        2XX:
          description: Retrieved media content
          content:
            image/bmp:
              schema:
                type: string
                format: binary
            image/jpg:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/gif:
              schema:
                type: string
                format: binary
            image/vnd.microsoft.icon:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
            image/tiff:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
    put:
      tags:
      - organization.organizationalBranding
      summary: Update squareLogoDark for the navigation property localizations in organization
      description: A square dark version of your company logo that appears in Windows 10 out-of-box experiences (OOBE) and when Windows Autopilot is enabled for deployment. Allowed types are PNG or JPEG not larger than 240 x 240 pixels and not more than 10 KB in size. We recommend using a transparent image with no padding around the logo.
      operationId: organization.branding_SetLocalizationsSquareLogoDark
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      - name: organizationalBrandingLocalization-id
        in: path
        description: The unique identifier of organizationalBrandingLocalization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organizationalBrandingLocalization
      requestBody:
        description: New media content.
        content:
          image/bmp:
            schema:
              type: string
              format: binary
          image/jpg:
            schema:
              type: string
              format: binary
          image/jpeg:
            schema:
              type: string
              format: binary
          image/gif:
            schema:
              type: string
              format: binary
          image/vnd.microsoft.icon:
            schema:
              type: string
              format: binary
          image/png:
            schema:
              type: string
              format: binary
          image/tiff:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
      - organization.organizationalBranding
      summary: Delete squareLogoDark for the navigation property localizations in organization
      description: A square dark version of your company logo that appears in Windows 10 out-of-box experiences (OOBE) and when Windows Autopilot is enabled for deployment. Allowed types are PNG or JPEG not larger than 240 x 240 pixels and not more than 10 KB in size. We recommend using a transparent image with no padding around the logo.
      operationId: organization.branding_DeleteLocalizationsSquareLogoDark
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      - name: organizationalBrandingLocalization-id
        in: path
        description: The unique identifier of organizationalBrandingLocalization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organizationalBrandingLocalization
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
  /organization/{organization-id}/branding/localizations/$count:
    get:
      tags:
      - organization.organizationalBranding
      summary: Get the number of the resource
      operationId: organization.branding.localization_GetCount
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /organization/{organization-id}/branding/squareLogo:
    get:
      tags:
      - organization.organizationalBranding
      summary: Get squareLogo for the navigation property branding from organization
      description: A square version of your company logo that appears in Windows 10 out-of-box experiences (OOBE) and when Windows Autopilot is enabled for deployment. Allowed types are PNG or JPEG not larger than 240 x 240 pixels and not more than 10 KB in size. We recommend using a transparent image with no padding around the logo.
      operationId: organization_GetBrandingSquareLogo
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      responses:
        2XX:
          description: Retrieved media content
          content:
            image/bmp:
              schema:
                type: string
                format: binary
            image/jpg:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/gif:
              schema:
                type: string
                format: binary
            image/vnd.microsoft.icon:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
            image/tiff:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
    put:
      tags:
      - organization.organizationalBranding
      summary: Update squareLogo for the navigation property branding in organization
      description: A square version of your company logo that appears in Windows 10 out-of-box experiences (OOBE) and when Windows Autopilot is enabled for deployment. Allowed types are PNG or JPEG not larger than 240 x 240 pixels and not more than 10 KB in size. We recommend using a transparent image with no padding around the logo.
      operationId: organization_SetBrandingSquareLogo
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      requestBody:
        description: New media content.
        content:
          image/bmp:
            schema:
              type: string
              format: binary
          image/jpg:
            schema:
              type: string
              format: binary
          image/jpeg:
            schema:
              type: string
              format: binary
          image/gif:
            schema:
              type: string
              format: binary
          image/vnd.microsoft.icon:
            schema:
              type: string
              format: binary
          image/png:
            schema:
              type: string
              format: binary
          image/tiff:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
      - organization.organizationalBranding
      summary: Delete squareLogo for the navigation property branding in organization
      description: A square version of your company logo that appears in Windows 10 out-of-box experiences (OOBE) and when Windows Autopilot is enabled for deployment. Allowed types are PNG or JPEG not larger than 240 x 240 pixels and not more than 10 KB in size. We recommend using a transparent image with no padding around the logo.
      operationId: organization_DeleteBrandingSquareLogo
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
  /organization/{organization-id}/branding/squareLogoDark:
    get:
      tags:
      - organization.organizationalBranding
      summary: Get squareLogoDark for the navigation property branding from organization
      description: A square dark version of your company logo that appears in Windows 10 out-of-box experiences (OOBE) and when Windows Autopilot is enabled for deployment. Allowed types are PNG or JPEG not larger than 240 x 240 pixels and not more than 10 KB in size. We recommend using a transparent image with no padding around the logo.
      operationId: organization_GetBrandingSquareLogoDark
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      responses:
        2XX:
          description: Retrieved media content
          content:
            image/bmp:
              schema:
                type: string
                format: binary
            image/jpg:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
            image/gif:
              schema:
                type: string
                format: binary
            image/vnd.microsoft.icon:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
            image/tiff:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
    put:
      tags:
      - organization.organizationalBranding
      summary: Update squareLogoDark for the navigation property branding in organization
      description: A square dark version of your company logo that appears in Windows 10 out-of-box experiences (OOBE) and when Windows Autopilot is enabled for deployment. Allowed types are PNG or JPEG not larger than 240 x 240 pixels and not more than 10 KB in size. We recommend using a transparent image with no padding around the logo.
      operationId: organization_SetBrandingSquareLogoDark
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      requestBody:
        description: New media content.
        content:
          image/bmp:
            schema:
              type: string
              format: binary
          image/jpg:
            schema:
              type: string
              format: binary
          image/jpeg:
            schema:
              type: string
              format: binary
          image/gif:
            schema:
              type: string
              format: binary
          image/vnd.microsoft.icon:
            schema:
              type: string
              format: binary
          image/png:
            schema:
              type: string
              format: binary
          image/tiff:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
      - organization.organizationalBranding
      summary: Delete squareLogoDark for the navigation property branding in organization
      description: A square dark version of your company logo that appears in Windows 10 out-of-box experiences (OOBE) and when Windows Autopilot is enabled for deployment. Allowed types are PNG or JPEG not larger than 240 x 240 pixels and not more than 10 KB in size. We recommend using a transparent image with no padding around the logo.
      operationId: organization_DeleteBrandingSquareLogoDark
      parameters:
      - name: organization-id
        in: path
        description: The unique identifier of organization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: organization
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
components:
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
    microsoft.graph.organizationalBrandingLocalizationCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.organizationalBrandingLocalizationCollectionResponse'
    ODataCountResponse:
      description: The count of the resource
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ODataCountResponse'
  schemas:
    microsoft.graph.loginPageLayoutConfiguration:
      title: loginPageLayoutConfiguration
      type: object
      properties:
        isFooterShown:
          type:
          - boolean
          - 'null'
          description: Option to show the footer on the sign-in page.
        isHeaderShown:
          type:
          - boolean
          - 'null'
          description: Option to show the header on the sign-in page.
        layoutTemplateType:
          $ref: '#/components/schemas/microsoft.graph.layoutTemplateType'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type:
          - string
          - 'null'
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    ODataCountResponse:
      type: integer
      format: int32
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
    microsoft.graph.layoutTemplateType:
      title: layoutTemplateType
      enum:
      - default
      - verticalSplit
      - unknownFutureValue
      type: string
    microsoft.graph.loginPageTextVisibilitySettings:
      title: loginPageTextVisibilitySettings
      type: object
      properties:
        hideAccountResetCredentials:
          type:
          - boolean
          - 'null'
          description: Option to hide the self-service password reset (SSPR) hyperlinks such as 'Can't access your account?', 'Forgot my password' and 'Reset it now' on the sign-in form.
        hideCannotAccessYourAccount:
          type:
          - boolean
          - 'null'
          description: Option to hide the self-service password reset (SSPR) 'Can't access your account?' hyperlink on the sign-in form.
        hideForgotMyPassword:
          type:
          - boolean
          - 'null'
          description: Option to hide the self-service password reset (SSPR) 'Forgot my password' hyperlink on the sign-in form.
        hidePrivacyAndCookies:
          type:
          - boolean
          - 'null'
          description: Option to hide the 'Privacy & Cookies' hyperlink in the footer.
        hideResetItNow:
          type:
          - boolean
          - 'null'
          description: Option to hide the self-service password reset (SSPR) 'reset it now' hyperlink on the sign-in form.
        hideTermsOfUse:
          type:
          - boolean
          - 'null'
          description: Option to hide the 'Terms of Use' hyperlink in the footer.
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.contentCustomization:
      title: contentCustomization
      type: object
      properties:
        attributeCollection:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.keyValue'
          description: Represents the content options of External Identities to be customized throughout the authentication flow for a tenant.
        attributeCollectionRelativeUrl:
          type:
          - string
          - 'null'
          description: A relative URL for the content options of External Identities to be customized throughout the authentication flow for a tenant.
        registrationCampaign:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.keyValue'
          description: Represents content options to customize during MFA proofup interruptions.
        registrationCampaignRelativeUrl:
          type:
          - string
          - 'null'
          description: The relative URL of the content options to customize during MFA proofup interruptions.
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.keyValue:
      title: keyValue
      type: object
      properties:
        key:
          type:
          - string
          - 'null'
          description: Key for the key-value pair.
        value:
          type:
          - string
          - 'null'
          description: Value for the key-value pair.
      additionalProperties:
        type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.organizationalBrandingLocalizationCollectionResponse:
      title: Collection of organizationalBrandingLocalization
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.organizationalBrandingLocalization'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.organizationalBranding:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.organizationalBrandingProperties'
      - title: organizationalBranding
        type: object
        properties:
          localizations:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.organizationalBrandingLocalization'
            description: Add different branding based on a locale.
            x-ms-navigationProperty: true
        additionalProperties:
          type: object
    microsoft.graph.organizationalBrandingProperties:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: organizationalBrandingProperties
        type: object
        properties:
          backgroundColor:
            type:
            - string
            - 'null'
            description: 'Color that appears in place of the background image in low-bandwidth connections. We recommend that you use the primary color of your banner logo or your organization color. Specify this in hexadecimal format, for example, white is #FFFFFF.'
          backgroundImage:
            type:
            - string
            - 'null'
            description: Image that appears as the background of the sign-in page. The allowed types are PNG or JPEG not smaller than 300 KB and not larger than 1920 × 1080 pixels. A smaller image reduces bandwidth requirements and make the page load faster.
            format: base64url
          backgroundImageRelativeUrl:
            type:
            - string
            - 'null'
            description: A relative URL for the backgroundImage property that is combined with a CDN base URL from the cdnList to provide the version served by a CDN. Read-only.
          bannerLogo:
            type:
            - string
            - 'null'
            description: A banner version of your company logo that appears on the sign-in page. The allowed types are PNG or JPEG not larger than 36 × 245 pixels. We recommend using a transparent image with no padding around the logo.
            format: base64url
          bannerLogoRelativeUrl:
            type:
            - string
            - 'null'
            description: A relative URL for the bannerLogo property that is combined with a CDN base URL from the cdnList to provide the read-only version served by a CDN. Read-only.
          cdnList:
            type: array
            items:
              type:
              - string
              - 'null'
            description: A list of base URLs for all available CDN providers that are serving the assets of the current resource. Several CDN providers are used at the same time for high availability of read requests. Read-only.
          contentCustomization:
            $ref: '#/components/schemas/microsoft.graph.contentCustomization'
          customAccountResetCredentialsUrl:
            type:
            - string
            - 'null'
            description: A custom URL for resetting account credentials. This URL must be in ASCII format or non-ASCII characters must be URL encoded, and not exceed 128 characters.
          customCannotAccessYourAccountText:
            type:
            - string
            - 'null'
            description: A string to replace the default 'Can't access your account?' self-service password reset (SSPR) hyperlink text on the sign-in page. This text must be in Unicode format and not exceed 256 characters.
          customCannotAccessYourAccountUrl:
            type:
            - string
            - 'null'
            description: A custom URL to replace the default URL of the self-service password reset (SSPR) 'Can't access your account?' hyperlink on the sign-in page. This URL must be in ASCII format or non-ASCII characters must be URL encoded, and not exceed 128 characters. DO NOT USE. Use customAccountResetCredentialsUrl instead.
          customCSS:
            type:
            - string
            - 'null'
            description: CSS styling that appears on the sign-in page. The allowed format is .css format only and not larger than 25 KB.
            format: base64url
          customCSSRelativeUrl:
            type:
            - string
            - 'null'
            description: A relative URL for the customCSS property that is combined with a CDN base URL from the cdnList to provide the version served by a CDN. Read-only.
          customForgotMyPasswordText:
            type:
            - string
            - 'null'
            description: A string to replace the default 'Forgot my password' hyperlink text on the sign-in form. This text must be in Unicode format and not exceed 256 characters.
          customPrivacyAndCookiesText:
            type:
            - string
            - 'null'
            description: A string to replace the default 'Privacy and Cookies' hyperlink text in the footer. This text must be in Unicode format and not exceed 256 characters.
          customPrivacyAndCookiesUrl:
            type:
            - string
            - 'null'
            description: A custom URL to replace the default URL of the 'Privacy and Cookies' hyperlink in the footer. This URL must be in ASCII format or non-ASCII characters must be URL encoded, and not exceed 128 characters.
          customResetItNowText:
            type:
            - string
            - 'null'
            description: 'A string to replace the default ''reset it now'' hyperlink text on the sign-in form. This text must be in Unicode format and not exceed 256 characters. DO NOT USE: Customization of the ''reset it now'' hyperlink text is currently not supported.'
          customTermsOfUseText:
            type:
            - string
            - 'null'
            description: A string to replace the the default 'Terms of Use' hyperlink text in the footer. This text must be in Unicode format and not exceed 256 characters.
          customTermsOfUseUrl:
            type:
            - string
            - 'null'
            description: A custom URL to replace the default URL of the 'Terms of Use' hyperlink in the footer. This URL must be in ASCII format or non-ASCII characters must be URL encoded, and not exceed 128characters.
          favicon:
            type:
            - string
            - 'null'
            description: A custom icon (favicon) to replace a default Microsoft product favicon on a Microsoft Entra tenant.
            format: base64url
          faviconRelativeUrl:
            type:
            - string
            - 'null'
            description: A relative url for the favicon above that is combined with a CDN base URL from the cdnList to provide the version served by a CDN. Read-only.
          headerBackgroundColor:
            type:
            - string
            - 'null'
            description: The RGB color to apply to customize the color of the header.
          headerLogo:
            type:
            - string
            - 'null'
            description: A company logo that appears in the header of the sign-in page. The allowed types are PNG or JPEG not larger than 36 × 245 pixels. We recommend using a transparent image with no padding around the logo.
            format: base64url
          headerLogoRelativeUrl:
            type:
            - string
            - 'null'
            description: A relative URL for the headerLogo property that is combined with a CDN base URL from the cdnList to provide the read-only version served by a CDN. Read-only.
          loginPageLayoutConfiguration:
            $ref: '#/components/schemas/microsoft.graph.loginPageLayoutConfiguration'
          loginPageTextVisibilitySettings:
            $ref: '#/components/schemas/microsoft.graph.loginPageTextVisibilitySettings'
          signInPageText:
            type:
            - string
            - 'null'
            description: Text that appears at the bottom of the sign-in box. Use this to communicate additional information, such as the phone number to your help desk or a legal statement. This text must be in Unicode format and not exceed 1024 characters.
          squareLogo:
            type:
            - string
            - 'null'
            description: A square version of your company logo that appears in Windows 10 out-of-box experiences (OOBE) and when Windows Autopilot is enabled for deployment. Allowed types are PNG or JPEG not larger than 240 x 240 pixels and not more than 10 KB in size. We recommend using a transparent image with no padding around the logo.
            format: base64url
          squareLogoDark:
            type:
            - string
            - 'null'
            description: A square dark version of your company logo that appears in Windows 10 out-of-box experiences (OOBE) and when Windows Autopilot is enabled for deployment. Allowed types are PNG or JPEG not larger than 240 x 240 pixels and not more than 10 KB in size. We recommend using a transparent image with no padding around the logo.
            format: base64url
          squareLogoDarkRelativeUrl:
            type:
            - string
            - 'null'
            description: A relative URL for the squareLogoDark property that is combined with a CDN base URL from the cdnList to provide the version served by a CDN. Read-only.
          squareLogoRelativeUrl:
            type:
            - string
            - 'null'
            description: A relative URL for the squareLogo property that is combined with a CDN base URL from the cdnList to provide the version served by a CDN. Read-only.
          usernameHintText:
            type:
            - string
            - 'null'
            description: A string that shows as the hint in the username textbox on the sign-in screen. This text must be a Unicode, without links or code, and can't exceed 64 characters.
        additionalProperties:
          type: object
    microsoft.graph.organizationalBrandingLocalization:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.organizationalBrandingProperties'
      - title: organizationalBrandingLocalization
        type: object
        additionalProperties:
          type: object
  parameters:
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
    top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: {}
