openapi: 3.2.0
info:
  title: Identity.Governance Agreements.agreement File Localization…
  version: v1.0
servers:
- url: https://graph.microsoft.com/v1.0/
  description: Core
security:
- azureaadv2: []
tags:
- name: agreements.agreementFileLocalization
paths:
  /agreements/{agreement-id}/files:
    get:
      tags:
      - agreements.agreementFileLocalization
      summary: Get files from agreements
      description: PDFs linked to this agreement. This property is in the process of being deprecated. Use the file property instead. Supports $expand.
      operationId: agreement_ListFile
      parameters:
      - name: agreement-id
        in: path
        description: The unique identifier of agreement
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: agreement
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.agreementFileLocalizationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - agreements.agreementFileLocalization
      summary: Create new navigation property to files for agreements
      operationId: agreement_CreateFile
      parameters:
      - name: agreement-id
        in: path
        description: The unique identifier of agreement
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: agreement
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreementFileLocalization'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementFileLocalization'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /agreements/{agreement-id}/files/{agreementFileLocalization-id}:
    get:
      tags:
      - agreements.agreementFileLocalization
      summary: Get files from agreements
      description: PDFs linked to this agreement. This property is in the process of being deprecated. Use the file property instead. Supports $expand.
      operationId: agreement_GetFile
      parameters:
      - name: agreement-id
        in: path
        description: The unique identifier of agreement
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: agreement
      - name: agreementFileLocalization-id
        in: path
        description: The unique identifier of agreementFileLocalization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: agreementFileLocalization
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementFileLocalization'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - agreements.agreementFileLocalization
      summary: Update the navigation property files in agreements
      operationId: agreement_UpdateFile
      parameters:
      - name: agreement-id
        in: path
        description: The unique identifier of agreement
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: agreement
      - name: agreementFileLocalization-id
        in: path
        description: The unique identifier of agreementFileLocalization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: agreementFileLocalization
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreementFileLocalization'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementFileLocalization'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - agreements.agreementFileLocalization
      summary: Delete navigation property files for agreements
      operationId: agreement_DeleteFile
      parameters:
      - name: agreement-id
        in: path
        description: The unique identifier of agreement
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: agreement
      - name: agreementFileLocalization-id
        in: path
        description: The unique identifier of agreementFileLocalization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: agreementFileLocalization
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /agreements/{agreement-id}/files/{agreementFileLocalization-id}/versions:
    get:
      tags:
      - agreements.agreementFileLocalization
      summary: Get versions from agreements
      description: Read-only. Customized versions of the terms of use agreement in the Microsoft Entra tenant.
      operationId: agreement.file_ListVersion
      parameters:
      - name: agreement-id
        in: path
        description: The unique identifier of agreement
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: agreement
      - name: agreementFileLocalization-id
        in: path
        description: The unique identifier of agreementFileLocalization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: agreementFileLocalization
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.agreementFileVersionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - agreements.agreementFileLocalization
      summary: Create new navigation property to versions for agreements
      operationId: agreement.file_CreateVersion
      parameters:
      - name: agreement-id
        in: path
        description: The unique identifier of agreement
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: agreement
      - name: agreementFileLocalization-id
        in: path
        description: The unique identifier of agreementFileLocalization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: agreementFileLocalization
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreementFileVersion'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementFileVersion'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /agreements/{agreement-id}/files/{agreementFileLocalization-id}/versions/{agreementFileVersion-id}:
    get:
      tags:
      - agreements.agreementFileLocalization
      summary: Get versions from agreements
      description: Read-only. Customized versions of the terms of use agreement in the Microsoft Entra tenant.
      operationId: agreement.file_GetVersion
      parameters:
      - name: agreement-id
        in: path
        description: The unique identifier of agreement
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: agreement
      - name: agreementFileLocalization-id
        in: path
        description: The unique identifier of agreementFileLocalization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: agreementFileLocalization
      - name: agreementFileVersion-id
        in: path
        description: The unique identifier of agreementFileVersion
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: agreementFileVersion
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementFileVersion'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - agreements.agreementFileLocalization
      summary: Update the navigation property versions in agreements
      operationId: agreement.file_UpdateVersion
      parameters:
      - name: agreement-id
        in: path
        description: The unique identifier of agreement
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: agreement
      - name: agreementFileLocalization-id
        in: path
        description: The unique identifier of agreementFileLocalization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: agreementFileLocalization
      - name: agreementFileVersion-id
        in: path
        description: The unique identifier of agreementFileVersion
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: agreementFileVersion
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreementFileVersion'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementFileVersion'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - agreements.agreementFileLocalization
      summary: Delete navigation property versions for agreements
      operationId: agreement.file_DeleteVersion
      parameters:
      - name: agreement-id
        in: path
        description: The unique identifier of agreement
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: agreement
      - name: agreementFileLocalization-id
        in: path
        description: The unique identifier of agreementFileLocalization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: agreementFileLocalization
      - name: agreementFileVersion-id
        in: path
        description: The unique identifier of agreementFileVersion
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: agreementFileVersion
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /agreements/{agreement-id}/files/{agreementFileLocalization-id}/versions/$count:
    get:
      tags:
      - agreements.agreementFileLocalization
      summary: Get the number of the resource
      operationId: agreement.file.version_GetCount
      parameters:
      - name: agreement-id
        in: path
        description: The unique identifier of agreement
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: agreement
      - name: agreementFileLocalization-id
        in: path
        description: The unique identifier of agreementFileLocalization
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: agreementFileLocalization
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /agreements/{agreement-id}/files/$count:
    get:
      tags:
      - agreements.agreementFileLocalization
      summary: Get the number of the resource
      operationId: agreement.file_GetCount
      parameters:
      - name: agreement-id
        in: path
        description: The unique identifier of agreement
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: agreement
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
components:
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
    microsoft.graph.agreementFileLocalizationCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.agreementFileLocalizationCollectionResponse'
    microsoft.graph.agreementFileVersionCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.agreementFileVersionCollectionResponse'
    ODataCountResponse:
      description: The count of the resource
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ODataCountResponse'
  schemas:
    microsoft.graph.agreementFileData:
      title: agreementFileData
      type: object
      properties:
        data:
          type:
          - string
          - 'null'
          description: Data that represents the terms of use PDF document. Read-only.
          format: base64url
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type:
          - string
          - 'null'
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    ODataCountResponse:
      type: integer
      format: int32
    microsoft.graph.agreementFileVersion:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.agreementFileProperties'
      - title: agreementFileVersion
        type: object
        additionalProperties:
          type: object
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
    microsoft.graph.agreementFileLocalizationCollectionResponse:
      title: Collection of agreementFileLocalization
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.agreementFileLocalization'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.agreementFileLocalization:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.agreementFileProperties'
      - title: agreementFileLocalization
        type: object
        properties:
          versions:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.agreementFileVersion'
            description: Read-only. Customized versions of the terms of use agreement in the Microsoft Entra tenant.
            x-ms-navigationProperty: true
        additionalProperties:
          type: object
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.agreementFileVersionCollectionResponse:
      title: Collection of agreementFileVersion
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.agreementFileVersion'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.agreementFileProperties:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: agreementFileProperties
        type: object
        properties:
          createdDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: The date time representing when the file was created. The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.
            format: date-time
          displayName:
            type:
            - string
            - 'null'
            description: Localized display name of the policy file of an agreement. The localized display name is shown to end users who view the agreement.
          fileData:
            $ref: '#/components/schemas/microsoft.graph.agreementFileData'
          fileName:
            type:
            - string
            - 'null'
            description: Name of the agreement file (for example, TOU.pdf). Read-only.
          isDefault:
            type:
            - boolean
            - 'null'
            description: If none of the languages matches the client preference, indicates whether this is the default agreement file. If none of the files are marked as default, the first one is treated as the default. Read-only.
          isMajorVersion:
            type:
            - boolean
            - 'null'
            description: Indicates whether the agreement file is a major version update. Major version updates invalidate the agreement's acceptances on the corresponding language.
          language:
            type:
            - string
            - 'null'
            description: The language of the agreement file in the format 'languagecode2-country/regioncode2'. 'languagecode2' is a lowercase two-letter code derived from ISO 639-1, while 'country/regioncode2' is derived from ISO 3166 and usually consists of two uppercase letters, or a BCP-47 language tag. For example, U.S. English is en-US. Read-only.
        additionalProperties:
          type: object
  parameters:
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
    top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: {}
