openapi: 3.2.0
info:
  title: Identity.DirectoryManagement Subscribed Skus.subscribed Sku…
  version: v1.0
servers:
- url: https://graph.microsoft.com/v1.0/
  description: Core
security:
- azureaadv2: []
tags:
- name: subscribedSkus.subscribedSku
paths:
  /subscribedSkus:
    get:
      tags:
      - subscribedSkus.subscribedSku
      summary: List subscribedSkus
      description: Get the list of commercial subscriptions that an organization has acquired. For the mapping of license names as displayed on the Microsoft Entra admin center or the Microsoft 365 admin center against their Microsoft Graph skuId and skuPartNumber properties, see Product names and service plan identifiers for licensing.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/subscribedsku-list?view=graph-rest-1.0
      operationId: subscribedSku_ListSubscribedSku
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.subscribedSkuCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - subscribedSkus.subscribedSku
      summary: Add new entity to subscribedSkus
      operationId: subscribedSku_CreateSubscribedSku
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.subscribedSku'
        required: true
      responses:
        2XX:
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.subscribedSku'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /subscribedSkus/{subscribedSku-id}:
    get:
      tags:
      - subscribedSkus.subscribedSku
      summary: Get subscribedSku
      description: Get a specific commercial subscription that an organization has acquired.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/subscribedsku-get?view=graph-rest-1.0
      operationId: subscribedSku_GetSubscribedSku
      parameters:
      - name: subscribedSku-id
        in: path
        description: The unique identifier of subscribedSku
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: subscribedSku
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.subscribedSku'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - subscribedSkus.subscribedSku
      summary: Update entity in subscribedSkus
      operationId: subscribedSku_UpdateSubscribedSku
      parameters:
      - name: subscribedSku-id
        in: path
        description: The unique identifier of subscribedSku
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: subscribedSku
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.subscribedSku'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.subscribedSku'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - subscribedSkus.subscribedSku
      summary: Delete entity from subscribedSkus
      operationId: subscribedSku_DeleteSubscribedSku
      parameters:
      - name: subscribedSku-id
        in: path
        description: The unique identifier of subscribedSku
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: subscribedSku
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
    microsoft.graph.subscribedSkuCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.subscribedSkuCollectionResponse'
  schemas:
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type:
          - string
          - 'null'
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    microsoft.graph.servicePlanInfo:
      title: servicePlanInfo
      type: object
      properties:
        appliesTo:
          type:
          - string
          - 'null'
          description: The object the service plan can be assigned to. The possible values are:User - service plan can be assigned to individual users.Company - service plan can be assigned to the entire tenant.
        provisioningStatus:
          type:
          - string
          - 'null'
          description: The provisioning status of the service plan. The possible values are:Success - Service is fully provisioned.Disabled - Service is disabled.Error - The service plan isn't provisioned and is in an error state.PendingInput - The service isn't provisioned and is awaiting service confirmation.PendingActivation - The service is provisioned but requires explicit activation by an administrator (for example, Intune_O365 service plan)PendingProvisioning - Microsoft has added a new service to the product SKU and it isn't activated in the tenant.
        servicePlanId:
          pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
          type:
          - string
          - 'null'
          description: The unique identifier of the service plan.
          format: uuid
        servicePlanName:
          type:
          - string
          - 'null'
          description: The name of the service plan.
      additionalProperties:
        type: object
    microsoft.graph.subscribedSkuCollectionResponse:
      title: Collection of subscribedSku
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.subscribedSku'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.subscribedSku:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: subscribedSku
        type: object
        properties:
          accountId:
            type:
            - string
            - 'null'
            description: The unique ID of the account this SKU belongs to.
          accountName:
            type:
            - string
            - 'null'
            description: The name of the account this SKU belongs to.
          appliesTo:
            type:
            - string
            - 'null'
            description: 'The target class for this SKU. Only SKUs with target class User are assignable. The possible values are: User, Company.'
          capabilityStatus:
            type:
            - string
            - 'null'
            description: 'Enabled indicates that the prepaidUnits property has at least one unit that is enabled. LockedOut indicates that the customer canceled their subscription. The possible values are: Enabled, Warning, Suspended, Deleted, LockedOut.'
          consumedUnits:
            maximum: 2147483647
            minimum: -2147483648
            type:
            - number
            - 'null'
            description: The number of licenses that have been assigned.
            format: int32
          prepaidUnits:
            $ref: '#/components/schemas/microsoft.graph.licenseUnitsDetail'
          servicePlans:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.servicePlanInfo'
            description: Information about the service plans that are available with the SKU. Not nullable.
          skuId:
            pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$
            type:
            - string
            - 'null'
            description: The unique identifier (GUID) for the service SKU.
            format: uuid
          skuPartNumber:
            type:
            - string
            - 'null'
            description: 'The SKU part number; for example: AAD_PREMIUM or RMSBASIC. To get a list of commercial subscriptions that an organization has acquired, see List subscribedSkus.'
          subscriptionIds:
            type: array
            items:
              type:
              - string
              - 'null'
            description: A list of all subscription IDs associated with this SKU.
        additionalProperties:
          type: object
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
    microsoft.graph.licenseUnitsDetail:
      title: licenseUnitsDetail
      type: object
      properties:
        enabled:
          maximum: 2147483647
          minimum: -2147483648
          type:
          - number
          - 'null'
          description: The number of units that are enabled for the active subscription of the service SKU.
          format: int32
        lockedOut:
          maximum: 2147483647
          minimum: -2147483648
          type:
          - number
          - 'null'
          description: The number of units that are locked out because the customer canceled their subscription of the service SKU.
          format: int32
        suspended:
          maximum: 2147483647
          minimum: -2147483648
          type:
          - number
          - 'null'
          description: The number of units that are suspended because the subscription of the service SKU has been canceled. The units can't be assigned but can still be reactivated before they're deleted.
          format: int32
        warning:
          maximum: 2147483647
          minimum: -2147483648
          type:
          - number
          - 'null'
          description: The number of units that are in warning status. When the subscription of the service SKU has expired, the customer has a grace period to renew their subscription before it's canceled (moved to a suspended state).
          format: int32
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
  parameters:
    count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
    top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: {}
