openapi: 3.2.0
info:
  title: Identity.SignIns Identity.identity User Flow Attribute API
  version: v1.0
servers:
- url: https://graph.microsoft.com/v1.0/
  description: Core
security:
- azureaadv2: []
tags:
- name: identity.identityUserFlowAttribute
paths:
  /identity/userFlowAttributes:
    get:
      tags:
      - identity.identityUserFlowAttribute
      summary: List identityUserFlowAttributes
      description: Retrieve a list of identityUserFlowAttribute objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identityuserflowattribute-list?view=graph-rest-1.0
      operationId: identity_ListUserFlowAttribute
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.identityUserFlowAttributeCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - identity.identityUserFlowAttribute
      summary: Create identityUserFlowAttribute
      description: Create a new custom identityUserFlowAttribute object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identityuserflowattribute-post?view=graph-rest-1.0
      operationId: identity_CreateUserFlowAttribute
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityUserFlowAttribute'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityUserFlowAttribute'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/userFlowAttributes/{identityUserFlowAttribute-id}:
    get:
      tags:
      - identity.identityUserFlowAttribute
      summary: Get identityUserFlowAttribute
      description: Retrieve the properties and relationships of a identityUserFlowAttribute object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identityuserflowattribute-get?view=graph-rest-1.0
      operationId: identity_GetUserFlowAttribute
      parameters:
      - name: identityUserFlowAttribute-id
        in: path
        description: The unique identifier of identityUserFlowAttribute
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: identityUserFlowAttribute
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityUserFlowAttribute'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - identity.identityUserFlowAttribute
      summary: Update identityUserFlowAttribute
      description: Update the properties of a custom identityUserFlowAttribute object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identityuserflowattribute-update?view=graph-rest-1.0
      operationId: identity_UpdateUserFlowAttribute
      parameters:
      - name: identityUserFlowAttribute-id
        in: path
        description: The unique identifier of identityUserFlowAttribute
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: identityUserFlowAttribute
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityUserFlowAttribute'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityUserFlowAttribute'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - identity.identityUserFlowAttribute
      summary: Delete identityUserFlowAttribute
      description: Delete a custom identityUserFlowAttribute.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identityuserflowattribute-delete?view=graph-rest-1.0
      operationId: identity_DeleteUserFlowAttribute
      parameters:
      - name: identityUserFlowAttribute-id
        in: path
        description: The unique identifier of identityUserFlowAttribute
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: identityUserFlowAttribute
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/userFlowAttributes/$count:
    get:
      tags:
      - identity.identityUserFlowAttribute
      summary: Get the number of the resource
      operationId: identity.userFlowAttribute_GetCount
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
components:
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
    microsoft.graph.identityUserFlowAttributeCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.identityUserFlowAttributeCollectionResponse'
    ODataCountResponse:
      description: The count of the resource
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ODataCountResponse'
  schemas:
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type:
          - string
          - 'null'
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    microsoft.graph.identityUserFlowAttributeType:
      title: identityUserFlowAttributeType
      enum:
      - builtIn
      - custom
      - required
      - unknownFutureValue
      type: string
    ODataCountResponse:
      type: integer
      format: int32
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.identityUserFlowAttributeDataType:
      title: identityUserFlowAttributeDataType
      enum:
      - string
      - boolean
      - int64
      - stringCollection
      - dateTime
      - unknownFutureValue
      type: string
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
    microsoft.graph.identityUserFlowAttributeCollectionResponse:
      title: Collection of identityUserFlowAttribute
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.identityUserFlowAttribute'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.identityUserFlowAttribute:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: identityUserFlowAttribute
        type: object
        properties:
          dataType:
            $ref: '#/components/schemas/microsoft.graph.identityUserFlowAttributeDataType'
          description:
            type:
            - string
            - 'null'
            description: The description of the user flow attribute that's shown to the user at the time of sign up.
          displayName:
            type:
            - string
            - 'null'
            description: The display name of the user flow attribute.  Supports $filter (eq, ne).
          userFlowAttributeType:
            $ref: '#/components/schemas/microsoft.graph.identityUserFlowAttributeType'
        additionalProperties:
          type: object
  parameters:
    count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
    top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: {}
