openapi: 3.2.0
info:
  title: Identity.SignIns Information Protection.information…
  version: v1.0
servers:
- url: https://graph.microsoft.com/v1.0/
  description: Core
security:
- azureaadv2: []
tags:
- name: informationProtection.informationProtection
paths:
  /informationProtection:
    get:
      tags:
      - informationProtection.informationProtection
      summary: Get informationProtection
      operationId: informationProtection_GetInformationProtection
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.informationProtection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - informationProtection.informationProtection
      summary: Update informationProtection
      operationId: informationProtection_UpdateInformationProtection
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.informationProtection'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.informationProtection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
  schemas:
    microsoft.graph.identity:
      title: identity
      type: object
      properties:
        displayName:
          type:
          - string
          - 'null'
          description: The display name of the identity.For drive items, the display name might not always be available or up to date. For example, if a user changes their display name the API might show the new value in a future response, but the items associated with the user don't show up as changed when using delta.
        id:
          type:
          - string
          - 'null'
          description: Unique identifier for the identity or actor. For example, in the access reviews decisions API, this property might record the id of the principal, that is, the group, user, or application that's subject to review.
      additionalProperties:
        type: object
    microsoft.graph.identitySet:
      title: identitySet
      type: object
      properties:
        application:
          $ref: '#/components/schemas/microsoft.graph.identity'
        device:
          $ref: '#/components/schemas/microsoft.graph.identity'
        user:
          $ref: '#/components/schemas/microsoft.graph.identity'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type:
          - string
          - 'null'
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    microsoft.graph.threatAssessmentStatus:
      title: threatAssessmentStatus
      enum:
      - pending
      - completed
      type: string
    microsoft.graph.threatCategory:
      title: threatCategory
      enum:
      - undefined
      - spam
      - phishing
      - malware
      - unknownFutureValue
      type: string
    microsoft.graph.informationProtection:
      title: informationProtection
      type: object
      properties:
        bitlocker:
          $ref: '#/components/schemas/microsoft.graph.bitlocker'
        threatAssessmentRequests:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.threatAssessmentRequest'
          x-ms-navigationProperty: true
      additionalProperties:
        type: object
    microsoft.graph.threatAssessmentResultType:
      title: threatAssessmentResultType
      enum:
      - checkPolicy
      - rescan
      - unknownFutureValue
      type: string
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
    microsoft.graph.threatAssessmentResult:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: threatAssessmentResult
        type: object
        properties:
          createdDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.
            format: date-time
          message:
            type:
            - string
            - 'null'
            description: The result message for each threat assessment.
          resultType:
            $ref: '#/components/schemas/microsoft.graph.threatAssessmentResultType'
        additionalProperties:
          type: object
    microsoft.graph.threatExpectedAssessment:
      title: threatExpectedAssessment
      enum:
      - block
      - unblock
      type: string
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.bitlockerRecoveryKey:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: bitlockerRecoveryKey
        type: object
        properties:
          createdDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            description: The date and time when the key was originally backed up to Microsoft Entra ID. Not nullable.
            format: date-time
          deviceId:
            type:
            - string
            - 'null'
            description: Identifier of the device the BitLocker key is originally backed up from. Supports $filter (eq).
          key:
            type: string
            description: The BitLocker recovery key. Requires $select to retrieve. Not nullable.
          volumeType:
            $ref: '#/components/schemas/microsoft.graph.volumeType'
        additionalProperties:
          type: object
    microsoft.graph.bitlocker:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: bitlocker
        type: object
        properties:
          recoveryKeys:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.bitlockerRecoveryKey'
            description: The recovery keys associated with the bitlocker entity.
            x-ms-navigationProperty: true
        additionalProperties:
          type: object
    microsoft.graph.threatAssessmentRequestSource:
      title: threatAssessmentRequestSource
      enum:
      - undefined
      - user
      - administrator
      type: string
    microsoft.graph.threatAssessmentRequest:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: threatAssessmentRequest
        type: object
        properties:
          category:
            $ref: '#/components/schemas/microsoft.graph.threatCategory'
          contentType:
            $ref: '#/components/schemas/microsoft.graph.threatAssessmentContentType'
          createdBy:
            $ref: '#/components/schemas/microsoft.graph.identitySet'
          createdDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z.
            format: date-time
          expectedAssessment:
            $ref: '#/components/schemas/microsoft.graph.threatExpectedAssessment'
          requestSource:
            $ref: '#/components/schemas/microsoft.graph.threatAssessmentRequestSource'
          status:
            $ref: '#/components/schemas/microsoft.graph.threatAssessmentStatus'
          results:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.threatAssessmentResult'
            description: A collection of threat assessment results. Read-only. By default, a GET /threatAssessmentRequests/{id} does not return this property unless you apply $expand on it.
            x-ms-navigationProperty: true
        additionalProperties:
          type: object
    microsoft.graph.volumeType:
      title: volumeType
      enum:
      - operatingSystemVolume
      - fixedDataVolume
      - removableDataVolume
      - unknownFutureValue
      type: string
    microsoft.graph.threatAssessmentContentType:
      title: threatAssessmentContentType
      enum:
      - mail
      - url
      - file
      type: string
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: {}
