openapi: 3.2.0
info:
  title: Identity.SignIns Identity.identity API Connector API
  version: v1.0
servers:
- url: https://graph.microsoft.com/v1.0/
  description: Core
security:
- azureaadv2: []
tags:
- name: identity.identityApiConnector
paths:
  /identity/apiConnectors:
    get:
      tags:
      - identity.identityApiConnector
      summary: List identityApiConnectors
      description: Read the properties of an identityApiConnector object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identityapiconnector-list?view=graph-rest-1.0
      operationId: identity_ListApiConnector
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.identityApiConnectorCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - identity.identityApiConnector
      summary: Create identityApiConnector
      description: Create a new identityApiConnector object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identityapiconnector-create?view=graph-rest-1.0
      operationId: identity_CreateApiConnector
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/apiConnectors/{identityApiConnector-id}:
    get:
      tags:
      - identity.identityApiConnector
      summary: Get identityApiConnector
      description: Read the properties of an identityApiConnector object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identityapiconnector-get?view=graph-rest-1.0
      operationId: identity_GetApiConnector
      parameters:
      - name: identityApiConnector-id
        in: path
        description: The unique identifier of identityApiConnector
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: identityApiConnector
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - identity.identityApiConnector
      summary: Update identityApiConnector
      description: Update the properties of an identityApiConnector object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identityapiconnector-update?view=graph-rest-1.0
      operationId: identity_UpdateApiConnector
      parameters:
      - name: identityApiConnector-id
        in: path
        description: The unique identifier of identityApiConnector
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: identityApiConnector
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - identity.identityApiConnector
      summary: Delete identityApiConnector
      description: Delete an identityApiConnector object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identityapiconnector-delete?view=graph-rest-1.0
      operationId: identity_DeleteApiConnector
      parameters:
      - name: identityApiConnector-id
        in: path
        description: The unique identifier of identityApiConnector
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: identityApiConnector
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/apiConnectors/{identityApiConnector-id}/microsoft.graph.uploadClientCertificate:
    post:
      tags:
      - identity.identityApiConnector
      summary: Invoke action uploadClientCertificate
      description: Upload a PKCS 12 format key (.pfx) to an API connector's authentication configuration. The input is a base-64 encoded value of the PKCS 12 certificate contents. This method returns an apiConnector.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identityapiconnector-uploadclientcertificate?view=graph-rest-1.0
      operationId: identity.apiConnector_uploadClientCertificate
      parameters:
      - name: identityApiConnector-id
        in: path
        description: The unique identifier of identityApiConnector
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: identityApiConnector
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                pkcs12Value:
                  type:
                  - string
                  - 'null'
                password:
                  type:
                  - string
                  - 'null'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /identity/apiConnectors/$count:
    get:
      tags:
      - identity.identityApiConnector
      summary: Get the number of the resource
      operationId: identity.apiConnector_GetCount
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
components:
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
    microsoft.graph.identityApiConnectorCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.identityApiConnectorCollectionResponse'
    ODataCountResponse:
      description: The count of the resource
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ODataCountResponse'
  schemas:
    microsoft.graph.identityApiConnectorCollectionResponse:
      title: Collection of identityApiConnector
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type:
          - string
          - 'null'
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    ODataCountResponse:
      type: integer
      format: int32
    microsoft.graph.apiAuthenticationConfigurationBase:
      title: apiAuthenticationConfigurationBase
      type: object
      additionalProperties:
        type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.identityApiConnector:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: identityApiConnector
        type: object
        properties:
          authenticationConfiguration:
            $ref: '#/components/schemas/microsoft.graph.apiAuthenticationConfigurationBase'
          displayName:
            type:
            - string
            - 'null'
            description: The name of the API connector.
          targetUrl:
            type:
            - string
            - 'null'
            description: The URL of the API endpoint to call.
        additionalProperties:
          type: object
  parameters:
    count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
    top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: {}
