openapi: 3.2.0
info:
  title: Users.outlook User API
  version: v1.0
servers:
- url: https://graph.microsoft.com/v1.0/
  description: Core
security:
- azureaadv2: []
tags:
- name: users.outlookUser
paths:
  /users/{user-id}/outlook:
    get:
      tags:
      - users.outlookUser
      summary: Get outlook from users
      operationId: user_GetOutlook
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.outlookUser'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/outlook/masterCategories:
    get:
      tags:
      - users.outlookUser
      summary: Get masterCategories from users
      description: A list of categories defined for the user.
      operationId: user.outlook_ListMasterCategory
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.outlookCategoryCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - users.outlookUser
      summary: Create new navigation property to masterCategories for users
      operationId: user.outlook_CreateMasterCategory
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.outlookCategory'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.outlookCategory'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/outlook/masterCategories/{outlookCategory-id}:
    get:
      tags:
      - users.outlookUser
      summary: Get masterCategories from users
      description: A list of categories defined for the user.
      operationId: user.outlook_GetMasterCategory
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: outlookCategory-id
        in: path
        description: The unique identifier of outlookCategory
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: outlookCategory
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.outlookCategory'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - users.outlookUser
      summary: Update the navigation property masterCategories in users
      operationId: user.outlook_UpdateMasterCategory
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: outlookCategory-id
        in: path
        description: The unique identifier of outlookCategory
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: outlookCategory
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.outlookCategory'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.outlookCategory'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - users.outlookUser
      summary: Delete navigation property masterCategories for users
      operationId: user.outlook_DeleteMasterCategory
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: outlookCategory-id
        in: path
        description: The unique identifier of outlookCategory
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: outlookCategory
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/outlook/masterCategories/$count:
    get:
      tags:
      - users.outlookUser
      summary: Get the number of the resource
      operationId: user.outlook.masterCategory_GetCount
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /users/{user-id}/outlook/microsoft.graph.supportedLanguages():
    get:
      tags:
      - users.outlookUser
      summary: Invoke function supportedLanguages
      description: 'Get the list of locales and languages that are supported for the user, as configured on the user''s mailbox server. When setting up an Outlook client, the user selects the preferred language from this supported list. You can subsequently get the preferred language by

        getting the user''s mailbox settings.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/outlookuser-supportedlanguages?view=graph-rest-1.0
      operationId: user.outlook_supportedLanguage
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.localeInfo'
                  '@odata.nextLink':
                    type:
                    - string
                    - 'null'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /users/{user-id}/outlook/microsoft.graph.supportedTimeZones():
    get:
      tags:
      - users.outlookUser
      summary: Invoke function supportedTimeZones
      operationId: user.outlook_supportedTimeZone
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.timeZoneInformation'
                  '@odata.nextLink':
                    type:
                    - string
                    - 'null'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /users/{user-id}/outlook/microsoft.graph.supportedTimeZones(TimeZoneStandard='{TimeZoneStandard}'):
    get:
      tags:
      - users.outlookUser
      summary: Invoke function supportedTimeZones
      operationId: user.outlook_supportedTimeZone
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: TimeZoneStandard
        in: path
        description: 'Usage: TimeZoneStandard=''{TimeZoneStandard}'''
        required: true
        style: simple
        schema:
          $ref: '#/components/schemas/microsoft.graph.timeZoneStandard'
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.timeZoneInformation'
                  '@odata.nextLink':
                    type:
                    - string
                    - 'null'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
components:
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
    microsoft.graph.outlookCategoryCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.outlookCategoryCollectionResponse'
    ODataCountResponse:
      description: The count of the resource
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ODataCountResponse'
  schemas:
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type:
          - string
          - 'null'
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    ODataCountResponse:
      type: integer
      format: int32
    microsoft.graph.outlookCategoryCollectionResponse:
      title: Collection of outlookCategory
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.outlookCategory'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.outlookCategory:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: outlookCategory
        type: object
        properties:
          color:
            $ref: '#/components/schemas/microsoft.graph.categoryColor'
          displayName:
            type:
            - string
            - 'null'
            description: A unique name that identifies a category in the user's mailbox. After a category is created, the name cannot be changed. Read-only.
        additionalProperties:
          type: object
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.timeZoneStandard:
      title: timeZoneStandard
      enum:
      - windows
      - iana
      type: string
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.outlookUser:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: outlookUser
        type: object
        properties:
          masterCategories:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.outlookCategory'
            description: A list of categories defined for the user.
            x-ms-navigationProperty: true
        additionalProperties:
          type: object
    microsoft.graph.localeInfo:
      title: localeInfo
      type: object
      properties:
        displayName:
          type:
          - string
          - 'null'
          description: A name representing the user's locale in natural language, for example, 'English (United States)'.
        locale:
          type:
          - string
          - 'null'
          description: A locale representation for the user, which includes the user's preferred language and country/region. For example, 'en-us'. The language component follows 2-letter codes as defined in ISO 639-1, and the country component follows 2-letter codes as defined in ISO 3166-1 alpha-2.
      additionalProperties:
        type: object
    microsoft.graph.categoryColor:
      title: categoryColor
      enum:
      - none
      - preset0
      - preset1
      - preset2
      - preset3
      - preset4
      - preset5
      - preset6
      - preset7
      - preset8
      - preset9
      - preset10
      - preset11
      - preset12
      - preset13
      - preset14
      - preset15
      - preset16
      - preset17
      - preset18
      - preset19
      - preset20
      - preset21
      - preset22
      - preset23
      - preset24
      type: string
    microsoft.graph.timeZoneInformation:
      title: timeZoneInformation
      type: object
      properties:
        alias:
          type:
          - string
          - 'null'
          description: An identifier for the time zone.
        displayName:
          type:
          - string
          - 'null'
          description: A display string that represents the time zone.
      additionalProperties:
        type: object
  parameters:
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
    top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: {}
