openapi: 3.2.0
info:
  title: Identity.DirectoryManagement Directory.recovery API
  version: v1.0
servers:
- url: https://graph.microsoft.com/v1.0/
  description: Core
security:
- azureaadv2: []
tags:
- name: directory.recovery
paths:
  /directory/recovery:
    get:
      tags:
      - directory.recovery
      summary: Get recovery from directory
      operationId: directory_GetRecovery
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.entraRecoveryServices.recovery'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - directory.recovery
      summary: Update the navigation property recovery in directory
      operationId: directory_UpdateRecovery
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.entraRecoveryServices.recovery'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.entraRecoveryServices.recovery'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - directory.recovery
      summary: Delete navigation property recovery for directory
      operationId: directory_DeleteRecovery
      parameters:
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /directory/recovery/jobs:
    get:
      tags:
      - directory.recovery
      summary: Get jobs from directory
      operationId: directory.recovery_ListJob
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.entraRecoveryServices.recoveryJobBaseCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - directory.recovery
      summary: Create new navigation property to jobs for directory
      operationId: directory.recovery_CreateJob
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.entraRecoveryServices.recoveryJobBase'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.entraRecoveryServices.recoveryJobBase'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /directory/recovery/jobs/{recoveryJobBase-id}:
    get:
      tags:
      - directory.recovery
      summary: Get jobs from directory
      operationId: directory.recovery_GetJob
      parameters:
      - name: recoveryJobBase-id
        in: path
        description: The unique identifier of recoveryJobBase
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: recoveryJobBase
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.entraRecoveryServices.recoveryJobBase'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - directory.recovery
      summary: Update the navigation property jobs in directory
      operationId: directory.recovery_UpdateJob
      parameters:
      - name: recoveryJobBase-id
        in: path
        description: The unique identifier of recoveryJobBase
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: recoveryJobBase
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.entraRecoveryServices.recoveryJobBase'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.entraRecoveryServices.recoveryJobBase'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - directory.recovery
      summary: Delete navigation property jobs for directory
      operationId: directory.recovery_DeleteJob
      parameters:
      - name: recoveryJobBase-id
        in: path
        description: The unique identifier of recoveryJobBase
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: recoveryJobBase
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /directory/recovery/jobs/{recoveryJobBase-id}/microsoft.graph.entraRecoveryServices.cancel:
    post:
      tags:
      - directory.recovery
      summary: Invoke action cancel
      operationId: directory.recovery.job_cancel
      parameters:
      - name: recoveryJobBase-id
        in: path
        description: The unique identifier of recoveryJobBase
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: recoveryJobBase
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /directory/recovery/jobs/$count:
    get:
      tags:
      - directory.recovery
      summary: Get the number of the resource
      operationId: directory.recovery.job_GetCount
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /directory/recovery/snapshots:
    get:
      tags:
      - directory.recovery
      summary: Get snapshots from directory
      operationId: directory.recovery_ListSnapshot
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.entraRecoveryServices.snapshotCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - directory.recovery
      summary: Create new navigation property to snapshots for directory
      operationId: directory.recovery_CreateSnapshot
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.entraRecoveryServices.snapshot'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.entraRecoveryServices.snapshot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /directory/recovery/snapshots/{snapshot-id}:
    get:
      tags:
      - directory.recovery
      summary: Get snapshots from directory
      operationId: directory.recovery_GetSnapshot
      parameters:
      - name: snapshot-id
        in: path
        description: The unique identifier of snapshot
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: snapshot
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.entraRecoveryServices.snapshot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - directory.recovery
      summary: Update the navigation property snapshots in directory
      operationId: directory.recovery_UpdateSnapshot
      parameters:
      - name: snapshot-id
        in: path
        description: The unique identifier of snapshot
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: snapshot
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.entraRecoveryServices.snapshot'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.entraRecoveryServices.snapshot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - directory.recovery
      summary: Delete navigation property snapshots for directory
      operationId: directory.recovery_DeleteSnapshot
      parameters:
      - name: snapshot-id
        in: path
        description: The unique identifier of snapshot
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: snapshot
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /directory/recovery/snapshots/{snapshot-id}/recoveryJobs:
    get:
      tags:
      - directory.recovery
      summary: Get recoveryJobs from directory
      operationId: directory.recovery.snapshot_ListRecoveryJob
      parameters:
      - name: snapshot-id
        in: path
        description: The unique identifier of snapshot
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: snapshot
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.entraRecoveryServices.recoveryJobCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /directory/recovery/snapshots/{snapshot-id}/recoveryJobs/{recoveryJob-id}:
    get:
      tags:
      - directory.recovery
      summary: Get recoveryJobs from directory
      operationId: directory.recovery.snapshot_GetRecoveryJob
      parameters:
      - name: snapshot-id
        in: path
        description: The unique identifier of snapshot
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: snapshot
      - name: recoveryJob-id
        in: path
        description: The unique identifier of recoveryJob
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: recoveryJob
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.entraRecoveryServices.recoveryJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /directory/recovery/snapshots/{snapshot-id}/recoveryJobs/$count:
    get:
      tags:
      - directory.recovery
      summary: Get the number of the resource
      operationId: directory.recovery.snapshot.recoveryJob_GetCount
      parameters:
      - name: snapshot-id
        in: path
        description: The unique identifier of snapshot
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: snapshot
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /directory/recovery/snapshots/{snapshot-id}/recoveryPreviewJobs:
    get:
      tags:
      - directory.recovery
      summary: Get recoveryPreviewJobs from directory
      operationId: directory.recovery.snapshot_ListRecoveryPreviewJob
      parameters:
      - name: snapshot-id
        in: path
        description: The unique identifier of snapshot
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: snapshot
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.entraRecoveryServices.recoveryPreviewJobCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /directory/recovery/snapshots/{snapshot-id}/recoveryPreviewJobs/{recoveryPreviewJob-id}:
    get:
      tags:
      - directory.recovery
      summary: Get recoveryPreviewJobs from directory
      operationId: directory.recovery.snapshot_GetRecoveryPreviewJob
      parameters:
      - name: snapshot-id
        in: path
        description: The unique identifier of snapshot
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: snapshot
      - name: recoveryPreviewJob-id
        in: path
        description: The unique identifier of recoveryPreviewJob
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: recoveryPreviewJob
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.entraRecoveryServices.recoveryPreviewJob'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /directory/recovery/snapshots/{snapshot-id}/recoveryPreviewJobs/$count:
    get:
      tags:
      - directory.recovery
      summary: Get the number of the resource
      operationId: directory.recovery.snapshot.recoveryPreviewJob_GetCount
      parameters:
      - name: snapshot-id
        in: path
        description: The unique identifier of snapshot
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: snapshot
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /directory/recovery/snapshots/$count:
    get:
      tags:
      - directory.recovery
      summary: Get the number of the resource
      operationId: directory.recovery.snapshot_GetCount
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
components:
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
    microsoft.graph.entraRecoveryServices.recoveryJobCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.entraRecoveryServices.recoveryJobCollectionResponse'
    microsoft.graph.entraRecoveryServices.recoveryJobBaseCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.entraRecoveryServices.recoveryJobBaseCollectionResponse'
    microsoft.graph.entraRecoveryServices.recoveryPreviewJobCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.entraRecoveryServices.recoveryPreviewJobCollectionResponse'
    microsoft.graph.entraRecoveryServices.snapshotCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.entraRecoveryServices.snapshotCollectionResponse'
    ODataCountResponse:
      description: The count of the resource
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ODataCountResponse'
  schemas:
    microsoft.graph.entraRecoveryServices.snapshotCollectionResponse:
      title: Collection of snapshot
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.entraRecoveryServices.snapshot'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type:
          - string
          - 'null'
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    microsoft.graph.entraRecoveryServices.recoveryPreviewJob:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entraRecoveryServices.recoveryJobBase'
      - title: recoveryPreviewJob
        type: object
        additionalProperties:
          type: object
    ODataCountResponse:
      type: integer
      format: int32
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
    microsoft.graph.entraRecoveryServices.recoveryJobFilteringCriteriaBase:
      title: recoveryJobFilteringCriteriaBase
      type: object
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.entraRecoveryServices.recoveryJobBaseCollectionResponse:
      title: Collection of recoveryJobBase
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.entraRecoveryServices.recoveryJobBase'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.entraRecoveryServices.snapshot:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: snapshot
        type: object
        properties:
          createdDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            format: date-time
          totalChangedObjects:
            maximum: 2147483647
            minimum: -2147483648
            type:
            - number
            - 'null'
            format: int32
          recoveryJobs:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.entraRecoveryServices.recoveryJob'
            x-ms-navigationProperty: true
          recoveryPreviewJobs:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.entraRecoveryServices.recoveryPreviewJob'
            x-ms-navigationProperty: true
        additionalProperties:
          type: object
    microsoft.graph.entraRecoveryServices.recoveryPreviewJobCollectionResponse:
      title: Collection of recoveryPreviewJob
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.entraRecoveryServices.recoveryPreviewJob'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.entraRecoveryServices.recoveryJob:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entraRecoveryServices.recoveryJobBase'
      - title: recoveryJob
        type: object
        properties:
          totalFailedChanges:
            maximum: 2147483647
            minimum: -2147483648
            type:
            - number
            - 'null'
            format: int32
          totalLinksModified:
            maximum: 2147483647
            minimum: -2147483648
            type:
            - number
            - 'null'
            format: int32
          totalObjectsModified:
            maximum: 2147483647
            minimum: -2147483648
            type:
            - number
            - 'null'
            format: int32
        additionalProperties:
          type: object
    microsoft.graph.entraRecoveryServices.recoveryStatus:
      title: recoveryStatus
      enum:
      - initialized
      - running
      - successful
      - failed
      - abandoned
      - unknownFutureValue
      - calculating
      - loadingData
      type: string
      x-ms-enum:
        name: recoveryStatus
        modelAsString: false
        values:
        - value: initialized
          description: Represents a job that has been initialized but has not been started yet
          name: initialized
        - value: running
          description: Represents a job that is in progress
          name: running
        - value: successful
          description: Represents a job that ran successfully and is now complete
          name: successful
        - value: failed
          description: Represents a job that we were not able to run successfully
          name: failed
        - value: abandoned
          description: Represents a job that was abandoned by the user
          name: abandoned
        - value: unknownFutureValue
          description: This will help in making this enum evolable and adding more values in the future-
          name: unknownFutureValue
        - value: calculating
          description: Represents a job for which we have started calculating the diff/preview.
          name: calculating
        - value: loadingData
          description: Represents a job for which we have started loading data of the snapshot.
          name: loadingData
    microsoft.graph.entraRecoveryServices.recoveryJobBase:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: recoveryJobBase
        type: object
        properties:
          filteringCriteria:
            $ref: '#/components/schemas/microsoft.graph.entraRecoveryServices.recoveryJobFilteringCriteriaBase'
          jobCompletionDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            format: date-time
          jobStartDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            format: date-time
          status:
            $ref: '#/components/schemas/microsoft.graph.entraRecoveryServices.recoveryStatus'
          targetStateDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            format: date-time
          totalChangedLinksCalculated:
            maximum: 2147483647
            minimum: -2147483648
            type:
            - number
            - 'null'
            format: int32
          totalChangedObjectsCalculated:
            maximum: 2147483647
            minimum: -2147483648
            type:
            - number
            - 'null'
            format: int32
        additionalProperties:
          type: object
    microsoft.graph.entraRecoveryServices.recoveryJobCollectionResponse:
      title: Collection of recoveryJob
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.entraRecoveryServices.recoveryJob'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.entraRecoveryServices.recovery:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: recovery
        type: object
        properties:
          jobs:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.entraRecoveryServices.recoveryJobBase'
            x-ms-navigationProperty: true
          snapshots:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.entraRecoveryServices.snapshot'
            x-ms-navigationProperty: true
        additionalProperties:
          type: object
  parameters:
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
    top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: {}
