openapi: 3.2.0
info:
  title: Identity.DirectoryManagement Directory.attribute Set API
  version: v1.0
servers:
- url: https://graph.microsoft.com/v1.0/
  description: Core
security:
- azureaadv2: []
tags:
- name: directory.attributeSet
paths:
  /directory/attributeSets:
    get:
      tags:
      - directory.attributeSet
      summary: List attributeSets
      description: Get a list of the attributeSet objects and their properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/directory-list-attributesets?view=graph-rest-1.0
      operationId: directory_ListAttributeSet
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.attributeSetCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - directory.attributeSet
      summary: Create attributeSet
      description: Create a new attributeSet object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/directory-post-attributesets?view=graph-rest-1.0
      operationId: directory_CreateAttributeSet
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attributeSet'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attributeSet'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /directory/attributeSets/{attributeSet-id}:
    get:
      tags:
      - directory.attributeSet
      summary: Get attributeSet
      description: Read the properties and relationships of an attributeSet object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attributeset-get?view=graph-rest-1.0
      operationId: directory_GetAttributeSet
      parameters:
      - name: attributeSet-id
        in: path
        description: The unique identifier of attributeSet
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: attributeSet
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attributeSet'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - directory.attributeSet
      summary: Update attributeSet
      description: Update the properties of an attributeSet object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/attributeset-update?view=graph-rest-1.0
      operationId: directory_UpdateAttributeSet
      parameters:
      - name: attributeSet-id
        in: path
        description: The unique identifier of attributeSet
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: attributeSet
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attributeSet'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attributeSet'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - directory.attributeSet
      summary: Delete navigation property attributeSets for directory
      operationId: directory_DeleteAttributeSet
      parameters:
      - name: attributeSet-id
        in: path
        description: The unique identifier of attributeSet
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: attributeSet
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /directory/attributeSets/$count:
    get:
      tags:
      - directory.attributeSet
      summary: Get the number of the resource
      operationId: directory.attributeSet_GetCount
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
components:
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
    ODataCountResponse:
      description: The count of the resource
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ODataCountResponse'
    microsoft.graph.attributeSetCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.attributeSetCollectionResponse'
  schemas:
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type:
          - string
          - 'null'
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    ODataCountResponse:
      type: integer
      format: int32
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.attributeSetCollectionResponse:
      title: Collection of attributeSet
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.attributeSet'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
    microsoft.graph.attributeSet:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: attributeSet
        type: object
        properties:
          description:
            type:
            - string
            - 'null'
            description: Description of the attribute set. Can be up to 128 characters long and include Unicode characters. Can be changed later.
          maxAttributesPerSet:
            maximum: 2147483647
            minimum: -2147483648
            type:
            - number
            - 'null'
            description: Maximum number of custom security attributes that can be defined in this attribute set. Default value is null. If not specified, the administrator can add up to the maximum of 500 active attributes per tenant. Can be changed later.
            format: int32
        additionalProperties:
          type: object
  parameters:
    count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
    top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: {}
