openapi: 3.2.0
info:
  title: Identity.Governance Identity Governance.app Consent…
  version: v1.0
servers:
- url: https://graph.microsoft.com/v1.0/
  description: Core
security:
- azureaadv2: []
tags:
- name: identityGovernance.appConsentApprovalRoute
paths:
  /identityGovernance/appConsent:
    get:
      tags:
      - identityGovernance.appConsentApprovalRoute
      summary: Get appConsent from identityGovernance
      operationId: identityGovernance_GetAppConsent
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appConsentApprovalRoute'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - identityGovernance.appConsentApprovalRoute
      summary: Update the navigation property appConsent in identityGovernance
      operationId: identityGovernance_UpdateAppConsent
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appConsentApprovalRoute'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appConsentApprovalRoute'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - identityGovernance.appConsentApprovalRoute
      summary: Delete navigation property appConsent for identityGovernance
      operationId: identityGovernance_DeleteAppConsent
      parameters:
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identityGovernance/appConsent/appConsentRequests:
    get:
      tags:
      - identityGovernance.appConsentApprovalRoute
      summary: List appConsentRequests
      description: Retrieve appConsentRequest objects and their properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/appconsentapprovalroute-list-appconsentrequests?view=graph-rest-1.0
      operationId: identityGovernance.appConsent_ListAppConsentRequest
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.appConsentRequestCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - identityGovernance.appConsentApprovalRoute
      summary: Create new navigation property to appConsentRequests for identityGovernance
      operationId: identityGovernance.appConsent_CreateAppConsentRequest
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appConsentRequest'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appConsentRequest'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identityGovernance/appConsent/appConsentRequests/{appConsentRequest-id}:
    get:
      tags:
      - identityGovernance.appConsentApprovalRoute
      summary: Get appConsentRequest
      description: Read the properties and relationships of an appConsentRequest object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/appconsentrequest-get?view=graph-rest-1.0
      operationId: identityGovernance.appConsent_GetAppConsentRequest
      parameters:
      - name: appConsentRequest-id
        in: path
        description: The unique identifier of appConsentRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: appConsentRequest
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appConsentRequest'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - identityGovernance.appConsentApprovalRoute
      summary: Update the navigation property appConsentRequests in identityGovernance
      operationId: identityGovernance.appConsent_UpdateAppConsentRequest
      parameters:
      - name: appConsentRequest-id
        in: path
        description: The unique identifier of appConsentRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: appConsentRequest
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.appConsentRequest'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.appConsentRequest'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - identityGovernance.appConsentApprovalRoute
      summary: Delete navigation property appConsentRequests for identityGovernance
      operationId: identityGovernance.appConsent_DeleteAppConsentRequest
      parameters:
      - name: appConsentRequest-id
        in: path
        description: The unique identifier of appConsentRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: appConsentRequest
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identityGovernance/appConsent/appConsentRequests/{appConsentRequest-id}/userConsentRequests:
    get:
      tags:
      - identityGovernance.appConsentApprovalRoute
      summary: List userConsentRequests
      description: Retrieve a collection of userConsentRequest objects and their properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/appconsentrequest-list-userconsentrequests?view=graph-rest-1.0
      operationId: identityGovernance.appConsent.appConsentRequest_ListUserConsentRequest
      parameters:
      - name: appConsentRequest-id
        in: path
        description: The unique identifier of appConsentRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: appConsentRequest
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.userConsentRequestCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - identityGovernance.appConsentApprovalRoute
      summary: Create new navigation property to userConsentRequests for identityGovernance
      operationId: identityGovernance.appConsent.appConsentRequest_CreateUserConsentRequest
      parameters:
      - name: appConsentRequest-id
        in: path
        description: The unique identifier of appConsentRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: appConsentRequest
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userConsentRequest'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userConsentRequest'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identityGovernance/appConsent/appConsentRequests/{appConsentRequest-id}/userConsentRequests/{userConsentRequest-id}:
    get:
      tags:
      - identityGovernance.appConsentApprovalRoute
      summary: Get userConsentRequest
      description: Read the properties and relationships of a userConsentRequest object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/userconsentrequest-get?view=graph-rest-1.0
      operationId: identityGovernance.appConsent.appConsentRequest_GetUserConsentRequest
      parameters:
      - name: appConsentRequest-id
        in: path
        description: The unique identifier of appConsentRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: appConsentRequest
      - name: userConsentRequest-id
        in: path
        description: The unique identifier of userConsentRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userConsentRequest
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userConsentRequest'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - identityGovernance.appConsentApprovalRoute
      summary: Update the navigation property userConsentRequests in identityGovernance
      operationId: identityGovernance.appConsent.appConsentRequest_UpdateUserConsentRequest
      parameters:
      - name: appConsentRequest-id
        in: path
        description: The unique identifier of appConsentRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: appConsentRequest
      - name: userConsentRequest-id
        in: path
        description: The unique identifier of userConsentRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userConsentRequest
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userConsentRequest'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userConsentRequest'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - identityGovernance.appConsentApprovalRoute
      summary: Delete navigation property userConsentRequests for identityGovernance
      operationId: identityGovernance.appConsent.appConsentRequest_DeleteUserConsentRequest
      parameters:
      - name: appConsentRequest-id
        in: path
        description: The unique identifier of appConsentRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: appConsentRequest
      - name: userConsentRequest-id
        in: path
        description: The unique identifier of userConsentRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userConsentRequest
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /identityGovernance/appConsent/appConsentRequests/{appConsentRequest-id}/userConsentRequests/{userConsentRequest-id}/approval
  : get:
      tags:
      - identityGovernance.appConsentApprovalRoute
      summary: Get approval from identityGovernance
      description: Approval decisions associated with a request.
      operationId: identityGovernance.appConsent.appConsentRequest.userConsentRequest_GetApproval
      parameters:
      - name: appConsentRequest-id
        in: path
        description: The unique identifier of appConsentRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: appConsentRequest
      - name: userConsentRequest-id
        in: path
        description: The unique identifier of userConsentRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userConsentRequest
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.approval'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - identityGovernance.appConsentApprovalRoute
      summary: Update the navigation property approval in identityGovernance
      operationId: identityGovernance.appConsent.appConsentRequest.userConsentRequest_UpdateApproval
      parameters:
      - name: appConsentRequest-id
        in: path
        description: The unique identifier of appConsentRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: appConsentRequest
      - name: userConsentRequest-id
        in: path
        description: The unique identifier of userConsentRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userConsentRequest
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.approval'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.approval'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - identityGovernance.appConsentApprovalRoute
      summary: Delete navigation property approval for identityGovernance
      operationId: identityGovernance.appConsent.appConsentRequest.userConsentRequest_DeleteApproval
      parameters:
      - name: appConsentRequest-id
        in: path
        description: The unique identifier of appConsentRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: appConsentRequest
      - name: userConsentRequest-id
        in: path
        description: The unique identifier of userConsentRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userConsentRequest
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /identityGovernance/appConsent/appConsentRequests/{appConsentRequest-id}/userConsentRequests/{userConsentRequest-id}/approval/stages
  : get:
      tags:
      - identityGovernance.appConsentApprovalRoute
      summary: Get stages from identityGovernance
      description: A collection of stages in the approval decision.
      operationId: identityGovernance.appConsent.appConsentRequest.userConsentRequest.approval_ListStage
      parameters:
      - name: appConsentRequest-id
        in: path
        description: The unique identifier of appConsentRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: appConsentRequest
      - name: userConsentRequest-id
        in: path
        description: The unique identifier of userConsentRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userConsentRequest
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.approvalStageCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - identityGovernance.appConsentApprovalRoute
      summary: Create new navigation property to stages for identityGovernance
      operationId: identityGovernance.appConsent.appConsentRequest.userConsentRequest.approval_CreateStage
      parameters:
      - name: appConsentRequest-id
        in: path
        description: The unique identifier of appConsentRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: appConsentRequest
      - name: userConsentRequest-id
        in: path
        description: The unique identifier of userConsentRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userConsentRequest
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.approvalStage'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.approvalStage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /identityGovernance/appConsent/appConsentRequests/{appConsentRequest-id}/userConsentRequests/{userConsentRequest-id}/approval/stages/{approvalStage-id}
  : get:
      tags:
      - identityGovernance.appConsentApprovalRoute
      summary: Get stages from identityGovernance
      description: A collection of stages in the approval decision.
      operationId: identityGovernance.appConsent.appConsentRequest.userConsentRequest.approval_GetStage
      parameters:
      - name: appConsentRequest-id
        in: path
        description: The unique identifier of appConsentRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: appConsentRequest
      - name: userConsentRequest-id
        in: path
        description: The unique identifier of userConsentRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userConsentRequest
      - name: approvalStage-id
        in: path
        description: The unique identifier of approvalStage
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: approvalStage
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.approvalStage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - identityGovernance.appConsentApprovalRoute
      summary: Update the navigation property stages in identityGovernance
      operationId: identityGovernance.appConsent.appConsentRequest.userConsentRequest.approval_UpdateStage
      parameters:
      - name: appConsentRequest-id
        in: path
        description: The unique identifier of appConsentRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: appConsentRequest
      - name: userConsentRequest-id
        in: path
        description: The unique identifier of userConsentRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userConsentRequest
      - name: approvalStage-id
        in: path
        description: The unique identifier of approvalStage
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: approvalStage
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.approvalStage'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.approvalStage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - identityGovernance.appConsentApprovalRoute
      summary: Delete navigation property stages for identityGovernance
      operationId: identityGovernance.appConsent.appConsentRequest.userConsentRequest.approval_DeleteStage
      parameters:
      - name: appConsentRequest-id
        in: path
        description: The unique identifier of appConsentRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: appConsentRequest
      - name: userConsentRequest-id
        in: path
        description: The unique identifier of userConsentRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userConsentRequest
      - name: approvalStage-id
        in: path
        description: The unique identifier of approvalStage
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: approvalStage
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /identityGovernance/appConsent/appConsentRequests/{appConsentRequest-id}/userConsentRequests/{userConsentRequest-id}/approval/stages/$count
  : get:
      tags:
      - identityGovernance.appConsentApprovalRoute
      summary: Get the number of the resource
      operationId: identityGovernance.appConsent.appConsentRequest.userConsentRequest.approval.stage_GetCount
      parameters:
      - name: appConsentRequest-id
        in: path
        description: The unique identifier of appConsentRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: appConsentRequest
      - name: userConsentRequest-id
        in: path
        description: The unique identifier of userConsentRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userConsentRequest
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /identityGovernance/appConsent/appConsentRequests/{appConsentRequest-id}/userConsentRequests/$count:
    get:
      tags:
      - identityGovernance.appConsentApprovalRoute
      summary: Get the number of the resource
      operationId: identityGovernance.appConsent.appConsentRequest.userConsentRequest_GetCount
      parameters:
      - name: appConsentRequest-id
        in: path
        description: The unique identifier of appConsentRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: appConsentRequest
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  ? /identityGovernance/appConsent/appConsentRequests/{appConsentRequest-id}/userConsentRequests/microsoft.graph.filterByCurrentUser(on='{on}')
  : get:
      tags:
      - identityGovernance.appConsentApprovalRoute
      summary: Invoke function filterByCurrentUser
      description: Retrieve a collection of userConsentRequest objects for accessing a specified app, for which the current user is the reviewer.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/userconsentrequest-filterbycurrentuser?view=graph-rest-1.0
      operationId: identityGovernance.appConsent.appConsentRequest.userConsentRequest_filterGraphBPreCurrentUser
      parameters:
      - name: appConsentRequest-id
        in: path
        description: The unique identifier of appConsentRequest
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: appConsentRequest
      - name: true
        in: path
        description: 'Usage: on=''{on}'''
        required: true
        style: simple
        schema:
          $ref: '#/components/schemas/microsoft.graph.consentRequestFilterByCurrentUserOptions'
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of userConsentRequest
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.userConsentRequest'
                  '@odata.nextLink':
                    type:
                    - string
                    - 'null'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /identityGovernance/appConsent/appConsentRequests/$count:
    get:
      tags:
      - identityGovernance.appConsentApprovalRoute
      summary: Get the number of the resource
      operationId: identityGovernance.appConsent.appConsentRequest_GetCount
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /identityGovernance/appConsent/appConsentRequests/microsoft.graph.filterByCurrentUser(on='{on}'):
    get:
      tags:
      - identityGovernance.appConsentApprovalRoute
      summary: Invoke function filterByCurrentUser
      description: Retrieve a collection of appConsentRequest objects for which the current user is the reviewer and the status of the userConsentRequest for accessing the specified app is InProgress.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/appconsentrequest-filterbycurrentuser?view=graph-rest-1.0
      operationId: identityGovernance.appConsent.appConsentRequest_filterGraphBPreCurrentUser
      parameters:
      - name: true
        in: path
        description: 'Usage: on=''{on}'''
        required: true
        style: simple
        schema:
          $ref: '#/components/schemas/microsoft.graph.consentRequestFilterByCurrentUserOptions'
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of appConsentRequest
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.appConsentRequest'
                  '@odata.nextLink':
                    type:
                    - string
                    - 'null'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
components:
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
    microsoft.graph.approvalStageCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.approvalStageCollectionResponse'
    microsoft.graph.userConsentRequestCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.userConsentRequestCollectionResponse'
    microsoft.graph.appConsentRequestCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.appConsentRequestCollectionResponse'
    ODataCountResponse:
      description: The count of the resource
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ODataCountResponse'
  schemas:
    microsoft.graph.identity:
      title: identity
      type: object
      properties:
        displayName:
          type:
          - string
          - 'null'
          description: The display name of the identity.For drive items, the display name might not always be available or up to date. For example, if a user changes their display name the API might show the new value in a future response, but the items associated with the user don't show up as changed when using delta.
        id:
          type:
          - string
          - 'null'
          description: Unique identifier for the identity or actor. For example, in the access reviews decisions API, this property might record the id of the principal, that is, the group, user, or application that's subject to review.
      additionalProperties:
        type: object
    microsoft.graph.identitySet:
      title: identitySet
      type: object
      properties:
        application:
          $ref: '#/components/schemas/microsoft.graph.identity'
        device:
          $ref: '#/components/schemas/microsoft.graph.identity'
        user:
          $ref: '#/components/schemas/microsoft.graph.identity'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type:
          - string
          - 'null'
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    ODataCountResponse:
      type: integer
      format: int32
    microsoft.graph.appConsentRequest:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: appConsentRequest
        type: object
        properties:
          appDisplayName:
            type:
            - string
            - 'null'
            description: The display name of the app for which consent is requested. Required. Supports $filter (eq only) and $orderby.
          appId:
            type: string
            description: The identifier of the application. Required. Supports $filter (eq only) and $orderby.
          pendingScopes:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.appConsentRequestScope'
            description: A list of pending scopes waiting for approval. Required.
          userConsentRequests:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.userConsentRequest'
            description: A list of pending user consent requests. Supports $filter (eq).
            x-ms-navigationProperty: true
        additionalProperties:
          type: object
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
    microsoft.graph.consentRequestFilterByCurrentUserOptions:
      title: consentRequestFilterByCurrentUserOptions
      enum:
      - reviewer
      - unknownFutureValue
      type: string
    microsoft.graph.approvalStage:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: approvalStage
        type: object
        properties:
          assignedToMe:
            type:
            - boolean
            - 'null'
            description: Indicates whether the stage is assigned to the calling user to review. Read-only.
          displayName:
            type:
            - string
            - 'null'
            description: The label provided by the policy creator to identify an approval stage. Read-only.
          justification:
            type:
            - string
            - 'null'
            description: The justification associated with the approval stage decision.
          reviewedBy:
            $ref: '#/components/schemas/microsoft.graph.identity'
          reviewedDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: The date and time when a decision was recorded. The date and time information uses ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z. Read-only.
            format: date-time
          reviewResult:
            type:
            - string
            - 'null'
            description: 'The result of this approval record. Possible values include: NotReviewed, Approved, Denied.'
          status:
            type:
            - string
            - 'null'
            description: 'The stage status. Possible values: InProgress, Initializing, Completed, Expired. Read-only.'
        additionalProperties:
          type: object
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.appConsentRequestCollectionResponse:
      title: Collection of appConsentRequest
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.appConsentRequest'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.request:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: request
        type: object
        properties:
          approvalId:
            type:
            - string
            - 'null'
            description: The identifier of the approval of the request.
          completedDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: The request completion date time.
            format: date-time
          createdBy:
            $ref: '#/components/schemas/microsoft.graph.identitySet'
          createdDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: The request creation date time.
            format: date-time
          customData:
            type:
            - string
            - 'null'
            description: Free text field to define any custom data for the request. Not used.
          status:
            type: string
            description: 'The status of the request. Not nullable. The possible values are: Canceled, Denied, Failed, Granted, PendingAdminDecision, PendingApproval, PendingProvisioning, PendingScheduleCreation, Provisioned, Revoked, and ScheduleCreated. Not nullable.'
        additionalProperties:
          type: object
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.userConsentRequestCollectionResponse:
      title: Collection of userConsentRequest
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.userConsentRequest'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.approval:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: approval
        type: object
        properties:
          stages:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.approvalStage'
            description: A collection of stages in the approval decision.
            x-ms-navigationProperty: true
        additionalProperties:
          type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.userConsentRequest:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.request'
      - title: userConsentRequest
        type: object
        properties:
          reason:
            type:
            - string
            - 'null'
            description: The user's justification for requiring access to the app. Supports $filter (eq only) and $orderby.
          approval:
            $ref: '#/components/schemas/microsoft.graph.approval'
        additionalProperties:
          type: object
    microsoft.graph.appConsentApprovalRoute:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: appConsentApprovalRoute
        type: object
        properties:
          appConsentRequests:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.appConsentRequest'
            description: A collection of appConsentRequest objects representing apps for which admin consent has been requested by one or more users.
            x-ms-navigationProperty: true
        additionalProperties:
          type: object
    microsoft.graph.approvalStageCollectionResponse:
      title: Collection of approvalStage
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.approvalStage'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.appConsentRequestScope:
      title: appConsentRequestScope
      type: object
      properties:
        displayName:
          type:
          - string
          - 'null'
          description: The name of the scope.
      additionalProperties:
        type: object
  parameters:
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
    top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: {}
