openapi: 3.2.0
info:
  title: Identity.SignIns Policies.cross Tenant Access Policy API
  version: v1.0
servers:
- url: https://graph.microsoft.com/v1.0/
  description: Core
security:
- azureaadv2: []
tags:
- name: policies.crossTenantAccessPolicy
paths:
  /policies/crossTenantAccessPolicy:
    get:
      tags:
      - policies.crossTenantAccessPolicy
      summary: Get crossTenantAccessPolicy
      description: Read the properties and relationships of a crossTenantAccessPolicy object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantaccesspolicy-get?view=graph-rest-1.0
      operationId: policy_GetCrossTenantAccessPolicy
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - policies.crossTenantAccessPolicy
      summary: Update crossTenantAccessPolicy
      description: Update the properties of a cross-tenant access policy.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantaccesspolicy-update?view=graph-rest-1.0
      operationId: policy_UpdateCrossTenantAccessPolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicy'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - policies.crossTenantAccessPolicy
      summary: Delete navigation property crossTenantAccessPolicy for policies
      operationId: policy_DeleteCrossTenantAccessPolicy
      parameters:
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /policies/crossTenantAccessPolicy/default:
    get:
      tags:
      - policies.crossTenantAccessPolicy
      summary: Get crossTenantAccessPolicyConfigurationDefault
      description: Read the default configuration of a cross-tenant access policy. This default configuration may be the service default assigned by Microsoft Entra ID (isServiceDefault is true) or may be customized in your tenant (isServiceDefault is false).
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantaccesspolicyconfigurationdefault-get?view=graph-rest-1.0
      operationId: policy.crossTenantAccessPolicy_GetDefault
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyConfigurationDefault'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - policies.crossTenantAccessPolicy
      summary: Update crossTenantAccessPolicyConfigurationDefault
      description: Update the default configuration of a cross-tenant access policy.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantaccesspolicyconfigurationdefault-update?view=graph-rest-1.0
      operationId: policy.crossTenantAccessPolicy_UpdateDefault
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyConfigurationDefault'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyConfigurationDefault'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - policies.crossTenantAccessPolicy
      summary: Delete navigation property default for policies
      operationId: policy.crossTenantAccessPolicy_DeleteDefault
      parameters:
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /policies/crossTenantAccessPolicy/default/microsoft.graph.resetToSystemDefault:
    post:
      tags:
      - policies.crossTenantAccessPolicy
      summary: Invoke action resetToSystemDefault
      description: Reset any changes made to the default configuration in a cross-tenant access policy back to the system default.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantaccesspolicyconfigurationdefault-resettosystemdefault?view=graph-rest-1.0
      operationId: policy.crossTenantAccessPolicy.default_resetToSystemDefault
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /policies/crossTenantAccessPolicy/partners:
    get:
      tags:
      - policies.crossTenantAccessPolicy
      summary: List partners
      description: Get a list of all partner configurations within a cross-tenant access policy. You can also use the $expand parameter to list the user synchronization policy for all partner configurations.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantaccesspolicy-list-partners?view=graph-rest-1.0
      operationId: policy.crossTenantAccessPolicy_ListPartner
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.crossTenantAccessPolicyConfigurationPartnerCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - policies.crossTenantAccessPolicy
      summary: Create crossTenantAccessPolicyConfigurationPartner
      description: Create a new partner configuration in a cross-tenant access policy.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantaccesspolicy-post-partners?view=graph-rest-1.0
      operationId: policy.crossTenantAccessPolicy_CreatePartner
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyConfigurationPartner'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyConfigurationPartner'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /policies/crossTenantAccessPolicy/partners/{crossTenantAccessPolicyConfigurationPartner-tenantId}:
    get:
      tags:
      - policies.crossTenantAccessPolicy
      summary: Get crossTenantAccessPolicyConfigurationPartner
      description: Read the properties and relationships of a partner-specific configuration.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantaccesspolicyconfigurationpartner-get?view=graph-rest-1.0
      operationId: policy.crossTenantAccessPolicy_GetPartner
      parameters:
      - name: crossTenantAccessPolicyConfigurationPartner-tenantId
        in: path
        description: The unique identifier of crossTenantAccessPolicyConfigurationPartner
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: crossTenantAccessPolicyConfigurationPartner
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyConfigurationPartner'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - policies.crossTenantAccessPolicy
      summary: Update crossTenantAccessPolicyConfigurationPartner
      description: Update the properties of a partner-specific configuration.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantaccesspolicyconfigurationpartner-update?view=graph-rest-1.0
      operationId: policy.crossTenantAccessPolicy_UpdatePartner
      parameters:
      - name: crossTenantAccessPolicyConfigurationPartner-tenantId
        in: path
        description: The unique identifier of crossTenantAccessPolicyConfigurationPartner
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: crossTenantAccessPolicyConfigurationPartner
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyConfigurationPartner'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyConfigurationPartner'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - policies.crossTenantAccessPolicy
      summary: Delete crossTenantAccessPolicyConfigurationPartner
      description: Delete a partner-specific configuration in a cross-tenant access policy. If a configuration includes a user synchronization policy, you must first delete the user synchronization policy before you can delete the partner-specific configuration.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantaccesspolicyconfigurationpartner-delete?view=graph-rest-1.0
      operationId: policy.crossTenantAccessPolicy_DeletePartner
      parameters:
      - name: crossTenantAccessPolicyConfigurationPartner-tenantId
        in: path
        description: The unique identifier of crossTenantAccessPolicyConfigurationPartner
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: crossTenantAccessPolicyConfigurationPartner
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /policies/crossTenantAccessPolicy/partners/{crossTenantAccessPolicyConfigurationPartner-tenantId}/identitySynchronization:
    get:
      tags:
      - policies.crossTenantAccessPolicy
      summary: Get crossTenantIdentitySyncPolicyPartner
      description: Get the user synchronization policy of a partner-specific configuration.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantidentitysyncpolicypartner-get?view=graph-rest-1.0
      operationId: policy.crossTenantAccessPolicy.partner_GetIdentitySynchronization
      parameters:
      - name: crossTenantAccessPolicyConfigurationPartner-tenantId
        in: path
        description: The unique identifier of crossTenantAccessPolicyConfigurationPartner
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: crossTenantAccessPolicyConfigurationPartner
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.crossTenantIdentitySyncPolicyPartner'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
      - policies.crossTenantAccessPolicy
      summary: Create identitySynchronization
      description: Create a cross-tenant user synchronization policy for a partner-specific configuration.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantaccesspolicyconfigurationpartner-put-identitysynchronization?view=graph-rest-1.0
      operationId: policy.crossTenantAccessPolicy.partner_SetIdentitySynchronization
      parameters:
      - name: crossTenantAccessPolicyConfigurationPartner-tenantId
        in: path
        description: The unique identifier of crossTenantAccessPolicyConfigurationPartner
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: crossTenantAccessPolicyConfigurationPartner
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.crossTenantIdentitySyncPolicyPartner'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.crossTenantIdentitySyncPolicyPartner'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - policies.crossTenantAccessPolicy
      summary: Delete crossTenantIdentitySyncPolicyPartner
      description: Delete the user synchronization policy for a partner-specific configuration.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/crosstenantidentitysyncpolicypartner-delete?view=graph-rest-1.0
      operationId: policy.crossTenantAccessPolicy.partner_DeleteIdentitySynchronization
      parameters:
      - name: crossTenantAccessPolicyConfigurationPartner-tenantId
        in: path
        description: The unique identifier of crossTenantAccessPolicyConfigurationPartner
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: crossTenantAccessPolicyConfigurationPartner
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /policies/crossTenantAccessPolicy/partners/{crossTenantAccessPolicyConfigurationPartner-tenantId}/serviceProviderConstraints
  : get:
      tags:
      - policies.crossTenantAccessPolicy
      summary: Get serviceProviderConstraints from policies
      operationId: policy.crossTenantAccessPolicy.partner_GetServiceProviderConstraint
      parameters:
      - name: crossTenantAccessPolicyConfigurationPartner-tenantId
        in: path
        description: The unique identifier of crossTenantAccessPolicyConfigurationPartner
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: crossTenantAccessPolicyConfigurationPartner
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.serviceProviderConstraints'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - policies.crossTenantAccessPolicy
      summary: Update the navigation property serviceProviderConstraints in policies
      operationId: policy.crossTenantAccessPolicy.partner_UpdateServiceProviderConstraint
      parameters:
      - name: crossTenantAccessPolicyConfigurationPartner-tenantId
        in: path
        description: The unique identifier of crossTenantAccessPolicyConfigurationPartner
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: crossTenantAccessPolicyConfigurationPartner
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.serviceProviderConstraints'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.serviceProviderConstraints'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - policies.crossTenantAccessPolicy
      summary: Delete navigation property serviceProviderConstraints for policies
      operationId: policy.crossTenantAccessPolicy.partner_DeleteServiceProviderConstraint
      parameters:
      - name: crossTenantAccessPolicyConfigurationPartner-tenantId
        in: path
        description: The unique identifier of crossTenantAccessPolicyConfigurationPartner
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: crossTenantAccessPolicyConfigurationPartner
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /policies/crossTenantAccessPolicy/partners/$count:
    get:
      tags:
      - policies.crossTenantAccessPolicy
      summary: Get the number of the resource
      operationId: policy.crossTenantAccessPolicy.partner_GetCount
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /policies/crossTenantAccessPolicy/templates:
    get:
      tags:
      - policies.crossTenantAccessPolicy
      summary: Get templates from policies
      description: Represents the base policy in the directory for multitenant organization settings.
      operationId: policy.crossTenantAccessPolicy_GetTemplate
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.policyTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - policies.crossTenantAccessPolicy
      summary: Update the navigation property templates in policies
      operationId: policy.crossTenantAccessPolicy_UpdateTemplate
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.policyTemplate'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.policyTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - policies.crossTenantAccessPolicy
      summary: Delete navigation property templates for policies
      operationId: policy.crossTenantAccessPolicy_DeleteTemplate
      parameters:
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /policies/crossTenantAccessPolicy/templates/multiTenantOrganizationIdentitySynchronization:
    get:
      tags:
      - policies.crossTenantAccessPolicy
      summary: Get multiTenantOrganizationIdentitySyncPolicyTemplate
      description: Get the cross-tenant access policy template with user synchronization settings for a multitenant organization.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/multitenantorganizationidentitysyncpolicytemplate-get?view=graph-rest-1.0
      operationId: policy.crossTenantAccessPolicy.template_GetMultiTenantOrganizationIdentitySynchronization
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiTenantOrganizationIdentitySyncPolicyTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - policies.crossTenantAccessPolicy
      summary: Update multiTenantOrganizationIdentitySyncPolicyTemplate
      description: Update the cross-tenant access policy template with user synchronization settings for a multitenant organization.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/multitenantorganizationidentitysyncpolicytemplate-update?view=graph-rest-1.0
      operationId: policy.crossTenantAccessPolicy.template_UpdateMultiTenantOrganizationIdentitySynchronization
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiTenantOrganizationIdentitySyncPolicyTemplate'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiTenantOrganizationIdentitySyncPolicyTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - policies.crossTenantAccessPolicy
      summary: Delete navigation property multiTenantOrganizationIdentitySynchronization for…
      operationId: policy.crossTenantAccessPolicy.template_DeleteMultiTenantOrganizationIdentitySynchronization
      parameters:
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /policies/crossTenantAccessPolicy/templates/multiTenantOrganizationIdentitySynchronization/microsoft.graph.resetToDefaultSettings
  : post:
      tags:
      - policies.crossTenantAccessPolicy
      summary: Invoke action resetToDefaultSettings
      description: Reset the cross-tenant access policy template with user synchronization settings for a multitenant organization to the default values. In its reset state, the template has no impact on user synchronization settings, other than that unconfigured user synchronization settings are created if needed, for every multitenant organization tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/multitenantorganizationidentitysyncpolicytemplate-resettodefaultsettings?view=graph-rest-1.0
      operationId: policy.crossTenantAccessPolicy.template.multiTenantOrganizationIdentitySynchronization_resetToDefaultSetting
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /policies/crossTenantAccessPolicy/templates/multiTenantOrganizationPartnerConfiguration:
    get:
      tags:
      - policies.crossTenantAccessPolicy
      summary: Get multiTenantOrganizationPartnerConfigurationTemplate
      description: Get the cross-tenant access policy template with inbound and outbound partner configuration settings for a multitenant organization.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/multitenantorganizationpartnerconfigurationtemplate-get?view=graph-rest-1.0
      operationId: policy.crossTenantAccessPolicy.template_GetMultiTenantOrganizationPartnerConfiguration
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiTenantOrganizationPartnerConfigurationTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - policies.crossTenantAccessPolicy
      summary: Update multiTenantOrganizationPartnerConfigurationTemplate
      description: Update the cross-tenant access policy template with inbound and outbound partner configuration settings for a multitenant organization.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/multitenantorganizationpartnerconfigurationtemplate-update?view=graph-rest-1.0
      operationId: policy.crossTenantAccessPolicy.template_UpdateMultiTenantOrganizationPartnerConfiguration
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiTenantOrganizationPartnerConfigurationTemplate'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiTenantOrganizationPartnerConfigurationTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - policies.crossTenantAccessPolicy
      summary: Delete navigation property multiTenantOrganizationPartnerConfiguration for…
      operationId: policy.crossTenantAccessPolicy.template_DeleteMultiTenantOrganizationPartnerConfiguration
      parameters:
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /policies/crossTenantAccessPolicy/templates/multiTenantOrganizationPartnerConfiguration/microsoft.graph.resetToDefaultSettings
  : post:
      tags:
      - policies.crossTenantAccessPolicy
      summary: Invoke action resetToDefaultSettings
      description: Reset the cross-tenant access policy template with inbound and outbound partner configuration settings for a multitenant organization to the default values. In its reset state, the template has no impact on partner configuration settings, other than that an unconfigured partner configuration is created if needed, for every multitenant organization tenant.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/multitenantorganizationpartnerconfigurationtemplate-resettodefaultsettings?view=graph-rest-1.0
      operationId: policy.crossTenantAccessPolicy.template.multiTenantOrganizationPartnerConfiguration_resetToDefaultSetting
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
components:
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
    microsoft.graph.crossTenantAccessPolicyConfigurationPartnerCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyConfigurationPartnerCollectionResponse'
    ODataCountResponse:
      description: The count of the resource
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ODataCountResponse'
  schemas:
    microsoft.graph.invitationRedemptionIdentityProviderConfiguration:
      title: invitationRedemptionIdentityProviderConfiguration
      type: object
      properties:
        fallbackIdentityProvider:
          $ref: '#/components/schemas/microsoft.graph.b2bIdentityProvidersType'
        primaryIdentityProviderPrecedenceOrder:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.b2bIdentityProvidersType'
          description: 'Collection of identity providers in priority order of preference to be used for guest invitation redemption. The possible values are: azureActiveDirectory, externalFederation, or socialIdentityProviders.'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type:
          - string
          - 'null'
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    microsoft.graph.crossTenantAccessPolicyConfigurationPartner:
      title: crossTenantAccessPolicyConfigurationPartner
      type: object
      properties:
        appServiceConnectInbound:
          $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyAppServiceConnectSetting'
        automaticUserConsentSettings:
          $ref: '#/components/schemas/microsoft.graph.inboundOutboundPolicyConfiguration'
        b2bCollaborationInbound:
          $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyB2BSetting'
        b2bCollaborationOutbound:
          $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyB2BSetting'
        b2bDirectConnectInbound:
          $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyB2BSetting'
        b2bDirectConnectOutbound:
          $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyB2BSetting'
        inboundTrust:
          $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyInboundTrust'
        isInMultiTenantOrganization:
          type:
          - boolean
          - 'null'
          description: Identifies whether a tenant is a member of a multitenant organization.
        isServiceProvider:
          type:
          - boolean
          - 'null'
          description: Identifies whether the partner-specific configuration is a Cloud Service Provider for your organization.
        m365CollaborationInbound:
          $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyM365CollaborationInboundSetting'
        m365CollaborationOutbound:
          $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyM365CollaborationOutboundSetting'
        tenantId:
          type: string
          description: The tenant identifier for the partner Microsoft Entra organization. Read-only. Key.
        tenantRestrictions:
          $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyTenantRestrictions'
        identitySynchronization:
          $ref: '#/components/schemas/microsoft.graph.crossTenantIdentitySyncPolicyPartner'
        serviceProviderConstraints:
          $ref: '#/components/schemas/microsoft.graph.serviceProviderConstraints'
      additionalProperties:
        type: object
    microsoft.graph.crossTenantAccessPolicy:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.policyBase'
      - title: crossTenantAccessPolicy
        type: object
        properties:
          allowedCloudEndpoints:
            type: array
            items:
              type: string
            description: 'Used to specify which Microsoft clouds an organization would like to collaborate with. By default, this value is empty. Supported values for this field are: microsoftonline.com, microsoftonline.us, and partner.microsoftonline.cn.'
          default:
            $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyConfigurationDefault'
          partners:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyConfigurationPartner'
            description: Defines partner-specific configurations for external Microsoft Entra organizations.
            x-ms-navigationProperty: true
          templates:
            $ref: '#/components/schemas/microsoft.graph.policyTemplate'
        additionalProperties:
          type: object
    ODataCountResponse:
      type: integer
      format: int32
    microsoft.graph.defaultInvitationRedemptionIdentityProviderConfiguration:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.invitationRedemptionIdentityProviderConfiguration'
      - title: defaultInvitationRedemptionIdentityProviderConfiguration
        type: object
        additionalProperties:
          type: object
    microsoft.graph.inboundOutboundPolicyConfiguration:
      title: inboundOutboundPolicyConfiguration
      type: object
      properties:
        inboundAllowed:
          type:
          - boolean
          - 'null'
          description: Defines whether external users coming inbound are allowed.
        outboundAllowed:
          type:
          - boolean
          - 'null'
          description: Defines whether internal users are allowed to go outbound.
      additionalProperties:
        type: object
    microsoft.graph.crossTenantIdentitySyncPolicyPartner:
      title: crossTenantIdentitySyncPolicyPartner
      type: object
      properties:
        displayName:
          type:
          - string
          - 'null'
          description: Display name for the cross-tenant user synchronization policy. Use the name of the partner Microsoft Entra tenant to easily identify the policy. Optional.
        tenantId:
          type: string
          description: Tenant identifier for the partner Microsoft Entra organization. Read-only.
        userSyncInbound:
          $ref: '#/components/schemas/microsoft.graph.crossTenantUserSyncInbound'
      additionalProperties:
        type: object
    microsoft.graph.devicesFilter:
      title: devicesFilter
      type: object
      properties:
        mode:
          $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyTargetConfigurationAccessType'
        rule:
          type:
          - string
          - 'null'
          description: Defines the rule to filter the devices. For example, device.deviceAttribute2 -eq 'PrivilegedAccessWorkstation'.
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
    microsoft.graph.templateApplicationLevel:
      title: templateApplicationLevel
      enum:
      - none
      - newPartners
      - existingPartners
      - unknownFutureValue
      type: string
      x-ms-enum-flags:
        isFlags: true
    microsoft.graph.crossTenantUserSyncInbound:
      title: crossTenantUserSyncInbound
      type: object
      properties:
        isSyncAllowed:
          type:
          - boolean
          - 'null'
          description: Defines whether user objects should be synchronized from the partner tenant. false causes any current user synchronization from the source tenant to the target tenant to stop. This property has no impact on existing users who have already been synchronized.
      additionalProperties:
        type: object
    microsoft.graph.multiTenantOrganizationPartnerConfigurationTemplate:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: multiTenantOrganizationPartnerConfigurationTemplate
        type: object
        properties:
          automaticUserConsentSettings:
            $ref: '#/components/schemas/microsoft.graph.inboundOutboundPolicyConfiguration'
          b2bCollaborationInbound:
            $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyB2BSetting'
          b2bCollaborationOutbound:
            $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyB2BSetting'
          b2bDirectConnectInbound:
            $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyB2BSetting'
          b2bDirectConnectOutbound:
            $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyB2BSetting'
          inboundTrust:
            $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyInboundTrust'
          templateApplicationLevel:
            $ref: '#/components/schemas/microsoft.graph.templateApplicationLevel'
        additionalProperties:
          type: object
    microsoft.graph.crossTenantAccessPolicyTargetConfigurationAccessType:
      title: crossTenantAccessPolicyTargetConfigurationAccessType
      enum:
      - allowed
      - blocked
      - unknownFutureValue
      type: string
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.directoryObject:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: directoryObject
        type: object
        properties:
          deletedDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: Date and time when this object was deleted. Always null when the object hasn't been deleted.
            format: date-time
        additionalProperties:
          type: object
    microsoft.graph.crossTenantAccessPolicyM365CollaborationOutboundSetting:
      title: crossTenantAccessPolicyM365CollaborationOutboundSetting
      type: object
      properties:
        usersAndGroups:
          $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyTargetConfiguration'
      additionalProperties:
        type: object
    microsoft.graph.serviceProviderConstraints:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: serviceProviderConstraints
        type: object
        additionalProperties:
          type: object
    microsoft.graph.crossTenantAccessPolicyTargetConfiguration:
      title: crossTenantAccessPolicyTargetConfiguration
      type: object
      properties:
        accessType:
          $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyTargetConfigurationAccessType'
        targets:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyTarget'
          description: Specifies whether to target users, groups, or applications with this rule.
      additionalProperties:
        type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.multiTenantOrganizationIdentitySyncPolicyTemplate:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: multiTenantOrganizationIdentitySyncPolicyTemplate
        type: object
        properties:
          templateApplicationLevel:
            $ref: '#/components/schemas/microsoft.graph.templateApplicationLevel'
          userSyncInbound:
            $ref: '#/components/schemas/microsoft.graph.crossTenantUserSyncInbound'
        additionalProperties:
          type: object
    microsoft.graph.crossTenantAccessPolicyTargetType:
      title: crossTenantAccessPolicyTargetType
      enum:
      - user
      - group
      - application
      - unknownFutureValue
      type: string
    microsoft.graph.crossTenantAccessPolicyM365CollaborationInboundSetting:
      title: crossTenantAccessPolicyM365CollaborationInboundSetting
      type: object
      properties:
        users:
          $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyTargetConfiguration'
      additionalProperties:
        type: object
    microsoft.graph.crossTenantAccessPolicyTarget:
      title: crossTenantAccessPolicyTarget
      type: object
      properties:
        target:
          type:
          - string
          - 'null'
          description: 'Defines the target for cross-tenant access policy settings and can have one of the following values:  The unique identifier of the user, group, or application  AllUsers  AllApplications - Refers to any Microsoft cloud application.  Office365 - Includes the applications mentioned as part of the Office 365 suite.'
        targetType:
          $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyTargetType'
      additionalProperties:
        type: object
    microsoft.graph.b2bIdentityProvidersType:
      title: b2bIdentityProvidersType
      enum:
      - azureActiveDirectory
      - externalFederation
      - socialIdentityProviders
      - emailOneTimePasscode
      - microsoftAccount
      - defaultConfiguredIdp
      - unknownFutureValue
      type: string
    microsoft.graph.crossTenantAccessPolicyB2BSetting:
      title: crossTenantAccessPolicyB2BSetting
      type: object
      properties:
        applications:
          $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyTargetConfiguration'
        usersAndGroups:
          $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyTargetConfiguration'
      additionalProperties:
        type: object
    microsoft.graph.policyTemplate:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: policyTemplate
        type: object
        properties:
          multiTenantOrganizationIdentitySynchronization:
            $ref: '#/components/schemas/microsoft.graph.multiTenantOrganizationIdentitySyncPolicyTemplate'
          multiTenantOrganizationPartnerConfiguration:
            $ref: '#/components/schemas/microsoft.graph.multiTenantOrganizationPartnerConfigurationTemplate'
        additionalProperties:
          type: object
    microsoft.graph.crossTenantAccessPolicyAppServiceConnectSetting:
      title: crossTenantAccessPolicyAppServiceConnectSetting
      type: object
      properties:
        applications:
          $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyTargetConfiguration'
      additionalProperties:
        type: object
    microsoft.graph.crossTenantAccessPolicyInboundTrust:
      title: crossTenantAccessPolicyInboundTrust
      type: object
      properties:
        isCompliantDeviceAccepted:
          type:
          - boolean
          - 'null'
          description: Specifies whether compliant devices from external Microsoft Entra organizations are trusted.
        isHybridAzureADJoinedDeviceAccepted:
          type:
          - boolean
          - 'null'
          description: Specifies whether Microsoft Entra hybrid joined devices from external Microsoft Entra organizations are trusted.
        isMfaAccepted:
          type:
          - boolean
          - 'null'
          description: Specifies whether MFA from external Microsoft Entra organizations is trusted.
      additionalProperties:
        type: object
    microsoft.graph.crossTenantAccessPolicyConfigurationDefault:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: crossTenantAccessPolicyConfigurationDefault
        type: object
        properties:
          appServiceConnectInbound:
            $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyAppServiceConnectSetting'
          automaticUserConsentSettings:
            $ref: '#/components/schemas/microsoft.graph.inboundOutboundPolicyConfiguration'
          b2bCollaborationInbound:
            $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyB2BSetting'
          b2bCollaborationOutbound:
            $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyB2BSetting'
          b2bDirectConnectInbound:
            $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyB2BSetting'
          b2bDirectConnectOutbound:
            $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyB2BSetting'
          inboundTrust:
            $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyInboundTrust'
          invitationRedemptionIdentityProviderConfiguration:
            $ref: '#/components/schemas/microsoft.graph.defaultInvitationRedemptionIdentityProviderConfiguration'
          isServiceDefault:
            type:
            - boolean
            - 'null'
            description: If true, the default configuration is set to the system default configuration. If false, the default settings are customized.
          m365CollaborationInbound:
            $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyM365CollaborationInboundSetting'
          m365CollaborationOutbound:
            $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyM365CollaborationOutboundSetting'
          tenantRestrictions:
            $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyTenantRestrictions'
        additionalProperties:
          type: object
    microsoft.graph.crossTenantAccessPolicyConfigurationPartnerCollectionResponse:
      title: Collection of crossTenantAccessPolicyConfigurationPartner
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyConfigurationPartner'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.policyBase:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.directoryObject'
      - title: policyBase
        type: object
        properties:
          description:
            type:
            - string
            - 'null'
            description: Description for this policy. Required.
          displayName:
            type:
            - string
            - 'null'
            description: Display name for this policy. Required.
        additionalProperties:
          type: object
    microsoft.graph.crossTenantAccessPolicyTenantRestrictions:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.crossTenantAccessPolicyB2BSetting'
      - title: crossTenantAccessPolicyTenantRestrictions
        type: object
        properties:
          devices:
            $ref: '#/components/schemas/microsoft.graph.devicesFilter'
        additionalProperties:
          type: object
  parameters:
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
    top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: {}
