openapi: 3.2.0
info:
  title: Users.user Settings API
  version: v1.0
servers:
- url: https://graph.microsoft.com/v1.0/
  description: Core
security:
- azureaadv2: []
tags:
- name: users.userSettings
paths:
  /users/{user-id}/settings:
    get:
      tags:
      - users.userSettings
      summary: Get settings from users
      operationId: user_GetSetting
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userSettings'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - users.userSettings
      summary: Update the navigation property settings in users
      operationId: user_UpdateSetting
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userSettings'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userSettings'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - users.userSettings
      summary: Delete navigation property settings for users
      operationId: user_DeleteSetting
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/settings/exchange:
    get:
      tags:
      - users.userSettings
      summary: List Exchange settings
      description: Get a list of Exchange mailboxes that belong to a user. Currently, the mailbox types supported are the user's primary mailbox and shared mailboxes. To learn how to get a list of users in a tenant, see List users.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/usersettings-list-exchange?view=graph-rest-1.0
      operationId: user.setting_GetExchange
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.exchangeSettings'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/settings/itemInsights:
    get:
      tags:
      - users.userSettings
      summary: Get itemInsights from users
      description: The user's settings for the visibility of meeting hour insights, and insights derived between a user and other items in Microsoft 365, such as documents or sites. Get userInsightsSettings through this navigation property.
      operationId: user.setting_GetItemInsight
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userInsightsSettings'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - users.userSettings
      summary: Update userInsightsSettings
      description: Update the privacy settings for itemInsights and meeting hours insights of a user.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/userinsightssettings-update?view=graph-rest-1.0
      operationId: user.setting_UpdateItemInsight
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userInsightsSettings'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userInsightsSettings'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - users.userSettings
      summary: Delete navigation property itemInsights for users
      operationId: user.setting_DeleteItemInsight
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/settings/shiftPreferences:
    get:
      tags:
      - users.userSettings
      summary: Get shiftPreferences
      description: Retrieve the properties and relationships of a shiftPreferences object by ID.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/shiftpreferences-get?view=graph-rest-1.0
      operationId: user.setting_GetShiftPreference
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.shiftPreferences'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - users.userSettings
      summary: Update shiftPreferences
      description: Update the properties and relationships of a shiftPreferences object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/shiftpreferences-put?view=graph-rest-1.0
      operationId: user.setting_UpdateShiftPreference
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.shiftPreferences'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.shiftPreferences'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - users.userSettings
      summary: Delete navigation property shiftPreferences for users
      operationId: user.setting_DeleteShiftPreference
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/settings/storage:
    get:
      tags:
      - users.userSettings
      summary: Get storage from users
      operationId: user.setting_GetStorage
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userStorage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - users.userSettings
      summary: Update the navigation property storage in users
      operationId: user.setting_UpdateStorage
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userStorage'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userStorage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - users.userSettings
      summary: Delete navigation property storage for users
      operationId: user.setting_DeleteStorage
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/settings/storage/quota:
    get:
      tags:
      - users.userSettings
      summary: Get quota from users
      operationId: user.setting.storage_GetQuota
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedStorageQuota'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - users.userSettings
      summary: Update the navigation property quota in users
      operationId: user.setting.storage_UpdateQuota
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.unifiedStorageQuota'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.unifiedStorageQuota'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - users.userSettings
      summary: Delete navigation property quota for users
      operationId: user.setting.storage_DeleteQuota
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/settings/storage/quota/services:
    get:
      tags:
      - users.userSettings
      summary: Get services from users
      operationId: user.setting.storage.quota_ListService
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.serviceStorageQuotaBreakdownCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - users.userSettings
      summary: Create new navigation property to services for users
      operationId: user.setting.storage.quota_CreateService
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.serviceStorageQuotaBreakdown'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.serviceStorageQuotaBreakdown'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/settings/storage/quota/services/{serviceStorageQuotaBreakdown-id}:
    get:
      tags:
      - users.userSettings
      summary: Get services from users
      operationId: user.setting.storage.quota_GetService
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: serviceStorageQuotaBreakdown-id
        in: path
        description: The unique identifier of serviceStorageQuotaBreakdown
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: serviceStorageQuotaBreakdown
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.serviceStorageQuotaBreakdown'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - users.userSettings
      summary: Update the navigation property services in users
      operationId: user.setting.storage.quota_UpdateService
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: serviceStorageQuotaBreakdown-id
        in: path
        description: The unique identifier of serviceStorageQuotaBreakdown
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: serviceStorageQuotaBreakdown
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.serviceStorageQuotaBreakdown'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.serviceStorageQuotaBreakdown'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - users.userSettings
      summary: Delete navigation property services for users
      operationId: user.setting.storage.quota_DeleteService
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: serviceStorageQuotaBreakdown-id
        in: path
        description: The unique identifier of serviceStorageQuotaBreakdown
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: serviceStorageQuotaBreakdown
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/settings/storage/quota/services/$count:
    get:
      tags:
      - users.userSettings
      summary: Get the number of the resource
      operationId: user.setting.storage.quota.service_GetCount
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /users/{user-id}/settings/windows:
    get:
      tags:
      - users.userSettings
      summary: Get windows from users
      description: The Windows settings of the user stored in the cloud.
      operationId: user.setting_ListWindow
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.windowsSettingCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - users.userSettings
      summary: Create new navigation property to windows for users
      operationId: user.setting_CreateWindow
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.windowsSetting'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.windowsSetting'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/settings/windows/{windowsSetting-id}:
    get:
      tags:
      - users.userSettings
      summary: Get windows from users
      description: The Windows settings of the user stored in the cloud.
      operationId: user.setting_GetWindow
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: windowsSetting-id
        in: path
        description: The unique identifier of windowsSetting
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: windowsSetting
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.windowsSetting'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - users.userSettings
      summary: Update the navigation property windows in users
      operationId: user.setting_UpdateWindow
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: windowsSetting-id
        in: path
        description: The unique identifier of windowsSetting
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: windowsSetting
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.windowsSetting'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.windowsSetting'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - users.userSettings
      summary: Delete navigation property windows for users
      operationId: user.setting_DeleteWindow
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: windowsSetting-id
        in: path
        description: The unique identifier of windowsSetting
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: windowsSetting
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/settings/windows/{windowsSetting-id}/instances:
    get:
      tags:
      - users.userSettings
      summary: Get instances from users
      description: A collection of setting values for a given windowsSetting.
      operationId: user.setting.window_ListInstance
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: windowsSetting-id
        in: path
        description: The unique identifier of windowsSetting
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: windowsSetting
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.windowsSettingInstanceCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - users.userSettings
      summary: Create new navigation property to instances for users
      operationId: user.setting.window_CreateInstance
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: windowsSetting-id
        in: path
        description: The unique identifier of windowsSetting
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: windowsSetting
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.windowsSettingInstance'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.windowsSettingInstance'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/settings/windows/{windowsSetting-id}/instances/{windowsSettingInstance-id}:
    get:
      tags:
      - users.userSettings
      summary: Get instances from users
      description: A collection of setting values for a given windowsSetting.
      operationId: user.setting.window_GetInstance
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: windowsSetting-id
        in: path
        description: The unique identifier of windowsSetting
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: windowsSetting
      - name: windowsSettingInstance-id
        in: path
        description: The unique identifier of windowsSettingInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: windowsSettingInstance
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.windowsSettingInstance'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - users.userSettings
      summary: Update the navigation property instances in users
      operationId: user.setting.window_UpdateInstance
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: windowsSetting-id
        in: path
        description: The unique identifier of windowsSetting
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: windowsSetting
      - name: windowsSettingInstance-id
        in: path
        description: The unique identifier of windowsSettingInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: windowsSettingInstance
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.windowsSettingInstance'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.windowsSettingInstance'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - users.userSettings
      summary: Delete navigation property instances for users
      operationId: user.setting.window_DeleteInstance
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: windowsSetting-id
        in: path
        description: The unique identifier of windowsSetting
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: windowsSetting
      - name: windowsSettingInstance-id
        in: path
        description: The unique identifier of windowsSettingInstance
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: windowsSettingInstance
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/settings/windows/{windowsSetting-id}/instances/$count:
    get:
      tags:
      - users.userSettings
      summary: Get the number of the resource
      operationId: user.setting.window.instance_GetCount
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: windowsSetting-id
        in: path
        description: The unique identifier of windowsSetting
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: windowsSetting
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /users/{user-id}/settings/windows/$count:
    get:
      tags:
      - users.userSettings
      summary: Get the number of the resource
      operationId: user.setting.window_GetCount
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /users/{user-id}/settings/workHoursAndLocations:
    get:
      tags:
      - users.userSettings
      summary: Get workHoursAndLocations from users
      description: The user's settings for work hours and location preferences for scheduling and availability management.
      operationId: user.setting_GetWorkHoursAndLocation
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.workHoursAndLocationsSetting'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - users.userSettings
      summary: Update the navigation property workHoursAndLocations in users
      operationId: user.setting_UpdateWorkHoursAndLocation
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.workHoursAndLocationsSetting'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.workHoursAndLocationsSetting'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /users/{user-id}/settings/workHoursAndLocations/microsoft.graph.occurrencesView(startDateTime='{startDateTime}',endDateTime='{endDateTime}')
  : get:
      tags:
      - users.userSettings
      summary: Invoke function occurrencesView
      description: Get work plan occurrences from your own work plan within a specified date range. This function requires the startDateTime and endDateTime parameters.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/workhoursandlocationssetting-occurrencesview?view=graph-rest-1.0
      operationId: user.setting.workHoursAndLocation_occurrencesView
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: startDateTime
        in: path
        description: 'Usage: startDateTime=''{startDateTime}'''
        required: true
        style: simple
        schema:
          type: string
      - name: endDateTime
        in: path
        description: 'Usage: endDateTime=''{endDateTime}'''
        required: true
        style: simple
        schema:
          type:
          - string
          - 'null'
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of workPlanOccurrence
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.workPlanOccurrence'
                  '@odata.nextLink':
                    type:
                    - string
                    - 'null'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /users/{user-id}/settings/workHoursAndLocations/occurrences:
    get:
      tags:
      - users.userSettings
      summary: Get occurrences from users
      description: Collection of work plan occurrences.
      operationId: user.setting.workHoursAndLocation_ListOccurrence
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.workPlanOccurrenceCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - users.userSettings
      summary: Create new navigation property to occurrences for users
      operationId: user.setting.workHoursAndLocation_CreateOccurrence
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.workPlanOccurrence'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.workPlanOccurrence'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/settings/workHoursAndLocations/occurrences/{workPlanOccurrence-id}:
    get:
      tags:
      - users.userSettings
      summary: Get occurrences from users
      description: Collection of work plan occurrences.
      operationId: user.setting.workHoursAndLocation_GetOccurrence
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: workPlanOccurrence-id
        in: path
        description: The unique identifier of workPlanOccurrence
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workPlanOccurrence
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.workPlanOccurrence'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
      - users.userSettings
      summary: Update the navigation property occurrences in users
      operationId: user.setting.workHoursAndLocation_SetOccurrence
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: workPlanOccurrence-id
        in: path
        description: The unique identifier of workPlanOccurrence
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workPlanOccurrence
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.workPlanOccurrence'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.workPlanOccurrence'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - users.userSettings
      summary: Delete navigation property occurrences for users
      operationId: user.setting.workHoursAndLocation_DeleteOccurrence
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: workPlanOccurrence-id
        in: path
        description: The unique identifier of workPlanOccurrence
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workPlanOccurrence
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/settings/workHoursAndLocations/occurrences/$count:
    get:
      tags:
      - users.userSettings
      summary: Get the number of the resource
      operationId: user.setting.workHoursAndLocation.occurrence_GetCount
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /users/{user-id}/settings/workHoursAndLocations/occurrences/microsoft.graph.setCurrentLocation:
    post:
      tags:
      - users.userSettings
      summary: Invoke action setCurrentLocation
      description: Update your work location for the current day or current active segment. This action allows you to quickly update your work location without modifying individual occurrences.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/workplanoccurrence-setcurrentlocation?view=graph-rest-1.0
      operationId: user.setting.workHoursAndLocation.occurrence_setCurrentLocation
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                updateScope:
                  $ref: '#/components/schemas/microsoft.graph.workLocationUpdateScope'
                workLocationType:
                  $ref: '#/components/schemas/microsoft.graph.workLocationType'
                placeId:
                  type:
                  - string
                  - 'null'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /users/{user-id}/settings/workHoursAndLocations/recurrences:
    get:
      tags:
      - users.userSettings
      summary: Get recurrences from users
      description: Collection of recurring work plans defined by the user.
      operationId: user.setting.workHoursAndLocation_ListRecurrence
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.workPlanRecurrenceCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - users.userSettings
      summary: Create new navigation property to recurrences for users
      operationId: user.setting.workHoursAndLocation_CreateRecurrence
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.workPlanRecurrence'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.workPlanRecurrence'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/settings/workHoursAndLocations/recurrences/{workPlanRecurrence-id}:
    get:
      tags:
      - users.userSettings
      summary: Get recurrences from users
      description: Collection of recurring work plans defined by the user.
      operationId: user.setting.workHoursAndLocation_GetRecurrence
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: workPlanRecurrence-id
        in: path
        description: The unique identifier of workPlanRecurrence
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workPlanRecurrence
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.workPlanRecurrence'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
      - users.userSettings
      summary: Update the navigation property recurrences in users
      operationId: user.setting.workHoursAndLocation_SetRecurrence
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: workPlanRecurrence-id
        in: path
        description: The unique identifier of workPlanRecurrence
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workPlanRecurrence
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.workPlanRecurrence'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.workPlanRecurrence'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - users.userSettings
      summary: Delete navigation property recurrences for users
      operationId: user.setting.workHoursAndLocation_DeleteRecurrence
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: workPlanRecurrence-id
        in: path
        description: The unique identifier of workPlanRecurrence
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: workPlanRecurrence
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/settings/workHoursAndLocations/recurrences/$count:
    get:
      tags:
      - users.userSettings
      summary: Get the number of the resource
      operationId: user.setting.workHoursAndLocation.recurrence_GetCount
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
components:
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
    microsoft.graph.workPlanOccurrenceCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.workPlanOccurrenceCollectionResponse'
    microsoft.graph.windowsSettingCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.windowsSettingCollectionResponse'
    microsoft.graph.serviceStorageQuotaBreakdownCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.serviceStorageQuotaBreakdownCollectionResponse'
    microsoft.graph.workPlanRecurrenceCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.workPlanRecurrenceCollectionResponse'
    microsoft.graph.windowsSettingInstanceCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.windowsSettingInstanceCollectionResponse'
    ODataCountResponse:
      description: The count of the resource
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ODataCountResponse'
  schemas:
    microsoft.graph.identity:
      title: identity
      type: object
      properties:
        displayName:
          type:
          - string
          - 'null'
          description: The display name of the identity.For drive items, the display name might not always be available or up to date. For example, if a user changes their display name the API might show the new value in a future response, but the items associated with the user don't show up as changed when using delta.
        id:
          type:
          - string
          - 'null'
          description: Unique identifier for the identity or actor. For example, in the access reviews decisions API, this property might record the id of the principal, that is, the group, user, or application that's subject to review.
      additionalProperties:
        type: object
    microsoft.graph.identitySet:
      title: identitySet
      type: object
      properties:
        application:
          $ref: '#/components/schemas/microsoft.graph.identity'
        device:
          $ref: '#/components/schemas/microsoft.graph.identity'
        user:
          $ref: '#/components/schemas/microsoft.graph.identity'
      additionalProperties:
        type: object
    microsoft.graph.windowsSettingType:
      title: windowsSettingType
      enum:
      - roaming
      - backup
      - unknownFutureValue
      type: string
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type:
          - string
          - 'null'
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    microsoft.graph.dayOfWeek:
      title: dayOfWeek
      enum:
      - sunday
      - monday
      - tuesday
      - wednesday
      - thursday
      - friday
      - saturday
      type: string
    microsoft.graph.workPlanOccurrenceCollectionResponse:
      title: Collection of workPlanOccurrence
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.workPlanOccurrence'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    ODataCountResponse:
      type: integer
      format: int32
    microsoft.graph.recurrencePattern:
      title: recurrencePattern
      type: object
      properties:
        dayOfMonth:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: The day of the month on which the event occurs. Required if type is absoluteMonthly or absoluteYearly.
          format: int32
        daysOfWeek:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.dayOfWeek'
          description: 'A collection of the days of the week on which the event occurs. The possible values are: sunday, monday, tuesday, wednesday, thursday, friday, saturday. If type is relativeMonthly or relativeYearly, and daysOfWeek specifies more than one day, the event falls on the first day that satisfies the pattern.  Required if type is weekly, relativeMonthly, or relativeYearly.'
        firstDayOfWeek:
          $ref: '#/components/schemas/microsoft.graph.dayOfWeek'
        index:
          $ref: '#/components/schemas/microsoft.graph.weekIndex'
        interval:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: The number of units between occurrences, where units can be in days, weeks, months, or years, depending on the type. Required.
          format: int32
        month:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: The month in which the event occurs.  This is a number from 1 to 12.
          format: int32
        type:
          $ref: '#/components/schemas/microsoft.graph.recurrencePatternType'
      additionalProperties:
        type: object
    microsoft.graph.recurrenceRangeType:
      title: recurrenceRangeType
      enum:
      - endDate
      - noEnd
      - numbered
      type: string
    microsoft.graph.recurrenceRange:
      title: recurrenceRange
      type: object
      properties:
        endDate:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$
          type:
          - string
          - 'null'
          description: The date to stop applying the recurrence pattern. Depending on the recurrence pattern of the event, the last occurrence of the meeting may not be this date. Required if type is endDate.
          format: date
        numberOfOccurrences:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: The number of times to repeat the event. Required and must be positive if type is numbered.
          format: int32
        recurrenceTimeZone:
          type:
          - string
          - 'null'
          description: Time zone for the startDate and endDate properties. Optional. If not specified, the time zone of the event is used.
        startDate:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$
          type:
          - string
          - 'null'
          description: The date to start applying the recurrence pattern. The first occurrence of the meeting may be this date or later, depending on the recurrence pattern of the event. Must be the same value as the start property of the recurring event. Required.
          format: date
        type:
          $ref: '#/components/schemas/microsoft.graph.recurrenceRangeType'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
    microsoft.graph.shiftAvailability:
      title: shiftAvailability
      type: object
      properties:
        recurrence:
          $ref: '#/components/schemas/microsoft.graph.patternedRecurrence'
        timeSlots:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.timeRange'
          description: The time slot(s) preferred by the user.
        timeZone:
          type:
          - string
          - 'null'
          description: Specifies the time zone for the indicated time.
      additionalProperties:
        type: object
    microsoft.graph.userStorage:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: userStorage
        type: object
        properties:
          quota:
            $ref: '#/components/schemas/microsoft.graph.unifiedStorageQuota'
        additionalProperties:
          type: object
    microsoft.graph.maxWorkLocationDetails:
      title: maxWorkLocationDetails
      enum:
      - unknown
      - none
      - approximate
      - specific
      - unknownFutureValue
      type: string
    microsoft.graph.patternedRecurrence:
      title: patternedRecurrence
      type: object
      properties:
        pattern:
          $ref: '#/components/schemas/microsoft.graph.recurrencePattern'
        range:
          $ref: '#/components/schemas/microsoft.graph.recurrenceRange'
      additionalProperties:
        type: object
    microsoft.graph.windowsSettingInstanceCollectionResponse:
      title: Collection of windowsSettingInstance
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.windowsSettingInstance'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.workPlanOccurrence:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: workPlanOccurrence
        type: object
        properties:
          end:
            $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
          placeId:
            type:
            - string
            - 'null'
            description: Identifier of a place from the Microsoft Graph Places Directory API. Only applicable when workLocationType is set to office.
          recurrenceId:
            type:
            - string
            - 'null'
            description: The identifier of the parent recurrence pattern that generated this occurrence. The value is null for time-off occurrences because they don't have a parent recurrence.
          start:
            $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
          timeOffDetails:
            $ref: '#/components/schemas/microsoft.graph.timeOffDetails'
          workLocationType:
            $ref: '#/components/schemas/microsoft.graph.workLocationType'
        additionalProperties:
          type: object
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.storageQuotaBreakdown:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: storageQuotaBreakdown
        type: object
        properties:
          displayName:
            type:
            - string
            - 'null'
          manageWebUrl:
            type:
            - string
            - 'null'
          used:
            type:
            - number
            - 'null'
            format: int64
        additionalProperties:
          type: object
    microsoft.graph.weekIndex:
      title: weekIndex
      enum:
      - first
      - second
      - third
      - fourth
      - last
      type: string
    microsoft.graph.workPlanRecurrenceCollectionResponse:
      title: Collection of workPlanRecurrence
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.workPlanRecurrence'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.workHoursAndLocationsSetting:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: workHoursAndLocationsSetting
        type: object
        properties:
          maxSharedWorkLocationDetails:
            $ref: '#/components/schemas/microsoft.graph.maxWorkLocationDetails'
          occurrences:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.workPlanOccurrence'
            description: Collection of work plan occurrences.
            x-ms-navigationProperty: true
          recurrences:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.workPlanRecurrence'
            description: Collection of recurring work plans defined by the user.
            x-ms-navigationProperty: true
        additionalProperties:
          type: object
    microsoft.graph.workPlanRecurrence:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: workPlanRecurrence
        type: object
        properties:
          end:
            $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
          placeId:
            type:
            - string
            - 'null'
            description: Identifier of a place from the Microsoft Graph Places Directory API. Only applicable when workLocationType is set to office.
          recurrence:
            $ref: '#/components/schemas/microsoft.graph.patternedRecurrence'
          start:
            $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
          workLocationType:
            $ref: '#/components/schemas/microsoft.graph.workLocationType'
        additionalProperties:
          type: object
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.dateTimeTimeZone:
      title: dateTimeTimeZone
      type: object
      properties:
        dateTime:
          type: string
          description: A single point of time in a combined date and time representation ({date}T{time}; for example, 2017-08-29T04:00:00.0000000).
        timeZone:
          type:
          - string
          - 'null'
          description: Represents a time zone, for example, 'Pacific Standard Time'. See below for more possible values.
      additionalProperties:
        type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.unifiedStorageQuota:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: unifiedStorageQuota
        type: object
        properties:
          deleted:
            type:
            - number
            - 'null'
            format: int64
          manageWebUrl:
            type:
            - string
            - 'null'
          remaining:
            type:
            - number
            - 'null'
            format: int64
          state:
            type:
            - string
            - 'null'
          total:
            type:
            - number
            - 'null'
            format: int64
          used:
            type:
            - number
            - 'null'
            format: int64
          services:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.serviceStorageQuotaBreakdown'
            x-ms-navigationProperty: true
        additionalProperties:
          type: object
    microsoft.graph.serviceStorageQuotaBreakdownCollectionResponse:
      title: Collection of serviceStorageQuotaBreakdown
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.serviceStorageQuotaBreakdown'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.userInsightsSettings:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: userInsightsSettings
        type: object
        properties:
          isEnabled:
            type: boolean
            description: True if the user's itemInsights and meeting hours insights are enabled; false if the user's itemInsights and meeting hours insights are disabled. The default value is true. Optional.
        additionalProperties:
          type: object
    microsoft.graph.workLocationType:
      title: workLocationType
      enum:
      - unspecified
      - office
      - remote
      - timeOff
      - unknownFutureValue
      type: string
    microsoft.graph.timeRange:
      title: timeRange
      type: object
      properties:
        endTime:
          pattern: ^([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?$
          type:
          - string
          - 'null'
          description: End time for the time range.
          format: time
        startTime:
          pattern: ^([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?$
          type:
          - string
          - 'null'
          description: Start time for the time range.
          format: time
      additionalProperties:
        type: object
    microsoft.graph.workLocationUpdateScope:
      title: workLocationUpdateScope
      enum:
      - currentSegment
      - currentDay
      - unknownFutureValue
      type: string
    microsoft.graph.windowsSetting:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: windowsSetting
        type: object
        properties:
          payloadType:
            type:
            - string
            - 'null'
            description: The type of setting payloads contained in the instances navigation property.
          settingType:
            $ref: '#/components/schemas/microsoft.graph.windowsSettingType'
          windowsDeviceId:
            type:
            - string
            - 'null'
            description: A unique identifier for the device the setting might belong to if it is of the settingType backup.
          instances:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.windowsSettingInstance'
            description: A collection of setting values for a given windowsSetting.
            x-ms-navigationProperty: true
        additionalProperties:
          type: object
    microsoft.graph.userSettings:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: userSettings
        type: object
        properties:
          contributionToContentDiscoveryAsOrganizationDisabled:
            type: boolean
            description: Reflects the organization level setting controlling delegate access to the trending API. When set to true, the organization doesn't have access to Office Delve. The relevancy of the content displayed in Microsoft 365, for example in Suggested sites in SharePoint Home and the Discover view in OneDrive for work or school is affected for the whole organization. This setting is read-only and can only be changed by administrators in the SharePoint admin center.
          contributionToContentDiscoveryDisabled:
            type: boolean
            description: When set to true, the delegate access to the user's trending API is disabled. When set to true, documents in the user's Office Delve are disabled. When set to true, the relevancy of the content displayed in Microsoft 365, for example in Suggested sites in SharePoint Home and the Discover view in OneDrive for work or school is affected. Users can control this setting in Office Delve.
          exchange:
            $ref: '#/components/schemas/microsoft.graph.exchangeSettings'
          itemInsights:
            $ref: '#/components/schemas/microsoft.graph.userInsightsSettings'
          shiftPreferences:
            $ref: '#/components/schemas/microsoft.graph.shiftPreferences'
          storage:
            $ref: '#/components/schemas/microsoft.graph.userStorage'
          windows:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.windowsSetting'
            description: The Windows settings of the user stored in the cloud.
            x-ms-navigationProperty: true
          workHoursAndLocations:
            $ref: '#/components/schemas/microsoft.graph.workHoursAndLocationsSetting'
        additionalProperties:
          type: object
    microsoft.graph.recurrencePatternType:
      title: recurrencePatternType
      enum:
      - daily
      - weekly
      - absoluteMonthly
      - relativeMonthly
      - absoluteYearly
      - relativeYearly
      type: string
    microsoft.graph.windowsSettingCollectionResponse:
      title: Collection of windowsSetting
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.windowsSetting'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.shiftPreferences:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.changeTrackedEntity'
      - title: shiftPreferences
        type: object
        properties:
          availability:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.shiftAvailability'
            description: Availability of the user to be scheduled for work and its recurrence pattern.
        additionalProperties:
          type: object
    microsoft.graph.timeOffDetails:
      title: timeOffDetails
      type: object
      properties:
        isAllDay:
          type: boolean
          description: Indicates whether the time-off entry spans the entire day.
        subject:
          type:
          - string
          - 'null'
          description: The subject or reason for the time-off entry.
      additionalProperties:
        type: object
    microsoft.graph.changeTrackedEntity:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: changeTrackedEntity
        type: object
        properties:
          createdBy:
            $ref: '#/components/schemas/microsoft.graph.identitySet'
          createdDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z
            format: date-time
            readOnly: true
          lastModifiedBy:
            $ref: '#/components/schemas/microsoft.graph.identitySet'
          lastModifiedDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: The Timestamp type represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 is 2014-01-01T00:00:00Z
            format: date-time
            readOnly: true
        additionalProperties:
          type: object
    microsoft.graph.exchangeSettings:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: exchangeSettings
        type: object
        properties:
          primaryMailboxId:
            type:
            - string
            - 'null'
            description: The unique identifier for the user's primary mailbox.
        additionalProperties:
          type: object
    microsoft.graph.serviceStorageQuotaBreakdown:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.storageQuotaBreakdown'
      - title: serviceStorageQuotaBreakdown
        type: object
        additionalProperties:
          type: object
    microsoft.graph.windowsSettingInstance:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: windowsSettingInstance
        type: object
        properties:
          createdDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            description: Set by the server. Represents the dateTime in UTC when the object was created on the server.
            format: date-time
          expirationDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type: string
            description: Set by the server. The object expires at the specified dateTime in UTC, making it unavailable after that time.
            format: date-time
          lastModifiedDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: Set by the server if not provided in the request from the Windows client device. Refers to the user's Windows device that modified the object at the specified dateTime in UTC.
            format: date-time
          payload:
            type: string
            description: Base64-encoded JSON setting value.
        additionalProperties:
          type: object
  parameters:
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
    top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: {}
