openapi: 3.2.0
info:
  title: Groups Group Setting Templates.group Setting Template API
  version: v1.0
servers:
- url: https://graph.microsoft.com/v1.0/
  description: Core
security:
- azureaadv2: []
tags:
- name: groupSettingTemplates.groupSettingTemplate
paths:
  /groupSettingTemplates:
    get:
      tags:
      - groupSettingTemplates.groupSettingTemplate
      summary: List groupSettingTemplates
      description: Group setting templates represents a set of templates from which group settings may be created and used within a tenant. This operation retrieves the list of available groupSettingTemplates objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/groupsettingtemplate-list?view=graph-rest-1.0
      operationId: groupSettingTemplate_ListGroupSettingTemplate
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.groupSettingTemplateCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - groupSettingTemplates.groupSettingTemplate
      summary: Add new entity to groupSettingTemplates
      operationId: groupSettingTemplate_CreateGroupSettingTemplate
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.groupSettingTemplate'
        required: true
      responses:
        2XX:
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.groupSettingTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /groupSettingTemplates/{groupSettingTemplate-id}:
    get:
      tags:
      - groupSettingTemplates.groupSettingTemplate
      summary: Get a group setting template
      description: A group setting template represents a template of settings from which settings may be created within a tenant. This operation allows retrieval of the properties of the groupSettingTemplate object, including the available settings and their defaults.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/groupsettingtemplate-get?view=graph-rest-1.0
      operationId: groupSettingTemplate_GetGroupSettingTemplate
      parameters:
      - name: groupSettingTemplate-id
        in: path
        description: The unique identifier of groupSettingTemplate
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: groupSettingTemplate
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.groupSettingTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - groupSettingTemplates.groupSettingTemplate
      summary: Update entity in groupSettingTemplates
      operationId: groupSettingTemplate_UpdateGroupSettingTemplate
      parameters:
      - name: groupSettingTemplate-id
        in: path
        description: The unique identifier of groupSettingTemplate
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: groupSettingTemplate
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.groupSettingTemplate'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.groupSettingTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - groupSettingTemplates.groupSettingTemplate
      summary: Delete entity from groupSettingTemplates
      operationId: groupSettingTemplate_DeleteGroupSettingTemplate
      parameters:
      - name: groupSettingTemplate-id
        in: path
        description: The unique identifier of groupSettingTemplate
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: groupSettingTemplate
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /groupSettingTemplates/$count:
    get:
      tags:
      - groupSettingTemplates.groupSettingTemplate
      summary: Get the number of the resource
      operationId: groupSettingTemplate_GetCount
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
components:
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
    microsoft.graph.groupSettingTemplateCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.groupSettingTemplateCollectionResponse'
    ODataCountResponse:
      description: The count of the resource
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ODataCountResponse'
  schemas:
    microsoft.graph.groupSettingTemplate:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.directoryObject'
      - title: groupSettingTemplate
        type: object
        properties:
          description:
            type:
            - string
            - 'null'
            description: Description of the template.
          displayName:
            type:
            - string
            - 'null'
            description: Display name of the template. The template named Group.Unified can be used to configure tenant-wide Microsoft 365 group settings, while the template named Group.Unified.Guest can be used to configure group-specific settings.
          values:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.settingTemplateValue'
            description: Collection of settingTemplateValues that list the set of available settings, defaults and types that make up this template.
        additionalProperties:
          type: object
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type:
          - string
          - 'null'
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    microsoft.graph.directoryObject:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: directoryObject
        type: object
        properties:
          deletedDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: Date and time when this object was deleted. Always null when the object hasn't been deleted.
            format: date-time
        additionalProperties:
          type: object
    ODataCountResponse:
      type: integer
      format: int32
    microsoft.graph.settingTemplateValue:
      title: settingTemplateValue
      type: object
      properties:
        defaultValue:
          type:
          - string
          - 'null'
          description: Default value for the setting.
        description:
          type:
          - string
          - 'null'
          description: Description of the setting.
        name:
          type:
          - string
          - 'null'
          description: Name of the setting.
        type:
          type:
          - string
          - 'null'
          description: Type of the setting.
      additionalProperties:
        type: object
    microsoft.graph.groupSettingTemplateCollectionResponse:
      title: Collection of groupSettingTemplate
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.groupSettingTemplate'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
  parameters:
    count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
    top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: {}
