openapi: 3.2.0
info:
  title: Identity.SignIns Identity.identity Verified ID Root API
  version: v1.0
servers:
- url: https://graph.microsoft.com/v1.0/
  description: Core
security:
- azureaadv2: []
tags:
- name: identity.identityVerifiedIdRoot
paths:
  /identity/verifiedId:
    get:
      tags:
      - identity.identityVerifiedIdRoot
      summary: Get verifiedId from identity
      description: Entry point for verified ID operations.
      operationId: identity_GetVerifiedId
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityVerifiedIdRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - identity.identityVerifiedIdRoot
      summary: Update the navigation property verifiedId in identity
      operationId: identity_UpdateVerifiedId
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityVerifiedIdRoot'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityVerifiedIdRoot'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - identity.identityVerifiedIdRoot
      summary: Delete navigation property verifiedId for identity
      operationId: identity_DeleteVerifiedId
      parameters:
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/verifiedId/profiles:
    get:
      tags:
      - identity.identityVerifiedIdRoot
      summary: List profiles
      description: Get a list of the verifiedIdProfile objects and their properties.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identityverifiedidroot-list-profiles?view=graph-rest-1.0
      operationId: identity.verifiedId_ListProfile
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.verifiedIdProfileCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - identity.identityVerifiedIdRoot
      summary: Create verifiedIdProfile
      description: Create a new verifiedIdProfile object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identityverifiedidroot-post-profiles?view=graph-rest-1.0
      operationId: identity.verifiedId_CreateProfile
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.verifiedIdProfile'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.verifiedIdProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/verifiedId/profiles/{verifiedIdProfile-id}:
    get:
      tags:
      - identity.identityVerifiedIdRoot
      summary: Get verifiedIdProfile
      description: Read the properties and relationships of verifiedIdProfile object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/verifiedidprofile-get?view=graph-rest-1.0
      operationId: identity.verifiedId_GetProfile
      parameters:
      - name: verifiedIdProfile-id
        in: path
        description: The unique identifier of verifiedIdProfile
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: verifiedIdProfile
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.verifiedIdProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - identity.identityVerifiedIdRoot
      summary: Update verifiedIdProfile
      description: Update the properties of a verifiedIdProfile object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/verifiedidprofile-update?view=graph-rest-1.0
      operationId: identity.verifiedId_UpdateProfile
      parameters:
      - name: verifiedIdProfile-id
        in: path
        description: The unique identifier of verifiedIdProfile
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: verifiedIdProfile
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.verifiedIdProfile'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.verifiedIdProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - identity.identityVerifiedIdRoot
      summary: Delete verifiedIdProfile
      description: Delete a verifiedIdProfile object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identityverifiedidroot-delete-profiles?view=graph-rest-1.0
      operationId: identity.verifiedId_DeleteProfile
      parameters:
      - name: verifiedIdProfile-id
        in: path
        description: The unique identifier of verifiedIdProfile
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: verifiedIdProfile
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/verifiedId/profiles/$count:
    get:
      tags:
      - identity.identityVerifiedIdRoot
      summary: Get the number of the resource
      operationId: identity.verifiedId.profile_GetCount
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
components:
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
    microsoft.graph.verifiedIdProfileCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.verifiedIdProfileCollectionResponse'
    ODataCountResponse:
      description: The count of the resource
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ODataCountResponse'
  schemas:
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type:
          - string
          - 'null'
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    microsoft.graph.claimValidation:
      title: claimValidation
      type: object
      properties:
        customExtensionId:
          type: string
          description: The identifier of a custom extension for claim validation.
        isEnabled:
          type: boolean
          description: Indicates whether claim validation is enabled.
      additionalProperties:
        type: object
    ODataCountResponse:
      type: integer
      format: int32
    microsoft.graph.verifiedIdProfile:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: verifiedIdProfile
        type: object
        properties:
          description:
            type: string
            description: Description for the verified ID profile. Required.
          faceCheckConfiguration:
            $ref: '#/components/schemas/microsoft.graph.faceCheckConfiguration'
          lastModifiedDateTime:
            pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
            type:
            - string
            - 'null'
            description: DateTime the profile was last modified. Optional.
            format: date-time
          name:
            type: string
            description: Display name for the verified ID profile. Required.
          priority:
            maximum: 2147483647
            minimum: -2147483648
            type:
            - number
            - 'null'
            description: Defines profile processing priority if multiple profiles are configured. Optional.
            format: int32
          state:
            $ref: '#/components/schemas/microsoft.graph.verifiedIdProfileState'
          verifiedIdProfileConfiguration:
            $ref: '#/components/schemas/microsoft.graph.verifiedIdProfileConfiguration'
          verifiedIdUsageConfigurations:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.verifiedIdUsageConfiguration'
            description: Collection defining the usage purpose for the profile. Required.
          verifierDid:
            type: string
            description: Decentralized Identifier (DID) string that represents the verifier in the verifiable credential exchange. Required.
        additionalProperties:
          type: object
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
    microsoft.graph.identityVerifiedIdRoot:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: identityVerifiedIdRoot
        type: object
        properties:
          profiles:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.verifiedIdProfile'
            description: Profile containing properties about a Verified ID provider and purpose
            x-ms-navigationProperty: true
        additionalProperties:
          type: object
    microsoft.graph.faceCheckConfiguration:
      title: faceCheckConfiguration
      type: object
      properties:
        isEnabled:
          type: boolean
          description: Defines if Face Check is required. Currently must always be true.
        sourcePhotoClaimName:
          type: string
          description: Source of photo to validate Face Check against. Currently must always be portrait.
      additionalProperties:
        type: object
    microsoft.graph.verifiedIdProfileCollectionResponse:
      title: Collection of verifiedIdProfile
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.verifiedIdProfile'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.verifiedIdProfileConfiguration:
      title: verifiedIdProfileConfiguration
      type: object
      properties:
        acceptedIssuer:
          type: string
          description: Trusted Verified ID issuer.
        claimBindings:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.claimBinding'
          description: Claim bindings from Verified ID to source attributes.
        claimBindingSource:
          $ref: '#/components/schemas/microsoft.graph.claimBindingSource'
        claimValidation:
          $ref: '#/components/schemas/microsoft.graph.claimValidation'
        type:
          type: string
          description: Verified ID type.
      additionalProperties:
        type: object
    microsoft.graph.verifiedIdUsageConfiguration:
      title: verifiedIdUsageConfiguration
      type: object
      properties:
        isEnabledForTestOnly:
          type: boolean
          description: Sets profile usage for evaluation (test-only) or production.
        purpose:
          $ref: '#/components/schemas/microsoft.graph.verifiedIdUsageConfigurationPurpose'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.claimBinding:
      title: claimBinding
      type: object
      properties:
        matchConfidenceLevel:
          $ref: '#/components/schemas/microsoft.graph.matchConfidenceLevel'
        sourceAttribute:
          type: string
          description: Source attribute name from the source system, for example a directory attribute.
        verifiedIdClaim:
          type: string
          description: Verified ID claim name or path, for example vc.credentialSubject.firstName.
      additionalProperties:
        type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.verifiedIdProfileState:
      title: verifiedIdProfileState
      enum:
      - enabled
      - disabled
      - unknownFutureValue
      type: string
    microsoft.graph.claimBindingSource:
      title: claimBindingSource
      enum:
      - directory
      - unknownFutureValue
      type: string
    microsoft.graph.matchConfidenceLevel:
      title: matchConfidenceLevel
      enum:
      - exact
      - relaxed
      - unknownFutureValue
      type: string
    microsoft.graph.verifiedIdUsageConfigurationPurpose:
      title: verifiedIdUsageConfigurationPurpose
      enum:
      - recovery
      - onboarding
      - all
      - unknownFutureValue
      type: string
  parameters:
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      style: form
      explode: false
      schema:
        type: string
    search:
      name: $search
      in: query
      description: Search items by search phrases
      style: form
      explode: false
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      style: form
      explode: false
      schema:
        type: boolean
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
    top:
      name: $top
      in: query
      description: Show only the first n items
      style: form
      explode: false
      schema:
        minimum: 0
        type: integer
      example: 50
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: {}
