openapi: 3.2.0
info:
  title: Identity.SignIns Identity.b2x Identity User Flow API
  version: v1.0
servers:
- url: https://graph.microsoft.com/v1.0/
  description: Core
security:
- azureaadv2: []
tags:
- name: identity.b2xIdentityUserFlow
paths:
  /identity/b2xUserFlows:
    get:
      tags:
      - identity.b2xIdentityUserFlow
      summary: List b2xIdentityUserFlows
      description: Retrieve a list of b2xIdentityUserFlow objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identitycontainer-list-b2xuserflows?view=graph-rest-1.0
      operationId: identity_ListB2xUserFlow
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.b2xIdentityUserFlowCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Create b2xIdentityUserFlow
      description: Create a new b2xIdentityUserFlow object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identitycontainer-post-b2xuserflows?view=graph-rest-1.0
      operationId: identity_CreateB2xUserFlow
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.b2xIdentityUserFlow'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.b2xIdentityUserFlow'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/b2xUserFlows/{b2xIdentityUserFlow-id}:
    get:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Get b2xIdentityUserFlow
      description: Retrieve the properties and relationships of a b2xIdentityUserFlow object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/b2xidentityuserflow-get?view=graph-rest-1.0
      operationId: identity_GetB2xUserFlow
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.b2xIdentityUserFlow'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Update the navigation property b2xUserFlows in identity
      operationId: identity_UpdateB2xUserFlow
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.b2xIdentityUserFlow'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.b2xIdentityUserFlow'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Delete b2xIdentityUserFlow
      description: Delete a b2xIdentityUserFlow object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/b2xidentityuserflow-delete?view=graph-rest-1.0
      operationId: identity_DeleteB2xUserFlow
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/b2xUserFlows/{b2xIdentityUserFlow-id}/apiConnectorConfiguration:
    get:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Get userFlowApiConnectorConfiguration
      description: Get the apiConnectorConfiguration property in a b2xIdentityUserFlow to detail the API connectors enabled for the user flow.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/b2xidentityuserflow-get-apiconnectorconfiguration?view=graph-rest-1.0
      operationId: identity.b2xUserFlow_GetApiConnectorConfiguration
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Entity result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userFlowApiConnectorConfiguration'
        default:
          $ref: '#/components/responses/error'
  /identity/b2xUserFlows/{b2xIdentityUserFlow-id}/apiConnectorConfiguration/postAttributeCollection:
    get:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Get postAttributeCollection from identity
      operationId: identity.b2xUserFlow_GetPostAttributeCollection
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Update the navigation property postAttributeCollection in identity
      operationId: identity.b2xUserFlow_UpdatePostAttributeCollection
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Delete navigation property postAttributeCollection for identity
      operationId: identity.b2xUserFlow_DeletePostAttributeCollection
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/b2xUserFlows/{b2xIdentityUserFlow-id}/apiConnectorConfiguration/postAttributeCollection/$ref:
    get:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Get ref of postAttributeCollection from identity
      operationId: identity.b2xUserFlow_GetPostGraphAPretributeCollectionGraphBPreRef
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      responses:
        2XX:
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Update the ref of navigation property postAttributeCollection in identity
      operationId: identity.b2xUserFlow_SetPostGraphAPretributeCollectionGraphBPreRef
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      requestBody:
        $ref: '#/components/requestBodies/refPutBody'
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Delete ref of navigation property postAttributeCollection for identity
      operationId: identity.b2xUserFlow_DeletePostGraphAPretributeCollectionGraphBPreRef
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /identity/b2xUserFlows/{b2xIdentityUserFlow-id}/apiConnectorConfiguration/postAttributeCollection/microsoft.graph.uploadClientCertificate
  : post:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Invoke action uploadClientCertificate
      description: Upload a PKCS 12 format key (.pfx) to an API connector's authentication configuration. The input is a base-64 encoded value of the PKCS 12 certificate contents. This method returns an apiConnector.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identityapiconnector-uploadclientcertificate?view=graph-rest-1.0
      operationId: identity.b2xUserFlow.apiConnectorConfiguration.postAttributeCollection_uploadClientCertificate
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                pkcs12Value:
                  type:
                  - string
                  - 'null'
                password:
                  type:
                  - string
                  - 'null'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /identity/b2xUserFlows/{b2xIdentityUserFlow-id}/apiConnectorConfiguration/postFederationSignup:
    get:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Get postFederationSignup from identity
      operationId: identity.b2xUserFlow_GetPostFederationSignup
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Update the navigation property postFederationSignup in identity
      operationId: identity.b2xUserFlow_UpdatePostFederationSignup
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Delete navigation property postFederationSignup for identity
      operationId: identity.b2xUserFlow_DeletePostFederationSignup
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/b2xUserFlows/{b2xIdentityUserFlow-id}/apiConnectorConfiguration/postFederationSignup/$ref:
    get:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Get ref of postFederationSignup from identity
      operationId: identity.b2xUserFlow_GetPostFederationSignupGraphBPreRef
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      responses:
        2XX:
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Update the ref of navigation property postFederationSignup in identity
      operationId: identity.b2xUserFlow_SetPostFederationSignupGraphBPreRef
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      requestBody:
        $ref: '#/components/requestBodies/refPutBody'
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Delete ref of navigation property postFederationSignup for identity
      operationId: identity.b2xUserFlow_DeletePostFederationSignupGraphBPreRef
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /identity/b2xUserFlows/{b2xIdentityUserFlow-id}/apiConnectorConfiguration/postFederationSignup/microsoft.graph.uploadClientCertificate
  : post:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Invoke action uploadClientCertificate
      description: Upload a PKCS 12 format key (.pfx) to an API connector's authentication configuration. The input is a base-64 encoded value of the PKCS 12 certificate contents. This method returns an apiConnector.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identityapiconnector-uploadclientcertificate?view=graph-rest-1.0
      operationId: identity.b2xUserFlow.apiConnectorConfiguration.postFederationSignup_uploadClientCertificate
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                pkcs12Value:
                  type:
                  - string
                  - 'null'
                password:
                  type:
                  - string
                  - 'null'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /identity/b2xUserFlows/{b2xIdentityUserFlow-id}/identityProviders:
    get:
      tags:
      - identity.b2xIdentityUserFlow
      summary: List identityProviders
      description: Get the identity providers in a b2xIdentityUserFlow object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/b2xidentityuserflow-list-identityproviders?view=graph-rest-1.0
      operationId: identity.b2xUserFlow_ListIdentityProvider
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.identityProviderCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2023-03-15'
        date: '2021-08-24'
        version: 2021-05/identityProvider
        description: The identityProvider API is deprecated and will stop returning data on March 2023. Please use the new identityProviderBase API.
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /identity/b2xUserFlows/{b2xIdentityUserFlow-id}/identityProviders/{identityProvider-id}:
    get:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Get identityProviders from identity
      description: The identity providers included in the user flow.
      operationId: identity.b2xUserFlow_GetIdentityProvider
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - name: identityProvider-id
        in: path
        description: The unique identifier of identityProvider
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: identityProvider
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityProvider'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2023-03-15'
        date: '2021-08-24'
        version: 2021-05/identityProvider
        description: The identityProvider API is deprecated and will stop returning data on March 2023. Please use the new identityProviderBase API.
      x-ms-docs-operation-type: operation
  /identity/b2xUserFlows/{b2xIdentityUserFlow-id}/identityProviders/$count:
    get:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Get the number of the resource
      operationId: identity.b2xUserFlow.identityProvider_GetCount
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
      deprecated: true
      x-ms-deprecation:
        removalDate: '2023-03-15'
        date: '2021-08-24'
        version: 2021-05/identityProvider
        description: The identityProvider API is deprecated and will stop returning data on March 2023. Please use the new identityProviderBase API.
  /identity/b2xUserFlows/{b2xIdentityUserFlow-id}/languages:
    get:
      tags:
      - identity.b2xIdentityUserFlow
      summary: List languages
      description: Retrieve a list of languages supported for customization in a B2X user flow.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/b2xidentityuserflow-list-languages?view=graph-rest-1.0
      operationId: identity.b2xUserFlow_ListLanguage
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.userFlowLanguageConfigurationCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Create new navigation property to languages for identity
      operationId: identity.b2xUserFlow_CreateLanguage
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userFlowLanguageConfiguration'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userFlowLanguageConfiguration'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/b2xUserFlows/{b2xIdentityUserFlow-id}/languages/{userFlowLanguageConfiguration-id}:
    get:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Get userFlowLanguageConfiguration
      description: 'Read the properties and relationships of a userFlowLanguageConfiguration object. These objects represent a language available in a user flow. Note: Language customization is enabled by default in Microsoft Entra user flows.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/userflowlanguageconfiguration-get?view=graph-rest-1.0
      operationId: identity.b2xUserFlow_GetLanguage
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - name: userFlowLanguageConfiguration-id
        in: path
        description: The unique identifier of userFlowLanguageConfiguration
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userFlowLanguageConfiguration
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userFlowLanguageConfiguration'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Update the navigation property languages in identity
      operationId: identity.b2xUserFlow_UpdateLanguage
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - name: userFlowLanguageConfiguration-id
        in: path
        description: The unique identifier of userFlowLanguageConfiguration
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userFlowLanguageConfiguration
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userFlowLanguageConfiguration'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userFlowLanguageConfiguration'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Delete navigation property languages for identity
      operationId: identity.b2xUserFlow_DeleteLanguage
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - name: userFlowLanguageConfiguration-id
        in: path
        description: The unique identifier of userFlowLanguageConfiguration
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userFlowLanguageConfiguration
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/b2xUserFlows/{b2xIdentityUserFlow-id}/languages/{userFlowLanguageConfiguration-id}/defaultPages:
    get:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Get userFlowLanguagePage
      description: Read the values in a userFlowLanguagePage object for a language in a user flow. These values are shown to a user during a user journey defined by a user flow.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/userflowlanguagepage-get?view=graph-rest-1.0
      operationId: identity.b2xUserFlow.language_ListDefaultPage
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - name: userFlowLanguageConfiguration-id
        in: path
        description: The unique identifier of userFlowLanguageConfiguration
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userFlowLanguageConfiguration
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.userFlowLanguagePageCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Create new navigation property to defaultPages for identity
      operationId: identity.b2xUserFlow.language_CreateDefaultPage
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - name: userFlowLanguageConfiguration-id
        in: path
        description: The unique identifier of userFlowLanguageConfiguration
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userFlowLanguageConfiguration
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userFlowLanguagePage'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userFlowLanguagePage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /identity/b2xUserFlows/{b2xIdentityUserFlow-id}/languages/{userFlowLanguageConfiguration-id}/defaultPages/{userFlowLanguagePage-id}
  : get:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Get defaultPages from identity
      description: Collection of pages with the default content to display in a user flow for a specified language. This collection doesn't allow any kind of modification.
      operationId: identity.b2xUserFlow.language_GetDefaultPage
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - name: userFlowLanguageConfiguration-id
        in: path
        description: The unique identifier of userFlowLanguageConfiguration
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userFlowLanguageConfiguration
      - name: userFlowLanguagePage-id
        in: path
        description: The unique identifier of userFlowLanguagePage
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userFlowLanguagePage
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userFlowLanguagePage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Update the navigation property defaultPages in identity
      operationId: identity.b2xUserFlow.language_UpdateDefaultPage
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - name: userFlowLanguageConfiguration-id
        in: path
        description: The unique identifier of userFlowLanguageConfiguration
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userFlowLanguageConfiguration
      - name: userFlowLanguagePage-id
        in: path
        description: The unique identifier of userFlowLanguagePage
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userFlowLanguagePage
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userFlowLanguagePage'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userFlowLanguagePage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Delete navigation property defaultPages for identity
      operationId: identity.b2xUserFlow.language_DeleteDefaultPage
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - name: userFlowLanguageConfiguration-id
        in: path
        description: The unique identifier of userFlowLanguageConfiguration
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userFlowLanguageConfiguration
      - name: userFlowLanguagePage-id
        in: path
        description: The unique identifier of userFlowLanguagePage
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userFlowLanguagePage
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /identity/b2xUserFlows/{b2xIdentityUserFlow-id}/languages/{userFlowLanguageConfiguration-id}/defaultPages/{userFlowLanguagePage-id}/$value
  : get:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Get userFlowLanguagePage
      description: Read the values in a userFlowLanguagePage object for a language in a user flow. These values are shown to a user during a user journey defined by a user flow.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/userflowlanguagepage-get?view=graph-rest-1.0
      operationId: identity.b2xUserFlow.language_GetDefaultPagesContent
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - name: userFlowLanguageConfiguration-id
        in: path
        description: The unique identifier of userFlowLanguageConfiguration
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userFlowLanguageConfiguration
      - name: userFlowLanguagePage-id
        in: path
        description: The unique identifier of userFlowLanguagePage
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userFlowLanguagePage
      responses:
        2XX:
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
    put:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Update media content for the navigation property defaultPages in identity
      description: The unique identifier for an entity. Read-only.
      operationId: identity.b2xUserFlow.language_SetDefaultPagesContent
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - name: userFlowLanguageConfiguration-id
        in: path
        description: The unique identifier of userFlowLanguageConfiguration
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userFlowLanguageConfiguration
      - name: userFlowLanguagePage-id
        in: path
        description: The unique identifier of userFlowLanguagePage
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userFlowLanguagePage
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Delete media content for the navigation property defaultPages in identity
      description: The unique identifier for an entity. Read-only.
      operationId: identity.b2xUserFlow.language_DeleteDefaultPagesContent
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - name: userFlowLanguageConfiguration-id
        in: path
        description: The unique identifier of userFlowLanguageConfiguration
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userFlowLanguageConfiguration
      - name: userFlowLanguagePage-id
        in: path
        description: The unique identifier of userFlowLanguagePage
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userFlowLanguagePage
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
  /identity/b2xUserFlows/{b2xIdentityUserFlow-id}/languages/{userFlowLanguageConfiguration-id}/defaultPages/$count:
    get:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Get the number of the resource
      operationId: identity.b2xUserFlow.language.defaultPage_GetCount
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - name: userFlowLanguageConfiguration-id
        in: path
        description: The unique identifier of userFlowLanguageConfiguration
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userFlowLanguageConfiguration
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /identity/b2xUserFlows/{b2xIdentityUserFlow-id}/languages/{userFlowLanguageConfiguration-id}/overridesPages:
    get:
      tags:
      - identity.b2xIdentityUserFlow
      summary: List overridesPages
      description: Get the userFlowLanguagePage resources from the overridesPages navigation property. These pages are used to customize the values shown to the user during a user journey in a user flow.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/userflowlanguageconfiguration-list-overridespages?view=graph-rest-1.0
      operationId: identity.b2xUserFlow.language_ListOverridesPage
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - name: userFlowLanguageConfiguration-id
        in: path
        description: The unique identifier of userFlowLanguageConfiguration
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userFlowLanguageConfiguration
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.userFlowLanguagePageCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Create new navigation property to overridesPages for identity
      operationId: identity.b2xUserFlow.language_CreateOverridesPage
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - name: userFlowLanguageConfiguration-id
        in: path
        description: The unique identifier of userFlowLanguageConfiguration
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userFlowLanguageConfiguration
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userFlowLanguagePage'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userFlowLanguagePage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /identity/b2xUserFlows/{b2xIdentityUserFlow-id}/languages/{userFlowLanguageConfiguration-id}/overridesPages/{userFlowLanguagePage-id}
  : get:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Get overridesPages from identity
      description: Collection of pages with the overrides messages to display in a user flow for a specified language. This collection only allows you to modify the content of the page, any other modification isn't allowed (creation or deletion of pages).
      operationId: identity.b2xUserFlow.language_GetOverridesPage
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - name: userFlowLanguageConfiguration-id
        in: path
        description: The unique identifier of userFlowLanguageConfiguration
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userFlowLanguageConfiguration
      - name: userFlowLanguagePage-id
        in: path
        description: The unique identifier of userFlowLanguagePage
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userFlowLanguagePage
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userFlowLanguagePage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Update userFlowLanguagePage
      description: Update the values in an userFlowLanguagePage object. You may only update the values in an overridesPage, which is used to customize the values shown to a user during a user journey defined by a user flow.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/userflowlanguagepage-put?view=graph-rest-1.0
      operationId: identity.b2xUserFlow.language_UpdateOverridesPage
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - name: userFlowLanguageConfiguration-id
        in: path
        description: The unique identifier of userFlowLanguageConfiguration
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userFlowLanguageConfiguration
      - name: userFlowLanguagePage-id
        in: path
        description: The unique identifier of userFlowLanguagePage
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userFlowLanguagePage
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userFlowLanguagePage'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userFlowLanguagePage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Delete userFlowLanguagePage
      description: Deletes the values in an userFlowLanguagePage object. You may only delete the values in an overridesPage, which is used to customize the values shown to a user during a user journey defined by a user flow.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/userflowlanguagepage-delete?view=graph-rest-1.0
      operationId: identity.b2xUserFlow.language_DeleteOverridesPage
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - name: userFlowLanguageConfiguration-id
        in: path
        description: The unique identifier of userFlowLanguageConfiguration
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userFlowLanguageConfiguration
      - name: userFlowLanguagePage-id
        in: path
        description: The unique identifier of userFlowLanguagePage
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userFlowLanguagePage
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /identity/b2xUserFlows/{b2xIdentityUserFlow-id}/languages/{userFlowLanguageConfiguration-id}/overridesPages/{userFlowLanguagePage-id}/$value
  : get:
      tags:
      - identity.b2xIdentityUserFlow
      summary: List overridesPages
      description: Get the userFlowLanguagePage resources from the overridesPages navigation property. These pages are used to customize the values shown to the user during a user journey in a user flow.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/userflowlanguageconfiguration-list-overridespages?view=graph-rest-1.0
      operationId: identity.b2xUserFlow.language_GetOverridesPagesContent
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - name: userFlowLanguageConfiguration-id
        in: path
        description: The unique identifier of userFlowLanguageConfiguration
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userFlowLanguageConfiguration
      - name: userFlowLanguagePage-id
        in: path
        description: The unique identifier of userFlowLanguagePage
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userFlowLanguagePage
      responses:
        2XX:
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
    put:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Update userFlowLanguagePage
      description: Update the values in an userFlowLanguagePage object. You may only update the values in an overridesPage, which is used to customize the values shown to a user during a user journey defined by a user flow.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/userflowlanguagepage-put?view=graph-rest-1.0
      operationId: identity.b2xUserFlow.language_SetOverridesPagesContent
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - name: userFlowLanguageConfiguration-id
        in: path
        description: The unique identifier of userFlowLanguageConfiguration
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userFlowLanguageConfiguration
      - name: userFlowLanguagePage-id
        in: path
        description: The unique identifier of userFlowLanguagePage
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userFlowLanguagePage
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Delete userFlowLanguagePage
      description: Deletes the values in an userFlowLanguagePage object. You may only delete the values in an overridesPage, which is used to customize the values shown to a user during a user journey defined by a user flow.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/userflowlanguagepage-delete?view=graph-rest-1.0
      operationId: identity.b2xUserFlow.language_DeleteOverridesPagesContent
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - name: userFlowLanguageConfiguration-id
        in: path
        description: The unique identifier of userFlowLanguageConfiguration
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userFlowLanguageConfiguration
      - name: userFlowLanguagePage-id
        in: path
        description: The unique identifier of userFlowLanguagePage
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userFlowLanguagePage
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
  /identity/b2xUserFlows/{b2xIdentityUserFlow-id}/languages/{userFlowLanguageConfiguration-id}/overridesPages/$count:
    get:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Get the number of the resource
      operationId: identity.b2xUserFlow.language.overridesPage_GetCount
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - name: userFlowLanguageConfiguration-id
        in: path
        description: The unique identifier of userFlowLanguageConfiguration
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: userFlowLanguageConfiguration
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /identity/b2xUserFlows/{b2xIdentityUserFlow-id}/languages/$count:
    get:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Get the number of the resource
      operationId: identity.b2xUserFlow.language_GetCount
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /identity/b2xUserFlows/{b2xIdentityUserFlow-id}/userAttributeAssignments:
    get:
      tags:
      - identity.b2xIdentityUserFlow
      summary: List userAttributeAssignments
      description: Get the identityUserFlowAttributeAssignment resources from the userAttributeAssignments navigation property in a b2xIdentityUserFlow.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/b2xidentityuserflow-list-userattributeassignments?view=graph-rest-1.0
      operationId: identity.b2xUserFlow_ListUserAttributeAssignment
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.identityUserFlowAttributeAssignmentCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Create userAttributeAssignments
      description: Create a new identityUserFlowAttributeAssignment object in a b2xIdentityUserFlow.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/b2xidentityuserflow-post-userattributeassignments?view=graph-rest-1.0
      operationId: identity.b2xUserFlow_CreateUserAttributeAssignment
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityUserFlowAttributeAssignment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityUserFlowAttributeAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/b2xUserFlows/{b2xIdentityUserFlow-id}/userAttributeAssignments/{identityUserFlowAttributeAssignment-id}:
    get:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Get identityUserFlowAttributeAssignment
      description: Read the properties and relationships of an identityUserFlowAttributeAssignment object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identityuserflowattributeassignment-get?view=graph-rest-1.0
      operationId: identity.b2xUserFlow_GetUserAttributeAssignment
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - name: identityUserFlowAttributeAssignment-id
        in: path
        description: The unique identifier of identityUserFlowAttributeAssignment
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: identityUserFlowAttributeAssignment
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityUserFlowAttributeAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Update identityUserFlowAttributeAssignment
      description: Update the properties of a identityUserFlowAttributeAssignment object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identityuserflowattributeassignment-update?view=graph-rest-1.0
      operationId: identity.b2xUserFlow_UpdateUserAttributeAssignment
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - name: identityUserFlowAttributeAssignment-id
        in: path
        description: The unique identifier of identityUserFlowAttributeAssignment
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: identityUserFlowAttributeAssignment
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityUserFlowAttributeAssignment'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityUserFlowAttributeAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Delete userAttributeAssignment
      description: Delete an identityUserFlowAttributeAssignment object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identityuserflowattributeassignment-delete?view=graph-rest-1.0
      operationId: identity.b2xUserFlow_DeleteUserAttributeAssignment
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - name: identityUserFlowAttributeAssignment-id
        in: path
        description: The unique identifier of identityUserFlowAttributeAssignment
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: identityUserFlowAttributeAssignment
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  ? /identity/b2xUserFlows/{b2xIdentityUserFlow-id}/userAttributeAssignments/{identityUserFlowAttributeAssignment-id}/userAttribute
  : get:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Get userAttribute from identity
      description: The user attribute that you want to add to your user flow.
      operationId: identity.b2xUserFlow.userAttributeAssignment_GetUserAttribute
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - name: identityUserFlowAttributeAssignment-id
        in: path
        description: The unique identifier of identityUserFlowAttributeAssignment
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: identityUserFlowAttributeAssignment
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityUserFlowAttribute'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/b2xUserFlows/{b2xIdentityUserFlow-id}/userAttributeAssignments/$count:
    get:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Get the number of the resource
      operationId: identity.b2xUserFlow.userAttributeAssignment_GetCount
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /identity/b2xUserFlows/{b2xIdentityUserFlow-id}/userAttributeAssignments/microsoft.graph.getOrder():
    get:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Invoke function getOrder
      description: Get the order of identityUserFlowAttributeAssignments being collected within a user flow.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identityuserflowattributeassignment-getorder?view=graph-rest-1.0
      operationId: identity.b2xUserFlow.userAttributeAssignment_getOrder
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.assignmentOrder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /identity/b2xUserFlows/{b2xIdentityUserFlow-id}/userAttributeAssignments/microsoft.graph.setOrder:
    post:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Invoke action setOrder
      description: Set the order of identityUserFlowAttributeAssignments being collected within a user flow.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/identityuserflowattributeassignment-setorder?view=graph-rest-1.0
      operationId: identity.b2xUserFlow.userAttributeAssignment_setOrder
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                newAssignmentOrder:
                  $ref: '#/components/schemas/microsoft.graph.assignmentOrder'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /identity/b2xUserFlows/{b2xIdentityUserFlow-id}/userFlowIdentityProviders:
    get:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Get userFlowIdentityProviders from identity
      operationId: identity.b2xUserFlow_ListUserFlowIdentityProvider
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.identityProviderBaseCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /identity/b2xUserFlows/{b2xIdentityUserFlow-id}/userFlowIdentityProviders/{identityProviderBase-id}/$ref:
    delete:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Delete ref of navigation property userFlowIdentityProviders for identity
      operationId: identity.b2xUserFlow.userFlowIdentityProvider_DeleteIdentityProviderBaseGraphBPreRef
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - name: identityProviderBase-id
        in: path
        description: The unique identifier of identityProviderBase
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: identityProviderBase
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/b2xUserFlows/{b2xIdentityUserFlow-id}/userFlowIdentityProviders/$count:
    get:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Get the number of the resource
      operationId: identity.b2xUserFlow.userFlowIdentityProvider_GetCount
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /identity/b2xUserFlows/{b2xIdentityUserFlow-id}/userFlowIdentityProviders/$ref:
    get:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Get ref of userFlowIdentityProviders from identity
      operationId: identity.b2xUserFlow_ListUserFlowIdentityProviderGraphBPreRef
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/StringCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Create new navigation property ref to userFlowIdentityProviders for identity
      operationId: identity.b2xUserFlow_CreateUserFlowIdentityProviderGraphBPreRef
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      requestBody:
        $ref: '#/components/requestBodies/refPostBody'
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Delete ref of navigation property userFlowIdentityProviders for identity
      operationId: identity.b2xUserFlow_DeleteUserFlowIdentityProviderGraphBPreRef
      parameters:
      - name: b2xIdentityUserFlow-id
        in: path
        description: The unique identifier of b2xIdentityUserFlow
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: b2xIdentityUserFlow
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      - name: '@id'
        in: query
        description: The delete Uri
        required: true
        style: form
        explode: false
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/b2xUserFlows/$count:
    get:
      tags:
      - identity.b2xIdentityUserFlow
      summary: Get the number of the resource
      operationId: identity.b2xUserFlow_GetCount
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
components:
  responses:
    microsoft.graph.userFlowLanguagePageCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.userFlowLanguagePageCollectionResponse'
    microsoft.graph.userFlowLanguageConfigurationCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.userFlowLanguageConfigurationCollectionResponse'
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
    microsoft.graph.b2xIdentityUserFlowCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.b2xIdentityUserFlowCollectionResponse'
    ODataCountResponse:
      description: The count of the resource
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ODataCountResponse'
    microsoft.graph.identityUserFlowAttributeAssignmentCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.identityUserFlowAttributeAssignmentCollectionResponse'
    microsoft.graph.identityProviderBaseCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.identityProviderBaseCollectionResponse'
    microsoft.graph.identityProviderCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.identityProviderCollectionResponse'
    StringCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StringCollectionResponse'
  schemas:
    microsoft.graph.b2xIdentityUserFlow:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.identityUserFlow'
      - title: b2xIdentityUserFlow
        type: object
        properties:
          apiConnectorConfiguration:
            $ref: '#/components/schemas/microsoft.graph.userFlowApiConnectorConfiguration'
          identityProviders:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.identityProvider'
            description: The identity providers included in the user flow.
            x-ms-navigationProperty: true
          languages:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.userFlowLanguageConfiguration'
            description: The languages supported for customization within the user flow. Language customization is enabled by default in self-service sign-up user flow. You can't create custom languages in self-service sign-up user flows.
            x-ms-navigationProperty: true
          userAttributeAssignments:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.identityUserFlowAttributeAssignment'
            description: The user attribute assignments included in the user flow.
            x-ms-navigationProperty: true
          userFlowIdentityProviders:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.identityProviderBase'
            x-ms-navigationProperty: true
        additionalProperties:
          type: object
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type:
          - string
          - 'null'
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    ODataCountResponse:
      type: integer
      format: int32
    microsoft.graph.userFlowLanguagePage:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: userFlowLanguagePage
        type: object
        additionalProperties:
          type: object
    microsoft.graph.identityProviderCollectionResponse:
      title: Collection of identityProvider
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.identityProvider'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.assignmentOrder:
      title: assignmentOrder
      type: object
      properties:
        order:
          type: array
          items:
            type:
            - string
            - 'null'
          description: A list of identityUserFlowAttribute object identifiers that determine the order in which attributes should be collected within a user flow.
      additionalProperties:
        type: object
    StringCollectionResponse:
      title: Collection of string
      type: object
      properties:
        value:
          type: array
          items:
            type: string
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
    microsoft.graph.identityProviderBase:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: identityProviderBase
        type: object
        properties:
          displayName:
            type:
            - string
            - 'null'
            description: The display name of the identity provider.
        additionalProperties:
          type: object
    microsoft.graph.identityProvider:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: identityProvider
        type: object
        properties:
          clientId:
            type:
            - string
            - 'null'
            description: The client ID for the application. This is the client ID obtained when registering the application with the identity provider. Required. Not nullable.
          clientSecret:
            type:
            - string
            - 'null'
            description: The client secret for the application. This is the client secret obtained when registering the application with the identity provider. This is write-only. A read operation will return .  Required. Not nullable.
          name:
            type:
            - string
            - 'null'
            description: The display name of the identity provider. Not nullable.
          type:
            type:
            - string
            - 'null'
            description: 'The identity provider type is a required field. For B2B scenario: Google, Facebook. For B2C scenario: Microsoft, Google, Amazon, LinkedIn, Facebook, GitHub, Twitter, Weibo, QQ, WeChat, OpenIDConnect. Not nullable.'
        additionalProperties:
          type: object
    microsoft.graph.b2xIdentityUserFlowCollectionResponse:
      title: Collection of b2xIdentityUserFlow
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.b2xIdentityUserFlow'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.identityUserFlowAttributeInputType:
      title: identityUserFlowAttributeInputType
      enum:
      - textBox
      - dateTimeDropdown
      - radioSingleSelect
      - dropdownSingleSelect
      - emailBox
      - checkboxMultiSelect
      type: string
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.identityUserFlow:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: identityUserFlow
        type: object
        properties:
          userFlowType:
            $ref: '#/components/schemas/microsoft.graph.userFlowType'
          userFlowTypeVersion:
            type:
            - number
            - 'null'
            format: float
        additionalProperties:
          type: object
    microsoft.graph.identityUserFlowAttributeDataType:
      title: identityUserFlowAttributeDataType
      enum:
      - string
      - boolean
      - int64
      - stringCollection
      - dateTime
      - unknownFutureValue
      type: string
    microsoft.graph.userFlowType:
      title: userFlowType
      enum:
      - signUp
      - signIn
      - signUpOrSignIn
      - passwordReset
      - profileUpdate
      - resourceOwner
      - unknownFutureValue
      type: string
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.userFlowApiConnectorConfiguration:
      title: userFlowApiConnectorConfiguration
      type: object
      properties:
        postAttributeCollection:
          $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
        postFederationSignup:
          $ref: '#/components/schemas/microsoft.graph.identityApiConnector'
      additionalProperties:
        type: object
    microsoft.graph.identityApiConnector:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: identityApiConnector
        type: object
        properties:
          authenticationConfiguration:
            $ref: '#/components/schemas/microsoft.graph.apiAuthenticationConfigurationBase'
          displayName:
            type:
            - string
            - 'null'
            description: The name of the API connector.
          targetUrl:
            type:
            - string
            - 'null'
            description: The URL of the API endpoint to call.
        additionalProperties:
          type: object
    microsoft.graph.identityUserFlowAttributeAssignmentCollectionResponse:
      title: Collection of identityUserFlowAttributeAssignment
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.identityUserFlowAttributeAssignment'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
      additionalProperties:
        type: object
    ReferenceUpdate:
      type: object
      properties:
        '@odata.id':
          type: string
        '@odata.type':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.identityUserFlowAttribute:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: identityUserFlowAttribute
        type: object
        properties:
          dataType:
            $ref: '#/components/schemas/microsoft.graph.identityUserFlowAttributeDataType'
          description:
            type:
            - string
            - 'null'
            description: The description of the user flow attribute that's shown to the user at the time of sign up.
          displayName:
            type:
            - string
            - 'null'
            description: The display name of the user flow attribute.  Supports $filter (eq, ne).
          userFlowAttributeType:
            $ref: '#/components/schemas/microsoft.graph.identityUserFlowAttributeType'
        additionalProperties:
          type: object
    microsoft.graph.identityProviderBaseCollectionResponse:
      title: Collection of identityProviderBase
[...]
