openapi: 3.2.0
info:
  title: Groups.on Premises Sync Behavior API
  version: v1.0
servers:
- url: https://graph.microsoft.com/v1.0/
  description: Core
security:
- azureaadv2: []
tags:
- name: groups.onPremisesSyncBehavior
paths:
  /groups/{group-id}/onPremisesSyncBehavior:
    get:
      tags:
      - groups.onPremisesSyncBehavior
      summary: Get onPremisesSyncBehavior from groups
      operationId: group_GetOnPremisesSyncBehavior
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onPremisesSyncBehavior'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - groups.onPremisesSyncBehavior
      summary: Update the navigation property onPremisesSyncBehavior in groups
      operationId: group_UpdateOnPremisesSyncBehavior
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onPremisesSyncBehavior'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onPremisesSyncBehavior'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - groups.onPremisesSyncBehavior
      summary: Delete navigation property onPremisesSyncBehavior for groups
      operationId: group_DeleteOnPremisesSyncBehavior
      parameters:
      - name: group-id
        in: path
        description: The unique identifier of group
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: group
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
  schemas:
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type:
          - string
          - 'null'
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    microsoft.graph.onPremisesSyncBehavior:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: onPremisesSyncBehavior
        type: object
        properties:
          isCloudManaged:
            type: boolean
        additionalProperties:
          type: object
    microsoft.graph.ODataErrors.ODataError:
      required:
      - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.MainError'
      additionalProperties:
        type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for an entity. Read-only.
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
    microsoft.graph.ODataErrors.ErrorDetails:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: {}
