openapi: 3.2.0
info:
  title: Users.todo API
  version: v1.0
servers:
- url: https://graph.microsoft.com/v1.0/
  description: Core
security:
- azureaadv2: []
tags:
- name: Users todo
paths:
  /users/{user-id}/todo:
    get:
      tags:
      - Users todo
      summary: Get todo from users
      description: Represents the To Do services available to a user.
      operationId: user_GetTodo
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.todo'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - Users todo
      summary: Update the navigation property todo in users
      operationId: user_UpdateTodo
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.todo'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.todo'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Users todo
      summary: Delete navigation property todo for users
      operationId: user_DeleteTodo
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/todo/lists:
    get:
      tags:
      - Users todo
      summary: Get lists from users
      description: The task lists in the users mailbox.
      operationId: user.todo_ListList
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.todoTaskListCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - Users todo
      summary: Create new navigation property to lists for users
      operationId: user.todo_CreateList
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.todoTaskList'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.todoTaskList'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/todo/lists/{todoTaskList-id}:
    get:
      tags:
      - Users todo
      summary: Get lists from users
      description: The task lists in the users mailbox.
      operationId: user.todo_GetList
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.todoTaskList'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - Users todo
      summary: Update the navigation property lists in users
      operationId: user.todo_UpdateList
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.todoTaskList'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.todoTaskList'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Users todo
      summary: Delete navigation property lists for users
      operationId: user.todo_DeleteList
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/todo/lists/{todoTaskList-id}/extensions:
    get:
      tags:
      - Users todo
      summary: Get extensions from users
      description: The collection of open extensions defined for the task list. Nullable.
      operationId: user.todo.list_ListExtension
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.extensionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - Users todo
      summary: Create new navigation property to extensions for users
      operationId: user.todo.list_CreateExtension
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/todo/lists/{todoTaskList-id}/extensions/{extension-id}:
    get:
      tags:
      - Users todo
      summary: Get extensions from users
      description: The collection of open extensions defined for the task list. Nullable.
      operationId: user.todo.list_GetExtension
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: extension-id
        in: path
        description: The unique identifier of extension
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: extension
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - Users todo
      summary: Update the navigation property extensions in users
      operationId: user.todo.list_UpdateExtension
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: extension-id
        in: path
        description: The unique identifier of extension
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: extension
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Users todo
      summary: Delete navigation property extensions for users
      operationId: user.todo.list_DeleteExtension
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: extension-id
        in: path
        description: The unique identifier of extension
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: extension
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/todo/lists/{todoTaskList-id}/extensions/$count:
    get:
      tags:
      - Users todo
      summary: Get the number of the resource
      operationId: user.todo.list.extension_GetCount
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /users/{user-id}/todo/lists/{todoTaskList-id}/tasks:
    get:
      tags:
      - Users todo
      summary: Get tasks from users
      description: The tasks in this task list. Read-only. Nullable.
      operationId: user.todo.list_ListTask
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.todoTaskCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - Users todo
      summary: Create new navigation property to tasks for users
      operationId: user.todo.list_CreateTask
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.todoTask'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.todoTask'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}:
    get:
      tags:
      - Users todo
      summary: Get tasks from users
      description: The tasks in this task list. Read-only. Nullable.
      operationId: user.todo.list_GetTask
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: todoTask-id
        in: path
        description: The unique identifier of todoTask
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTask
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.todoTask'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - Users todo
      summary: Update the navigation property tasks in users
      operationId: user.todo.list_UpdateTask
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: todoTask-id
        in: path
        description: The unique identifier of todoTask
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTask
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.todoTask'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.todoTask'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Users todo
      summary: Delete navigation property tasks for users
      operationId: user.todo.list_DeleteTask
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: todoTask-id
        in: path
        description: The unique identifier of todoTask
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTask
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}/attachments:
    get:
      tags:
      - Users todo
      summary: Get attachments from users
      description: A collection of file attachments for the task.
      operationId: user.todo.list.task_ListAttachment
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: todoTask-id
        in: path
        description: The unique identifier of todoTask
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTask
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.attachmentBaseCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - Users todo
      summary: Create new navigation property to attachments for users
      operationId: user.todo.list.task_CreateAttachment
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: todoTask-id
        in: path
        description: The unique identifier of todoTask
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTask
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attachmentBase'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachmentBase'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}/attachments/{attachmentBase-id}:
    get:
      tags:
      - Users todo
      summary: Get attachments from users
      description: A collection of file attachments for the task.
      operationId: user.todo.list.task_GetAttachment
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: todoTask-id
        in: path
        description: The unique identifier of todoTask
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTask
      - name: attachmentBase-id
        in: path
        description: The unique identifier of attachmentBase
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: attachmentBase
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachmentBase'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Users todo
      summary: Delete navigation property attachments for users
      operationId: user.todo.list.task_DeleteAttachment
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: todoTask-id
        in: path
        description: The unique identifier of todoTask
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTask
      - name: attachmentBase-id
        in: path
        description: The unique identifier of attachmentBase
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: attachmentBase
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}/attachments/{attachmentBase-id}/$value:
    get:
      tags:
      - Users todo
      summary: Get media content for the navigation property attachments from users
      description: The unique identifier for an entity. Read-only.
      operationId: user.todo.list.task_GetAttachmentsContent
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: todoTask-id
        in: path
        description: The unique identifier of todoTask
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTask
      - name: attachmentBase-id
        in: path
        description: The unique identifier of attachmentBase
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: attachmentBase
      responses:
        2XX:
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
    put:
      tags:
      - Users todo
      summary: Update media content for the navigation property attachments in users
      description: The unique identifier for an entity. Read-only.
      operationId: user.todo.list.task_SetAttachmentsContent
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: todoTask-id
        in: path
        description: The unique identifier of todoTask
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTask
      - name: attachmentBase-id
        in: path
        description: The unique identifier of attachmentBase
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: attachmentBase
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
      - Users todo
      summary: Delete media content for the navigation property attachments in users
      description: The unique identifier for an entity. Read-only.
      operationId: user.todo.list.task_DeleteAttachmentsContent
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: todoTask-id
        in: path
        description: The unique identifier of todoTask
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTask
      - name: attachmentBase-id
        in: path
        description: The unique identifier of attachmentBase
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: attachmentBase
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
  /users/{user-id}/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}/attachments/$count:
    get:
      tags:
      - Users todo
      summary: Get the number of the resource
      operationId: user.todo.list.task.attachment_GetCount
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: todoTask-id
        in: path
        description: The unique identifier of todoTask
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTask
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /users/{user-id}/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}/attachments/microsoft.graph.createUploadSession:
    post:
      tags:
      - Users todo
      summary: Invoke action createUploadSession
      description: 'Create an upload session to iteratively upload ranges of a file as an attachment to a todoTask. As part of the response, this action returns an upload URL that you can use in subsequent sequential PUT queries. The request headers for each PUT operation let you specify the exact range of bytes to be uploaded. This allows the transfer to be resumed, in case the network connection is dropped during the upload. The following are the steps to attach a file to a Microsoft To Do task using an upload session: For an example that describes the end-to-end attachment process, see attach files to a To Do task.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/taskfileattachment-createuploadsession?view=graph-rest-1.0
      operationId: user.todo.list.task.attachment_createUploadSession
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: todoTask-id
        in: path
        description: The unique identifier of todoTask
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTask
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                attachmentInfo:
                  $ref: '#/components/schemas/microsoft.graph.attachmentInfo'
              additionalProperties:
                type: object
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.uploadSession'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /users/{user-id}/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}/attachmentSessions:
    get:
      tags:
      - Users todo
      summary: Get attachmentSessions from users
      operationId: user.todo.list.task_ListAttachmentSession
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: todoTask-id
        in: path
        description: The unique identifier of todoTask
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTask
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.attachmentSessionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /users/{user-id}/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}/attachmentSessions/{attachmentSession-id}:
    get:
      tags:
      - Users todo
      summary: Get attachmentSessions from users
      operationId: user.todo.list.task_GetAttachmentSession
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: todoTask-id
        in: path
        description: The unique identifier of todoTask
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTask
      - name: attachmentSession-id
        in: path
        description: The unique identifier of attachmentSession
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: attachmentSession
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachmentSession'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - Users todo
      summary: Update the navigation property attachmentSessions in users
      operationId: user.todo.list.task_UpdateAttachmentSession
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: todoTask-id
        in: path
        description: The unique identifier of todoTask
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTask
      - name: attachmentSession-id
        in: path
        description: The unique identifier of attachmentSession
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: attachmentSession
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attachmentSession'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachmentSession'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Users todo
      summary: Delete navigation property attachmentSessions for users
      operationId: user.todo.list.task_DeleteAttachmentSession
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: todoTask-id
        in: path
        description: The unique identifier of todoTask
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTask
      - name: attachmentSession-id
        in: path
        description: The unique identifier of attachmentSession
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: attachmentSession
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}/attachmentSessions/{attachmentSession-id}/content:
    get:
      tags:
      - Users todo
      summary: Get content for the navigation property attachmentSessions from users
      description: The content streams that are uploaded.
      operationId: user.todo.list.task_GetAttachmentSessionsContent
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: todoTask-id
        in: path
        description: The unique identifier of todoTask
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTask
      - name: attachmentSession-id
        in: path
        description: The unique identifier of attachmentSession
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: attachmentSession
      responses:
        2XX:
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
    put:
      tags:
      - Users todo
      summary: Update content for the navigation property attachmentSessions in users
      description: The content streams that are uploaded.
      operationId: user.todo.list.task_SetAttachmentSessionsContent
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: todoTask-id
        in: path
        description: The unique identifier of todoTask
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTask
      - name: attachmentSession-id
        in: path
        description: The unique identifier of attachmentSession
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: attachmentSession
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachmentSession'
        default:
          $ref: '#/components/responses/error'
    delete:
      tags:
      - Users todo
      summary: Delete content for the navigation property attachmentSessions in users
      description: The content streams that are uploaded.
      operationId: user.todo.list.task_DeleteAttachmentSessionsContent
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: todoTask-id
        in: path
        description: The unique identifier of todoTask
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTask
      - name: attachmentSession-id
        in: path
        description: The unique identifier of attachmentSession
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: attachmentSession
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
  /users/{user-id}/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}/attachmentSessions/$count:
    get:
      tags:
      - Users todo
      summary: Get the number of the resource
      operationId: user.todo.list.task.attachmentSession_GetCount
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: todoTask-id
        in: path
        description: The unique identifier of todoTask
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTask
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /users/{user-id}/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}/checklistItems:
    get:
      tags:
      - Users todo
      summary: Get checklistItems from users
      description: A collection of checklistItems linked to a task.
      operationId: user.todo.list.task_ListChecklistItem
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: todoTask-id
        in: path
        description: The unique identifier of todoTask
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTask
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.checklistItemCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - Users todo
      summary: Create new navigation property to checklistItems for users
      operationId: user.todo.list.task_CreateChecklistItem
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: todoTask-id
        in: path
        description: The unique identifier of todoTask
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTask
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.checklistItem'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.checklistItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}/checklistItems/{checklistItem-id}:
    get:
      tags:
      - Users todo
      summary: Get checklistItems from users
      description: A collection of checklistItems linked to a task.
      operationId: user.todo.list.task_GetChecklistItem
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: todoTask-id
        in: path
        description: The unique identifier of todoTask
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTask
      - name: checklistItem-id
        in: path
        description: The unique identifier of checklistItem
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: checklistItem
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.checklistItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - Users todo
      summary: Update the navigation property checklistItems in users
      operationId: user.todo.list.task_UpdateChecklistItem
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: todoTask-id
        in: path
        description: The unique identifier of todoTask
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTask
      - name: checklistItem-id
        in: path
        description: The unique identifier of checklistItem
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: checklistItem
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.checklistItem'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.checklistItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Users todo
      summary: Delete navigation property checklistItems for users
      operationId: user.todo.list.task_DeleteChecklistItem
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: todoTask-id
        in: path
        description: The unique identifier of todoTask
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTask
      - name: checklistItem-id
        in: path
        description: The unique identifier of checklistItem
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: checklistItem
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}/checklistItems/$count:
    get:
      tags:
      - Users todo
      summary: Get the number of the resource
      operationId: user.todo.list.task.checklistItem_GetCount
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: todoTask-id
        in: path
        description: The unique identifier of todoTask
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTask
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /users/{user-id}/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}/extensions:
    get:
      tags:
      - Users todo
      summary: Get extensions from users
      description: The collection of open extensions defined for the task. Nullable.
      operationId: user.todo.list.task_ListExtension
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: todoTask-id
        in: path
        description: The unique identifier of todoTask
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTask
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.extensionCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - Users todo
      summary: Create new navigation property to extensions for users
      operationId: user.todo.list.task_CreateExtension
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: todoTask-id
        in: path
        description: The unique identifier of todoTask
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTask
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}/extensions/{extension-id}:
    get:
      tags:
      - Users todo
      summary: Get extensions from users
      description: The collection of open extensions defined for the task. Nullable.
      operationId: user.todo.list.task_GetExtension
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: todoTask-id
        in: path
        description: The unique identifier of todoTask
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTask
      - name: extension-id
        in: path
        description: The unique identifier of extension
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: extension
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - Users todo
      summary: Update the navigation property extensions in users
      operationId: user.todo.list.task_UpdateExtension
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: todoTask-id
        in: path
        description: The unique identifier of todoTask
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTask
      - name: extension-id
        in: path
        description: The unique identifier of extension
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: extension
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Users todo
      summary: Delete navigation property extensions for users
      operationId: user.todo.list.task_DeleteExtension
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: todoTask-id
        in: path
        description: The unique identifier of todoTask
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTask
      - name: extension-id
        in: path
        description: The unique identifier of extension
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: extension
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}/extensions/$count:
    get:
      tags:
      - Users todo
      summary: Get the number of the resource
      operationId: user.todo.list.task.extension_GetCount
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: todoTask-id
        in: path
        description: The unique identifier of todoTask
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTask
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /users/{user-id}/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}/linkedResources:
    get:
      tags:
      - Users todo
      summary: Get linkedResources from users
      description: A collection of resources linked to the task.
      operationId: user.todo.list.task_ListLinkedResource
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: todoTask-id
        in: path
        description: The unique identifier of todoTask
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTask
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.linkedResourceCollectionResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - Users todo
      summary: Create new navigation property to linkedResources for users
      operationId: user.todo.list.task_CreateLinkedResource
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: todoTask-id
        in: path
        description: The unique identifier of todoTask
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTask
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.linkedResource'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.linkedResource'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}/linkedResources/{linkedResource-id}:
    get:
      tags:
      - Users todo
      summary: Get linkedResources from users
      description: A collection of resources linked to the task.
      operationId: user.todo.list.task_GetLinkedResource
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: todoTask-id
        in: path
        description: The unique identifier of todoTask
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTask
      - name: linkedResource-id
        in: path
        description: The unique identifier of linkedResource
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: linkedResource
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.linkedResource'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - Users todo
      summary: Update the navigation property linkedResources in users
      operationId: user.todo.list.task_UpdateLinkedResource
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: todoTask-id
        in: path
        description: The unique identifier of todoTask
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTask
      - name: linkedResource-id
        in: path
        description: The unique identifier of linkedResource
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: linkedResource
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.linkedResource'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.linkedResource'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - Users todo
      summary: Delete navigation property linkedResources for users
      operationId: user.todo.list.task_DeleteLinkedResource
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: todoTask-id
        in: path
        description: The unique identifier of todoTask
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTask
      - name: linkedResource-id
        in: path
        description: The unique identifier of linkedResource
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: linkedResource
      - name: If-Match
        in: header
        description: ETag
        style: simple
        schema:
          type: string
      responses:
        2XX:
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /users/{user-id}/todo/lists/{todoTaskList-id}/tasks/{todoTask-id}/linkedResources/$count:
    get:
      tags:
      - Users todo
      summary: Get the number of the resource
      operationId: user.todo.list.task.linkedResource_GetCount
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - name: todoTask-id
        in: path
        description: The unique identifier of todoTask
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTask
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /users/{user-id}/todo/lists/{todoTaskList-id}/tasks/$count:
    get:
      tags:
      - Users todo
      summary: Get the number of the resource
      operationId: user.todo.list.task_GetCount
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /users/{user-id}/todo/lists/{todoTaskList-id}/tasks/microsoft.graph.delta():
    get:
      tags:
      - Users todo
      summary: Invoke function delta
      description: Get a set of todoTask resources that have been added, deleted, or updated in a specified todoTaskList. A delta function call for todoTask resources in a todoTaskList is similar to a GET request, except that by appropriately applying state tokens in one or more of these calls, you can query for incremental changes in the todoTask in that todoTaskList. This allows you to maintain and synchronize a local store of a user's todoTask resources without having to fetch the entire set from the server every time.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/todotask-delta?view=graph-rest-1.0
      operationId: user.todo.list.task_delta
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - name: todoTaskList-id
        in: path
        description: The unique identifier of todoTaskList
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: todoTaskList
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of todoTask
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.todoTask'
                  '@odata.nextLink':
                    type:
                    - string
                    - 'null'
                  '@odata.deltaLink':
                    type:
                    - string
                    - 'null'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
  /users/{user-id}/todo/lists/$count:
    get:
      tags:
      - Users todo
      summary: Get the number of the resource
      operationId: user.todo.list_GetCount
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        default:
          $ref: '#/components/responses/error'
  /users/{user-id}/todo/lists/microsoft.graph.delta():
    get:
      tags:
      - Users todo
      summary: Invoke function delta
      description: 'Get a set of todoTaskList resources that have been added, deleted, or removed in Microsoft To Do. A delta function call for todoTaskList is similar to a GET request, except that by appropriately applying state tokens in one or more of these calls,

        you can query for incremental changes in the todoTaskList. This allows you to maintain and synchronize a local store of a user''s todoTaskList without having to fetch all the todoTaskList from the server every time.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/todotasklist-delta?view=graph-rest-1.0
      operationId: user.todo.list_delta
      parameters:
      - name: user-id
        in: path
        description: The unique identifier of user
        required: true
        style: simple
        schema:
          type: string
        x-ms-docs-key-type: user
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                title: Collection of todoTaskList
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.todoTaskList'
                  '@odata.nextLink':
                    type:
                    - string
                    - 'null'
                  '@odata.deltaLink':
                    type:
                    - string
                    - 'null'
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
components:
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ODataError'
    microsoft.graph.extensionCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.extensionCollectionResponse'
    microsoft.graph.todoTaskListCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.todoTaskListCollectionResponse'
    microsoft.graph.linkedResourceCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.linkedResourceCollectionResponse'
    microsoft.graph.attachmentBaseCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.attachmentBaseCollectionResponse'
    microsoft.graph.checklistItemCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.checklistItemCollectionResponse'
    ODataCountResponse:
      description: The count of the resource
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/ODataCountResponse'
    microsoft.graph.todoTaskCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.todoTaskCollectionResponse'
    microsoft.graph.attachmentSessionCollectionResponse:
      description: Retrieved collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/microsoft.graph.attachmentSessionCollectionResponse'
  schemas:
    microsoft.graph.extension:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: extension
        type: object
        additionalProperties:
          type: object
    microsoft.graph.ODataErrors.MainError:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
          x-ms-primary-error-message: true
        target:
          type:
          - string
          - 'null'
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.ODataErrors.InnerError'
      additionalProperties:
        type: object
    microsoft.graph.dayOfWeek:
      title: dayOfWeek
      enum:
      - sunday
      - monday
      - tuesday
      - wednesday
      - thursday
      - friday
      - saturday
      type: string
    microsoft.graph.recurrencePattern:
      title: recurrencePattern
      type: object
      properties:
        dayOfMonth:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: The day of the month on which the event occurs. Required if type is absoluteMonthly or absoluteYearly.
          format: int32
        daysOfWeek:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.dayOfWeek'
          description: 'A collection of the days of the week on which the event occurs. The possible values are: sunday, monday, tuesday, wednesday, thursday, friday, saturday. If type is relativeMonthly or relativeYearly, and daysOfWeek specifies more than one day, the event falls on the first day that satisfies the pattern.  Required if type is weekly, relativeMonthly, or relativeYearly.'
        firstDayOfWeek:
          $ref: '#/components/schemas/microsoft.graph.dayOfWeek'
        index:
          $ref: '#/components/schemas/microsoft.graph.weekIndex'
        interval:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: The number of units between occurrences, where units can be in days, weeks, months, or years, depending on the type. Required.
          format: int32
        month:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: The month in which the event occurs.  This is a number from 1 to 12.
          format: int32
        type:
          $ref: '#/components/schemas/microsoft.graph.recurrencePatternType'
      additionalProperties:
        type: object
    microsoft.graph.bodyType:
      title: bodyType
      enum:
      - text
      - html
      type: string
    ODataCountResponse:
      type: integer
      format: int32
    microsoft.graph.recurrenceRangeType:
      title: recurrenceRangeType
      enum:
      - endDate
      - noEnd
      - numbered
      type: string
    microsoft.graph.recurrenceRange:
      title: recurrenceRange
      type: object
      properties:
        endDate:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$
          type:
          - string
          - 'null'
          description: The date to stop applying the recurrence pattern. Depending on the recurrence pattern of the event, the last occurrence of the meeting may not be this date. Required if type is endDate.
          format: date
        numberOfOccurrences:
          maximum: 2147483647
          minimum: -2147483648
          type: number
          description: The number of times to repeat the event. Required and must be positive if type is numbered.
          format: int32
        recurrenceTimeZone:
          type:
          - string
          - 'null'
          description: Time zone for the startDate and endDate properties. Optional. If not specified, the time zone of the event is used.
        startDate:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$
          type:
          - string
          - 'null'
          description: The date to start applying the recurrence pattern. The first occurrence of the meeting may be this date or later, depending on the recurrence pattern of the event. Must be the same value as the start property of the recurring event. Required.
          format: date
        type:
          $ref: '#/components/schemas/microsoft.graph.recurrenceRangeType'
      additionalProperties:
        type: object
    microsoft.graph.checklistItemCollectionResponse:
      title: Collection of checklistItem
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.checklistItem'
        '@odata.nextLink':
          type:
          - string
          - 'null'
      additionalProperties:
        type: object
    microsoft.graph.ODataErrors.InnerError:
      type: object
      additionalProperties:
        type: object
      description: The structure of this object is service-specific
    microsoft.graph.todo:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: todo
        type: object
        properties:
          lists:
            type: array
            items:
              $ref: '#/components/schemas/microsoft.graph.todoTaskList'
            description: The task lists in the users mailbox.
            x-ms-navigationProperty: true
        additionalProperties:
          type: object
    microsoft.graph.linkedResource:
      allOf:
      - $ref: '#/components/schemas/microsoft.graph.entity'
      - title: linkedResource
        type: object
        properties:
          applicationName:
            type:
            - string
            - 'null'
            description: The app name of the source that sends the linkedResource.
          displayName:
            type:
            - string
            - 'null'
            description: The title of the linkedResource.
          externalId:
            type:
            - string
            - 'null'
            description: ID of the object that is associated with this task on the third-party/partner system.
          webUrl:
            type:
            - string
            - 'null'
            description: Deep link to the linkedResource.
        additionalProperties:
          type: object
    microsoft.graph.uploadSession:
      title: uploadSession
      type: object
      properties:
        expirationDateTime:
          pattern: ^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$
          type:
          - string
          - 'null'
          description: The date and time in UTC that the upload session expires. The complete file must be uploaded before this expiration time is reached. Each fragment uploaded during the session extends the expiration time.
          format: date-time
        nextExpectedRanges:
          type: array
          items:
            type:
            - string
            - 'null'
          description: A collection of byte ranges that the server is missing for the file. These ranges are zero indexed and of the format 'start-end' (for example '0-26' to indicate the first 27 bytes of the file). When uploading files as Outlook attachments, instead of a collection of ranges, this property always indicates a single value '{start}', the location in the file where the next upload should begin.
        uploadUrl:
          type:
          - string
          - 'null'
          description: The URL endpoint that accepts PUT requests for byte ranges of the file.
      additionalProperties:
        type: object
    microsoft.graph.attachmentType:
[...]
